[2019-02-02 21:44] jbrepogmailcom opened #2011 "Installer does support wifi, while Rockstor on boot does not..."
During installation it is possible to enter wifi credentials. But after installation, wifi is not enabled after boot and nmcli shows "missing plugin" error message.

Expected behaviour is that if WiFi is configured during installation, it will be used after boot.

[2019-02-03 22:57] #1991 closed

[2019-02-04 18:18] magicalyak opened #2012 "add env default option for rockons"
This is related to https://github.com/rockstor/rockon-registry/pull/174 where I realized we don't have a default option in the json that is respected for environment options in rockons.
1) adding default has not effect
2) I would like to be able to add default like the volume or port options for environment items

[2019-02-05 21:27] FroggyFlox opened #2013 "[Rock-ons] Unpublish ports and join network"
This issue relates to step 3 of Rock-ons networking work described in #1982, and follows steps 1 (#2003) and 2 (#2009). It is meant as tracking and discussion material for a work currently **in progress**.

In order to make custom docker networks (described in #2009) useful, we need to create an interface to edit the ports described in a Rock-on JSON file. Indeed, as described by @Luke-Nukem in th

[2019-02-06 12:54] phillxnet commented on #2013
@FroggyFlox I can chip in here on point 3.
Definitely agree with your preferences to leave UI button 'greyed out' in this scenario. Otherwise we loose information: as you say if we remove the button entirely there is no indication that a Web-UI even exists for that Rock-on (loss of info), where as if it's greyed out then we at least know it's due to some configuration. Tooltip to give reason for d

[2019-02-06 19:43] phillxnet commented on #1995
Closing as fixed in upstream version of python-engineio. Last tested version v3.3.0.
See associated and closed without merge pull request:
"pin python-engineio to 2.3.2 as recent 3.0.0 update breaks gevent. Fixes #1995" #1996

[2019-02-06 19:43] #1995 closed

[2019-02-08 10:42] phillxnet commented on #1089
Closing as LVM not supported.

[2019-02-08 10:42] #1089 closed

[2019-02-08 16:52] FroggyFlox commented on #1682
While thinking about that one, I keep coming to the following thought: "Shouldn't we "simply" disable or prevent snapshots on the `rockons_root` share?"

Is there an actual benefit to snapshotting this share? If my understanding is correct, the only data placed on this share is:
- docker containers layers from images: can simply be re-created upon re-installing the corresponding rock-on
- docker "

[2019-02-08 17:04] phillxnet commented on #1682
@FroggyFlox I think the issue here is that docker itself uses snapshots for the layers I think and we simply surface them, which is correct, when one views the rock-ons-root.

Don't like the hiding idea, but maybe labelling the docker related snapshots and warning that that is what they are.

See my docker reference above, reproduced for convenience:
"Possible background docker reference:
https://

[2019-02-08 17:06] phillxnet commented on #1682
Pertinent quote from: https://docs.docker.com/storage/storagedriver/btrfs-driver/

"Only the base layer of an image is stored as a true subvolume. All the other layers are stored as snapshots, which only contain the differences introduced in that layer. You can create snapshots of snapshots as shown in the diagram below."

Quite clever really.

[2019-02-08 18:34] phillxnet opened #2014 "honour tag element within rock-on json"
The Rock-on systems is a work in progress and as such has 'planned' elements defined within the README.md (rockon-registry: https://github.com/rockstor/rockon-registry/blob/master/README.md) that are as yet unimplemented. One such element is the per image "tag".

Complete our existing support for the "tag" element as defined in the above repo. Currently we process and store that is found per image

[2019-02-08 18:35] phillxnet commented on #2014
I am currently preparing a pull request with tested code to address this issue.

[2019-02-08 18:51] coleberhorst opened #2015 "Rockon UI support for icon grid"
We were discussing in the rockons-registry repo how to unify the displayed information for all rockons. [https://github.com/rockstor/rockon-registry/issues/31](url)

I suggested and @phillxnet and @FroggyFlox had some other suggestions for a more visual display for the rockon list. This could be default possibly, but able to be disabled in settings.

I think we envisioned like a scale-able grid of

[2019-02-08 19:50] phillxnet commented on #2014
Removed GitHub branch and re-instated to effect docstring addition and reword commit.

[2019-02-08 20:04] FroggyFlox commented on #1682
I realize I explained myself very poorly in my previous post, @phillxnet, I apologize for the waste of time and energy.

Instead of referring to snapshots, I should have referred to Rockstor's UI for snapshots. So for instance, we could add a `@property` method to the `Snapshot` storageadmin class model named `isDocker` that is set to `true` if `share == rockons_root` (fetched from the Service Sma

[2019-02-09 23:40] FroggyFlox opened #2017 "[Rock-ons] Image tag is ignored if image already exists"
This issue was identified while reviewing #2016

Currently, references to docker images defined in rock-ons' json files are stored in the storageadmin_dimage table under the `DImage` model.
When parsing the json file, the `"image"` object fed to the `DImage` model, along with the associated tag, but only the _image name_ and not its _tag_ is used. As a result, if the same image is used in the same

[2019-02-10 15:23] phillxnet commented on #2009
@FroggyFlox As per our ongoing discussion re kipple in the docker system, which concerned containers / images thus far, I've just had another quick look at 'docker system prune'. Noting here as may serve us in removing orphaned networks also:
[code]
Apologies if this comment is incorrectly located.

[2019-02-10 17:48] FroggyFlox commented on #2009
Thanks @phillxnet, that's definitively something I'd like to implement in the webUI and that's the best place for noting this so far.
I really do need to create a dedicated issue for this "advanced scripts" section that has been mentioned quite a bit now, so that we can keep all of these centered in one place. I'll try to gather these first before opening a new issue.
Thanks!

[2019-02-18 18:21] FroggyFlox commented on #2013
Thanks @phillxnet for your suggestion. I have now included your suggestion regarding point 3 (see screenshot below).
![image](https://user-images.githubusercontent.com/30297881/52969780-9b3f7080-337f-11e9-868b-3868e6cc7af0.png)

Regarding point 2, I'm currently leaning towards leaving it for an eventual future and dedicated issue as I'm still unsure of (i) its use and (ii) its compatibility with a

[2019-02-23 19:47] #1993 closed

[2019-02-23 20:41] #1998 closed

[2019-02-23 23:14] FroggyFlox opened #2018 "[Rock-ons] Users can add empty labels"
As detailed in #1999 by @phillxnet, one can add empty labels (if no characters are entered in the form field). This is currently not dealt with and result in a partly empty record in the database. Most importantly, this situation is without any use and needs to be corrected.

This was entirely due to an oversight on my end as part of PR #1999.

I have a simple fix that I am about to submit as a ne

[2019-02-24 12:46] dohrayme opened #2020 "Exception: Exception while running command(['/usr/bin/hostnamectl', '--static']): [Errno 24] Too many open files"
Traceback (most recent call last):
  File "/opt/rockstor/src/rockstor/rest_framework_custom/generic_view.py", line 41, in _handle_exception
    yield
  File "/opt/rockstor/src/rockstor/storageadmin/views/appliances.py", line 41, in get_queryset
    self._update_hostname()
  File "/opt/rockstor/eggs/Django-1.8.16-py2.7.egg/django/utils/decorators.py", line 145, in inner
    return func(*args, **kwa

[2019-02-24 13:01] dohrayme commented on #2020
cat /proc/sys/fs/file-max
651676
ulimit -Hn
4096
ulimit -Sn
1024

[2019-02-24 13:09] #2018 closed

[2019-02-24 13:18] phillxnet commented on #2020
@dohrayme Thanks for the report and investigative info. But this issue looks very much like the following we already have open, ie Too many open files issue essentially:

If you could please contribute your info to that issue so we can close this as:

Duplicate of #1656

"[BUGS] Default ulimit setting too low"

Not as nicely named as this but has more info and research into this ongoing issue.

Th

[2019-02-24 13:42] dohrayme commented on #2020
Thats great - rather concerning that the parent ticket has been open since 2017 though.

I didn't see a workaround mentioned - currently the Rockstor UI is pretty much unusable.

[2019-02-24 14:03] phillxnet commented on #2020
Once we find the origin for sure we can fix. Take a look at the linked forum thread and the proposed pull request that @MFlyer commented on as I think that was considered a work around.

with a 'too many open files' state the entire system will be compromised. It's a serious issue but one I suspect is only related to AFP use and given netatalk is suspected un-maintained and apple moving to cifs /

[2019-02-24 14:11] phillxnet commented on #2020
@dohrayme Please consider joining our forum. It may be that further contribution to the sighted thread may yield more interest in getting this sorted.
reproducing link from cited duplicate issue for convenience:
https://forum.rockstor.com/t/web-ui-errors-too-many-open-files-while-runing-a-balance/3689
and
https://forum.rockstor.com/t/error-24-too-many-open-files-causes-scheduled-scrub-job-to-fail-

[2019-02-25 21:32] nerdalertdk opened #2021 "Installation fails on HPE DL20 Gen9"
Hi

I'm getting this error when trying to install Rockstor 3.9.1
https://gyazo.com/684a0886677133cddf59e68bb4cdfe56

But 3.8.16 works though

Hardware:
HPE DL20 Gen9
CPU: Intel G4400
Ram 16gb
onboard sata controller
Nic; HPE 1Gb 2-port 332i Adapter, 10Gb 2-port 530SFP+ Adapter

tried normal bios settings and below.
Bios, sr-ivo is disable on the nc530, all virtualization is disablede

[2019-02-26 15:08] wiza opened #2022 "WL: Add reinstall feature for rockons"
Reinstall feature for upgrading rockons. Basically one button that stops, deletes and reinstalls the rockon. Previously entered values presented on the install phase.

[2019-02-26 17:02] phillxnet commented on #2021
@nerdalertdk Thanks for the report but a better place for this would be on our forum where we can hopefully first resolve the nature of this and then if it's down to our code we can bring it back to a focused issue here on GitHub. I.e. best to start on the forum:

https://forum.rockstor.com/

Hope that helps.

[2019-03-01 12:03] phillxnet commented on #509
Linking to a related currently pending pr that fixes a recent regression in btrfs in partition function. This Regression was added in pr #1949 commit a608d18 released (3.9.2-32).

I intend to close this issue upon that pr being merged (planned for 3.9.2-49) as this 'beta' capability should then functional again:

"pool resize disk removal unknown internal error and no UI counterpart. Fixes #1722"

[2019-03-01 12:37] phillxnet commented on #1623
Thanks to @FroggyFlox for re-highlighting this issue's potential relevance in our pool mount state update  slackness, ie 2 Web-UI updates required to display Pool status changes. I.e. bottom up pool info informed by disk state (pool wise) that is not first updated. Need further research as we move towards simplifying our pool update strategy such as is approached in currently pending pr:

"pool re

[2019-03-02 15:07] phillxnet commented on #987
Just had another quick look at this issue, relating to the later comment as we now have certbot:
I'm in agreement with @doenietzomoeilijk that @sitic 's approach is the neatest most suitable.  Verifying via custom dns records is really reaching for integration into Rocsktor don't think we should go that way, as per @MFlyer's comment on the same.

@daniel-illi Agreed an open port 80 seems like aski

[2019-03-03 12:32] FroggyFlox commented on #1641
I just noticed this one... I agree that this "error" in the logs isn't really one but simply represents that we do not support anything that isn't Ethernet, team, or bond for now.
In my current work on docker networking (#2003, #2009), I currently removed this logging as error after adding the `bridge` ctype, but I can keep it in if I improve the wording.
Not a fix for this issue but thought I wou

[2019-03-10 15:01] phillxnet opened #2024 "[openSUSE] remove firewalld associated code"
Thanks to @Psykar in the following forum thread for highlighting this openSUSE related issue. As from Leap 15.1 (currently beta) firewalld has been dropped as part of a default openSUSE server install. As we currently have code that simply disables this services it is fitting that we consider removing this code, given our ongoing plans to transition over to an openSUSE base for our upstream distro

[2019-03-10 16:13] phillxnet commented on #761
Linking to @Psykar 's continuation of @bigfoot90 's work in this area.
https://github.com/psykar/docker-rockstor

Noted also by @Psykar in this issues referenced forum thread.

[2019-03-10 23:21] Psykar commented on #2024
Hrm... I'm not 100% it was removed from the default install actually - rather removed from the default docker image.

[2019-03-11 13:25] phillxnet commented on #2024
@Psykar Yes I didn't note down where I got this from unfortunately but we do have from Mr Richard Brown himself @sysrich:

https://lists.opensuse.org/opensuse-factory/2018-11/msg00142.html

"_Therefore I've proposed the following PR to both Leap 15.1 and
Tumbleweed's installers_"
...
"As we now have clear "Server" and "Transactional Server" system roles,
the firewall & sshd configuration for those

[2019-03-11 19:11] marcelloinfoweb opened #2025 "Add HD with data securely and share"
In the company where I work, I am mounting a server with Rockstor3 to replace another with Debian and samba, in this we have a 2TB HD only with company data (the systems are in another HD).

**1)** How do I add this HD without losing the data, and use Rockstor to share the data that is in that HD?

**2)** Is it possible to do RAID 1 with the 2TB HD with the data adding another 2TB HD clean? As?

[2019-03-11 19:31] phillxnet commented on #2025
@marcelloinfoweb Linking to you forum thread for context and closing this issue as GitHub issues is not the location for support requests.
https://forum.rockstor.com/t/add-hd-with-data-securely-and-share/5857

[2019-03-11 19:31] #2025 closed

[2019-03-11 19:41] phillxnet commented on #2025
@marcelloinfoweb Thanks for the enquiry by the way. There are more eyes on the forum as GitHub is really for development only. You should receive a response shortly hopefully. Essentially Rockstor's Web-UI deals only in btrfs so will not help you with any other filesystem. But using instructions for CentOS (our current linux distro base) should help you temporarily mount and copy your data via cli

[2019-03-14 11:01] sysrich commented on #2024
While what I said was true when I said.. things have changed since then

https://github.com/yast/skelcd-control-openSUSE/pull/166
https://github.com/yast/skelcd-control-openSUSE/pull/167

firewalld is once again enabled by default on openSUSE's server system roles

[2019-03-16 17:05] phillxnet opened #2026 "support longer device names"
Thanks to forum member Squeakz for highlighting this issue. Some more modern SanDisk devices are emerging with very long serial numbers which causes their by-id names to exceed our current Django db Disk model limit of 128 chars.

value too long for type character varying(128)

Previously we had only seen devices maxing out at around 50-55 characters, half of our current limit. But the reported de

[2019-03-26 10:54] bigfoot90 opened #2027 "Daily snapshot schedule is missing 'Week days' filter"
Add `Week days` filter to daily snapshot shedule

Actual:
![image](https://user-images.githubusercontent.com/4598274/54991494-61d0d500-4fbd-11e9-85db-921390778f3a.png)

Expected:
![image](https://user-images.githubusercontent.com/4598274/54991449-482f8d80-4fbd-11e9-8f36-8b0c0d2ef2c2.png)

[2019-03-30 13:12] phillxnet opened #2028 "snapshot created on column sorts alphabetically not by date"
Thanks to maclm in the following forum thread for highlighting this issue. The snapshot table has a dysfunctional date sort on the "created on" column. Change the sort algorithm to reflect this columns date nature to address this Web-UI bug.

Please update the following forum thread with this issues resolution:
https://forum.rockstor.com/t/sort-by-iso-date/5934

Linking to potentially related issu

[2019-03-31 14:25] martinwlee opened #2029 "cannot install plex and or emby in rockstor"
I have tried to install plex or emby on rockstor 3.9.2-47
![tried to install plex or emby on rockstor 3 9 2-47](https://user-images.githubusercontent.com/48964809/55290266-1fe2cd00-53c9-11e9-81ec-936cc9ac22a0.jpg)
I have tried to install plex or emby on rockstor 3.9.2-47

Having followed the rockstor documentation to install plex rock-on or emby rock-on in rockstor.

I have notice the plex install

[2019-03-31 16:59] FroggyFlox commented on #2029
Thanks for creating this issue @martinwlee !

As I mentioned in your forum post, this should only be a display bug and I believe to have found the source. I'll submit a pull request with a fix shortly.

Here's a link to the forum post as reference:
https://forum.rockstor.com/t/cannot-install-plex-or-emby/5936/2

[2019-04-01 11:59] phillxnet commented on #2028
Linking for context to pending related pr by @Psykar :
"Fix size sorting on snapshots / shares pages." #2023

[2019-04-06 19:59] phillxnet opened #2031 "failure to establish Rockstor-Stable repo"
Thanks to forum member notrin for highlighting this issue. By way of an as yet undetermined sequence of events the stable channel repo can fail to become established after having been selected. Notrin reported a work around via enabling auto updates.

This issue need a reproducer to effectively diagnose the cause. Creating issue to document the observed failure and the reported the work around.

P

[2019-04-07 12:33] phillxnet opened #2032 "[openSUSE] docker start failure: recent Leap15.1 & Tumbleweed"
In more recent versions of openSUSE Tumbleweed the introduction of the "/etc/docker/daemon.json" file conflicts with our following docker wrapper command line:
[code]
as the referenced file, added in newer Tumbleweed docker ce updates specifies it's own value for this option:
[code]
resulting in the following system error:
"
'unable to configure the Docker daemon with file /etc/docker/daemon.json:

[2019-04-10 11:03] phillxnet commented on #1656
Linking to another report of this by forum member Sublevel4:
https://forum.rockstor.com/t/cant-see-dashboard-exception-while-running-command-usr-bin-hostnamectl-static-errno-24-too-many-open-files/5957

[2019-04-13 18:37] phillxnet opened #2033 "remove custom discourse docker treatment"
More recent versions of discourse, whose preferred install method is via docker, have moved to using a custom setup script (discourse-setup) which establishes a containers/app.yml file. There is also now a custom launcher script (launcher) which uses the app.yml file and applies the config expressed there to reconfigure and start the associated containers that constitute discourse.

The launcher s

[2019-04-18 13:37] rayfoss opened #2034 ""Delete share" reports share as empty"
I deleted a Share yesterday and got a popup asking me to verify. The popup stated the share had 0 bytes in size... so I didn't give it a second thought. Turns out, there was a terabyte of garbage in there.

My new share has over 500gb of stuff in it, yet the delete menu reports 0 bytes. This is worse than no size report at all.

![Screenshot from 2019-04-18 08-28-20](https://user-images.githubuser

[2019-04-18 20:36] rayfoss commented on #1054
I triggered the bug somehow. I am on 3.9.2-48 stable.

I recall disabling afp, nfs services, changing smb config, deleting a Share, and then creating a new share with a different name.

Computers wouldn't connect for some reason, socket error. But rockstor would still ping. Upon restart the drives were unmounted which is what led me here.

[2019-04-19 11:18] phillxnet commented on #2034
@rayfoss Thanks for the report and agreed.

Could your indicate if you have quotas enabled (default) or not as with quotas disabled share size reports of 0 can be expected (as is indicated in our Web-UI quota enable/disable widgets): but obviously not welcome, and misleading, in this scenario.

Nice idea by the way re files count / alternative sources of into in this particular scenario.

Thanks a

[2019-04-19 16:42] FroggyFlox commented on #2034
Hi @rayfoss, thanks for reporting this and for your proposed resolution. I agree with you and @phillxnet that showing the file count is a good alternative to indicate how much use the share has.

Agreed, I was thinking the same thing:
1. If quotas are enabled, show _x bytes and y files will be deleted_.
2. If quotas are **not** enabled, show _x bytes(i) and y files will be deleted_, with (i) refer

[2019-04-19 17:24] phillxnet commented on #2034
@FroggyFlox Agreed 'du' as an option but it really has no idea on btrfs usage so it may just be redundant given we would have already indicated the 0 is inaccurate and currently our '0' reading tallies with our other tooltip re quotas disabled. It may just lead to bug reports indicating that it, in turn, is inaccurate. Lets leave that up to the implementer as we can't really win either way. At lea

[2019-04-19 17:35] phillxnet opened #2035 "[openSUSE] disable config.postfix as we edit main.cf directly"
In openSUSE there are sysconfig/SuSEconfig components enabled by default that conflict with our existing direct main.cf editing to enable e-mail notifications, namely entailing the following files:
/etc/sysconfig/mail
/etc/sysconfig/postfix
/usr/sbin/config.postfix
We have our own parser / editor for main.cf and the most direct path to maintain compatibility with our existing users and allow for o

[2019-04-23 12:07] phillxnet opened #2036 "add known non unique product_uuid on GIADA N70E-DR"
Thanks to forum member hammerite for reporting GIADA N70E-DR motherboards as having  non unique product_uuids. When identified during install we avoid additional complexities/delays with required stable subscription order interventions there after but at the cost of non persistent 'Appliance ID' over re-install which with non unique product_uuids is not workable anyway.

[2019-04-23 12:07] phillxnet commented on #2036
I am currently preparing a pull request for this issue.

[2019-04-24 21:56] p-betula-pendula opened #2038 "[Feature] Suspend/shutdown when certain devices are offline using scheduled tasks"
I would like to be able to suspend/shutdown Rockstor using a scheduled task when my devices are offline – I am only using the NAS for a few hours daily and it seems unnecessary to me to let it run 24/7.

I guess the demand for such a feature isn't very high, so instead of waiting for it to possibly be added someday I would like to try to implement it myself. My experience with Python, Django and J

[2019-04-26 18:36] phillxnet commented on #2038
@p-betula-pendula This sounds like a really nice idea. The scheduled shutdown / wakeup stuff was added by @MFlyer in the following pr:

https://github.com/rockstor/rockstor-core/pull/1659

Linking in the hope that it might  help with your most welcome efforts. Keep in mind that quite a few bits of the code have been amended since then but code related to that feature is relatively unchanged.

Plea

[2019-04-29 12:29] phillxnet commented on #2038
@p-betula-pendula Linking to your recent followup forum thread for context:

https://forum.rockstor.com/t/suspend-shutdown-when-certain-devices-are-offline-using-scheduled-tasks-2038/6014

Thanks for posting your ideas there also. Much appreciated and also more likely to get non developer feedback there.

[2019-04-30 18:45] phillxnet commented on #2026
A SanDisk Ultra Fit 64GB USB 3.1 was obtained for this issue but ended up having only a 52 character long by-id name including partition part and so worked without issue. Not required for fix but worth noting. Model tried was newer all black design and was inscribed thus:
SDCZ430-064G

I suspect the report concerns the presumably now older model of:
SanDisk Ultra Fit 64GB USB 3.0
SDCZ43

[2019-05-01 09:43] vzz3 commented on #1973
After entering a subscription code an executing `yum update` I had the exact same issue as @shocker2. However, after a reboot the "DEV ERRORS DETECTED" message is not shown any more.

[2019-05-01 19:00] bheiskell commented on #1877
Hey folks,

I'm looking at rockstor for personal use, and I noticed that the version of django rockstor is using has [fallen out of support](https://docs.djangoproject.com/en/dev/faq/install/#what-python-version-can-i-use-with-django) for security fixes. There are a couple of [cves for django 1.8.16](https://www.cvedetails.com/vulnerability-list/vendor_id-10199/product_id-18211/version_id-211622/D

[2019-05-02 02:40] KookyKrane commented on #1588
Noticed that this is still an issue when trying to combine some containers into a single Rockon to improve the user experience of this Rockon.

I wrote the following json definition:

`{
    "Nginx Reverse Proxy (jWilder)": {
        "containers": {
            "default-site": {
                "image": "nginx",
                "tag": "latest",
                "launch_order": 1,
                "p

[2019-05-02 02:59] KookyKrane commented on #2009
Kinda also related to [https://github.com/rockstor/rockstor-core/issues/1982](url). May be useful to have the concept of frontend and backend networks. A frontend network may be used for proxy traffic. A backend network may be used to communicate with a database which keeps the traffic private between the two containers.

[2019-05-02 12:31] FroggyFlox commented on #2009
Hi @KookyKrane , thanks for your suggestion, I'm currently in the polishing steps of this work so I'm actively seeking feedback; yours is thus much appreciated!
In what I have so far, docker networks will be "implemented" in two different ways in Rockstor.
The first one is through _container links_ (as detailed in #2003, following #1982 as you pointed out). This will allow us to keep compatibility

[2019-05-02 12:45] FroggyFlox commented on #1588
Hi again @KookyKrane,

I'm in the same situation as you, and actually it is when I tried to make a rock-on for the same project as you _(Nginx Reverse Proxy (jWilder)_) and this very issue here that I decided to get myself familiarized with the rock-on system and working on improving them. As described in the other issue you just commented on, I'm currently working on implementing docker networks

[2019-05-02 12:51] polarathene opened #2040 "ARM architecture support?"
Looking at some recent SBCs, they seem like they could make a nice small NAS system, but the Rockstor docs list 64-bit Intel/AMD x86 CPU as a requirement..

There is no issue raised here so far about ARM, and only some small questions about ARM support on the forums.

Is there any blockers preventing running Rockstor on ARM? Or is it just not officially supported? How likely is it that the ARM arc

[2019-05-02 20:08] phillxnet commented on #2040
@polarathene Thanks for opening this issue. Yes I myself would very much like to see an ARM release and intended to put some time into this but it won't be for a while yet but we now have this issue in which to post progress. Won't be until we have transitioned fully to openSUSE though and then we can lean on their most excellent work, and long history, in this architecture.

I've been meaning to

[2019-05-02 20:21] phillxnet commented on #1877
@bheiskell Thanks and Yes, we do have rather a technical debt situation going on. Slowly working through things but very much intend to get to this. Slightly lower priority as I at least consider Rockstor to be mostly deployed on private networks but yes we have some work to do but as always there is quite a lot of it. Please consider joining our forum over at:
https://forum.rockstor.com/
and than

[2019-05-03 06:36] polarathene commented on #2040
Done: https://forum.rockstor.com/t/arm-architecture/6036

[2019-05-03 16:28] phillxnet opened #2041 "[openSUSE] don't rely on PGDATA env var"
Thanks to @FroggyFlox and forum member jcdick1 for highlighting this issue. Previously we implicitly relied upon the PGDATA env variable. Some more recent openSUSE Tumbleweed releases (as of writing) no longer define this variable for the postgres user so it is suggested that, for our openSUSE code path only, we use initdb's -D option to explicitly define our desired Postresql 'data' directory.

L

[2019-05-03 16:29] phillxnet commented on #2041
I am about to submit a pull request to address this issue.

[2019-05-16 02:07] KookyKrane commented on #1588
Thx @FroggyFlox for pointing me to #1688 These patches are certainly motivating me to become more familiar with the system.

[2019-05-16 03:50] KookyKrane commented on #2009
@FroggyFlox Thank you for the explanation of your implementation with considerations for link compatibility versus the new user defined container networks. I'm wondering how the user defined container network would be used when there are multiple containers in a Rockon. Would the Rockon define which containers need an external network which would be added by the user? Or will every Rockon be limit

[2019-05-16 12:34] FroggyFlox commented on #2009
Hi @KookyKrane, thank you for your interest and feedback.
I'll try to answer your questions below, but please keep in mind that even though I am close to done with this work, this is still a work-in-progress and what I'm going to describe below is susceptible to change substantially if a serious problem is detected. Of course, that also means your feedback and suggestions for improvement are more

[2019-05-16 12:57] FroggyFlox commented on #2013
Linking here to issue #2009 as it now includes an update and description of the proposed UI to join a network: https://github.com/rockstor/rockstor-core/issues/2009#issuecomment-493048687.

[2019-05-18 17:00] FroggyFlox opened #2043 "Network system logic not covered by testing"
The code underlying the core network detection and operations are currently not covered by testing. Prior to upcoming additions to networking functions, it would be preferred to have coverage for these core functions.
All related methods are defined in the following file:
https://github.com/rockstor/rockstor-core/blob/master/src/rockstor/system/network.py

[2019-05-18 17:05] FroggyFlox commented on #2043
I already some work addressing this issue and will submit it soon.

[2019-05-19 11:59] FroggyFlox opened #2044 "[openSUSE] Docker start failure in Leap 15.1 RC"
In openSUSE Leap 15.1 RC, the rock-on service cannot be turned ON as the docker service fails to start with the following error:
[code]
Upon closer inspection, it appears the docker.service file was updated in the corresponding distro package, creating the need for our `docker-service.py` to be updated accordingly.
Interestingly, the distro package `docker.service` file in Leap 15.1 RC is now iden

[2019-05-20 17:40] #2041 closed

[2019-05-24 07:35] carlbeech opened #2047 "Networking configuration error - with email configuration.."
Hi

I thought I'd give email alerting a go, as I think I have an issue with scheduled tasks... I tried to configure email, but when I clicked on verify I got a message that it had an error - I realised what the problem was - in that I'd only had 192.16.1.1 in my DNS, but the email config was for 'smtp.gmail.com'.

So I went back to the networking config, and edited it, so that it had 192.168.1.1,8

[2019-05-24 12:32] FroggyFlox commented on #2047
Hi @carlbeech,
I'm glad you got this issue and the email configuration worked out!

I've been working around that area of the code lately so thanks a lot for your report! I'm curious to know what happened, and would like to be able to reproduce the issue. To this aim, would you be able to give more information on how you setup this connection before you observed this issue? If you used Rockstor's

[2019-05-25 03:57] carlbeech commented on #2047
Hi

Not sure I can recall 100% whether I used the web-gui or nmtui - I suspect I may have used nmtui, as I needed a manual IP setting not DHCP - and I think I got a similar error when I first installed and tried to edit the settings through the GUI (but didn't have time to get into the detail at that point).

There's not been any changes in the hardware config from the VM side (apart from adding d

[2019-05-25 04:13] carlbeech opened #2048 "Scheduled snapshot failure?"
Hi

I'd suspected that I had an issue with scheduled snapshots, however, I wasn't sure of the details until I got email output working...  I received this morning:

Traceback (most recent call last):
  File "/opt/rockstor/bin/st-snapshot", line 45, in <module>
    sys.exit(scripts.scheduled_tasks.snapshot.main())
  File "/opt/rockstor/src/rockstor/scripts/scheduled_tasks/snapshot.py", line 95, in

[2019-05-25 11:03] FroggyFlox commented on #2047
Thanks for the information,

This is actually exactly how Rockstor operates with network configuration: it uses `nmcli` to get the configurations of all devices and connections that Network Manager sees, and uses that to refresh its database. As this happens every time you access or refresh the "System > Network" page, this essentially performs the re-sync you are looking for.
Once this informatio

[2019-05-25 14:56] phillxnet commented on #2048
@carlbeech Thanks for the report, although this may have been better located on the forum but I can answer some of your questions quickly:
Logs:
[code]
and regular system logs via:
[code]
You may have been affected by an older issue were a Rockstor update broke some scheduled tasks. But given it only affected this one that seems unlikely. Assuming you have others like it. In that case a scheduled

[2019-05-26 02:27] carlbeech commented on #2048
Hi
Apologies - I thought github was the place to raise issues because that's where the web page pointed me to when the system encountered an error - no worries - I'll delete and re-create and see how things go on - if there's any issues or I spot something in the logs, I'll raise a new item in the forum...

Many thanks

Carl.

[2019-05-26 02:47] carlbeech commented on #2047
Hi

Ok - thanks for the info - that makes a bit more sense...  as a matter of interest, it got mentioned on another github issue I raised that I should be raising this through the forums, not here?  Let me know if that is better....

I spotted in the rockstor.log the following:
[25/May/2019 22:01:30] ERROR [storageadmin.views.network:157] get() returned more than one NetworkConnection -- it return

[2019-05-26 02:51] carlbeech commented on #2047
I tell a lie - I hadn't spotted the 'bin' icon - I've clicked on it, and it deleted it  :-)
I'll keep an eye on the logs and close in a couple of days if I don't see any more messages...

Many thanks

Carl.

[2019-05-26 14:06] phillxnet commented on #2047
@carlbeech @FroggyFlox

Yes that was me. I'd stick with what we have here now as it looks like we are getting to the nub of it. The form can be useful to initially whittle down whats going on and then we tease out the individual issues to be as concise as possible in the GitHub issues, and identify if we already have existing issues open for the same base cause. But now worries as your contributio

[2019-05-26 14:44] FroggyFlox commented on #2047
Thanks a lot for the reference, @phillxnet, that does look very similar indeed. It seems we have some improvement to make on how to handle this situation. I remember the issue you just referenced now (I had forgotten about it), and given there seems to be a reproducer, I see if I can actually reproduce it and maybe address the problem.

Thanks for all the additional information and help @carlbeech

[2019-05-31 16:24] phillxnet commented on #1954
Just a note re:

I think we should consider matching names here, all depends on how the share access is setup and given we currently specify uid gid in Rock-ons these make sense but who ever takes this one on should consider this as the first user is always 1000 and each subsequent user has their UID incremented which makes for arbitrary uid to username allocation. Anyway just a thought.

Also not

[2019-06-01 22:34] alex-powell opened #2049 "Disk activity plot showing nothing, all drives"
Disk activity plot showing nothing, all drives

Steps to replicate:
Go onto Rockstor home page
“Disk Activity” shows nothing

[code]
[code]
Checked the browser console:
[code]

[code]
https://forum.rockstor.com/t/disk-activity-plot-showing-nothing-all-drives/6147/4

[2019-06-02 11:54] phillxnet commented on #2049
@alex-powell Thanks for the detailed report and for linking back to your forum thread.
I don't see your quoted browser console error here on latest Chrome and late Firefox. Can you report the browser details you are experiencing this message on? May not be related but good to know just in case.

Linking for context to later improvements made to this area of code that may be relevant:
"regression i

[2019-06-03 19:27] phillxnet opened #2050 "allow delete of orphaned replication subvols"
Thanks David S for highlighting, via support email, an issue relating to manual deletion of orphaned early stage replication created subvols that take the form of:
[code]
That are surfaced by Rockstor (in the early replication stages) as Shares.

It would seem that our normally invoked via Web-UI Delete button fails with:
[code]
These 'special' early replication stage snapshot/share hybrids (from

[2019-06-07 20:29] FroggyFlox commented on #1568
I second this need, so this could be indeed a beneficial feature.
One could implement that as a new object `"file"` that would in turn trigger a file picker/uploaded during the rock-on installation wizard.

Where to store the file in question, however? I'm not sure how to handle that as if one needs to create a share dedicated for a single file, it would be problematic. That would still be the cas

[2019-06-09 00:11] FroggyFlox opened #2051 "SambaShare restore is based on share name instead of id"
When restoring a Samba share export using the Backup & Restore feature, it (silently) errors out as it is still based on share **name** instead of share **id**.

Upon restore of a config backup containing the Samba export of the share named _common_share_, we have the following error in the logs:
[code]

Indeed, samba share restore process still relies on the share name, which inevitably leads to

[2019-06-12 18:53] FroggyFlox opened #2053 "Restoring 6 or more samba exports using config restore fails"
This issue has been observed in CentOS and Leap 15.1 variants.

### Brief description
When restoring a config backup that contains more than 5 samba exports, the restore of the 6th export (and possibly every 6th export) will fail. The logs show the following errors for the `smb.service`:

[code]

### Mechanisms
We currently restart the samba service at the end of the restore process **for each exp

[2019-06-14 13:13] phillxnet commented on #2053
@FroggyFlox Yet another nice find.
I agree with your tentative options 3 from Resolution strategies myself as long as it doesn't mangle our restore code. Reload seems like a nice simply work around but is less robust: we mostly likely use restart for good reason hence option 3.
Thanks for an excellent report/exposition, and additional Leap 15.1 testing much appreciated.

[2019-06-14 16:51] FroggyFlox commented on #2053
Thanks for the rapid feedback @phillxnet!

I'll try to approach it that way, then. It seems like I may have to change the samba export creation code itself (`post()` in `views/samba.py`) to better deal with several exports at once, but am not sure how much change would be needed. It can already export several shares with the same samba options without problem, but it may need to be adapted to be a

[2019-06-17 10:01] phillxnet commented on #1141
Closing as old and no further interaction. For any new instance of this please open a new issue with all relevant info.

[2019-06-17 10:01] #1141 closed

[2019-06-21 13:08] phillxnet commented on #1870
Note that if you are affected by this issue then the following command run as root should update your system
[code]
Please be patient for this command to end as there may be many packages to update.
There after the Web-UI element should indicate the installed version / available versions as intended.

[2019-07-09 14:10] #1722 closed

[2019-07-09 14:10] #1918 closed

[2019-07-09 14:16] phillxnet commented on #509
Closing as the previously referenced pr:

has now be merged.

[2019-07-09 14:16] #509 closed

[2019-07-09 14:31] phillxnet commented on #1623
Now we have the previously referenced pr merged:

We can again look to addressing this usability bug. It may be we can make progress via auspicious use of:

Model.refresh_from_db

(introduced in Django version 1.8). Taking care that we don't undo the performance enhancements that we have gained from #1722

[2019-07-09 15:29] #2014 closed

[2019-07-10 10:16] #1368 closed

[2019-07-10 10:16] #1878 closed

[2019-07-10 12:40] #2029 closed

[2019-07-10 14:09] phillxnet opened #2054 "changelog fails on version lines"
Web-UI presentation of pertinent rockstor changelog entries fails on version lines:

E.g.:
Given the following version line within an available rockstor update rpm package:
[code]
The resulting 'Software Updates' page counterpart displays:
[code]
This is due to incomplete parsing such that package version lines are treated as change item entries for historical reasons.

See template file:
https://

[2019-07-10 15:31] phillxnet commented on #2054
Tracking this further it seems we also don't pass the problematic lines to the above referenced view related files as logging indicates that the "# @" Web-UI elements come form blank entries returned from:

/api/commands/update-check

https://github.com/rockstor/rockstor-core/blob/master/src/rockstor/storageadmin/static/storageadmin/js/views/version.js#L67

[2019-07-10 18:11] phillxnet commented on #2054
I have a local working solution to this issue. Noting to avoid duplication of effort.
Pull request to follow.

[2019-07-10 18:30] phillxnet commented on #2054
Example of pending pr output given pertinent changelog content within proposed package:
(Actual changelog used is a work in progress as further merges are planned soon)
[code]
And via screen grab:

![Changelog-Web-UI-fix](https://user-images.githubusercontent.com/2521585/60994675-dfd8a200-a348-11e9-9e5b-90a7b71609ba.png)

[2019-07-13 13:42] #2036 closed

[2019-07-24 21:27] FroggyFlox commented on #770
Hi @phillxnet,

I was going to open a new issue but Github pointed me to this closed issue. I currently have a working WIP branch to fixes this issue. Although it was closed for good reasons at the time, should we re-open this one or would you prefer me to open a new issue for that?
What the WIP branch resolves is pretty much identical to this issue and implements what was marked as planned in the

[2019-07-26 12:03] phillxnet commented on #770
@FroggyFlox Apologise for slow response on this one. I think the best way to move forward on this one is to open a fresh issue in your name given, as you say, this issue had it's context of a 'bug' and was closed in that context. Where as a fresh issue in your name could be more clearly presented as an additional feature. And more clearly represent attribution.

Let me know if you disagree and I'l

[2019-07-26 15:59] FroggyFlox opened #2058 "Config backup/restore does not include scheduled tasks"
As of now, the config backup does not include scheduled tasks. As a result, users need to re-set all their scheduled snapshots, pool scrubs, etc..., manually when needed.

To improve this behavior, it is suggested to include all scheduled tasks (`snapshot`, `scrub`, `reboot`, `shutdown`, and `suspend`) in the config backup so that all these settings can be restored in one go if desired.

Note that

[2019-07-26 16:01] FroggyFlox commented on #2058
I already have a branch in progress with working code addressing this issue. Please see the corresponding draft PR: #2057.

[2019-08-04 08:49] wiza commented on #1910
Stable has 4.8.3 now so you could add this while supporting both opensuse and current centos.

[2019-08-04 16:06] magicalyak opened #2060 "support.rockstor.com needs to point to forum.rockstor.com"
support.rockstor.com is no longer working and needs to be replaced with references to forum.rockstor.com for issues and links in rockstor-core

[2019-08-04 16:21] phillxnet commented on #2060
@magicalyak Thanks for creating this issue.

Linking to our forum discussion for context:
https://forum.rockstor.com/t/support-rockstor-com-down/6264

[2019-08-05 14:22] wiza commented on #1910
I actually now have it running :)

[2019-08-05 14:33] phillxnet commented on #1910
@wiza That's good to hear. A copy of you working config (relevant additions / subtractions) with regard to Rockstor's default config could help to nudge this one along a tad. Might also help others wanting to chip in on validating the most appropriate config for this setup.

[2019-08-05 14:41] wiza commented on #1910
My own is little polluted from earlier attempts but I did copy samba config from here:
https://kirb.me/2018/03/24/using-samba-as-a-time-machine-network-server.html

and avahi config from here:
https://www.reddit.com/r/homelab/comments/83vkaz/howto_make_time_machine_backups_on_a_samba/

Just need to change the share name on the avahi config to match samba share, also, did specify ip of rockstor.loc

[2019-08-11 19:37] #813 closed

[2019-08-13 18:26] phillxnet opened #2062 "[openSUSE] improve JeOS compatibility re ROOT label"
OpenSUSE JeOS defaults to mounting by label. This differs from current openSUSE Leap 15.* and Tumbleweed that use mount by UUID. Both Leap and Tumbleweed also currently default to having no root volume label. Rockstor expects and enforces btrfs volume labels, using the btrfs volumes UUID in the case of data pools and 'system' in the case of root pools. However btrfs based openSUSE JeOS (Just enoug

[2019-08-13 18:27] phillxnet commented on #2062
I am preparing a pull request to address this issue.

[2019-08-21 16:12] FroggyFlox opened #2064 "[Rock-ons] Share mapping is ignored if the same share is chosen"
At rock-on install wizard, if the same share is selected for two or more volumes, only the first one is saved and sent to the rock-on API for the rock-on install.

### Illustration
For instance, if the share `emby-conf` is selected for both volume mappings of the _Emby server_ rock-on (see Picture 1 below), only the mapping for _Media Storage_ is saved (see Picture 2 below).

_**Picture 1**_
![ima

[2019-08-24 20:31] FroggyFlox opened #2065 "Config backup/restore does not include rock-ons"
Currently, the config backup/restore feature does not include information related to rock-ons. As a result, all settings specified by the user during a rock-on installation or post-installation are not saved and thus need to be re-entered manually by the user if needed.

It is thus proposed to include rock-ons-related information to the config backup, and implement corresponding restore function(s

[2019-08-27 11:38] phillxnet commented on #2062
The following indicates the outcome on next system boot if we inadvertently change a root (system) pools label on a JeOS based install away from it's expected default of "ROOT":

![Broken-boot-on-system-label](https://user-images.githubusercontent.com/2521585/63768163-66304f80-c8c7-11e9-9d08-6f931893b7fa.png)

[2019-09-01 14:41] phillxnet opened #2067 "activation code retrieval"
It is proposed that to ease system migrations we provide a Web-UI mechanism by which a particular installs activation code can be retrieved.

Please see the following forum thread for context:
https://forum.rockstor.com/t/how-do-i-recover-the-activation-license-to-the-1-year-subscription/5878

[2019-09-02 11:01] phillxnet commented on #1922
Noting here that recent upstream changes have incorporated the required estimate calculations, see pr 177 in kdave/btrfs-progs which would be a more obvious source for this info.

Proposing this issue be considered for our openSUSE based offerings given the more likely occurrence of a relevant bttfs-progs / kernel version.

[2019-09-10 17:13] rayfoss opened #2068 "[Network] USB Interface can't set static IP via GUI"
I have an Amazon basics USB 3 to Gigabit network adapter. The GUI will not save manual IP's on it for some reason. I can modify the network files myself, but that's not ideal/supported

btw, your forum is down...

[2019-09-10 19:16] FroggyFlox commented on #2068
Hi @rayfoss,

Yes, the forum would be a better place to discuss that.

I too encountered the little Google oauth quirk a few days ago when @phillxnet proceeded with its migration. I'm not sure why, but simple page refreshes fixed the issue for me.

[2019-09-10 19:31] rayfoss commented on #2068
@FroggyFlox Strange... it's still bugging out for me, both desktop and mobile. Tried clearing all Application Data from DevTools, same thing. Looks like google is receiving a bad JWT. I was able to work around it by creating a password for the account using the password reset feature, bypassing OAuth.

That said the static IP issue does seem like a real rockstor bug with USB Ethernet interfaces

[2019-09-10 21:14] phillxnet commented on #2068
@rayfoss Thanks for the forum notice. But it looks to be OK for me also. We can keep an eye on it and see what happens. Thanks for sharing your password workaround.

Agreed re USB Ethernet issue, but it's quite surprising as there is rarely a distinction between device bus types so it's rather strange. Under the hood Rockstor just uses nmcli / Network manager. If you could explore if the same issu

[2019-09-10 21:52] rayfoss commented on #2068
The network scripts are being modified correctly, something about how activate and deactivate work means a DHCP config is loaded instead of the customized static ip version. All it took to make the gui changes apply correctly was a quick nmcli up/down:

[code]

[2019-09-10 22:11] phillxnet commented on #2068
@rayfoss Thanks for the additional info and nice find re the con down/up additional requirement. Strange. Especially given other network interfaces don't seem to require this. If this is common to all USB based Ethernet adaptors then it's definitely something we should try and add in, but only for USB based devices maybe.

I'll look into if we have a time drift or something re the forum sever. But

[2019-09-11 01:28] FroggyFlox commented on #2068
@rayfoss, by curiosity, is this connection the main one, the one whose IP address is currently in use to access the webUI? The reason I'm asking is because I do observed some odd behavior from the webUI when switching this connection from `Auto (DHCP)` to `manual`. A new connection is created (named `Wired connection 1`) and activated, but if I manually toggle the activation state from the webUI o

[2019-09-11 18:17] FroggyFlox commented on #2017
This issue has now been reported as blocking a newly-proposed rock-on:
https://github.com/rockstor/rockon-registry/pull/190#issuecomment-528982679

A proposed fix can be found at the following branch:
https://github.com/FroggyFlox/rockstor-core/tree/Issue2017_Rock-on_parse_Image_Tag

PR submission will soon follow.

[2019-09-18 15:58] FroggyFlox opened #2070 "[openSUSE] Distro-specific smartd.conf location"
In openSUSE (both leap 15.1 and Tumbleweed), the location of `smartd.conf` used by Rockstor differs from CentOS. As a result, SMART settings configuration from Rockstor webUI isn't possible in openSUSE variants for now.

The location of `smartd.conf` across all three distributions is as follows:

| OS | `smartd` version | `smartd.conf` location |
| --- | --- | --- |
| CentOS | smartd 6.5 2016-05-0

[2019-09-18 20:03] phillxnet commented on #2070
@FroggyFlox Thanks for creating this issue: an excellent exposition.

Looks like potentially another candidate for our existing distro (python-distro) dependency as per the mechanism used in:

"add non legacy distro aware repo configuration. Fixes #1991" #1992

I.e. conditional on distro_id for example.

[2019-09-18 20:37] FroggyFlox commented on #2070
Agreed!
The following line from the SMART service configuration webUI template would also need to be updated accordingly:
https://github.com/rockstor/rockstor-core/blob/fd3d07236cd26d968b00ec55d97c10ca4786c9b0/src/rockstor/storageadmin/static/storageadmin/js/templates/services/configure_smartd.jst#L31

Noting here for reference.

[2019-09-22 17:19] FroggyFlox commented on #2070
I just made a quick commit with conditional definition of `smartd.conf`'s path based on `distro.id()` output. See below:
https://github.com/FroggyFlox/rockstor-core/commit/409aaa54770493c5945833b056434ceb097f6728

This commit has been tested to work in all three OSes.

Regarding updating the `configure_smartd.jst` template, we could simply shorten the text to `smartd.conf`, but ideally we could ha

[2019-09-22 19:34] #2043 closed

[2019-09-22 19:47] #2044 closed

[2019-09-22 20:08] #2051 closed

[2019-09-22 20:08] #2053 closed

[2019-09-22 20:19] #2054 closed

[2019-09-22 20:26] #2062 closed

[2019-09-22 22:11] phillxnet commented on #2070
@FroggyFlox Re:

I think I favour this approach personally. Not ideal or complete but we are talking about a fairly advanced feature anyway. And we can always circle back around to improving this as it would be a fairly minor downgrade on tooltip info for a significant fix that we needn't hold up for the sake of a toolip detail.

Agreed but we can get this sorted at a later date.

[2019-09-23 00:55] FroggyFlox commented on #2070
Sounds good!
I'll proceed with a PR soon in this case.

[2019-09-25 18:13] phillxnet opened #2071 "[openSUSE] use zypper for rockstor package install"
Experimentation has indicated that although yum is mostly functional for our purpose in our openSUSE variant their are complications re reported conflicts of rockstor rpm dependencies that are not similarly reported by zypper. So we should, at least for install only initially, use zypper. Currently it is though that our use of YUM for reporting / changelog etc is working as intended so we need onl

[2019-09-25 18:14] phillxnet commented on #2071
I have proof of concept code for this issue in progress.

[2019-09-27 10:22] #2021 closed

[2019-09-30 19:03] FroggyFlox commented on #2070
### Brief update:

`smartd` has been updated on **CentOS** Rockstor to 7.0 (rev 4883). Nothing broke, however, as the file location remains the same:
[code]

[2019-10-02 12:06] magicalyak opened #2073 "nginx outdated"
Can we modify the RPM dependency on nginx to be at or later rather than equals to?  THis shouldn't affect current users, but would allow advanced ones to update past dependencies for security purposes.  There are a lot of vulnerabilities exposed with v12 and we should be able to use the latest v19
rockstor

[2019-10-02 12:25] magicalyak commented on #2073
Just realized mine is using plus, I can modify the spec with a oneoff using rpmrebuild.
This would fix it in the spec though

Requires: (nginx or nginx-plus)

[2019-10-02 12:27] phillxnet commented on #2073
@magicalyak Hello again.

From a quick look at the rpm dependency for 3.9.2-49 we simply have:
[code]
which is born out via:
[code]

so don't think this is a direct rockstor packge / nginx dependency.

You dependency issue message mentions nginx-plus however. So on a quick read your repos don't contain a newer version of nginx.

Apologies if I have the wrong end of the stick here, but a little dis

[2019-10-02 12:33] magicalyak commented on #2073
I'm trying some modifications to the specfile, I'll post if I get one workings.  Hopefully an OR is acceptable as a PR here
Requires: nginx or nginx-plus
the () seemed to conflict with the rpmbuild version at the moment..

[2019-10-02 12:55] magicalyak commented on #2073
This can be ignored, I rebuilt the rpm for nginx-plus to provide nginx so I'm good :)

[2019-10-02 12:55] #2073 closed

[2019-10-02 19:21] rayfoss commented on #2068
Tried with the TrendNet gigabit adapter AX88179. Same issue as the Amazon basics one, it's a software thing.

Same fix:
[code]

[2019-10-03 21:33] FroggyFlox commented on #2006
I came across a similar project today: **WeTTY** (MIT license)
https://github.com/butlerx/wetty

It seems to be based entirely on javascript:

Based on its documentation, it can be ran as a service, or even inside a docker container. It would add another js-lib dependency, however...

Just leaving this here in case it turns out being useful.

[2019-10-04 14:52] phillxnet commented on #1973
@vzz3 Thanks for your feedback on this one. Much appreciated.

@barnhill and @shocker2 I'd like to know if @vzz3 suggestion helps in your cases?

Also there is now a 3.9.2-49, as of a 2nd September. In your cases it may very well be worth given this version a try as it has a number of speedup that will particularly benefit large drive counts, most relevant here for @shocker2.

Haven't forgotten th

[2019-10-04 15:00] phillxnet opened #2074 "add visual warning re pool usage"
For shares we have warning indicators within the overview table. It would be nice, and more useful overall to mirror this facility within our pool overview table. A proposed warning of 80% would seem to fit most uses. We do already report percent usage so could use this also to display warning icon and red colour consistent with our other Web-UI warnings.

![pool-over-80-percent](https://user-imag

[2019-10-04 16:12] phillxnet opened #2075 "account for image transfer of system disk"
Thanks to H.M (stable subscriber) for highlighting this issue. In the corner case, but not rare instance, of moving an install's system disk from one device to another via an image copy or the like the original, then detached device is still associated with the system pool and thus cannot be removed. This is currently though to be mostly cosmetic.

This issue may involve using our much newer btrfs

[2019-10-06 18:17] #2060 closed

[2019-10-06 18:22] #2070 closed

[2019-10-06 20:04] phillxnet commented on #1995
This issue arose again in Rockstor 3.9.2-49 so applying as was for a quick fix.
Symptoms affect mainly webkit browsers: Chrome, Opera, etc and resulted in 10-30 second pauses in Web-UI along with dysfunctional Dashboard:

![chrome-slow-UI](https://user-images.githubusercontent.com/2521585/66275037-be6e5000-e87c-11e9-88a9-c0643445e54d.png)

Firefox was mostly not affected however.

We can re-visit

[2019-10-07 19:00] FroggyFlox commented on #1210
@phillxnet, fixing ports is possible by using the `"options"` object in a rock-on json definition file if one needs it. We could thus close this issue if needed.

I really like this suggestion / idea, which would fit the concept of "easy install" you and others have discussed / brought up several times in the forum and here...
Linking here for reference:
https://forum.rockstor.com/t/next-phase-of-

[2019-10-08 18:41] phillxnet commented on #1210
@henfri Thanks for bringing this up. Doing a little tidy so closing this as per @FroggyFlox 's suggestion. @qooplmao Thanks for you import, all good stuff.

[2019-10-08 18:41] #1210 closed

[2019-10-16 16:23] phillxnet opened #2076 "initrock should drop rockstor specific databases rather than del dir"
During a source build, or a source to rpm transition, initrock does the python equivalent of 'rm -rf /var/lib/pgsql/data' this has been known to cause postgresql to coredump. Restart was auto enacted but a more 'measured' approach of dropping our known databases only would be more appropriate and likely more predictable.

[2019-10-19 19:23] phillxnet opened #2077 "remove/resize pool for detached single dev pool fails"
Thanks to forum member Zonk for highlighting this issue. When a single disk pool suffers disk failure the suggested, via bubble, "Pool remove/resize" procedure to remove the associated pool / disk it fails with:

[code]

Please update the following forum thread with this issue resolution:
https://forum.rockstor.com/t/cannot-delete-remove-a-failed-disk/6453

[2019-10-19 19:58] phillxnet commented on #2077
This report pertains to 3.9.2-48. A follow up report is expected once we get forum member Zonk upgraded to 3.9.2-50 which contains some significant updates to the disk/poll management code.

[2019-10-24 16:41] FroggyFlox opened #2079 "[Rock-ons] delete-rockon script does not remove DImage entry"
Using `bin/delete-rockon` leaves the corresponding `DImage` database entries intact. As a result, it does **not** actually remove _all_ rock-on metadata in the database, which is the intended behavior. Note, however, that the corresponding image itself **is** deleted from the machine.

This behavior is a direct consequence of the particular organization of our related storageadmin models. Indeed,

[2019-10-24 16:49] FroggyFlox commented on #2079
Currently, I see two options to address this:
1. Add the corresponding `RockOn` object as ForeignKey to the `DImage` model. I would be unsure, however, about how to deal with cases where the same docker image is shared by different rock-ons.
2. Update `bin/delete-rockon` to delete the corresponding `DImage` entries.

I would tend to prefer option 2.

[2019-10-24 20:16] phillxnet commented on #2079
@FroggyFlox Nice find.

Agreed.

Me too.

[2019-11-03 09:30] PascalKern opened #2080 "sysctl.d/99-rockstor.conf"

[2019-11-06 20:24] phillxnet commented on #2071
Pending pull request nearing final testing.

[2019-11-10 19:57] #2038 closed

[2019-11-11 19:25] #2058 closed

[2019-11-12 11:36] phillxnet opened #2085 "device busy on wipe attempt after pool delete"
Thanks to forum member G_Man_be for highlighting this issue. Directly after deleting a pool it's prior members may be flagged as "Device or resource busy" when an attempt is then made to wipe them ready for re-use. The root cause is as yet unclear but the above procedure can serve as a reproducer for this issues. This has so far been observed on a CentOS based Rockstor install.

Workaround: reboot

[2019-11-12 11:37] phillxnet commented on #2085
Confirmation required for Leap15.1 and Tumbleweed based installs.

[2019-11-12 16:23] phillxnet commented on #2085
This was reported as seen on a CentOS based Rockstor v3.9.2-50 (latest as of reporting).

[2019-11-12 20:26] #2017 closed

[2019-11-13 20:03] #2071 closed

[2019-11-15 16:12] rayfoss opened #2086 "[Enhancement] No alerts emailed on drive disconnect"
I had a pool lose a drive yesterday, as if it was disconnected or lost power. I recieved no warning of anysort anywhere... I just happened to notice it on the dashboard a day later.

Please send an email if/when this happens!

More specifically, the drive would be listed under /dev/disk/by-label, but it's symlink was more recent than the rest of the drives in the pool. And it was missing the one w

[2019-11-15 16:28] rayfoss commented on #1910
... I'm on rockstor 3.9.2-50. For some reason I have Samba 4.9.1, should I be concerned about updates happenening out of line with Rockstor's intent, or happy I can now enable time machine?

[code]

[2019-11-15 16:34] wiza commented on #1910
Nope, that's fine. Rockstor follows CentOS 7 packages (except kernel).

[2019-11-15 18:29] FroggyFlox opened #2087 "[Config Restore] Service status is not restored"
Although the configurations of services are included in the Config backups and restored accordingly, their **status** is not.

As we keep their status (ON/OFF) in `smart_manager`, it is in theory possible to include this information in the config backup and use it during restore so that all services in the backup that were configured AND turned on would also be turned back on after a config restor

[2019-11-15 20:19] phillxnet commented on #2086
@rayfoss Thanks for you feedback, could you confirm the exact Rockstor version you are running via the output of the following command:
[code]
Thanks.

[2019-11-15 20:26] phillxnet commented on #1910
@rayfoss Hello again, re:

Just watch out for Rockstor 'rewriting' your config. That's about it really. We hope to enable this feature in the not too distant future anyway so do report here on your findings / what worked for your. Or if you fancy submitting a pull request of course. I imagine this feature being a simple tick box option myself.

[2019-11-15 20:32] phillxnet commented on #2087
Definitely, most likely the (ON/OFF) state was just due to the then early development state of the config save/restore feature. But as you've done a fair bit of work on it since then it may well be a workable extension. But we do have such things as the Rock-ons-root to restore of course and if that is not correct with say a different pool, but we default to fail over anyway.

Would be a nice to h

[2019-11-15 20:41] FroggyFlox commented on #2087
Sounds good!

That's already implemented. It's based on the share name, of course, but because it's intended to work after importing a disk (that's my understanding, at least), it works.

We already have the necessary api calls ready, I believe, so _in theory_ we could just trigger the required services if they have an ON status in the given backup. It's actually something I noticed while testing

[2019-11-15 20:49] rayfoss commented on #2086
[root@big ~]# yum info rockstor
Loaded plugins: changelog, fastestmirror
Loading mirror speeds from cached hostfile
 * base: reflector.westga.edu
 * epel: fedora-epel.mirror.lstn.net
 * extras: mirror.den1.denvercolo.net
 * updates: mirror.arizona.edu
Installed Packages
Name        : rockstor
Arch        : x86_64
Version     : 3.9.2
Release     : 50
Size        : 85 M
Repo        : installed
From

[2019-11-15 21:43] phillxnet commented on #2086
@rayfoss This is strange. If you fancy taking a look at how it's currently done, only in Dashboard currently though, the following pull requests is where we added this capability (mainly), surfaced from 'btrfs fi show' calls mainly:

issue: "surface pool missing disk info in UI" #1897
pr: "surface pool missing disk info in UI. Fixes #1897" #1902

With the followup pair to perform maintenance in th

[2019-11-16 09:53] phillxnet commented on #2086
@rayfoss Just a quick point:

It is advised that after any 'incident' you assert the 'normal' via a scrub. This should help to find and correct, if possible, any problems that may have crept in.  You can also schedule scrubs as a pool health measure, ie once a week or once a month type thing.

And apologies for not properly reading your original post before replying before. Email alerts of all btr

[2019-11-16 16:46] FroggyFlox opened #2088 "[openSUSE] Rock-on service does not stop correctly"
On openSUSE Leap15.1 (expected to be the case in Tumbleweed as well, but untested), while the Rock-on service turns ON without problem the first time, it errors out on subsequent starts (after being turned OFF, of course). The error is:

[code]

<details><summary>Full error</summary>

[code]

</details>

The `journalctl` log shows more details:

[code]

<details><summary>Full error</summary>

[cod

[2019-11-16 16:53] FroggyFlox commented on #2032
I now see the same thing in Leap15.1, unfortunately.
On the plus side, this means it'll make the fix easier as it just needs to be conditional to openSUSE and not just Tumbleweed.

[2019-11-16 18:54] phillxnet commented on #2032
@FroggyFlox Nice find and quite timely. Just as well they have now harmonised.

[2019-11-16 20:54] phillxnet commented on #2088
@FroggyFlox

I thinks that's just fine. We are customising a tad anyway and if your sure of the KillMode modification I say we go for it. As for regressions we are dealing with 3 moving targets, but at least we have the pending testing channel to help with just this kind of think: just need to get one or two more things lined up ready.

[2019-11-16 20:55] phillxnet commented on #2088
@FroggyFlox Nice find and proposed fix by the way. And again, quite timely.

[2019-11-16 21:20] FroggyFlox commented on #2088
I've never messed with that option before and only found out about it while trying to debug that issue. That made me learn a lot about a service file configuration, actually... I'll need to test more of course and see if it breaks anything else down the line but it seems to be OK so far; this is the KillMode we use currently in CentOS, after all. I just need to make sure there's not a very good re

[2019-11-17 17:16] FroggyFlox commented on #2087
I have now a working branch to fix this issue and will submit a PR "shortly".

[2019-11-18 15:11] FroggyFlox commented on #2088
@phillxnet , a quick update after a brief investigation:

As I was trying to see why the default systemd `docker.service` file specifically does NOT use the default KillMode, it seems that **not using the `process` KillMode** isn't a good idea and can break a few features of the docker daemon.
The commit in question in which this was specified is https://github.com/moby/moby/commit/db435f526ac5703

[2019-11-18 16:44] phillxnet commented on #2088
@FroggyFlox Re:

Yes, I was considering this, if the quick fix you suggested earlier is a no go. Which it looks to be here.

Exactly, that way we go with the flow, and edit that file instead for our logging, driver, etc.

Docker has moved on some since Rockstor first adopted it and maybe, as you suggest it's time we adapted to that via embracing the daemon.json. But we may still need to set depend

[2019-11-18 17:01] FroggyFlox commented on #2088
Thanks a lot for a prompt, yet exhaustive feedback, @phillxnet!

I will of course try to tackle that one, especially considering it is fresh in my head. I'll still need to make sure I'm not missing one of the functions of the docker_wrapper, but what you described related to its use actually fits what I thought so it makes a lot of sense.

I'll thus make sure to keep the systemd customizations to

[2019-11-18 17:14] FroggyFlox commented on #2088
Just a quick mention about this: I was thinking of a use of such feature for users who need to use a different runtime than the default one, such as the nvidia one, which has come up a couple of time in the forum. That's a rather advanced feature, but it could be of use for some and thus worth considering in the future.

[2019-11-18 22:34] Hooverdan96 commented on #2032
On a side note, the daemon.json file seems to come back with subsequent OpenSUSE updates, too. I had renamed it a week ago, and with the latest updates to the distro it showed up again (that might be normally expected, but I was surprised) - this was in Tumbleweed, which mostly is updated with the sudo zypper dup, and that might be the reason ... don't know enough about the package update process

[2019-11-18 22:42] FroggyFlox commented on #2032
Oh very good point, @Hooverdan96! I didn't think of that, but that makes a very compelling reason to rework our way of configuring the docker daemon. As you can read in #2088, I just started working on using the `daemon.json` file, and your point makes it even more needed.

It also comforts me in using a separate json file (separate than `/etc/docker/daemon.json`) so that we don't risk having it o

[2019-11-19 21:52] FroggyFlox commented on #2088
I now have an implementation seemingly working in Leap15.1 (see https://github.com/FroggyFlox/rockstor-core/tree/WIP_Docker_KillMode):

- can turn on the rock-on service ON for the first time without deleting `/etc/docker/daemon.json`
- can toggle the Rock-on service ON/OFF repeatedly without error
- a running rock-on successfully shuts downs and restarts upon toggling OFF/ON the Rock-on service w

[2019-11-20 18:37] FroggyFlox commented on #2088
@phillxnet, may I have your feedback on the following?

In this new branch, I currently load the default daemon.json file (located at `/etc/docker/daemon.json`) that is shipped with the docker package. I thus update it with our needed Rockstor customizations and then write it to a new config file that is called by `dockerd`. I originally started this way in the spirit of thus taking automatically

[2019-11-20 19:40] phillxnet commented on #2088
@FroggyFlox I favour number 1. We update the current config file. Post initial install any package updates should leave it be anyway is my understanding. Although a package update may end up dumping another ineffectual file their for reference but I don't think it will change our config, once established.

Given the above assumption of mine that a package update won't change this file if it has al

[2019-11-20 21:37] FroggyFlox commented on #2088
Thanks a lot for your feedback, @phillxnet!

Very good idea, indeed... I'll try to figure that out by testing after a docker-ce update.

The "nice" thing is that dockerd doesn't seem to care about the existence of the file as it's only there to **optionally** customize dockerd configuration. If no value for a given option is specified in daemon.json, the dockerd default will then apply.

Correct.

[2019-11-22 02:29] FroggyFlox commented on #2088
I had some time to play around with docker update via zypper and observe the fate of `/etc/docker/daemon.json` and things look fine as it doesn't touch the file. It only copies the default `/etc/docker/daemon.json` there if the file is absent.

In Leap 15.1, using `zypper install --oldpackage docker-18.09.6_ce-lp151.2.9.1` and then updating with `zypper update docker`, I could test several modific

[2019-11-27 15:02] FroggyFlox opened #2091 "[Scheduled Tasks] Improve schedule flexibility"
As suggested by forum user PaulK, the current scheduling options for the _suspend_ task and its RTC wakeup feature could be improve by providing further flexibility.

In its forum thread linked below, it is suggested to add the possibility to set a rtc wakeup several days in the future rather than its currently limited time range of 24hrs.
https://forum.rockstor.com/t/scheduled-shutdown-reboot/653

[2019-11-29 20:52] phillxnet opened #2092 "[openSUSE] replace legacy yum with dnf-yum for remaining yum functions"
Thank to @FroggyFlox for highlighting the origins of this issue. It is proposed that we move to dnf-yum for our remaining yum functions, post sited pr, within our openSUSE variants. Yum has now long been superseded by dnf and given a recent suspected deprecation of legacy yum (which is python 2 based), and a missing yum package within Tumbleweed, if we move now to dnf-yum in both Leap15.x and Tumb

[2019-11-29 20:53] phillxnet commented on #2092
I am currently preparing a pull request to address this issue.

[2019-11-30 00:10] Hooverdan96 opened #2094 "Rockons: Ability to set environment variables as optional"
this is out of the discussion in this thread:

https://forum.rockstor.com/t/default-values-for-environment-variables-in-rockon-definition/6512

Currently environment variables are required, i.e. if they are defined as part of the json file, then during the installation/configuration of the RockOn, they have to be populated. Especially for Rockons based on docker images that use environment variabl

[2019-11-30 00:13] Hooverdan96 commented on #2094
This issue should be considered in conjunction with the #2012 for defining default values for the environment object.

[2019-11-30 15:27] phillxnet opened #2095 "[openSUSE] NUT could not be configured"
When attempting to configure the NUT-UPS service on openSUSE Leap15.1 / Tumbleweed the following error was encountered:
[code]
This is down to differing defaults between our legacy CentOS distro base and our in development openSUSE distro bases for the expected owner.group and chmod settings.

[2019-11-30 15:28] phillxnet commented on #2095
I am currently working on a pull request to address this issue.

[2019-11-30 20:46] #2087 closed

[2019-12-03 20:41] #2032 closed

[2019-12-03 20:41] #2088 closed

[2019-12-04 15:05] #2095 closed

[2019-12-04 16:30] FroggyFlox commented on #1954
@phillxnet, I'm currently looking into this one and wanted to verify something. Indeed, when you write the following:

... do you think that, during a restore into openSUSE, we should:
1. _force_ all Rockstor-managed users present in a backup to the GID=100 group?
or
2. should we simply keep the same UID/GID structure as present in the backup?

Option 2 would be a lot easier to implement and--I be

[2019-12-04 17:17] phillxnet commented on #1954
@FroggyFlox Re:

I think we have to go this way really as if that is how folks had set it up, and it's easier, then that is what they are going to expect it to be restored to. It's definitely a complication that their after things will be different but they will be obviously different. Which is better than us making up a difference between what was saved and what we 'translate' it to when restorin

[2019-12-04 17:21] #2092 closed

[2019-12-13 19:50] phillxnet opened #2098 "[openSUSE] add chronyc tracking output within Web-UI"
Many server roles depend on an accurate time, which is commonly not available in hardware. We already have ntp/ntpd Web-UI config capability but it would be nice to also add an abstract of the following command:
[code]
This could act to re-assure / inform re cronyd time management.

Chronyd/Chronyc are more modern variants of ntpd and are the default since openSUSE Leap 15.

[2019-12-16 12:20] phillxnet opened #2099 "failure to remove detached disks via pool resize"
Thanks to form member Azzazel for highlighting this issue. Post our recent disk management code revamp in 3.9.2-49 we fail to deal appropriately with detached prior pool members. The sighted forum thread details a reproducer but it is believed to be a generic problem with detached disk removal.

This has been demonstrated on 3.9.2-50.

The observed behaviour is a pool resize detached disk removal

[2019-12-16 12:38] phillxnet commented on #2099
This issue may also be related to slightly older disk removal modifications indicated by the following issue:

"remove/resize pool for missing single dev pool fails" #2077

[2019-12-24 16:37] FroggyFlox commented on #1953
@doenietzomoeilijk , @phillxnet :

I'm currently looking into attacking this issue and I agree that this option above would be the best one.
I was thinking we can let the user select non-GZ files to upload (as currently), but then gzip the file automatically. This would save some disk space (even though it's still very small), and also allow to leave the restore script untouched and thus keep it a

[2019-12-26 01:37] FroggyFlox commented on #1953
I now have a branch with a working fix:
- branch: https://github.com/FroggyFlox/rockstor-core/tree/WIP_Upload_nonGZ
- commit: https://github.com/FroggyFlox/rockstor-core/commit/c9abb15b3db11815229e8e5eac76b4f08a95551a

In this branch, a check for gz format is added and the file is gzipped if not. If the file can be opened and read by the `gzip` module, it is considered already gzipped and the norm

[2019-12-30 21:08] FroggyFlox commented on #2006
@phillxnet

I was curious and had a quick look at the openSUSE repos and there seems to be a few non-official shellinabox packages: https://software.opensuse.org/package/shellinabox?search_term=shellinabox

The following one may be interesting, but we would need to add another repo...
https://build.opensuse.org/package/show/spins:invis:15:common/shellinabox

[2020-01-01 20:44] phillxnet opened #2102 "latest django-braces breaks build on Django version requirement"
On 30th Dec 2019 django-braces version 1.14.0 was release. This has a new minimum Django requirement of 1.11.0. Our current Django version pinning of 1.8.16 is thus incompatible: breaking our current build.

As a makeshift arrangement to return our build to a functioning state it is proposed that we now pin our django-braces version to the previously released version of 1.13.0 released on Apr 22,

[2020-01-01 20:45] phillxnet commented on #2102
I am currently preparing a pull request to address this issue.

[2020-01-01 20:55] phillxnet commented on #2102
Example failed build output:

[code]

[2020-01-01 21:13] #2102 closed

[2020-01-08 17:22] phillxnet opened #2104 "revise donate menu item within Web-UI"
The "Donate" menu item includes a Rockstor branded USB key offer with one of a few example levels of donation specified. This item is no longer available. Simplify donate dialog, and associated java script, and update to new maintainer during this items removal. Also it is suggested that we adopt PayPal's default button to make more apparent the donation handler.

It is also proposed that the red

[2020-01-08 17:22] phillxnet commented on #2104
I am currently preparing a pull request to address this issue.

[2020-01-09 01:05] maclm commented on #1594
Nearly two years after your last post, I get the exact same error message
`is in pending state but there is no pending or failed task for it.`
for any rock-on I try to install.

Have you got around this?

[2020-01-09 07:18] daniel-illi commented on #1594
Unfortunately I never got it to work again.
I have since migrated away from rockstor altogether, so I won't be able to verify any solution to this problem.

[2020-01-09 13:12] FroggyFlox commented on #1594
Hi @maclm,

Thank you for looking through our forums and reaching there as well. As the forums is the preferred medium for this sort of things, I'll [answer you there](https://forum.rockstor.com/t/rock-ons-issues/3375/3?u=flox).

[2020-01-09 15:44] phillxnet commented on #1594
@maclm and @daniel-illi Linking to the known work around by way of a reply to @maclm in the forum. Though in this case although @maclm appears to be OK again the work around was not the issue.

N.B. @maclm report pertains to our now depricated CentOS testing channel version 3.9.1-16 which uses an older version of docker. Our Stable channel updates have for some time moved to using docker-ce. Notin

[2020-01-09 15:46] phillxnet commented on #1594
Link to recent forum post with known workaround:
https://forum.rockstor.com/t/rock-ons-issues/3375/4

[2020-01-09 16:45] #2104 closed

[2020-01-12 20:07] phillxnet commented on #1811
The entirety of this one off message reads as follows:

[2020-01-13 19:40] phillxnet opened #2106 "improve/add update channel/appman related text and doc links"
Our update channel selection related prompt dialogs (first login & dashboard) have minimum/no info and no links to assist with this required Rockstor package update choice. The Update page, in turn, was also lacking documentation links to assist with this decision.

It is proposed that we 're-vamp' these modal dialogs in keeping with documentation improvements that have happened in the mean time.

[2020-01-13 21:19] FroggyFlox commented on #2106
Hi @phillxnet,

Related to the issue of improving documentation on some key points of the UI, the thought of better linking to the documentation has lived in my head for a little while now. It's mostly unrelated to the current issue, but it did remind me of it.

Among many options we have, I was wondering whether we could also add an icon to those key points that would consistently points the user

[2020-01-13 21:46] phillxnet commented on #2106
@FroggyFlox Appologies I should have said I was preparing a pr for this issue. Which I have now done as it goes.

Re:

Yes this is an excellent idea and has been 'planned' for a while now. I think these "?" links should supplement our text links however and in this issue's case I've only added text links. We probably need a 'proof of concept' pr for this such as may be associated with your #2009 i

[2020-01-13 22:02] FroggyFlox commented on #2106
I completely agree with you with regards to the need of conserving/adding text links as well... that's a good point.
With regards to the icon, thanks for bringing this up I'll try to remember the matter when it'll be time for me prepare the PR related to #2009.

I like these as they do make everything a lot clearer, thanks for doing all of these!

[2020-01-14 12:28] #1811 closed

[2020-01-14 12:28] #2106 closed

[2020-01-18 17:10] computergeek125 commented on #1739
I found this today shortly after messing about with Active Directory.  I discovered that changing to `SSH` worked to restore the shell, but that it also continued working when I switched it back to `LOGIN`

[2020-01-19 15:20] phillxnet commented on #2026
Another forum member Regan has recently reported another instance of this long name issue in another Sandisk product:

https://forum.rockstor.com/t/value-too-long-for-type-character-varying-128/6674

In this second case the device was a:
usb-SanDisk_Ultra
[code]

[2020-01-20 18:57] defmonk0 opened #2108 "Enabling samba doesn't always trigger configuration"
When enabling samba from the UI under services, it opens an edit modal where you can supply a workgroup and custom global config. Filling out this config then overwrites the `/etc/samba/smb.conf` file with the defaults needed for Rockstor.

The relevant code for this can be found here: https://github.com/rockstor/rockstor-core/blob/fd3d07236cd26d968b00ec55d97c10ca4786c9b0/src/rockstor/storageadmin

[2020-01-21 17:05] phillxnet opened #2110 "remove embedded youtube videos"
It has come to light that our embedded videos are not in keeping with our proposed privacy policy and as such I am proposing that we instead translate all to links. This is less user friendly on the surface but more in keeping with maintaining portable docs and reducing our cookie count to zero, as desired. It also makes doc updates more accessible as access to the rockstor and rockstor inc YouTub

[2020-01-21 17:06] phillxnet commented on #2110
Appologies, wrong repo :)

[2020-01-21 17:06] #2110 closed

[2020-01-27 13:13] phillxnet commented on #2077
I have confirmed this behaviour in 3.9.2-51 with the accompanying user error message prior to the Traceback noted in this issues original report:

So with the current reproducer of a single disk pool loosing it's only disk member and following the Web-UI guide we have a corner case that it's not possible to mount this pool. We could in this case identify if the detached disk was the only member an

[2020-01-27 20:18] #2065 closed

[2020-01-28 16:01] phillxnet opened #2111 "[openSUSE] 3.9.2-51 fails to offer rockstor package update within Web-UI"
Prior tests of openSUSE 3.9.2-51 rpm (testing channel) indicated it would successfully offer an update via the Web-UI, in the interim it is suspected that a system update may have adversely affected this ability. The Rockstor package is listed in the general systems update but no specific rockstor package update indicators are activated, i.e. top right in Web-UI with up arrow indicator and changel

[2020-01-29 14:26] phillxnet commented on #2111
The single system that previously exhibited this behaviour is now working as expected post 3.9.2-52 removal (zypper remove rockstor), /opt/rockstor dir wipe, and 3.9.2-51 rpm install with testing channel subscription, with no other package changes. There have also been no dependency changes between 3.9.2-51 and 3.9.2-52 rpms.

Currently after reproducers for this issue so we can investigate furthe

[2020-01-31 17:17] Marenz commented on #1822
I've just seen this message myself upon hovering the edit button of my disk:
![image](https://user-images.githubusercontent.com/424752/73559643-bbaff000-4455-11ea-89f5-8db1c8d31c41.png)

this is on openSuse Leap 15.1 with manually installing & adding the rockstor repostiory. Very fresh install, nothing configured yet.

[2020-01-31 17:33] Marenz commented on #1822
I am actually getting this now all over the place, too.

[2020-01-31 18:02] Marenz commented on #1822
And a reload did fix it.

[2020-02-02 19:54] phillxnet commented on #2111
I'm closing this issue as it has no reproducer and we have had multiple reports of this update  working as intended in the following forum thread:

https://forum.rockstor.com/t/opensuse-testing-web-ui-update/6715

[2020-02-02 19:54] #2111 closed

[2020-02-03 14:18] phillxnet opened #2113 "failure to build on Tumbleweed for master tag 3.9.2-52"
When preparing the final rpm releases for 3.9.2-52 the native build on a fully updated Tumbleweed failed. As a result no testing channel (currently openSUSE open) rpm for this distro was released. But openSUSE Leap15.1, our current main dev target, was not affected by this issue and so an rpm was released for this distro simultaneously with our current but now deprecated CentOS Stable channel. The

[2020-02-03 14:20] phillxnet commented on #2113
I am currently working on a pull request for this issue and in final testing phase. Looks to be the 'sort of indicated' old six library's interaction with Tumbleweeds particular Python 2.7 variant.

[2020-02-03 17:10] #2113 closed

[2020-02-03 17:34] phillxnet commented on #2111
This has now been tracked down to an artefact of the testing environment where it was observed. I have just reproduced this again and it's just that in the env we use a local zypper repo only, but the top right Web-UI rockstor package availability and changelog reader uses YUM and zypper setup to the public repos. Hence no Web-UI rockstor specific update was presented when there was only a local z

[2020-02-03 19:33] phillxnet opened #2115 "Re-word "System is running the latest" update page text"
Thanks to forum member ednt in the following forum thread for highlighting this issue. It can be confusing for new users, who have as yet not read our docs "Update

Given recent updates / improvements to our  "System -> Software Update" page, which now links back to the docs "Update Channels" section to appreciate that the following message:

pertains to the selected channel. As from 3.9.2-52 this

[2020-02-03 19:40] phillxnet commented on #2115
@FroggyFlox , do you agree? I was hoping our newest contributor @jonpwilson would be game to tackle this one :)
And keeping it simple helps to finally get it done as this has been a potentially misleading text element for some time now. We could link to our GitHub releases page but I wanted to keep this issue simple and that could go in another pr if need be.

[2020-02-03 20:19] FroggyFlox commented on #2115
That's a good idea, @phillxnet...

It is true that the current wording can be misleading so the simpler the better as it usually avoids confusion.

[2020-02-04 06:50] jonpwilson opened #2116 "'Remore', 'Aplliance' and Access Key consistency"
I've spotted a couple of spelling errors:

- 'Remore' on the Add Replication Task page
- 'Aplliance' on the tooltip for 'Access key ID' on the Add Appliance page

Additionally, there's some inconsistency with how 'Access key' is referenced, switching between 'Access key' and 'Access Key' across the page. I believe it should be 'Access Key' given the current 'Access Key' menu item and casing on tha

[2020-02-04 07:06] jonpwilson opened #2117 "Inconsistencies with File Sharing page initialisms"
Another minor issue...

The NFS, AFP and SFTP pages all use lower case for their initialisms when no share has been defined, for example:
![image](https://user-images.githubusercontent.com/6515084/73721423-1d08e500-471c-11ea-9127-ceef1e6b023d.png)
 These should be in uppercase which would keep them consistent with the rest of the page

[2020-02-04 08:24] jonpwilson opened #2120 "Issues with the Services page"
There are a few minor display issues with the Services page:

- 'NUT' is referred to as 'nut' in some places
- 'Infos' should be 'info' or 'information'

[2020-02-04 12:10] phillxnet commented on #2116
@jonpwilson Thanks for creating this issue to go with your existing pull request. It really helps with keeping our Web-UI attribution system working as intended.

[2020-02-04 12:14] #2116 closed

[2020-02-04 12:25] phillxnet commented on #2120
@jonpwilson Agreed, and well spotted.

[2020-02-04 12:52] #2117 closed

[2020-02-04 13:13] #2120 closed

[2020-02-04 14:21] jonpwilson opened #2122 "'Email' or 'E-mail' wording"
Hello,

I'm happy to make the changes to this, just wanted to check which one should be the consistent spelling of e(-)mail.

The menu item is 'Email':
![image](https://user-images.githubusercontent.com/6515084/73752540-0d5bc180-4759-11ea-947c-d54ccaf6d434.png)

The page that opens is 'E-mail':
![image](https://user-images.githubusercontent.com/6515084/73752571-1c427400-4759-11ea-810b-7991898c4383

[2020-02-04 14:36] FroggyFlox commented on #2122
Another nice spotting, @jonpwilson !

I agree with you that we need consistency there. The question is then: which one?
I quickly looked it up and it seems that no consensus has been reached on either form of the word. The hyphenated "e-mail" seems to progressively fade away in favor or the non-hypenated form "email", so I would lean towards the latter ("email").

I also personally prefer "email"

[2020-02-04 14:40] jonpwilson commented on #2122
I'm glad I wasn't the only one who couldn't find a consensus. The closest I've found is that Merriam-Webster appears to redirect 'email' to 'e-mail': https://www.merriam-webster.com/dictionary/email

I don't have access to the main dictionary itself, but the OED uses 'e-mail' on its own site:
![image](https://user-images.githubusercontent.com/6515084/73754276-113d1300-475c-11ea-9f86-9d64d29049ec.p

[2020-02-04 14:57] FroggyFlox commented on #2122
That begins to be a fun little conversation :) .

I noticed the same about Merriam-Webster, but also noticed it seems to be among the last few institutions to retain recommendation of "e-mail". Others who used to be in the same group now favor "email" apparently, that's why I was thinking it's "only" a matter of time before Merriam-Webster too adapt.

The more I think about it, the more it looks l

[2020-02-04 15:06] jonpwilson commented on #2122
Ha! That's entirely the reason I created this rather than just making the changes, I wanted someone else to justify it for me :)

I'll make the change to a 'email' then, the consistency is more important to me than a hyphen!

[2020-02-04 15:07] FroggyFlox commented on #2122
I couldn't agree more; thanks a lot for taking care of this!

[2020-02-04 18:29] #1953 closed

[2020-02-04 18:43] #2115 closed

[2020-02-04 19:34] rayfoss commented on #1826
any workarounds? can be a serious issue in modern harddrives, qlc, an shingled drives

[2020-02-04 19:58] jonpwilson opened #2123 "Disabling AFP doesn't actually disable it"
As reported by anborn on the [forums](https://forum.rockstor.com/t/unable-to-deactivate-afp-service-in-web-ui/6727), I'm creating the issue as I have the same problem.

Version: 3.9.1-16

Steps to recreate:

1. Login to the GUI
2. Head to 'System' -> 'Services' and toggle 'AFP'
3. Wait a second and it will refresh and turn itself back on.

![rockstor_AFP_disable](https://user-images.githubusercont

[2020-02-04 21:41] jonpwilson commented on #2122
Apologies for the double PR - I had an issue with Sublime deleting most of the JSON in the fixtures which I'd only spotted after I created it. Reverting the changes didn't reflect in the created one so I had to create a second.

Sorry!

[2020-02-04 22:23] phillxnet commented on #2122
No worries at all. I've left a note on your pr re the fixtures stuff that should help here.

[2020-02-05 07:37] jonpwilson commented on #2123
Just a bit more info (and hopefully jog someone's memory!) but it appears that something is restarting the service in the background:

Running `systemctl stop netatalk.service && systemctl disable netatalk.service && watch systemctl status netatalk`:

![rockstor_netatalk_restart](https://user-images.githubusercontent.com/6515084/73820474-c7027300-47e9-11ea-9283-26a7eab6f717.gif)

[2020-02-05 10:34] phillxnet commented on #2123
@jonpwilson Thanks for starting out this issue, I don't think we have a lot of AFP users and I was thinking of scrapping the entire service as per openmediavault (needs link) but if we can fix this and the service is workable within our openSUSE offerings then it might be nice from a continuity point of view to try and keep it around. However I can't at the moment spend much time on this and given

[2020-02-05 16:01] #2122 closed

[2020-02-09 18:07] bored-enginr opened #2126 "[OpenSUSE] Pool not created - wrong device path"
I tried to create a pool on a Dell PERC/6i with three 300GB SAS drives.  This is Rockstor on OpenSUSE Leap 15.1.  This was intended to be just for testing until new equipment arrived.  It appears that the path generated in pool.py or btrfs.py is wrong.  (I can't tell where the path is created without looking deeper.)

uname:
`ordvac:~ # uname -a
Linux ordvac 4.12.14-lp151.28.36-default #1 SMP Fri

[2020-02-10 01:25] FroggyFlox opened #2127 "[openSUSE] source smb.service from package's default"
Thanks to @defmonk0 for identifying a shortcoming in our current implementation of Samba.

Our current way of configuring the Samba service uses our own default `smb.service` config file that we put in place of the distribution's default package located at `/usr/lib/systemd/system/smb.service`. As a result, we can ensure consistency in our config, but we do lose our chances at keeping compatibilit

[2020-02-10 10:43] phillxnet commented on #2126
@bored-enginr Are you certain this affects only our Built on openSUSE variant. I.e. does this also behave similarly on a fully updated Stable channel release (currently CentOS only). This is quite important as then it is generic, which is what I suspect. And we need to remove the [openSUSE] stipulation here. Contact me on the forum (I have the same user name there) via PM if you are up for testing

[2020-02-10 15:00] FroggyFlox commented on #2127
For reference, the `smb.service` default config in Tumbleweed is the same as in Leap 15.1 despite using a more recent version of samba (4.11 in TW_20200207, 4.9 in Leap 15.1).
This is also further confirmed to work properly in Tumbleweed by forum user _gaspode_ in the post below:
https://forum.rockstor.com/t/opensuse-testing-channel-live-early-adopters-developers-only/6592/6

[2020-02-10 18:32] phillxnet commented on #2026
I am currently working on this issue.

[2020-02-10 22:12] mikey0000 opened #2129 "Include sites-enabled in nginx.conf"
I've got a custom nginx.conf which has added this line.

include /opt/rockstor/etc/nginx/sites-enabled/*.conf;

and server names.

every time rockstor updates it nukes my changes so figured adding it should be the better option. Can PR, not sure how to address adding multiple domain names, is this in the docs?

[2020-02-11 08:12] bored-enginr commented on #2126
I'm now certain that this affects only the OpenSUSE variant.  A screenshot after the pool was created on the same hardware (one of the drives was different) is attached.  (I didn't have time to update system.  If you feel it's necessary, I can revisit this in a few days.)

![Rocktstor - Centos](https://user-images.githubusercontent.com/60852970/74218888-a5751180-4c57-11ea-9f37-0839a0e684ff.PNG)

H

[2020-02-11 09:20] phillxnet commented on #2126
@bored-enginr Thanks for the follow:

Yes, we do need to compare the function on this hardware across the same version of code really: as per our forum PM, but as you say this will take some time so we circle back around to that.

This is my suspicion also, and we have seen this. It may also be down to a driver difference between our now old kernel in our CentOS based offering and the much newer b

[2020-02-11 11:31] phillxnet commented on #2129
@mikey0000 I'm not sure this has a place in Rockstor's core code. Our Nginx server is part of the 'appliance' side of things and I don't want it to become a generic web server config as that would constitute mission creep. I see that if it's running one might want to use it but I think the Appliance / Rockstor way to have a configurable web server would be to use something like this pending rock-o

[2020-02-11 14:06] FroggyFlox commented on #2129
@mikey0000 , following up on this comment, maybe the recently added Nginx Proxy Manager might be of interest to you. See the forum post linked below for some resources:
https://forum.rockstor.com/t/rock-ons-changelog/6469/11

[2020-02-11 15:29] #2108 closed

[2020-02-11 16:14] FroggyFlox commented on #2127
For reference, this issue should also address the undesired service start upon configuration save bug that was described in the comment below:
https://github.com/rockstor/rockstor-core/pull/2109#issuecomment-584296016

[2020-02-11 17:49] mikey0000 commented on #2129
Thanks for the quick response, I'll take a look today.

[2020-02-11 18:57] #2026 closed

[2020-02-11 19:36] phillxnet commented on #2126
@bored-enginr

Continuing here for now as I've got a quick command output request.

Just had another little look at this. As you have shown in your ls -la output on an openSUSE base our later code looks to be 'finding' the wrong by-id names ie not those in:
[code]
which look just dandy.
But those in:
[code]
which are the strange i_Adapter_long_hexadeximal_here ones that it's using in error and fai

[2020-02-11 21:53] jonpwilson commented on #2123
Hi @phillxnet,

Sorry it took so long to reply but the above sounds sensible to me.

The original issue reported in to forum can be 'fixed' in the short term by deleting the `/etc/netatalk/afp.conf` file and killing netatalk, without the AFP config there it fails to reload and stops trying (at least for me).

I'd had a quick look at the code and wound up at the same file as you mentioned in #1735

[2020-02-11 22:20] phillxnet commented on #2123
I know, but I just don't think we have that many Mac users. No way to tell really though, but given the number of folks that have stepped up to fix AFP stuff I'm thinking there just arn't that many. But on the other hand the SMB Time Machine issue has gotten some attention.

Agreed, I think it's pretty much destined to be removed now. I've spoken again with @FroggyFlox and that does seem to be the

[2020-02-12 14:51] phillxnet commented on #1877
Adding link to the python 2to3 library docs:
https://docs.python.org/2/library/2to3.html#to3-reference

[2020-02-13 18:28] FroggyFlox commented on #2127
I currently have a work-in-progress branch with working fixes for both of these issues:
- use default package smb.service as template in openSUSE-based systems
- only restart smb service if it is currently ON.

I now need to start working on the respective unit tests as none exist for `samba_service.py`.

[2020-02-13 19:06] JasonTarka opened #2131 "[RockOns] Generate links to docker images used"
A suggested change to rockstor/rockon-registry#155 was to state what Docker image was being used, and include a link to it.

I can understand the desire to include this, but it feels like this should be done automatically by the Rockstor UI. Generating the links dynamically would improve consistency (especially visual), reduce manual effort, and lessen the chances of the links becoming stale if th

[2020-02-15 09:16] CJandDarren commented on #1822
I also started to get this.
Firefox 72.0.2 (64-bit)
Manjaro Linux 18.1.5
RockStor 3.9.2-53

But as stated if I do a ctrl-F5 it does not return.

D..

[2020-02-15 10:45] CJandDarren commented on #1466
Well, I have just gotten Rockstor 3.9.2-53 up and running but when I go to install plex it does the installing wheel then just disappears. I looked in the /opt/rockstor/var/log but did not find the right log I think. I went through a few of them but found nothing with Plex in it.

If you need any information or testing just yell.

[2020-02-15 13:10] FroggyFlox commented on #1466
Hi @CJandDarren ,

I see this kind of behavior some times when running in a VM that has some networking issues and thus cannot contact docker hub to pull the image. I wonder if you suffer from something similar.

I thus would have a very stupid suggestion but I still need to: if you haven't done so already, I would first make sure the issue is still there after a complete shutdown and reboot of th

[2020-02-15 13:51] CJandDarren commented on #1466
Here is what I got, from the suggested commands.

**` docker info`**
[code]

[code]

docker pull linuxserver/plex
Using default tag: latest
latest: Pulling from linuxserver/plex
Digest: sha256:fd3e75fca88e7e6d253e7c5e2825c4d0097cce241268148bcd6d6bfaa4f54818
Status: Image is up to date for linuxserver/plex:latest

[2020-02-15 13:52] CJandDarren commented on #1466
Tried reinstalling after a reboot. Nada still not installing.

[2020-02-15 14:27] FroggyFlox commented on #1466
Thanks for the additional information. I just saw your posts on the forum and it seems the cause of this current issue relates to what you described in the forum. We'll thus need to figure that one out first.

[2020-02-15 14:35] CJandDarren commented on #1466
Sorted out that issue. it was me being forgetful and not adding the rockstor directory.
but still no luck with installin it after fixing that.

[2020-02-15 15:17] phillxnet commented on #1466
@CJandDarren Hello again.
Could you make certain your Rockstor verrsion via:
[code]
and ensure that you have done all the steps as descried in our doc on installing Plex:

http://rockstor.com/docs/docker-based-rock-ons/plex-media-server.html

Please also note that we would be best to pin this down prior to contributing to this now 4 year old issue. It's simply not the case that our Plex Rock-on ha

[2020-02-15 15:18] phillxnet commented on #1466
@FroggyFlox  and @CJandDarren
This issue is earmarked for closure if @CJandDarren current report turns out to not be related to the original poster. Apologies all, I need to do some tidy up.

[2020-02-15 19:59] phillxnet commented on #2131
@JasonTarka Thanks for the issue creation, sort of overdue to break this one out. If you fancy having a go at this one then just make a note here to avoid and duplication of effort.
Linking to our Contributing to Rockstor - Overview doc section:
http://rockstor.com/docs/contribute.html
and specifically the Developers sub-section:
http://rockstor.com/docs/contribute.html#developers

There is also t

[2020-02-15 20:05] phillxnet commented on #2129
@mikey0000 Just a notification that the previously linked generic official nginx docker Rock-on has now been merge and published, thanks to @JasonTarka resurfacing after the pull request suffered from my neglect. I believe that @magicalyak is also likely to spin us up a linuxserver.io variant that should make for a nice complement to the bare and no-config-by-default existing nginx Rock-on.

[2020-02-16 09:01] tyukh opened #2132 "[openSUSE] basic config settings for Postfix on Rockstor install stage"
Config **/etc/postfix/main.cf** need modification from default value `inet_protocols = all` to `inet_protocols = ipv4` in case disabling IPV6 in NetworkManager and error in saving alert mail setting in Rockstor GUI.
Config **/etc/postfix/master.cf** need modification from commented default value `#tlsmgr unix - - n 1000? 1 tlsmg`  to `tlsmgr unix - - n 1000? 1 tlsmg` in case using SMTP TLS encrypt

[2020-02-16 09:11] tyukh opened #2133 "[openSUSE] fix cert file path in alert mail config"
Need change **/etc/postfix/main.cf** value form `smtp_tls_CAfile = /etc/ssl/certs/ca-bundle.crt` to `smtp_tls_CAfile = /etc/ssl/ca-bundle.pem` as OpenSUSE uses different cert type and path.

[2020-02-16 13:42] phillxnet commented on #2133
@tyukh Thanks for creating this issue, with fix included: nice. Much appreciated.

[2020-02-16 13:45] phillxnet commented on #2132
@tyukh Thanks for this. Nice to have an issue submitted with included fix.

If you fancy having a go at either of your issues or any others then do make a quick note on the relevant issue to avoid duplicated effort. I say this as given the relevance of these to our openSUSE move I may well have a go at them myself. I will likewise make a note if I get started on either of them.

[2020-02-16 14:11] phillxnet commented on #2133
@tyukh I am currently working on this issue, let me know here if I'm stepping on your toes.

[2020-02-16 14:42] phillxnet commented on #2132
@tyukh As this issue relates to our programmatic editing of /etc/postfix/main.cf, which is in common with your other issue that I am currently working on I'm going to take a look at this issue concurrently.

The issues are definitely properly separate but there treatment with rockstor code is close enough for me to sensibly, I hope, work on them in parallel. This may save me some merge conflicts d

[2020-02-16 15:21] phillxnet commented on #2132
Issue notes:
Changes to master.cf require a subsequent "postfix reload".

[2020-02-16 15:42] tyukh commented on #2133
Nope. I'm not familiar enough with the code base and design rules of the project as a whole, so my best leave that to a more competent person.

[2020-02-16 16:05] tyukh commented on #2132
I split this issue with #2133 cause i see three different solutions depends of project strategy in packaging and delivering. It can be solved 1. in basic iso image, or 2. in Rockstor install script, or 3. in runtime email alert setup script. Probably the third variant is the simplest at the moment, but probably 1 and 2 also deserve attention for strategic reasons.

[2020-02-16 16:09] phillxnet commented on #2132
@tyukh Thanks for re-opening this issue as I would like to use it as the main one given it pertains to the configuration and we also have the issue of sysconfig potentially overriding us here given we edit these files in code.

I've already begun working on this issue and have made some headway under a branch similar to this issue, hence the re-opening.

[2020-02-16 16:12] tyukh commented on #2132
Sorry, it was github' newbie mistake

[2020-02-16 16:15] phillxnet commented on #2132
I think for the time being, re the various approaches, I favour 3 also currently and that is the way I'm going.

The proposed installer is JeOS based but we are really trying to maintain compatibility with a lightly config modified Leap15.1 hence we can't approach this only in the ISO as not vanilla Leap installs will then work.

I'm not favouring the 'instal script' as we have to modify / re-asse

[2020-02-16 16:46] tyukh commented on #2132
By the way, I came across a problem with mail alerts when I received an error in viewing the SMART (bad) state of one of my disks: since I didn't have mail alerts configured I received a script error GUI pane. So another issue - checking is email alert is configured before trying to send email warning of SMART status.

[2020-02-16 17:04] phillxnet commented on #2132
...

I'm not so sure of that as this didn't happen in our CentOS base. And we can't require folks to enable and configure email notification, so all stuff should just be emailed to root in that case. So yes, it would be good to have that as another issue with all relevant details. But I can't imagine that openSUSE default config doesn't email root issues as they arrise. Maybe it was down to how ou

[2020-02-16 17:26] tyukh commented on #2132
I have reproduce error in SMART. Postfix failed to start cause `inet_protocols = all` so it's mostly OpenSUSE specific and linked to that issue. Here log:

[code]

[2020-02-16 17:57] phillxnet commented on #2132
@tyukh Re:

That's good to know, Thanks. So another knock-on of our ipv4 only Network Manager setting then.
Cheers.

[2020-02-16 18:23] phillxnet commented on #2132
I have confirmed that a default sysconfig re-writes our mail config on a JeOS install; post edit we have:
[code]
and we have a reversal of our config to the openSUSE sysconfig defined defaults.
[code]
Editing /etc/sysconfig/mail and changing:
[code]
to
[code]
and our config.postfix leaves our settings alone there after.
[code]
cat /etc/postfix/main.cf | grep inet_protocol
inet_protocols = ipv4
con

[2020-02-20 18:05] FroggyFlox opened #2136 "[Samba] Enable the btrfs vfs module"
During my research for #1910 , I came across a potential improvement of our global SMB implementation:

As of Samba 4.1.0, Samba carries a **Btrfs VFS module** that enables the support of _Btrfs enhanced server-side copy offload_:
https://wiki.samba.org/index.php/Server-Side_Copy#Btrfs_Enhanced_Server-Side_Copy_Offload

The Samba wiki reads:

It simply requires to add the vfs module on a _per shar

[2020-02-20 21:58] phillxnet commented on #2136
@FroggyFlox Re:

I think that's a great idea, Nice find. Lets do it.

[2020-02-20 22:09] FroggyFlox commented on #2136
Sounds good. I'm not sure (yet) how to test any performance improvement with it, but on paper I don't seem to see how it could be worse, at the very least.
I'll probably include this when working on #1910 .

[2020-02-21 00:40] FroggyFlox commented on #2136
Of note, there's also a `snapper` module of and when we get to implement it.
https://www.samba.org/samba/docs/current/man-html/vfs_snapper.8.html

Linking to #1491 for later consideration and evaluation.

[2020-02-21 16:34] phillxnet commented on #2136
@FroggyFlox Re:

It is of course your call, but it might make for a nice little concise pr to highlight this potentially significant 'feature' addition within the changelog. But we could also do that by bending our changelog convention.

No me neither, though I'd imagine copying a large file, using a sufficiently new enough SMB client, from one subvol to another within the same pool should be much

[2020-02-21 16:37] phillxnet commented on #2136
@FroggyFlox Re:

Yes snapper integration would be nice, and @sfranzen in the issue you linked, did a tone of work in that direction. Maybe once we are fully moved over we can pick that up again.

[2020-02-21 18:10] FroggyFlox commented on #2136
Good point. As it's not a pressing matter, I'll keep it separate so that we make sure it doesn't mess with the other vfs modules we'll have to add for #1910. That again looks like a good candidate for Testing channel, incidentally.

Thanks for your very informative input!

[2020-02-21 21:37] phillxnet opened #2137 "temporarily remark out all currently failing unit tests"
For some time we have had a number of failing unit tests, almost exclusively due to them becoming outdated with regard to the code they test; that now makes a comparison across our distro bases less convenient.

It is proposed that we remark out all currently failing unit tests as per our to-be-legacy but still reference CentOS source build. This should help in more easily seeing any new failures

[2020-02-22 16:34] FroggyFlox commented on #1910
@wiza , @TexasDex , @rayfoss , @phillxnet ,

I'd like to move forward with this but as I unfortunately do not have any OS X client, it is difficult for me to make sure the changes required are actually correct and appropriate. I would thus like to enlist your experience and help with that.

In order to keep things a little more simple and focused, I'm trying to first get the Samba portion right, a

[2020-02-22 19:58] tyukh opened #2138 "Rockons: 'advanced settings' ability to edit docker arguments string"
In some cases would be great to have subj. Sample: `linuxserver/plex` need command-line argument `--gpu all` for using nvidia hardware transcoding. At the current state it would be need create new .json for Plex with nvidia support.

[2020-02-24 14:55] phillxnet commented on #2132
Linking this issue to to a pre-existing issue re the /etc/sysconfig/mail mechanism discussed earlier:

[openSUSE] disable config.postfix as we edit main.cf directly #2035

I have in turn edited the pending pr as closing #2035 as well.

[2020-02-24 15:07] phillxnet commented on #1324
Linking back to a forum post by forum member Hooverdan relating to this issue, with an indication of it's potentially blocking an update:

https://forum.rockstor.com/t/rockstor-hdparm-service-has-failed-during-after-upgrade/6756

[2020-02-24 16:25] #2035 closed

[2020-02-24 16:25] #2132 closed

[2020-02-24 16:25] #2133 closed

[2020-02-24 21:15] #2127 closed

[2020-02-26 14:37] phillxnet commented on #2006
@FroggyFlox Thanks for the pointers on this on.
I'm reluctant to use your highlighted repo as there are no Leap 15.2 builds (currently in beta) and no aarch64 but the single derived package from your highlighted repo looks more promising:

https://build.opensuse.org/package/show/home:Knurpht:Extras/shellinabox

Plus this repo's maintainer has an @opensuse.org email address.

[2020-02-26 15:35] phillxnet commented on #2006
@FroggyFlox OK, so if we drop the 15.2 availability with the hope it arrives in time, we also have a more direct drop-in replacement that includes a move to systemd & firewalld. Our other openSUSE options thus far have still used chkconfig and SuSEfirewall2 where as our shellinabox related code currently expects systemd capability.

Maintainer @suse.com with this time 2 other Users involved with t

[2020-02-26 18:09] FroggyFlox commented on #2006
Hi @phillxnet, and thanks for having a look at that one.

The second package you list seems really good, especially if it's a drop-in replacement! It actually seems like a perfect replacement if I understand correctly.

[2020-02-29 13:06] tyukh opened #2139 "[OpenSUSE] IPV6 isn’t disabled by Yast and/or sysctl config"
**Problem:**
[code]
**Effects (_need verification_):**
Docker: cannot load an image from the repository on the first run attempt
[code]
Postfix: get in error when adding email account in Rockstor's Email alerts section
[code]
**Solution:**
Edit `/etc/default/grub` and append `ipv6.disable=1` to `GRUB_CMDLINE_LINUX`
`GRUB_CMDLINE_LINUX="ipv6.disable=1" `
Now, need to regenerate the `grub.cfg` file

[2020-02-29 14:33] phillxnet commented on #2139
@tyukh  Thanks for another find and fix report. Much appreciated.
Re the system wide ipv6 disable via grub:

I think I'd rather go the sysctl route as we already do some editing there in initrock I believe where as we currently don't mess with grub and I'd rather leave it that way if possible.

Do you have, or can you provide, the equivalent sysctl entries to globally disable ipv6? As for Yast, ou

[2020-02-29 14:43] phillxnet commented on #2139
@tyukh OK just had a quick look and our existing sysctl edits originate in initrock but are centered around our flash_optimize.py file:

https://github.com/rockstor/rockstor-core/blob/master/src/rockstor/scripts/flash_optimize.py

So we could do another script like this that in turn adds/edits the required ipv6 disable commands, and likewise is called from initrock so we have the central orchestra

[2020-02-29 15:24] tyukh commented on #2139
I did not check it in Leap, most likely it (email issue) is specific to the Tumbleweed. I decided to give Tumbleweed one more chance, got a lot, ahem, entertainment.

I mentioned _Yast_ simply because the [topic](https://forum.rockstor.com/t/opensuse-dev-notes-and-status/5662) mentions disabling IPV6 with _Yast_. _Yast_ itself simply adds a line `net.ipv6.conf.all.disable_ipv6 = 1` to the _sysctl_

[2020-02-29 21:47] FroggyFlox commented on #2139
Thanks a lot for the report and the commands to check it, @tyukh !

As I have seen that docker error in the past a few times in my leap 15.1 VM, I was curious and wanted to verify it. I actually have seen it with my VMs running on a laptop that moves between networks while being asleep. As a reboot of the laptop fixes it, I thought it was due to my VirtualBox network being a little lost with the l

[2020-02-29 21:57] phillxnet commented on #2006
I am currently working on this issue.

[2020-02-29 22:03] tyukh commented on #2139
As I see the IPv6 protocol is not disabled in your configuration (IPv6 addresses are assigned for lo and eth0 interfaces). The problem occurs if there is no IPv6 assigned to the interfaces, but the services continue to try to use IPv6 protocol. Apparently, non-disabled support for IPv6 is also a solution to the problem, with the exception of support for IPv6 by Rockstor.

[2020-02-29 23:43] tyukh commented on #2139
For clarification: my steps was following
- clean install latest Tumbleweed with enabled _NetworkManager_
- config interfaces via _nmtui_, IPv6 DHCP settings - "disabled"
- IPv6 disable by _Yast_'s network settings
- _Rockstor_'s install from Rockstor-Testing repo
- geting error in _Rockstor_'s email settings
- attempted disable IPv6 with _sysctl_ configs
- still getting error
- disabling IPv6 wit

[2020-03-01 10:56] tyukh opened #2140 "[RockOns] Auto shift and availability check of port number value"
**Issue 1.**
Not installed still (and possibly never) rock-ons is used for get a list of busy ports.
[https://github.com/rockstor/rockstor-core/blob/master/src/rockstor/storageadmin/views/rockon.py](https://github.com/rockstor/rockstor-core/blob/master/src/rockstor/storageadmin/views/rockon.py)
[https://github.com/rockstor/rockstor-core/blob/master/src/rockstor/storageadmin/views/rockon_id.py](htt

[2020-03-01 11:36] tyukh opened #2141 "[RockOns] "opts" section in rockon.json is incorrectly transferred to the container if it contains quotation marks"
**.json fragment:**
[code]
**Result of `env` command in container:**
[code]
**Issue:**
`NVIDIA_DRIVER_CAPABILITIES` transferred in container with leading space symbol

**Workaround:**
need to change string in .json to `[ "-e", "NVIDIA_DRIVER_CAPABILITIES=compute,video,utility" ]`

**Cause:**
I not enough familiar with python but believe what source that issue in function run_command specifically i

[2020-03-01 15:23] FroggyFlox commented on #2141
Hi @tyukh ,

Thanks again for yet another nice find and detailed report, that makes it very clear what the issue is.

Upon reading the first section of your report, I was going to suggest to simply split your `-e` declaration as that is, I believe, the intended way to use the `"options"` object. All of it is from memory as I can't test and verify it at the moment, but what you list as a workaround

[2020-03-01 15:50] FroggyFlox commented on #2140
Hi @tyukh,

Again, thanks for a clear description. It does seem to make a lot of sense to me at first look, but I'm a little rusty on this specific part of the rock-ons logic so I would have to find some time to look at all the details.
I've unfortunately been very short on time lately and have to spend the little I had on trying to fix the last few remaining blockers for our openSUSE transition (

[2020-03-01 16:38] phillxnet commented on #2139
@tyukh Thanks for the clarification. I get it now, and I had initially mis-understood your point: that yast / sysctl does not completely disable ipv6 system wide for all programs. And yes the intention was to do just this as currently our Web-UI can only configure for ipv4 so we should, with our appliance aim, ensure the entire system is only using ipv4. Otherwise there are network configurations

[2020-03-01 18:52] tyukh commented on #2140
I'm clearly understand what rebasing on OpenSUSE's is top priority, so my issues reports about Rockons is mostly as anchor points for following project development and 'knot for memory' for myself, as an wiki on case if i will be have same problem in future and i completely will forgott how i dealt with it's :) Thanks and i will be patiently wait time when status of that issue changed to 'in work'

[2020-03-01 20:17] phillxnet commented on #2139
@tyukh OK, so I'm sold and I have now updated our canonical forum post re preparing a Leap15.1 as a stand in for our as-yet unreleased Kiwi config to build our pending next gen ISO installer. The relevant config in Kiwi was:
[code]
which results in the consequent install from an resulting ISO having the option thus implemented within the resulting grub config:
[code]
Thanks @tyukh  and @FroggyFlox

[2020-03-01 21:04] tyukh commented on #2139
Thanks for kind words and work you and @FroggyFlox do. Issue is closed.

[2020-03-01 21:04] #2139 closed

[2020-03-02 21:46] tyukh commented on #2141
A small addition. I tested the change in the _**run_command**_ function of the `cmd = map(str, cmd)` line to `cmd = shlex.split(" ".join(map(str, cmd)))` and the addition of `import shlex`. With this change, options like `"opts": [ [ "-e NVIDIA_DRIVER_CAPABILITIES='compute,video,utility'", "" ] ]`
or `"opts": [ [ "--gpus 'all,\"capabilities=compute,video,utility\"'", "" ] ]` now work absolutely co

[2020-03-03 12:07] phillxnet commented on #2141
@tyukh Nice find but I'm super reluctant to change run_command as it pretty much runs everything, including all our btrfs commands. So for this 'fix' to be accepted we would need assurance that all other uses of run_command are not adversely affected. There are a lot of them. But note that I haven't looked closely at what you propose. But from @FroggyFlox's comment this is more an issue higher up,

[2020-03-03 22:19] FroggyFlox commented on #1910
@wiza , @TexasDex , @rayfoss , @legbandj, @phillxnet,

I've made further progress on this, and now have a branch with working front-end and back-end logic, but we would still need to verify the samba settings to make sure they work as intended. Moreover, I also now have a corresponding avahi service file which should take care of advertising the Time Machine-enabled shares.

I will summarize the s

[2020-03-05 15:12] phillxnet opened #2143 "add known non unique product_uuid on HP MicroServer Gen8"
Thanks to David via support email for helping to diagnose another now known non unique product_uuid on an HP / HPE ProLiant MicroServer Gen8 appliance.

[code]

It is proposed that we add this to our list of known fake_puuids within:
https://github.com/rockstor/rockstor-core/blob/master/src/rockstor/system/osi.py
so that future ISO installers can side-step this motherboard's non unique firmware de

[2020-03-10 14:36] #2006 closed

[2020-03-11 18:39] #1910 closed

[2020-03-15 19:04] phillxnet commented on #2143
I am currently working on this issue.

[2020-03-15 20:05] phillxnet commented on #2143
Our new Appman facility has also reported the following duplicates:
[code]
Which I will be adding as part of this issue's resolution pr. Although not strictly related they are fake Appliance IDs but have no associated motherboard / model info. Appman also originally reported David's non unique product_uuid but through David's engagement via support email we can at least label one of these 3 fake p

[2020-03-15 21:00] FroggyFlox opened #2146 "Netatalk maintenance woes and deprecation by Apple"
For compatibility with Apple machines (and Time Machine in particular), we currently use the AFP service relying heavily on the Netatalk project. Unfortunately, the latter seems to not have been maintained for a little while and given the switch by Apple to using the Samba protocol, we may want to deprecate AFP as well to ensure we keep up-to-date with the needed specifications.

Moreover, Rocksto

[2020-03-17 20:45] #2143 closed

[2020-03-29 12:39] ManuelBachmann opened #2149 "Rockstor install; no HDD / SSD detected"
When i try to install Rockstor, in the GUI no HDD/SSD can be detected, and i cant figure out why. Any ideas?

[2020-03-29 14:24] phillxnet commented on #2149
@ManuelBachmann First off, welcome; but GitHub issues is not really the place for a support question such as this.

I would like to invite you to ask the same question, along with some information about your hardware setup, at our community forum:

https://forum.rockstor.com/

All current Rockstor developers are also forum members. Plus many other community members may have ideas on why you drive

[2020-03-29 14:24] #2149 closed

[2020-03-31 09:45] kri164 commented on #2139
Hi tyukh,
can I ask you,, why do you need to disable IPv6? Thank you for explain.

[2020-04-01 06:22] tyukh commented on #2139
Hi!
Since I am not a maintainer, I can only give my opinion. IPv6 is not used, has not been tested, and is completely unsupported in Rockstor codebase. Because of this, enabled IPv6 can cause potential problems and strange behavior.
For example, the configuration for a some service may have IPv6 settings (e.g. interface binding) that Rockstar does not expect and process.

[2020-04-01 16:16] phillxnet opened #2150 "Create a forum support topic link has insufficient character escapes for title"
On occasions, certain bug reports presented via our embedded "Houston, we've had a problem' page link (step 3) that normally helps in the creation of a pre-titled forum post results in a json output of the forum front page. On initial inspection it seems we are failing to adequately quote / escape Rockstor API error reports such that they do not translate, within the resulting URL, to forum URL re

[2020-04-01 17:42] #2146 closed

[2020-04-05 08:40] 20design commented on #2040
Hello,

There are a lot of great SBC out there, especially the Rockpro64 who have a PCIE 4x slot which make it a perfect candidate for a small NAS. Hopefully it will be supported 🙂

[2020-04-06 15:45] phillxnet commented on #2040
@20design

Agreed. We are not quite ready to extend out to AArch64 just yet but it is planned.
Please lend your voice to the linked forum thread where there are more Rockstor eyes as it may help to encourage this arch extension. I don't plan myself to tent to anything other than AArch64 however. Specific board mentions are also welcome, along with their associated arch and specification. It is als

[2020-04-06 23:49] polarathene commented on #2040
The issue with USB support is something that became more apparent to me with ODROID-N2(at least around it's release, not sure if they managed to resolve the issues), SBCs also had it worse if the USB drives weren't powered externally and relied on a stable supply from the board since it had a limited power budget to distribute iirc.

[2020-04-08 03:07] d-fay commented on #1613
I recently updated from an older version running on a older kernel and was able to start and stop rock-ons just fine. I've only turned one on (Plex) but I can no longer turn it off as it will immediately turn itself back on.

[2020-04-11 21:03] phillxnet commented on #1613
@d-fay I don't think your issue is the same as originally expressed in this issue. I'd like to request that you start a new forum post so that your particular report can be investigated:

https://forum.rockstor.com/

Put as much detail as you can about what you have done and what is not working as expected.

The issues here is likely not what you have reported and @maxhq's original report concerns

[2020-04-16 21:07] phillxnet commented on #1810
A requirement for this option to be added to our Web-UI filter of allowed options has recently come up again and it's affect on a raid 5/6 repair (remove missing disks) is under investigation by form member shocker in the following forum post:

https://forum.rockstor.com/t/unresponsive-system/6616/55

As well as general performance observations. In this case it is on a large pool which is where th

[2020-04-18 12:49] phillxnet commented on #2137
I am currently working on this issue.

[2020-04-19 18:56] phillxnet opened #2151 "improve password handling during config restore"
Within the configuration restore mechanism a fresh password is generated for each user saved in the configuration backup that does not already existing on the target system. The associated logging of this restore process includes these generated passwords. It is proposed that we remove this element of the restore logging process and improve our password generation process to be more in-keeping wit

[2020-04-19 18:57] phillxnet commented on #2151
I am currently working on this issue.

[2020-04-19 21:37] #2151 closed

[2020-04-19 22:33] #2137 closed

[2020-04-24 14:39] jediator opened #2154 "ALL mount points lost after reboot (version 3.9.1)"
I am running the latest stable rockstor (3.9.1) and after system reboot, all mount points (including to hard drives, pools and share drives) were lost.  The /etc/fstab doesn't show any persistent mounts other than for the OS.  Any suggestions how to resolve this?

[2020-04-24 15:02] phillxnet commented on #2154
@jediator Thanks for the report, however with no updates our 3.9.1 ISO is now over 2.5 years old. Our latest code, on the CentOS side is currently only in the Stable Channel but we do have an early adopters/developers only Testing channel in preparation for our re-launch as part of our 'Built on openSUSE' effrot:

## Relevant links
Update Channels: http://rockstor.com/docs/update-channels/update_c

[2020-04-24 15:02] #2154 closed

[2020-04-26 14:45] phillxnet commented on #1877
[code]

Linking to the following closed issues for context:

https://github.com/rockstor/rockstor-core/pull/1220 (early pinning and suggested replacement)
https://github.com/rockstor/rockstor-core/pull/1312
https://github.com/rockstor/rockstor-core/pull/1996
https://github.com/rockstor/rockstor-core/pull/1510

And from 1 month ago we have unknown compatibility with Python > 3.5 in gevent-websocket

[2020-04-26 16:43] jediator commented on #2154
Thanks Pill for your response.  I am an end user not a developer and expect a "stable" version to work reasonably well.  It seems that Rockstor is just a geek's toy instead of a true enterprise product.  If Rockstor just keeps chasing the latest technologies instead of ensuring product quality, you will loose a lot of end users like me to your competitors (e.g. FreeNAS etc..).  Sorry for complaint

[2020-04-26 19:53] freaktechnik opened #2155 "libpopt0 not in /lib64 on openSUSE"
As reported in https://forum.rockstor.com/t/can-not-create-an-sftp-share-on-opensuse/7026

It appears libpopt0 is not in /lib64 and instead in /usr/lib64 on openSUSE. This leads to a failure when creating SFTP shares.

The offending code is at https://github.com/rockstor/rockstor-core/blob/dc98a1cc59587cd9b5225da7cad0556cb84781e1/src/rockstor/system/ssh.py#L123-L127

When I checked on my system _o

[2020-04-27 11:04] phillxnet commented on #2129
@mikey0000 Just revisiting this issue. I'm proposing that we now close this issue as we now have the previously referenced nginx container in play. And I'd like to keep 'our' nginx config confined to just core Rockstor functions to try and keep things simple.

Are you happy to close this now we have the rock-on way to achieve an independent nginx which is obviously then completely configurable.

[2020-04-27 11:50] phillxnet opened #2156 "[NG] ROOT pool user share not displayed on page refresh"
When running on a system with boot to snapshots enabled, default when sufficiently large system disk is used (>19 GB or so), user created shares on this ROOT labelled pool initially appear as expected, but post page refresh are then no longer known to the Rockstor Web-UI. This does not affect non boot to snapshot configurations and is thus suspected as relating to a bug in our treatment of user cr

[2020-04-27 15:35] phillxnet commented on #2156
## Boot to snapshot config enabled (Leap15.2beta)
ROOT pool user share (+ default 'home') as initially created and displayed before page refresh.
As displayed in Shares overview table:
[code]
Note the Pool (Active mount options / Status) Quotas column for both contains:
[code]
## Non boot to snapshot config (Leap15.2beta)
Here we used a small 16GB system disk and so boot to snapshots was auto disa

[2020-04-27 15:48] phillxnet commented on #2156
And with debug mode on (default with source build) via:
[code]
During a shares page refresh we have:
## Boot to snapshot config enabled (Leap15.2beta)
[code]
## Non boot to snapshot config (Leap15.2beta)
Equivalent section of logs:
[code]

[2020-04-27 16:30] phillxnet commented on #2156
And to see just where we are 'putting' this new user created share in both configs:
## Boot to snapshot config enabled (Leap15.2beta)
[code]

User created share has parent 259 whose hierarchy is as follows:
- **ID 257** gen 19 **parent 5** top level 5 path @
--  **ID 258** gen 14951 **parent 257** top level 257 path @/.snapshots
---   **ID 259** gen 15544 **parent 258** top level 258 path @/.snaps

[2020-04-27 18:18] phillxnet commented on #2156
Given the following:

Our user created share (subvol) "test_share_01" has a parent that is a snapshot: we are in boot to snapshot mode after all. And in this case shares_info(pool) does not return this subvol as of interest. Hence upon refresh the share is 'filtered out' as non Rockstor related.
[code]

[2020-04-27 19:58] phillxnet commented on #2156
I am currently working on this issue.

[2020-04-28 02:07] mikey0000 commented on #2129
yes I'll close it now.

[2020-04-28 02:07] #2129 closed

[2020-05-02 15:29] phillxnet commented on #2076
In addition to the above, it looks like we may have an ordering issue at least on a clean source build for systems that already have postgresql running:
[code]
It would be prudent to explicitly stop postgresql prior to deleting the db dir, however the issue text approach would be much preferred, ie dropping our known databases only rather than taking a filesystem level approach.

[2020-05-04 11:55] phillxnet opened #2158 "inadvertent use of internal -1/-1 pool quote group flag"
Internally a pqgroup, pool quota group, of -1/-1 is used as a place holder for pool quotas disabled state or where a new quota group cannot otherwise be created, i.e. on a read only file system. In some 'corner cases' this internal value 'flag' is being used, inadvertently, in actual qgroup assignments. E.g.:
[code]
This issue's author has only, as yet, observed this behaviour in our 'Built on ope

[2020-05-04 12:01] phillxnet commented on #2158
This issue was observed during final testing prior to pull request submission for the following issue:
[NG] ROOT pool user share not displayed on page refresh #2156
which involve a re-work of our existing treatment of the root pool mount management.

A fix has been prepared and tested as working but is closely integrated with existing changes associated with this otherwise unrelated issue. An atte

[2020-05-04 16:04] phillxnet commented on #2158
@FroggyFlox Since this issue looks to have been down to a simple, read silly, programming mistake on my part, I thought it best on reflection to tease it out into it's own small pr. That way at least we will have a clear record of this fix without it being buried in the rather more complex, in progress, #2156 . It will also allow folks to 'hand apply' this if they are affected and not in a positio

[2020-05-04 16:49] #2158 closed

[2020-05-05 11:44] FroggyFlox opened #2160 "[openSUSE] NFS service status does not turn on in webUI"
Thanks to forum user shocker for reporting this issue in the following thread:
https://forum.rockstor.com/t/opensuse-leap-15-1-nfs-status-error/6960

Briefly, in openSUSE Leap 15.1, 15.2 beta, and Tumbleweed as well (presumably), the webUI toggle for the NFS service does not stick to its ON state despite being correctly turned ON on the machine.

After some investigation, this appears to be relate

[2020-05-05 11:45] FroggyFlox commented on #2160
I'm currently working on this issue.

[2020-05-05 18:07] #2160 closed

[2020-05-05 18:28] ubenmackin opened #2162 "BTRFS Scrub status shows Unknown with newer kernel"
Starting with btrfs-progs v5.2.1, the status output was changed which breaks some of the parsing Rockstor uses to get the scrub status and other information.

[2020-05-05 18:30] ubenmackin commented on #2162
I first noticed this on the CentOS build, when I was using a newer kernel back in September and posted on the forums:

https://forum.rockstor.com/t/trouble-using-newer-kernel-btrfs-progs/6342

I proposed an update and change here:

https://forum.rockstor.com/t/built-on-opensuse-testing-channel-live-early-adopters-developers-only/6592/22?u=kupan787

[2020-05-05 19:16] phillxnet commented on #2162
@ubenmackin Thanks for getting this issue sorted.
Linking for context to an issue that proposed a subset of your what you ended up addressing in your linked pull request for this issue:

"add ongoing scrub end time estimate" #1922

[2020-05-05 19:25] #1922 closed

[2020-05-05 19:25] #2162 closed

[2020-05-06 11:55] FroggyFlox commented on #2155
Hi @freaktechnik ,

I was thinking about looking into this one but wanted to check with you first to avoid duplication of effort: have you already started something on it?

Thanks again for reporting that, by the way!

[2020-05-06 16:24] freaktechnik commented on #2155
I have not done any code changes or similar - not familiar enough with python nor the actual process that is going on for this specific case. Se please, feel free to take a look @FroggyFlox.

[2020-05-06 16:45] FroggyFlox commented on #2155
Thanks a lot for your prompt reply! I'll see if I can fix that, then.

Cheers,

[2020-05-06 17:01] phillxnet opened #2163 "[NG] share import failure on quota rescan scheduled & on indeterminate lost qgroup state"
During the development of pr #2156 two previously unseen quote status reports were found to block the shares import process by producing uncaught exceptions. Both states are not thought to be sufficiently important to block an element of pool import.

### States handled inadequately:
- Quota related command output of "Quota data changed, rescan scheduled" and error of "ERROR: quota rescan failed:

[2020-05-08 14:43] #2163 closed

[2020-05-08 15:12] meresda opened #2165 "Email alerts not sending on openSuse 3.9.2-57"
I have configured and tested the email alerts. However system notifications are being rejected by my email server because they are being sent from "root@localhost".

Full text of error;
`The "MAIL FROM" email address root@localhost / 550-localhost you are using
    is not hosted on this server. Tried to use 550-root@localhost / localhost
    as mail from address. Sending mails from 550-addresses n

[2020-05-08 17:08] phillxnet commented on #2165
@meresda Thanks for the report. This one is curios though as we have only recently proved email notifications working for our Leap 'Build on openSUSE' rpm variants. This was last looked at in 3.9.2-54:
https://forum.rockstor.com/t/3-9-2-stable-channel-changelog/5741/21
via pull request: https://github.com/rockstor/rockstor-core/pull/2135
and no changes have happened in that area of the code since.

[2020-05-08 17:37] meresda commented on #2165
I can confirm that that I configured via the referenced document. The test email fires fine. I receive that no problem. It is subsequent system generated emails that fail. Here is a snip from the mail log. I replaced my personal email information with "external_host" and any IP addresses with XX

`2020-05-08T10:36:45.180112-04:00 165-backup postfix/pickup[24419]: 2BDAC1FD5DB: uid=0 from=<root>
202

[2020-05-08 18:01] phillxnet commented on #2165
@meresda OK, that great thanks.

Can you test to see if the email sent as per the pull request text command line test arrives or fails similarly:

"[openSUSE] fix postfix config re ipv4, tlsmgr, & CA file settings. Fixes #2132" #2135
i.e.:
[code]
@FroggyFlox later in that same pull request also tested successfully a scheduler task email failure. Can you see if that works for you.

So it looks like

[2020-05-08 18:04] phillxnet commented on #2165
@meresda On another note:

does this user/address relate to anything you have entered on the Web-UI?
I've not come across:

before.

[2020-05-08 19:17] meresda commented on #2165
I believe the 550 is a relay not permitted error. It is nothing that I have entered as part of an email address.

Using the mailx test, I get the same result. Except this time the error is `The "MAIL FROM" email address  /  you are using is 550-not hosted on this server.` Do I receive it  my root mail box. If I add the -r switch and enter my email address, the remote server accepts it.

I set up a

[2020-05-08 19:40] FroggyFlox commented on #2165
I just wanted to chip in on that one. I just tried the same thing before seeing your message and noticed the same behavior. I might have a idea on the cause, though, and have contacted @phillxnet to get his input.

[2020-05-08 19:53] FroggyFlox commented on #2165
In case this helps troubleshooting, here's what I have after fixing the little issue I mentioned above.

Upon creating conditions for a scheduled task to fail, the email is sent and correctly received. This was using a gmail address to send, and another gmail address to receive:
[code]

Hope this helps,

[2020-05-08 20:17] phillxnet commented on #2165
@meresda Re:

This narrows it down a little. Thanks.

Some where we are failing to alias the root user for the intended user. The test email uses the give 'From email' but system emails, such as cron failures etc are from root to root I believe. Sorry getting late here. And so all that is reported here now points to an alias / forwarding of root error.

@FroggyFlox Thanks for chipping in here that

[2020-05-08 20:34] FroggyFlox commented on #2165
Thanks a lot for the details, @phillxnet !

I'm sorry for all the messages, but postfix/email is completely unfamiliar to me :-(

Here's what I have in journalctl after `echo "Body text of email alert" | mail -s "Alert Email" root`
[code]

And I did receive the email in my gmail inbox with the following main headers:

| Message ID  | <20200508202347.E39DC70BB@localhost>                    |
|-----

[2020-05-08 21:14] FroggyFlox commented on #2165
@meresda,

Following-up on that: would you report the output of the following?
[code]
I would be surprised to see these not included in your install, but I'd rather make sure of that.

Thanks!

[2020-05-08 21:35] meresda commented on #2165
Both are installed. I might not have been clear, but the task did run (and fail). It just didn't generate emails.

[2020-05-09 15:14] phillxnet opened #2166 "[NGboot to snapshot robustness"

[2020-05-09 15:26] phillxnet commented on #2166
Initial point of failure here looks to be within initrock upon creating our /etc/issue.rockstor file:
[code]
It is proposed that we surround such write requirement with try except and log if possible (var is a separate subvol).

[2020-05-09 15:44] phillxnet commented on #2166
An example of the expected output upon executing a snapper root rollback after having booted in to a prior zypper initiated read only root snapshot is as follows:
[code]
The problematic Rockstor instance, in this case containing code changes associated with issue:

"[NG] ROOT pool user share not displayed on page refresh" #2156

to improve system ROOT pool/share management was then able to start a

[2020-05-09 20:02] FroggyFlox commented on #2155
After a quick investigation, there seems to be differences in the shared libraries dependency needed. If I'm correct, the following should give us what's needed:
[code]

Filtering out the redundancies between the two, we have the following:

| Current                 | Leap 15.2               | Tumbleweed (20200501) |
|-------------------------|-------------------------|-----------------------|
|

[2020-05-10 18:57] FroggyFlox opened #2168 "SFTP server runs unconfigured by default"
On a new Rockstor install, the SFTP server is running by default. While this isn't a problem in itself, it unfortunately means it's running with the default openSSH subsystem rather than the `internal-sftp` subsystem that we need.

As a result, users can export a share via SFTP without a problem, but access to it won't work. Although a current workaround is to simply turn the service OFF and then

[2020-05-12 13:01] FroggyFlox commented on #2168
I am currently working on this issue and have a working fix.

[2020-05-16 10:47] phillxnet commented on #2099
Thanks also to forum member kupan787 for another report of a reproducer though to indicate the same buggy behaviour re removal of detached disks. In this case via an image transfer of the system disk so there may be an additional wrinkle here re blocking of disk actions on the system disk. If this wrinkle is significant then we can always break that caveat out into it's own issue.

Linking to kupa

[2020-05-17 10:19] mattyvau opened #2170 "NFS improperly mounts shares with visible snapshots"
As reported in the forum thread [Can’t access NFS shares that have snapshots](https://forum.rockstor.com/t/cant-access-nfs-shares-that-have-snapshots/6766), NFS under rockstor does not currently allow one to effectively use shares that have "visible" read-only snapshots.

Such shares result in snapshots being mounted under `/exports/.<snapshot_path>` and the end user being presented _only_ with sn

[2020-05-17 15:39] FroggyFlox commented on #2005
@flukejones, @phillxnet ,

While working on #2168, I noticed that the default sshd_config post install (in both Leap 15.2 JeOS and Tumbleweed) has:
[code]

As a result, I believe this issue should no longer cause the problem of blocking all users from ssh access.

I wonder, however, if we shouldn't build upon this and surface this as a customization of the SSH service in the webUI. While keeping `

[2020-05-18 12:38] phillxnet opened #2171 "[NG] share rollback failure (snap-to-share) on indeterminate lost qgroup state"
While working on the second revision of pull request #2156 it was found that a pool exhibiting an indeterminate quota state, "ERROR: cannot find the qgroup" in combination with a quota rescan requirement: "WARNING: qgroup data inconsistent, rescan recommended" would cause a share rollback to fail unnecessarily. By extending btrfs quota error checks added as part of:

"improve pool import robustnes

[2020-05-18 19:34] #2155 closed

[2020-05-18 19:42] #2156 closed

[2020-05-18 19:42] #2171 closed

[2020-05-19 01:18] FroggyFlox commented on #2168
@phillxnet ,

I believe I now have a working fix.

There are a few options on which I'm hesitating:
1. Turn the service ON or OFF by default. The default `sshd_config` has the openssh server running by default, so for now I made the `internal-sftp` server defined in the config during `initrock,py` and thus ON by default. We could easily turn it OFF by default, however, as it might be better from a

[2020-05-19 10:01] phillxnet commented on #2126
@bored-enginr Re:

Any chance you can paste the requested command outputs?

Once we have them in a unit test we can fix what's going wrong here. Pretty sure it's just an over site of these "scsi-SDELL_PERC_6" names going on. And in which case the fix may be fairly straightforward. But we will need those command outputs to ensure we do the right thing and to prove the fix.

Cheers.

[2020-05-19 10:27] phillxnet commented on #2168
@FroggyFlox Thanks for the nice run-down here.

I think the latter, if it doesn't interfere with our root users ability to login, which I'm assuming is ensured via the:
[code]
referenced in #2005, then I think it's a good way to go. But we must leave full ssh access for the root user fully functional if at all possible.

Re:

I think we should have ssh on by default, as per the default server prof

[2020-05-19 12:46] FroggyFlox commented on #2168
Thanks a lot for your feedback, @phillxnet !

I'll try to set the service ON by default, then.

You are correct: including `ForceCommand internal-sftp` breaks the rsync over ssh functionality. With or without it, the sftp connection and file transfer work, though.

OK. If I understand correctly, we can thus enforce the `ForceCommand internal-sftp` by default, and we can later work a webUI option t

[2020-05-20 16:12] PiotrSzalach opened #2172 "Error while replicating - Rockstor 3.9.2-57"
I'm trying to do replication between 2 instances. Both running 3.9.2-57

I get error.
[20/May/2020 11:02:01] ERROR [smart_manager.replication.sender:73] Id: CED72042-4E20-A540-0B52-011A4CE58E9C-2. Failed to create snapshot: STORAGE_2_replication_1. Aborting.. Exception: [u'Invalid api end point: http://127.0.0.1:8000/api/shares/STORAGE/snapshots/STORAGE_2_replication_1']

[2020-05-20 21:17] phillxnet commented on #2172
@PiotrSzalach Thanks for the report.

Can you start a thread detailing your finding on our forum, but first read the rest of this text as I had an idea later that matches your quoted errror:
https://forum.rockstor.com/
Then hopefully we can narrow down if all is setup correctly and get a reproducer for this issue.
I'm due to look at replication again soon so this may help.
Also we have an ongoing

[2020-05-27 15:31] shocker2 opened #2174 "Quotas enable/disable GUI bug"
Hello,
How to reproduce the bug:
Add more than 15 pools (to have two pages).
Go on the 2nd page and when you click the quotas disable/enable the GUI goes to the home page. For the first page, everything is working ok.

Tested with OpenSUSE Leap 15.2 (latest build) and Rockstor 3.9.2-58.

Cheers

[2020-05-29 13:12] valsimots opened #2175 "SAMA Service stays Off after reboot"
Rockstor 3.9.2-57
Linux: 4.12.4-1.el7.elrepo.x86_64

Upon reboot, SAMBA service does not automatically start.

[2020-05-30 01:08] FroggyFlox commented on #2175
Hi @valsimots , thanks for bringing light on that... I immediately think of a recent issue we seem to experience with a newer Samba update on our CentOS base so I'm wondering whether Samba is correctly enabled but fails to start.

I would guide you towards the recent thread of interest on our forum:
[https://forum.rockstor.com/t/samba-fails-to-start-on-fresh-install-3-9-1-16/7109/6](https://forum.

[2020-05-31 19:23] #2168 closed

[2020-06-01 12:11] phillxnet opened #2176 "establish new rpm/repo/project signing key ready for relaunch"
Our existing signing key is due to expire in a few months [expires: 2020-10-12]. To avoid the inevitable disruption that this will cause for updates, we sign both our rpms and their repositories, it is proposed that we move to a new signing key prior to establishing the next stable channel release which is to be 'Built on openSUSE' only. This way we confine the update disruption to our current 'Bu

[2020-06-03 20:04] FroggyFlox opened #2178 "[openSUSE] upstream defaults for systemd-presets are ignored"
We currently use a dedicated systemd-presets file (https://github.com/rockstor/rockstor-core/blob/master/conf/90-default.preset) in the high priority location `/etc/systemd/system-preset/` to define defaults enabled/disabled state for all systemd services.

Notably, this file ends with `disable *`, which sets a default disabled state for all services not defined in this file, and thus bypasses all

[2020-06-05 12:54] phillxnet commented on #2178
@FroggyFlox Agreed. Thanks for the exposition and the reference links.
Copying in the "openSUSE:Packaging_Branding" link referenced in your quote for reference:
https://en.opensuse.org/openSUSE:Packaging_Branding

[2020-06-05 13:44] #2178 closed

[2020-06-06 06:45] bored-enginr commented on #2126
I'm sorry for the delay.  I had some troubles that necessitated putting this aside for quite some time.  Here is the output of the command on the disc pool in OpenSuse.  This was taken several months ago:

COMPAT_SYMLINK_GENERATION=2
DEVLINKS=/dev/disk/by-id/wwn-0x690b11c0223db60025d91a4a09321e2c /dev/disk/by-id/scsi-SDELL_PERC_6/i_Adapter_002c1e32094a1ad92500b63d22c0110b /dev/disk/by-label/Main /

[2020-06-06 15:54] phillxnet commented on #2126
@bored-enginr Thanks for this. I'll hopefully now be able to reproduce this issue within our unit tests and sort it out. May be a little while unfortunately but would like to sort it as I'm pretty sure it's going to be down to a simple over-site.

I'll use this issue to report any progress.

Cheers.

[2020-06-07 17:17] #2176 closed

[2020-06-13 13:42] phillxnet commented on #2077
I am currently working on this issue, likely also working on the suspected as closely related:

"failure to remove detached disks via pool resize" #2099

[2020-06-13 19:57] phillxnet commented on #2077
By putting in a special case for last disk in pool being detached and avoiding the normal mount requirement, which is obviously nonsense in this case, and then special casing around our btrfs remove command, as this is a db issue only given no disks are attached that ever belonged to the pool. We can allow for removal but with a raged edge caveat:

### Test case: single disk pool with shares/snaps

[2020-06-16 14:31] phillxnet opened #2182 "usage displayed instead of available free in disk removal check"
We have a cosmetic bug where usage is displayed where available free space is indicated/intended. This can lead to confusing reports such as:

The disk removal blocker calculation is actually as intended but we simply display the wrong value.
I.e.:
[code]
Where available free is (pool.size - usage), not usage as is currently displayed.

[2020-06-16 14:35] phillxnet commented on #2182
A fix for this issue is to be included within my currently pending pull request as other changes in this area are required. So including the fix within the currently ongoing work to avoid pr dependencies as the fix in this case is trivial.

I will reference this issue as fixed in the relevant pull request.

[2020-06-16 14:41] phillxnet commented on #2182
Post the to-be proposed change/fix the same configuration then displays as intended:

[2020-06-17 11:00] mcbridematt opened #2183 "Enabling SFTP fails on non-x86-64 machines"
This is for pull #2181

Enabling SFTP fails on a non-x86-64 machine with this error message/stack trace in the Web-UI:
[code]

To my knowledge, this issue has been in Rockstor for quite a while - when I got it running on CentOS arm64 a long time ago I had to manually patch the ssh.py file.

[2020-06-17 16:30] FroggyFlox commented on #1588
A new forum user has encountered the same issue:
https://forum.rockstor.com/t/rock-on-install-fail-invalid-environment-variable-puid/7170

In addition to reinforcing the need for this issue to be fixed, let's try to update the forum thread above once this issue is closed.

[2020-06-18 16:52] rayfoss commented on #1826
I'm thinking of testing out a manual remount sometime after boot...

[code]

atime can make performance wildly unpredicatble

[2020-06-22 11:24] der-geraet opened #2185 "No disks Shown. Not a valid BTRFS Filesystem"
Today i started a very small project to create a NAS. For the os I decided to take Rockstor because it is easy to handle and the GUI makes everything easy. Well, i was wrong. After the installation guide (https://www.youtube.com/watch?v=nHwHy2otnd0&t=304s) it didn't work out as planned. First thing is that the os got back to its old system so the update wasn't worth it, and second the part i need

[2020-06-22 11:37] phillxnet commented on #2185
@der-geraet This is a know issue caused by the system drive in this case not having a serial number.

Check out our Quick start: http://rockstor.com/docs/quickstart.html Minimum system requirements section here: http://rockstor.com/docs/quickstart.html#minimum-system-requirements

There is a note on a required config for VMware use there.

Also I would advise that you ask such support type questio

[2020-06-24 15:35] #2183 closed

[2020-06-24 15:41] #2077 closed

[2020-06-24 15:41] #2099 closed

[2020-06-24 15:41] #2182 closed

[2020-06-24 15:44] phillxnet opened #2186 "add arm64-efi system pool subvol exclusion"
When running on arm64 efi systems we fail to exclude from our Web-UI surfaced sub volumes "boot/grub2/arm64-efi". It is proposed that we add this to those already excluded building on pr: "add root subvol exclusion mechanism. Fixes #1931" #1935

Example subvol displayed unintentionally (active mount options):
[code]
This is akin to our existing exclusion for x86_64 based systems added in the above

[2020-06-24 15:45] phillxnet commented on #2186
I am currently working on a small pr to address this issue.

[2020-06-24 17:28] phillxnet opened #2188 "add architecture aware repo configuration"
As we move toward providing official AArm64 rpms it has been found necessary to have the associated rpm repository discrete from our existing x86_64 ones. It is proposed that we do this by simply adding the machine arch, as returned by our exiting use of "platform.machine()" to our final repo url. But to preserve our existing installs validity we only do this if the arch is found to be NOT x86_64.

[2020-06-24 17:33] #2186 closed

[2020-06-24 22:27] djslmft opened #2190 "no update since 3.9.2-57 on centos repo"
hey guys,

there's no update in the centos rockstor repo since 57. release, i there any issue or cause that you aren't updating that one?
did i miss smthg?

[2020-06-24 22:51] StephenBrown2 commented on #2190
Yes, they are currently working on migrating to OpenSUSE, however the CentOS build is stable, and will remain supported at least until the built on OpenSUSE version is also stable.
https://forum.rockstor.com/t/rebasing-on-to-opensuse/5376 is the forum thread I've seen most often linked.
I see you've also posted [here](https://forum.rockstor.com/t/to-all-stable-channel-subscribers/6617/3), but I wo

[2020-06-24 22:53] djslmft commented on #2190
thanks for the quick reply

i just don't wanna miss anything, i close the thread and waiting for the solution

[2020-06-24 22:53] #2190 closed

[2020-06-25 14:17] #2188 closed

[2020-06-27 04:26] mcbridematt opened #2191 "[arm64] Discourage or prevent installation of Rockons that are not available on the machines architecture"
The good news is that Rock-ons work happily on arm64 as long as the containers used have [multi-arch manifests](https://www.docker.com/blog/multi-arch-build-and-images-the-simple-way/).
If not, the user may not find this out until they attempt to install a Rockon.
If the published Docker image only has a v1 (non-multiarch) manifest then Docker will pull the image regardless and the user will be gr

[2020-06-27 11:52] phillxnet commented on #2191
@mcbridematt This is a most welcome addition and excellent preparatory work.

Also way too many No entries there !! But enough Yes entries for sure.

Re:

Yes I think that's the way to go, along with some automation if we can. And add to our Rock-on pull request template that we favour multi arch images and to add the new proposed element (see below):

https://github.com/rockstor/rockon-registry/p

[2020-06-28 14:24] FroggyFlox commented on #2191
Thanks a lot, indeed,  @mcbridematt !

@phillxnet , thanks for all your details as well... I'll try to bring some additional input on that.

I agree with you that hiding an incompatible rock-on would lead to more problems than anything. Similarly, we need to keep compatibility in rock-on definition current rock-on definition files.

I do concur with the idea of providing a feedback on the UI itsel

[2020-06-29 11:59] mcbridematt commented on #2191
I'm not sure if it is just me, but 'docker manifest' does seem to take quite a while to grab the manifest information for each container image (about 5-10 seconds according to my stopwatch, on two different systems), so it may not be practical to run the architecture discovery on the 'client' (Rockstor install) side.

There might be a faster way to do it (given there is no such delay when pulling

[2020-06-29 16:09] phillxnet commented on #2191
@mcbridematt & @FroggyFlox Re

So we seem agreed that this would be pushing our luck, plus we have an outstanding 'sloppiness' where we pull docker info from our own repo way too often, apparently on each page refresh in some place. So we should really track that one down first and I doubt docker hub will like each and every one of our clients polling all our Rock-ons info and as stated, it just d

[2020-07-14 18:53] phillxnet opened #2192 "System disk not recognised when it is an SD or MicroSD card"
When the system disk/device is a MicroSD card this is not recognised as the "Rockstor System drive". As a result the user is presented with various inappropriate options, such as import wipe etc via the cog icon, rather than the "r" icon used to denote, and protect, the system drive from regular data drive options. Further to this the system pool is also not recognised.

The cause for this issue h

[2020-07-14 18:54] phillxnet commented on #2192
I am preparing a pull request, with a proven fix, to address this issue.

[2020-07-15 13:37] phillxnet commented on #2126
I am currently working on this issue.

[2020-07-17 16:37] #2192 closed

[2020-07-17 19:24] #2126 closed

[2020-07-19 14:54] FroggyFlox opened #2195 "Black formatting of python code"
Our python codes currently contains several inconsistencies in "style" that reduce code clarity and impede proper updates.

Recent pull requests have been including broad reformatting of their python code using the Black python code formatter:
https://black.readthedocs.io/en/stable/

I'm thus creating this issue to help keep track of such advances and promote a more widespread reformatting. Moreov

[2020-07-19 16:39] phillxnet opened #2196 "hide currently non functional auto update feature until post re-launch fix"
Our current Web-UI auto updates element is based on yum/yum-cron. However out current distribution target is now the recently released openSUSE Leap 15.2. Given our pending release/re-lauch, Rockstor 4, is it proposed that we postpone the not insignificant time to transition our existing integration of this capability to a native openSUSE counterpart until post relaunch. Especially given the criti

[2020-07-19 16:39] phillxnet commented on #2196
I am currently preparing a small pull request to address this issue.

[2020-07-19 19:46] #2196 closed

[2020-07-19 23:52] FroggyFlox commented on #2195
I am currently working on this issue.

[2020-07-26 14:31] FroggyFlox commented on #2195
@phillxnet ,

I'm nearing readiness for this work, but there were a few points I wanted to confirm/mention:

1. In a lot of cases, strings that were split in two lines are now combined into a single-line due to the higher character limit per line in Black. This results in a lot of cases as below:

**pre-formatting**
[code]

**post-formatting**
[code]

As you can see, this creates an undesirable `"

[2020-07-26 17:53] phillxnet commented on #2195
@FroggyFlox That all sounds great; 'above and beyond' in fact. Nice tidy on split stings in brackets there.

This should leave us with only code function, rather than formatting, patches from now on which is a major relief on the review process. It's been quite trying, trying to intergrate black formatting 'as-we-go' and has made the pull request preparation and review more difficult than it alrea

[2020-08-02 12:54] #2195 closed

[2020-08-05 14:22] phillxnet commented on #2040
@polarathene @20design @rayfoss

I am delighted to be able to close this issue as we now have official AArm64 support as from version 3.9.2-60 'Built on openSUSE' variant only:

https://forum.rockstor.com/t/beta-built-on-opensuse-testing-channel-changelog/7097/5

There are still some outstanding issues with incompatible Rock-ons not being filtered or flagged as such but we have an issue open speci

[2020-08-05 14:22] #2040 closed

[2020-08-06 03:46] djslmft opened #2200 "macOS related requests"
Hi guys,

just reinstalled my nas with opensuse, and you deprecated AFP from the newer builds, so I have to use SMB for sharing my stuff
made some research and found this site:
[https://wiki.samba.org/index.php/Configure_Samba_to_Work_Better_with_Mac_OS_X](url)
could you please implement most of these things in the default configuration?

and i have a question:
i try to change the icon in the Find

[2020-08-06 12:37] FroggyFlox commented on #2200
Hi @djslmft ,

Thanks a lot for your feedback and for your suggestions. The deprecation of AFP in favor of SAMBA was unfortunately somehow forced upon us as described in the forum announcement linked below:
[https://forum.rockstor.com/t/3-9-2-stable-channel-changelog/5741/22](https://forum.rockstor.com/t/3-9-2-stable-channel-changelog/5741/22?u=flox)

When I worked on implementing SAMBA for macOS

[2020-08-06 13:35] djslmft commented on #2200
Hi

first of all thanks for your quick reply

Some little things that maybe can be corrected such as custom folder icons
i don't know exactly, but i have much slower throughput with this new system, about double time the same file, laggy transfer

yes, I made with the kiwi

I'll try the settings when I'm done with the project I'm currently on

What do you mean exactly?

Thanks again

[2020-08-07 10:23] djslmft commented on #2200
looks like i got my bandwidth back :)

[2020-08-07 20:35] FroggyFlox commented on #2200
Hi @djslmft ,

May I suggest we take this conversation to our forum? We're indeed starting to provide some information that would be useful for a wide range of users, and our forum is best suited for this.
https://forum.rockstor.com

This way we can keep this issue focused on implementing the optimizations you listed and keeping track of it.

I will of course answer your existing questions here fo

[2020-08-11 14:56] FroggyFlox opened #2201 "All shares fail to mount if only one share is problematic"
See forum thread linked below for discussion:
[https://forum.rockstor.com/t/rockstor-bootstrap-allow-for-share-mount-to-fail/7254](https://forum.rockstor.com/t/rockstor-bootstrap-allow-for-share-mount-to-fail/7254?u=flox)

If for any reason one share of a given pool fails to mount during the `rockstor-bootstrap` procedure, all other shares fail to mount even thought they can be manually mounted wi

[2020-08-15 01:49] freaktechnik opened #2202 "Rockon with multiple containers requires same env variables for all containers"
Define a rockon with multiple containers. The two containers require a different set of environment variables to be set by the user. Installing the rockon will fail, due to an env variable that was set in the wizard not existing for one of the containers.

[2020-08-15 13:51] FroggyFlox commented on #2202
Hi @freaktechnik ,

Thanks a lot for your interest in multi-containers rock-ons; it's nice to see there's a lot of interest in this.

Unfortunately, I believe you are highlighted an issue that was previously raised (https://github.com/rockstor/rockstor-core/issues/1588#issue-196222237) and for which a pull-request was submitted (#1688). I personally am very motivated in getting to that one as soon

[2020-08-15 13:52] freaktechnik commented on #2202
I have found a workaround, which is to have the same set of env vars for all containers. Curiously this repeats the fields in the env var input, but will only show them once in the end table.

[2020-08-15 13:55] Gurgel100 opened #2203 "Shadow Copy Samba configuration wrong"
While testing out Rockstor this week I found a bug in the configuration of Samba. I setup periodic snapshots which where not hidden. If now Shadow Copies are enabled the path to the directory containing the snapshots and the format are wrong in the configuration and are therefore not working (Tested on Windows 10 1909):
[code]
After changing it to the following configuration the snapshots are show

[2020-08-15 15:42] FroggyFlox commented on #2203
Hi @Gurgel100 , thanks for a very-well described and constructed feedback!

First, and for context, here's the relevant part of the code:
https://github.com/rockstor/rockstor-core/blob/701be4067847fb218fc26b8e3faa938399f39141/src/rockstor/system/samba.py#L68-L77

Although I haven't tested it myself, I believe you are correct based on feedback from [shadowcopy users in the forum](https://forum.rock

[2020-08-15 18:12] phillxnet opened #2204 "improve no by-id dir handling"
In some virtual machine settings, when the minimum system requirements re drive serials are not met, the following error is presented directly after the initial "Set hostname and create an Admin user" form is submitted:
[code]
Where the root cause is a complete absence of the /dev/disk/by-id udev generated directory, simply because there are no device candidates, given no device serials, with witc

[2020-08-15 20:04] freaktechnik commented on #2202
This is what the resulting definition looks like btw: https://github.com/freaktechnik/rockons/blob/master/matrix-synapse.json

In theory only matrix-synapse needs GID and UID and only the postgres container needs the pw (though the pw bootstrapping doesn't seem to have worked in the first place)

[2020-08-16 11:56] FroggyFlox commented on #2202
That's a great candidate for a rock-on, especially given its reputation as being a little complex to setup!
Let's hope we'll be able to fix that underlying limitation relatively soon.

Thanks!

[2020-08-16 11:59] freaktechnik commented on #2202
Yeah, I've noted some of the caveats with the rockon I ended up with in the README. Essentially the TURN server can't STUN, and I didn't manage to get Element as part of the setup. I've now simply used the Element app for Nextcloud to self-host Element. I guess an even more advanced package would also include jitsi, though I think that could be a separate rockon that you can just integrate at rock

[2020-08-16 14:38] Gurgel100 commented on #2203
Thanks @FroggyFlox for your fast and comprehensive response. It seems that I might have missed the linked forum posts during my research.

I tested that again. It seems to work when I make the snapshots visible when using the Rockstor using the installation iso from the website.
But in my other test with the Rockstor based on OpenSUSE Leap 15.2 it doesn't work. Unfortunately I didn't find out whic

[2020-08-17 13:30] FroggyFlox commented on #2203
Thanks for the follow-up, @Gurgel100 !

That makes this rather curious if it's specific to newer versions of Rockstor... For your CentOS (iso downloaded from the website), you can make sure of the version installed using `yum info rockstor`, whereas it would be `zypper info rockstor` in Rockstor built on openSUSE Leap 15.2 (pending you're using the testing rpm or installed using the ISO installer

[2020-08-19 19:54] Gurgel100 commented on #2203
I think I might found out why I don't see any Shadow Copies. The share is mounted with root:root permissions (default permissions for new shares). Therefore all the snapshots also have root:root permissions. This leads to the problem that Samba can't access it. Now another question arises: Why can I write to this share via Samba anyway if only root has permission to do it?

The Rockstor version re

[2020-08-23 00:02] mikemonkers opened #2206 "Vagrant/Ansible Development/Test environment."
As a new member of the community I need a development environment.

Creating this using Vagrant/Ansible will provide a reproducible environment to a consistent template. It will also help ease on-boarding of new Devs in future.

The environment should be able to either:
- Deploy from RPMs from the testing channel.
- Build and deploy from the source in this repo.
- Make the build/test cycle simple/

[2020-08-23 23:42] FroggyFlox commented on #2206
Yes, I completely agree... it can only help so I don't see why we shouldn't do it ;-)

I'll try to keep in mind next time somebody mentions (s)he's working on an issue.

Cheers,

[2020-08-24 18:03] mikemonkers commented on #2206
@phillxnet, Deploying from RPMs as an alternative helps speed up our ability to construct a test VM based on RPMs for comparison against code changes and or reproducing reported issues.

Installing from ISO which is:
- quite mandraulic and therefore slow
- has potential for human error

For these reasons would result in a tendency to keep 'test' VMs around and live. Where as with Vagrant they can

[2020-08-25 17:55] FroggyFlox opened #2209 "[Rock-ons] Host networking is not accounted for"
We have several rock-ons that require host networking for some of their features. Unfortunately, we currently do not account for the particularities that host networking entails, which can lead to some awkwardness in user experience. A practical example can be found in the following pull request in our rockon-registry repository:
https://github.com/rockstor/rockon-registry/pull/227#issuecomment-68

[2020-08-25 17:57] FroggyFlox commented on #2209
Note that substantial work on docker networking is pending (#2207), which includes some ground work for detection of host networking on running containers. While this won't unfortunately help at rock-on install time, it will provide some foundation for the resolution of this issue. It might therefore be preferable to wait for #2207 availability before working on the current issue.

[2020-08-28 18:42] freaktechnik opened #2210 "Can only disable and uninstall rockon once"
I've been disabling, uninstalling and then reinstalling rockons to test changes in their configuration. As such I've noticed that this will fail every second time I try to uninstall the rockon, usually with exiterror 137. While uninstall may remove the item from the web ui (completely) reloading will re-add it in the installed section. I've found the only way to fix it is to purge the database ent

[2020-08-29 12:26] FroggyFlox commented on #2210
Hi @freaktechnik ,

I'm a little puzzled by that one as I tried to reproduce it last night but couldn't. I might have misunderstood your description then, so would you mind providing detailed steps to reproduce it? What I've tried:
1. Install a rock-on
2. Toggle OFF
3. Uninstall
4. Re-install the same rock-on
5. Toggle OFF
6. Uninstall
7. Re-install
etc... for a total of 4 install/uninstall/re-ins

[2020-09-11 12:05] phillxnet commented on #782
Thanks to forum member coolbit for bringing share size enforcement to the fore again.

Having now pretty much completed our transition to an openSUSE base with our Rockstor 4 'Built on openSUSE' variant/effort, where we inherit a Leap 15.2 upstream supported/updated kernel, I think we are ready to again look to re-enabling share size quota enforcement.

Our base kernel version, in Rockstor 4, is n

[2020-09-11 15:11] phillxnet commented on #2150
Linking to another report by new forum member legion411 of this issue:

https://forum.rockstor.com/t/error-while-attempting-to-create-smb-export/7313

[2020-09-11 16:04] phillxnet opened #2211 "9000 user limit within NIS breaks Web-UI for larger user sets"
Thanks to forum member legion411 in the following forum thread for reporting this issue. It is strongly suspected that we have a repeat of our prior user limit expansion from 5000 to 9000 in issue:

"On GUI, only 5000 user show up" #1915
addressed in pull request:
"On GUI only 5000 user show up. Fixes #1915" #1916

Only this time the reported user count suspected of triggering the indicated failur

[2020-09-13 19:58] rssfed23 opened #2212 "[NG] - Authorized_keys doesn't allow public key ssh login"
Hope this is the right place to report this (let me know if not :) ).

Fresh install of 4.0.1 on Leap 15.2 using the testing packages method.

**Problem:**
Pasting an authorised key into a user profile saves the key to /home/$user/.ssh/authorized_keys, but I believe due to the file permissions of the .ssh directory and file created it doesn't actually allow the user to log in via SSH.

**Steps to

[2020-09-13 20:23] phillxnet commented on #2212
@rssfed23 Thanks for the excellent report.

I think I know what's happened here. We've had a similar issue previously in other areas where a Python wrapper to set permissions was miss-used resulting in some wacky file permissions and I thought I'd got them all sorted on the last pass. I should be able to look at this fairly soon and we can hopefully get the fix out in 4.0.2-0 which is due out shor

[2020-09-13 20:37] phillxnet commented on #2212
Noting suspected relevant code:
https://github.com/rockstor/rockstor-core/blob/master/src/rockstor/system/users.py#L226-L252
and as suspected os.chmod just doesn't work like that!

Linking to better example (with comments), from some far more recent code here:
https://github.com/rockstor/rockstor-core/blob/master/src/rockstor/system/pkg_mgmt.py#L223-L224

We should ensure we always use the tool fo

[2020-09-14 10:10] phillxnet commented on #2212
I am currently working on this issue.

[2020-09-14 15:28] #2211 closed

[2020-09-14 15:50] #2212 closed

[2020-09-18 14:01] Marenz opened #2215 "[suse leap] Replication failure"
When replicating a share from one instance to another,
if it once failed to reach the other instance:
[code]
it will from then on fail with every new attempt saying
[code]
From what I gather this is because that snapshot with that name already exists? After I deleted it manually, it worked again.
I suspect the previous failed attempt created a new snapshot to be transferred and didn't properly cle

[2020-09-19 12:14] phillxnet commented on #2215
@Marenz Thanks for the issue creation.

Yes that's exactly it. This is a long standing issue unfortunately. And not a 'Built on openSUSE' specific one. We had the exact same behaviour in our CentOS Stable channel where replication was fixed having been broken previously (by API changes) in our CentOS based testing channel.

And that is the work around currently.

Yes. We are simply a little starve

[2020-09-21 16:15] mikemonkers commented on #2206
This issue can be closed as it is now covered in the new repo at: rockstor/rockstor-dev-env#1

[2020-09-21 16:15] #2206 closed

[2020-09-23 16:01] phillxnet opened #2216 "NIS regression re Rockstor 4 release candidates"
Thanks to forum member legion411 for highlighting this issue. In Rockstor 4 release candidates we have a regression/failure in NIS configuration via the Web-UI. Initial investigation by @FroggyFlox has identified the cause to be a variation in how NIS is configured on our new disto base of openSUSE Leap15.2 to that of our prior CenOS base. Config file locations and nature have changed and authconf

[2020-09-23 16:01] phillxnet commented on #2216
I am currently working on this issue.

[2020-09-23 16:09] phillxnet commented on #1986
Linking to a recent related issue re NIS regressions in our new 'Built on openSUSE' endeavour for Rockstor 4 release candidates.

"NIS regression re: Rockstor 4 release candidates" #2216

[2020-09-26 00:50] idnovic opened #2217 "Base on openSUSE MicroOS"
Take a look at openSUSE MicroOS and
maybe base Rockstor on it instead on Leap.

I see these advantages:
Reliable base system with read-only root

https://en.opensuse.org/Portal:MicroOS

[2020-09-26 12:09] phillxnet commented on #2217
@idnovic Thanks for the suggestion. Unfortunately I believe MicroOS is predominantly intended to host containers. And although we have this as an element, our Rock-ons, our major focus in on providing such things as samba shares and the like. However I very much like the read-only root element and I'd intended to move to a transaction update server install of Leap / Jump in time but alas we are a

[2020-09-26 14:02] idnovic commented on #2217
Thank you for the detailed report. Much to read. I understand and think you are right.

Just wanted to add that MicroOS does indeed have a Leap based version in the download section of the website.
I am thinking about using it for a project of mine but need to figure out how system upgrades are going to work after Leap 15.3 is released.

I do have an installed version of rockstor based on openSUSE

[2020-09-26 14:12] idnovic commented on #2166
`When booting to a read only snapshot of root in our NG (Next Generation) 'Built on openSUSE' variant it would be preferable if we were able to start our various processes enough to inform the user of a successful boot.`

I think these two tools could be useful to check for a working base system.

[Health-Checker](https://github.com/kubic-project/health-checker)
[Greenboot](https://github.com/fedo

[2020-09-26 15:11] idnovic opened #2218 "Minio S3 Storage"
Please integrate Minio as network storage at the same level as the nfs and samba integration to provide S3 compatible storage.

https://github.com/minio/minio

[2020-09-26 15:23] phillxnet commented on #2166
@idnovic Thanks for the pointers.
My intention in that wording was for the rockstor processes themselves to be able to start.

I.e.
rockstor-pre
rockstor-bootstrap
rockstor

So our Web-UI functioned enough for folks to be informed via that. I.e. we already indicate if a pool is read-on for instance. As opposed to just having just a command line. Ideally we would also offer advise on, or even bette

[2020-09-26 15:34] phillxnet commented on #2217
@idnovic Re:

That's good news. Thanks.

Cheers. Glad you like it. Was this install derived from a DIY installer. If so we have the following call for beta testers on that repo:

https://forum.rockstor.com/t/rockstor-4-installer-recipe-call-for-beta-testers/7237/4

Good luck with your own project and and keep in mind that you may have to modify the base of MicroOS if you are to be running on 'real

[2020-09-26 15:49] phillxnet commented on #2218
@idnovic Yes that might be nice. In the mean time we do have a pending pull request in our Rock-ons repo that provides this service. See:

https://github.com/rockstor/rockon-registry/pull/232

Sorry to @MikeMcPherson for our delay in getting around to merging this. There is even an accompanying doc pull request, again awaiting our setting up a new backend part ci/cd system helper.

https://github.

[2020-09-26 15:51] idnovic opened #2219 "Idea: Base web-ui on cockpit project"
I recently read that nethserver started to port their ui to cockpit instead of keeping their own.

[netherserver-cockpit](https://github.com/NethServer/nethserver-cockpit)
They integrate the old ui parts as plugins into cockpit.
I very much like the cockpit project.

Is this something rockstor as project would be interested in?
From a license standpoint I would even be allowed to base my work on t

[2020-09-26 15:57] idnovic commented on #2219
I will create a forum thread later.

[2020-09-26 16:01] idnovic commented on #2218
Thank you. I did search for minio but was not presented with the issue on the rockon-registry

[2020-09-26 16:01] #2218 closed

[2020-09-26 16:15] idnovic commented on #2217
`Thanks again for contributing this issue. More potentially relevant than I had at first thought. Although mid to long term more likely unfortunately. Hope to see you on the forum by the way.`

You mentioned that a sles version of rockstor would be great. Well it is good than that rockstor as project first needs too ship the openSUSE version. In the meantime MicroOS can stabilize. Richard Brown di

[2020-09-26 16:25] phillxnet commented on #2219
No not really. It's been years of work to get to where we are. Also note that we are Django based and our Web-UI is highly intergrated into our Django Python backend. Although folks could, if they wished and had the appropriate skill, create, using our API's, a plugin to cockpit. Which incidentally I was also impressed with. But we are very definitely an appliance. Cockpit is general use stuff and

[2020-09-26 17:07] idnovic commented on #2219
Well cockpit does have a storage plugin but no btrfs as far as I know. I do understand your viewpoint on this. And I do not plan on doing work which is not required.

[2020-09-26 17:07] #2219 closed

[2020-09-29 18:09] phillxnet opened #2220 "slow admin user filter on Samba export when using Chrome"
While working on an NIS config regression issue where the test case is 30,000 users, it was found that in Firefox each character entered into the Add Samba Export "Admin User" form field took approximately 1 second to resolve (show matching users in drop down). Where as the same function within Chrome resulted in a 20 second per character delay, which given the length of this delay could easily le

[2020-09-29 18:11] phillxnet commented on #2220
Linking for context to my current issue where this browser contextual slow down was observed:

"NIS regression re Rockstor 4 release candidates" #2216

I am, as a result, also now working on this issue in parallel given the test scenarios overlap.

[2020-09-29 18:28] phillxnet commented on #2216
I now have a working patch to address this issue and am in final testing where I am taking into account the related issues indicated given the crossover in testing scenarios on larger user sets more commonly associated with NIS deployments such as indicated by forum user legion411. In this case a fabricated 30,000 user base via:

[code]
Followed by a yast default config of NIS server on a donor Le

[2020-09-29 20:40] phillxnet commented on #2220
Having experimented a little this looks to be something a little deeper than our implementation of creating a highlighted list option depending on already selected admin users as once a single user is selected Chrome behaves, performance wise, similar to Firefox when no user has been selected, i.e. considerably faster. This may well be down to the implementation of the multi selection box primitiv

[2020-09-29 21:59] FroggyFlox commented on #2220
A quick thought about it as I had to deal a little with .select2() recently: could this be something improved by using the `minimumInputLength` parameter? Their documentation reads:

https://select2.org/data-sources/ajax

[2020-09-30 16:07] phillxnet commented on #2220
@FroggyFlox Thanks, that's a nice pointer. I'll try and given that a go soon. Definitely worth a try and may at least avoid the initial key press delays hopefully. And it's funny how once the first admin user is selected it all calms down to be just like within Firefox. Pretty sure it's out code now but we do need a solution to this.

[2020-10-02 00:47] ubenmackin opened #2223 "Add .beeshome to the list of ignored subvolumes"
See discussion here:

https://forum.rockstor.com/t/bees-beeshome-subvolume-getting-remounted-by-rockstor/7355/2

The gist is that I am requesting that .beeshome be added to the list of ignored subvolumes.

[2020-10-02 00:49] ubenmackin opened #2224 "Ability to add/remove subvolumes from Rockstor management in GUI"
See discussion here:

https://forum.rockstor.com/t/bees-beeshome-subvolume-getting-remounted-by-rockstor/7355/2

Currently Rockstor has a hardcoded list of subvolumes to ignore. It would be nice if there was a web page that could be used to manage this list.

[2020-10-03 15:41] phillxnet commented on #2220
@FroggyFlox I've just tried your suggested potential work around (minimumInputLength: 3) and in Chrome there is still a significant wait of around 20 seconds even after just clicking in the "Admin users" window. But the subsequent 2 key presses (if set to 3 min) at least appears directly there after. I'm leaning towards adding this as it at least alleviates some, if not most of the problem. And ma

[2020-10-03 17:20] phillxnet commented on #2220
Reducing the NIS user count to 15,000 from 30,000 (and slightly improving NIS server speed) roughly halfs the time for the initial Add Samba Export page to appear, but moves each filtered key response time, i.e. 3rd char with mininput filter, in Chrome from around 20 seconds to around 3 so significantly more than the proportional (half) reduction in users to filter.

[2020-10-03 18:56] FroggyFlox commented on #2220
That's odd, indeed... I'm glad you were able to improve the performance, though. I'm starting to wonder if there's anything we can do to improve that further, though.

[2020-10-03 20:54] phillxnet commented on #2220
I've been looking into a custom match so it only matches from the beginning of the user, rather than the default substring, as I  thought that might help speed things up on the search front which now looks to be the hold up, but alas my JS is slow going and sparse. But if this helps speed up the chrome it may be worth it given chromes popularity. And loosing substring search on usernames is probab

[2020-10-03 21:11] phillxnet commented on #2220
Canonical reference, to date, on custom matcher:
https://select2.org/searching#customizing-how-results-are-matched

[2020-10-03 21:22] phillxnet commented on #2220
I've now got a working custom matcher so will, when next available, see if this can be used as a work around for the Chrome speed issue.

[2020-10-07 11:37] #2216 closed

[2020-10-07 11:59] #1986 closed

[2020-10-07 18:18] phillxnet commented on #2220
Very little progress on this to date but have implemented @FroggyFlox minimumInputLength to improved usability and have also got working, simplified custom search to try and reduce client CPU load on larger user sets, 15-30K in the reported tests.

I'll submit a pr with what I have to date as it's a start and we can re-visit later once these initial minor improvements are out.

[2020-10-09 13:35] #2220 closed

[2020-10-13 00:03] polarathene opened #2226 "[Website] Missing HTTPS"
Just visited the website and noticed the "Not Secure" label in the URL bar, tried `https://` but it failed. Is there any reason the website isn't served over HTTPS?

[2020-10-13 11:44] phillxnet commented on #2226
@polarathene Thanks for the report.

We do hope to add https to the site when time permits but we also run a number of other services that all Rockstor instances use from this same Apache instance and domain, such as Rock-ons, and some legacy updates, so we have to tread carefully, but this is planed when our sys admin time becomes available to focus on this. But alas we have some more pressing ma

[2020-10-13 23:08] polarathene commented on #2226
Yeah, no worries, it's unlikely anyone is going to exploit the site with a direct MitM attack, worst that would happen is [third-parties injecting content like ads](https://doesmysiteneedhttps.com/), but that's usually over wifi out of the home (where I can't imagine Rockstor is popular to visit on the go).

[There is one other reason](https://web.dev/why-https-matters/#capabilities) beyond authen

[2020-10-14 12:14] phillxnet commented on #2226
@polarathene Thanks for the pointers. Nice.
Re:

Agreed, this is a bad show on our part.

I hope not, as otherwise we have further complexity which is exactly what I'm trying to avoid. Well that and maintenance overhead.

Yes, hopefully soon. I really like the idea, given we are a community project at heart, that folks can chip in with main page content via pull requests. I'll get there, and hopef

[2020-10-14 16:41] StephenBrown2 commented on #2226
Maintenance is minimal to non-existent with an ACME client (Like [Caddy Server](https://caddyserver.com/) or [Certbot](https://certbot.eff.org/) or [numerous others](https://letsencrypt.org/docs/client-options/)) auto-renewing certs from something like Let's Encrypt, which I'm sure you've seen on your forum and the subscribers only facility.

I DDGed "https encryption is expensive" and "https encr

[2020-10-16 11:20] phillxnet opened #2227 "Stable updates regression Rockstor 4 release candidate"
Thanks to forum member GeoffA for highlighting this issue. During the development of Rockstor 4, currently in release candidate phase, the Stable repository remained empty. We have as of yet no 'Built on openSUSE' release. This now looks to have been a mistake on my part as it obscured what looks like an omission of a required auth parameter to zypper addrepo which has differing defaults with rega

[2020-10-16 11:21] phillxnet commented on #2227
I am currently working on this issue and fix is 'in development'.

[2020-10-16 12:57] phillxnet commented on #2227
This behaviour can be caused by incorrect credentials or, in our case, a general failure in the authentication system.

[2020-10-17 11:28] phillxnet commented on #2227
Progress to date, we appear to have 2 elements at play.

1: The additional use of:

to our Stable channel url helps with enforcing a proactive use of the supplied credentials.
(This has a working fix in developement)

2: Having established (1) above, there was proper function from cli but failure to retrieve supplied credentials from within the Web-UI hosted zypper commands thus:

From: /var/log/z

[2020-10-18 09:46] smokku commented on #1833
It happened to me when the server rebooted several times due to kernel panic wile startup (one of my CPU cores is unstable).
I have a feeling that some process editing this file on startup got interrupted and didn't flush modified file.

[2020-10-18 11:27] phillxnet commented on #1833
@smokku This is a good pointer, we do have the initrock.py script section here:

https://github.com/rockstor/rockstor-core/blob/master/src/rockstor/scripts/initrock.py#L154-L159

which in turn calls update_nginx(ip, port) here:

https://github.com/rockstor/rockstor-core/blob/686c5e88f1493428c42646607b72bc1f6073d2ab/src/rockstor/system/services.py#L221-L248

Popping these in as likely 'offenders'.

[2020-10-19 14:11] #2227 closed

[2020-10-20 15:59] tlc-at-home opened #2229 "Netdata RockOn install fails after Rockstor update ver 4.0.4"
I've had Netdata Rockon working well for a couple of weeks. Then, last night, I updated Rockstor to 4.0.4.
Then I found out that Netdata docker was no longer working. So I tried to fix it by uninstalling and reinstalling it. That failed with error message:
CommandException: Error running a command. cmd = /usr/bin/docker run -d --restart=unless-stopped --name netdata -v /mnt2/Rockon:/etc/netdata/ov

[2020-10-20 18:24] FroggyFlox commented on #2229
Hi @tlc-at-home ,

Thank you for your report. I'm not 100% sure of what happened exactly there but it seems you have an issue with the container files themselves: `mnt2/Rockon/btrfs/subvolumes/727b5428579239334d532c751bb8cead93a91e6b5ac5f035c703610041cdb5eb: no such file or directory.`. Indeed, this btrfs subvolume represents one of the layers that constitute a docker container image. In your case

[2020-10-21 15:08] tlc-at-home commented on #2229
I followed the suggested steps and I got all my Rockons working again. The only problem I had was in step 4 were want to delete the share. There is no delete button as this share was created by the Rockstor install process. So I created another share called Rockon-root and then set the Rockon service to use that. But now I have this share that will never be used. How do I clean that up?
Tony

[2020-10-21 17:18] FroggyFlox commented on #2229
This means you are trying to delete a system share, which would break your system; that's why Rockstor will prevent you from doing so. I'm unsure of which share you are referring to, but if Rockstor prevents you from deleting it, then it's for a good reason and shouldn't be deleted. It is most likely used by the system, for instance. I believe old version of Rockstor still surfaced one of these, b

[2020-10-22 13:04] #2229 closed

[2020-10-26 13:26] FroggyFlox commented on #2218
Hi @idnovic ,

In case you are still interested, I just wanted to let you know that the MinIO rock-on (https://github.com/rockstor/rockon-registry/pull/232) is now published so you should see it in your list of available rock-ons after clicking on the "Update" button in the top right corner.

[2020-11-04 14:15] MBadberg opened #2230 "Stuck on 3.9.2 Release: 57"
Hi,
i wondered today, if there a no updates anymore and then i looked a bit deeper.
I have 3.9.2 Release:57 but there is Release 60 outside, but no update available for me. Why?

Can i easily update to 4? I have to do a fresh install on version 4, right? Because of mayor version change?
Is my update subscription still active for 4 or only for 3.9.x?

Greetings
Markus

[2020-11-04 18:51] FroggyFlox commented on #2230
Hi @MBadberg,
I'll try to answer as best as I can below.

This is normal. 3.9.2-57 was the last Stable update to be released on the legacy CentOS base, and all further releases on the CentOS base to 3.9.2-60 were in the Testing channel. This was for a variety of reasons, including technical ones, and you will find more information in the related announcements made on the forum by @phillxnet:
https

[2020-11-10 01:44] Hooverdan96 opened #2231 "Surface More_Info tag in RockOn library before installation"
Based on conversations with @FroggyFlox (see PR https://github.com/rockstor/rockon-registry/pull/238), I am suggesting that the More_Info tag is surfaced in the RockOn library before installation. Some of the information that would be relevant is not available until after the more_info tag shows up on the installed RockOn. If that icon could be available in the uninstalled library already, then it