[2020-11-20 19:23] FroggyFlox opened #2232 "Active Directory is broken in our "built on openSUSE" offering"
Thanks to forum user _HB7_ for bringing this to our attention: in our "Built on openSUSE" offering, the Active Directory (AD) implementation is currently broken as it currently relies on CentOS-specific tools such as `authconfig`. See forum post below for details:
https://forum.rockstor.com/t/failed-to-join-ad-domain/7394

As recommended by @phillxnet in [an earlier forum thread](https://forum.roc

[2020-11-20 19:25] FroggyFlox commented on #2232
I started looking into this and could set a test AD server using Samba as an Active Directory Domain Controller, following Samba Wiki's instructions:
https://wiki.samba.org/index.php/Setting_up_Samba_as_an_Active_Directory_Domain_Controller

...combined with a third-party blog, as I was encountering some name resolution/DNS issues (due to my own setup):
https://blog.ricosharp.com/posts/2019/Samba-

[2020-11-23 16:27] FroggyFlox commented on #2232
Of note, the following **new packages** would be needed for SSSD:
- sssd
- sssd-ad
- sssd-tools

[2020-11-23 19:47] FroggyFlox commented on #2232
I somehow cannot seem to have `realm` edit `/etc/nsswitch.conf` automatically to add the `nss` service, despite its documentation stating it does:

Joining a domain in a Leap 15.2 desktop VM using the Yast config tool, does create the following settings in `/etc/nsswitch.conf`, however, so it seems we may need to add the `nss` setting there manually:
[code]

Of note, the same Yast configuration al

[2020-11-25 17:09] FroggyFlox commented on #2232
I now have a first working implementation using SSSD to join an Active Directory domain controller. See the following commit:
https://github.com/FroggyFlox/rockstor-core/commit/a9ea3be8135f5b616cfad89680e9d82ae9f070a0

Although using the `adcli` tools to join the AD (default in `realmd`) worked very well, it does not work very well when the client is also using a samba server to serve files/direct

[2020-11-26 15:59] FroggyFlox commented on #2232
By default, `realmd` sets the following SSSD domain settings:
[code]

Based on user feedback in the forum, as well as exploration of `sssd` man pages, it seems we could offer customization of the following settings as these seem to be the most important ones:
- **ldap_id_mapping** (configurable within the `realm join` command itself)
- **enumerate**
- **case_sensitive**

These should be quick and

[2020-11-29 17:16] FroggyFlox commented on #2232
After testing sharing of a share (hosted by Rockstor) via Samba using a domain user (`administrator@samdom.example.com) as admin user, and then accessing it from a separate Leap 15.2 client joined to the same AD (`samdom.example.com`), it appears we need to have the `samba-winbind` installed so that winbind can take care of the id mapping. This is consistent with instructions and recommendations b

[2020-11-29 22:53] phillxnet commented on #2232
This is all good stuff @FroggyFlox. Well done on getting this all sorted so far.
In your (pending) pr make a note of all the additional packages we will now need and I'll add them as dependencies so we can test the final rpm before release as an upgrade to an existing system.

Thanks again for picking this one up. Bit of a show stopper for our other wise planned Stable release. Oh well. Under way

[2020-11-30 02:05] FroggyFlox commented on #2232
Thanks for the kind words, @phillxnet , but I'm not sure I've sorted everything as there are still a few obscure corners for me. The ID mapping, for instance, and the exact interaction between SSSD id-mapping plugin and winbind's id-mapping module is still unclear. As a result, it's unclear to me whether we still need all the winbind specific settings in our samba config. It seems to work without

[2020-11-30 14:23] FroggyFlox commented on #2232
On a related note, our LDAP implementation is also broken for the same reason as our AD one: reliance on `authconfig`
https://github.com/rockstor/rockstor-core/blob/897587beccb662838bb61be35568fd0728e03047/src/rockstor/smart_manager/views/ldap_service.py#L50-L52

As this is very similar to the AD fix, we can address the LDAP fix in the same PR as the AD fix; these will likely require configuration

[2020-11-30 21:38] phillxnet commented on #2232
@FroggyFlox Re:

Totally agree. Best we get this all sorted in one go I think. Especially give your findings re the interplay.

All looking rather promising.Thanks again for all your sterling efforts on this issue.

[2020-11-30 22:16] harryhuk opened #2233 "Web GUI does not catch invalid snapshot names"
**Version:** 3.9.2-57

If you try to create a snapshot, with a name that does not conform to the valid characters, the create will fail with an **Unknown client error**

(e.g. I naively tried to give the name '2020-11-30 04:00', not noticing the tooltip advising of the valid characters)

You will get the following error:
**Unknown client error doing a POST to /api/shares/5/snapshots/2020-11-30 04:

[2020-12-04 12:57] FroggyFlox commented on #2232
I believe to finally have a working openLDAP server setup, that led me to the following minimal working `sssd.conf` settings:
[code]

This leads to the following users being fetched by `getent passwd` (used by Rockstor to list users):
[code]

Now, we "simply" need to implement this into Rockstor.

[2020-12-05 15:58] FroggyFlox commented on #2232
Linking to #564 as the reference issue to fix with the upcoming PR (in addition to this issue).

[2020-12-06 22:15] FroggyFlox commented on #2232
As of the latest commit (https://github.com/FroggyFlox/rockstor-core/commit/7ef9426325c7102ad75bbc43d1e8ae5b5b7a6392), we now have a seemingly working LDAP implementation, as measured by the presence of LDAP users on `getent passwd`.

[2020-12-11 14:08] harryhuk opened #2234 "Used Space Pie Charts for Pools and Shares grow in opposite directions"
(Really minor UI inconsistency - Rockstor 3.9.2-57)
The Used space segment of the Pool space pie chart grows anti-clockwise
The Used space segment of the Share space pie chart grows clockwise

Would be good if the went the same way. I think clockwise is fairly standard.

[2020-12-12 19:23] phillxnet commented on #2234
@harryhuk Nice. And I totally agree.

Thanks for opening this issue. If you fancy having a go at this one then just make a note here that you are currently working on it to avoid any duplication of effort.

I'd not noticed this one myself. It may be that we are using some pre-written widgets for these and that they just differ in default. Or that they are not actually adjustable. Haven't looked at

[2020-12-12 21:37] harryhuk commented on #2234
Have had an initial look. Not set up for testing it yet, but I think I'll be able to manage it in Jan.

[2020-12-13 14:14] harryhuk commented on #2234
Well this is weird.
My live NAS (3.9.2-57) definitely has Pool used space going anti-clockwise, and Share used space going clockwise.

My VM test NAS (4.0.4-0 installed over 3.9.2-57) has them both going anti-clockwise.

Looking at the history of the code that I _think_ is relevant,

- storageadmin/static/storageadmin/js/graph.js
- storageadmin/static/storageadmin/js/views/pool_usage_module.js
- s

[2020-12-13 17:33] harryhuk commented on #2234
Having looked at some examples and docs for the d3 pie chart, the default behaviour is to sort values in descending order, clockwise. This matches what I'm seeing, that the behaviour doesn't depend on rockstor version (3.9.2 v 4.0.4), or server environment (real HW or VM).

Given that there are only ever 2 values for the usage chart (at the moment. ReadyNAS has a nice feature of adding the space u

[2020-12-17 07:02] GeoffAd opened #2236 "Repeated Log Errors for shares with disabled quotas"
Probably just a bit of LOG housekeeping really, but currently shares with quotas disabled are being repeatedly logged as Errors.  Example extract from Rockstor Log:

[16/Dec/2020 18:27:33] ERROR [system.osi:174] non-zero code(1) returned by command: ['/usr/sbin/btrfs', 'qgroup', 'show', '/mnt2/ROOT/home']. output: [''] error: ["ERROR: can't list qgroups: quotas not enabled", '']

Logs are repeated

[2020-12-17 10:30] phillxnet commented on #2236
@GeoffAd  Thanks for creating this issue.
Re:

This is not generally the case but can end up being so if one uses the system pool (named 'ROOT' in v4 onwards) due to dockers unwarranted interaction with quotas on occasions.
See:
"docker-ce dictating pool quota enabled disabled status"
https://github.com/rockstor/rockstor-core/issues/1906
for some background and a link to an upstream issue link.

I

[2020-12-20 22:18] Daxx13 commented on #636
Also waiting for iSCSI support since years

[2020-12-21 19:56] phillxnet commented on #1982
@FroggyFlox as our attribution within Web-UI of multiple issues fixed by a single pull request is currently broken, I'm only going to enter a single link in the rpm Changelog (WebUI source). That way folks can at least find this issue via the Changelog within the Web-UI.

Linking to the other associated issues fixed by pr: #2207

Fixes #2003.
Fixes #2013.
Fixes #2009.

[2020-12-22 13:11] #1982 closed

[2020-12-22 13:11] #2003 closed

[2020-12-22 13:11] #2013 closed

[2020-12-22 13:11] #2009 closed

[2020-12-22 13:30] phillxnet commented on #2123
@jonpwilson Just a bit of house keeping.
Re:

and

#1910 has now been resolved by @FroggyFlox  via:

Enable Time Machine support via Samba. Fixes #1910. #2144

and we have also now taken the anticipated deprecation/removal of netatalk, again by @FroggyFlox  in:

Deprecate Netatalk/AFP. Fixes #2146. #2148

So I'm closing this issue as now redundant. Thanks for opening this in the first place as it

[2020-12-22 13:30] #2123 closed

[2020-12-23 16:53] bmcgonag opened #2237 "FEATURE REQUEST: Charting of how Storage Amounts Change Over Time."
As I look at the space being used by various backs in different shares, I was thinking it would be nice to see a time based graph of how the storage amounts change over time. With various machines and users in my household I’d like to know if a backup client software has gone off the rails and is starting to duplicate data, or perhaps data is not being stored properly…and a time based graph to see

[2020-12-25 19:14] phillxnet commented on #2237
@bmcgonag Thanks for creating this issue, much appreciated.
Linking back for context to the forum discussion:
https://forum.rockstor.com/t/feature-request-historical-graph-of-how-storage-share-space-disk-space-is-changing-over-time/7498

[2020-12-27 13:02] GeoffAd opened #2238 "Pool Creation date incorrect in webgui"
The Pool page of the webgui always reports the current date and time for Pool Creation Data, rather than the actual date and time the Pool was created.
Sample screenshot for a pool that was created in October 2020, but shows the current date/time when I accessed the webgui page:
![image](https://user-images.githubusercontent.com/76052873/103171363-92edd180-4843-11eb-800e-d9470cbee39a.png)

[2021-01-02 18:38] #2232 closed

[2021-01-03 15:03] phillxnet opened #2239 "Disabling Rockons service breaks Rockons UI page post rocknet config"
Post merge of pr "Implement docker networks. Fixes #1982." #2207 (4.0.5-0) we have a failure to check if docker is first enabled prior to attempting to query docker for rocknets purposes. This leads to the following error within the Web-UI on some pages (Rock-ons currently known):

['Cannot connect to the Docker daemon at unix:///var/run/docker.sock. Is the docker daemon running?', '']

Work aroun

[2021-01-03 15:08] FroggyFlox commented on #2239
Thanks a lot for clearly laying out this issue, @phillxnet.
I'll try to get to it as soon as I can.

[2021-01-03 15:15] phillxnet opened #2240 "AD enable in 4.0.5-0 (RC6) requires reboot or rockstor service restart"
Thanks to @FroggyFlox for helping to diagnose this issue. As of 4.0.5-0 (Release Candidate 6) enabling the newly added sssd backed AD service for the first time leads to the following error:

KeyError: u"Got KeyError when attempting to get a value for field `groupname` on serializer `SUserSerializer`.\nThe serializer field might be named incorrectly and not match any attribute or key on the `User`

[2021-01-03 15:27] phillxnet opened #2241 "Enabling AD service prior to samba service gives unhelpful error"
Thanks to @FroggyFlox for highlighting this issue. When the AD service is enabled prior to a configuration having been entered for samba, i.e. samba service disabled and not having been enabled previously, the following inelegant and unfriendly error message is displayed:

This is thought to be down to an empty samba config.

Workaround: Configure/enable samba prior to AD enablement.

[2021-01-03 17:17] FroggyFlox commented on #2239
Problem has been identified:
https://github.com/rockstor/rockstor-core/blob/1223360a17408e78808af238ed18aa044139c9d2/src/rockstor/system/docker.py#L152-L153

This shouldn't include the `running_filters`. We should thus remove these but I will need to make sure this doesn't break the other uses for this function. That also highlights the lack of corresponding unit tests, @phillxnet ... I'll try to

[2021-01-03 18:51] phillxnet commented on #2239
Oh yes, I completely forgot about that one. Do you fancy making an additional issue for that?

[2021-01-03 18:54] phillxnet commented on #2239
Yes, that my fault I'm afraid; in taking so long to tend to the rocknets pull request I appreciate that you had to rebase a number of times.
But at least it's in now :).

[2021-01-04 14:16] FroggyFlox opened #2242 "[Rock-ons] Failure to detect rock-ons using host networking"
One of the features intended in #2207 was to detect the rock-ons with container(s) using host networking so that we disable the Networking customization options accordingly. Unfortunately, the underlying logic was lost during #2207's development and we now fail to accurately detect such rock-ons.

As mentioned in https://github.com/rockstor/rockstor-core/issues/2239#issuecomment-753648529, the cul

[2021-01-04 16:29] FroggyFlox commented on #2239
@phillxnet , sorry for the lack of focus on my previous comment... I've created a dedicated issue for that.

With regards to the current issue, there actually are a few points that are either broken (the one you described), or for which the error surfaced to the user could be more explicit when the Rock-on service is **not** running. I'll list them below and update as I find more (if any):
1. Crea

[2021-01-04 16:57] phillxnet commented on #1975
Closing issue as we no longer release for CentOS, and our newer 'Built on openSUSE' endeavour no longer requires us to supply kernel/btrfs rpm updates as we can now rely on upstream for these.

[2021-01-04 16:57] #1975 closed

[2021-01-04 17:02] phillxnet commented on #718
Closing as we no longer include the AFP service in our current rpms.
Removed as of 3.9.2-56
See:
Deprecate Netatalk/AFP. Fixes #2146. #2148

[2021-01-04 17:02] #718 closed

[2021-01-04 17:14] phillxnet opened #2243 "Unit test maintenance re legacy disparity"
Prior to embarking on our Rockstor 4 release candidates the existing unit tests on our prior CentOS base were modified to have zero failures/errors in the following pull request:
"remark out all currently failing unit tests. Fixes #2137" #2153
In the mean time we have added additional unit tests and still have some existing failures in prior tests on the non legacy 'Built on openSUSE' endeavour. T

[2021-01-04 17:15] phillxnet commented on #2243
I am currently working on this issue.

[2021-01-04 17:30] phillxnet commented on #2243
Current state as of 4.0.5-0 tag (Release Candidate 6)

[2021-01-04 20:11] phillxnet commented on #2243
We have 2 failures in the user section which seem to relate only to differing default users:
./bin/test -v 2 -p test_user*

details:

[2021-01-04 20:21] phillxnet commented on #2243
2 failed in commands likely due to missing files associated with yum auto update:
./bin/test -v 2 -p test_commands*

details

[2021-01-04 20:25] phillxnet commented on #2243
1 failing in user group:
./bin/test -v 2 -p test_group*

details

Don't see how this passed previously but haven't really looked yet.

[2021-01-04 20:31] phillxnet commented on #2243
The single error looks to be from changes we've made in Samba code maybe:

details:

[2021-01-04 20:42] phillxnet commented on #2243
And the last failure is in a new networking test that is suspected as having incomplete mocking re docker, or a reliance on the test system running docker or the like.
./bin/test -v 2 -p test_system_network*

details:

[2021-01-05 14:51] phillxnet commented on #2243
Getting there ...
`./bin/test -v 2 -p test_*
`

[2021-01-05 15:10] FroggyFlox opened #2244 "Inaccurate field label for Certificate path in LDAP service configuration form"
Following our rework of LDAP implementation (#2235), we now require the user to provide a **path** to TLS certificate rather than a **URL** to the certificate. Unfortunately, the corresponding form label was not updated accordingly in #2235 (my fault). See example below:
![image](https://user-images.githubusercontent.com/30297881/101959374-3481eb80-3bd3-11eb-90f7-b6ebbd966535.png)

This can be rat

[2021-01-05 15:12] FroggyFlox commented on #2244
@phillxnet, my apologies for missing something so obvious in my related PR. I'll submit another PR to fix this inaccuracy soon.

[2021-01-05 18:44] phillxnet commented on #2243
Only the recent added network failure one to go now:
`./bin/test -v 2 -p test_*
`

Details:

[code]

[2021-01-05 19:03] phillxnet commented on #2243
@FroggyFlox I'll squash these commits just prior to pr submission as all fairly small changes but pushed for now for backup, just in case.

[2021-01-05 19:06] phillxnet commented on #2244
@FroggyFlox Nice find and apologies from me also for not catching this in the review. Oh well, at least we have it now and it should be a nice little fix to pop in ready for the next Stable channel release.

[2021-01-06 12:49] FroggyFlox commented on #2243
@phillxnet, I believe I've figured out why the `test_get_con_config()` for the `docker0` connection was failing: I forgot to mock the `docker_status()` to make the test believe the docker daemon was running.
The following works for me after a quick test on a machine where `test_get_con_config()` was failing as you reported:

[code]

Note the first 3 lines patching and mocking `docker_status()`, re

[2021-01-06 16:13] phillxnet commented on #2243
@FroggyFlox Nice. Thanks for that; Ill do the same here and get the pr prepared.

[2021-01-06 17:00] phillxnet commented on #2243
Looks like we are there now:
`./bin/test -v 2 -p test_*
`

This is good to see; thanks.

I've removed the remote (GitHub) branch, squashed all commits, and re-pushed the branch ready for pull request preparation.

[2021-01-07 11:54] #2243 closed

[2021-01-07 17:03] phillxnet opened #2246 "remove legacy kernel version maintenance"
Further to our transitional grubby dependency removal and the end of CentOS based rpm releases (3.9.2-57) we can now remove the remaining grubby calls/references system wide, most notably in our initrock mechanism: our overarching system initialisation routine. See set_def_kernel(). The associated 'supported kernel' checks are likewise now redundant as we no longer have a need to manage/maintain o

[2021-01-07 17:04] phillxnet commented on #2246
I am currently working on this issue.

[2021-01-08 02:59] dvgeek opened #2248 "Feature Request: NFS advanced export options"
For NFS exports there is an _Advanced Edit_ button, that takes you to the __NFS Advanced Edit__ page.  There are two boxes on this page - the top one shows you the __Automatically added entries__ and the second box if for entering the manual export entries.
Without documentation, I ran into an error when I added the option *no_root_squash* into that box.  The correct way to enter a manual export o

[2021-01-08 15:02] #2244 closed

[2021-01-08 15:04] phillxnet opened #2249 "Add paypal"

[2021-01-08 15:05] #2249 closed

[2021-01-08 15:40] phillxnet opened #2250 "Add paypal.me link to Readme for project donations"
We currently carry a prominent "Donate" main menu item within the Web-UI. Given this link has been used a total of once in the last couple of years, and it's reliance on an external link (the only one within our initial Web-UI load), that of a:

GET | https://www.paypalobjects.com/en_GB/i/btn/btn_donate_SM.gif

and it's use of a now 'legacy' PayPal button arrangement; it is proposed that we add a

[2021-01-10 11:45] phillxnet opened #2253 "Add ability to handle multiple issue references to Web-UI change-log"
Currently, although we can process/parse multiple @ contributor attributions within a single change-log line entry we fail to properly link to multiple GitHub issue references. Note also that these issue references can now include pr number references as it appears that GitHub now auto re-routes to these if no matching issue number is found; although this has only been lightly tested.

Linking to

[2021-01-10 11:57] #2246 closed

[2021-01-10 19:41] phillxnet opened #2254 "Update Django within current Python 2 constrains"
With reference to "move to python 3" #1877 it is proposed that we begin our Django update 'train' from the current just prior LTS version (1.8.16) to the next proper LTS version of 1.8.19 and then in turn to the last Python 2 supported version of 1.11.29.

This issue it intended to cover this proposed update prior to our Python 3 move as newer versions of Django than 1.11.29 will have to wait unti

[2021-01-13 21:18] FroggyFlox commented on #2240
Linking to previous conversation as it contains some potentially helpful pointers for resolution of this issue:
https://github.com/rockstor/rockstor-core/pull/2235#issuecomment-753482286

[2021-01-14 16:49] FroggyFlox commented on #2209
This issue is very similar to https://github.com/rockstor/rockstor-core/issues/1208. Both issues should thus be fixed by the same pull-request.

[2021-01-14 21:38] FroggyFlox commented on #1081
@phillxnet , I believe we can close this issue now that we no longer use a docker-wrapper since #2090.

[2021-01-17 17:54] FroggyFlox opened #2255 "The rock-ons update procedure is repeatedly and unnecessarily triggered on connection"
The rock-ons update procedure (called by `/api/rockons/update`) is repeatedly called on page connection without user intervention. While this does not inherently cause problems for the user, it causes repeated and substantial HTTP calls to the rock-ons server. These are undesired by the user, and represent a substantial "waste" of bandwidth. This is especially true given the ever-growing nature of

[2021-01-17 17:54] FroggyFlox commented on #2255
I am currently working on this issue.

[2021-01-17 18:20] phillxnet commented on #1081
@FroggyFlox Cheers for the house keeping hint. Closing as suggested.

[2021-01-17 18:20] #1081 closed

[2021-01-18 19:57] #2239 closed

[2021-01-19 20:59] #2255 closed

[2021-01-20 16:21] phillxnet commented on #2250
I am currently working on this issue.

[2021-01-21 16:32] #2250 closed

[2021-01-21 17:24] Marenz opened #2258 "[Rock-Ons] Allow mapping/mounting of individual folders instead of only shares"
I think technically it's not a problem. And I think there are many use cases where it would makes either easier or simpler for the end user:

* The "shares" screen wouldn't be as cluttered
* You can create a hierarchy, for example have one "rock-ons-configs" share with a folder for each rock-on instead of a whole share for each rock-on config
* My media might be in a share "media" with subfolders

[2021-01-21 19:49] FroggyFlox commented on #2240
Another link to a previous issue in this very repo tracking this down to winbind: https://github.com/rockstor/rockstor-core/issues/1817#issuecomment-334804104

May not be related to winbind anymore in our case as we're now on a much newer base, but could be worth investigating nonetheless.

[2021-01-21 20:04] FroggyFlox commented on #2258
You're making very good points there, @Marenz, and I completely agree with you; that's a great idea.

We actually have had this brought up not too long ago and it received some positive feedback from other users as well so I believe it's definitely something we should add. Here's the issue in question (it was posted in our rockon-registry repo):
https://github.com/rockstor/rockon-registry/issues/9

[2021-01-22 01:44] CWGSM3V0 opened #2259 "Rockstor UI: Certificate interface"
Please improve the certificate interface in the Rockstor UI. By default, a self-signed certificate is installed but is not visible from the UI the details of that certificate. The same when you install your own certificate. UI should show certificate details. There's plenty of examples out there of what to show to the user, for example: https://cheapsslsecurity.com/blog/step-by-step-ssl-installati

[2021-01-24 09:54] phillxnet commented on #2259
@CWGSM3V0 Thanks for the feedback. Would you mind opening a new forum thread:
https://forum.rockstor.com/
and link it back to this GitHub issue.
That way we might start a community discussion on this enhancement request and in turn gauge the community/dev interest.

Alternatively if you fancy having a go at this one yourself by way of a proof of concept in a pull request we have the following deve

[2021-01-24 12:04] phillxnet opened #2260 "Remove donate menu item and update legacy paypal mechanism"
Given "Update Readme.md and add paypal.me donate link (#2250)" #2257 has now been merged, it is proposed that we similarly adopt this non legacy donate mechanism within our Web-UI. Further to this, it is also proposed that we remove the top menu "Donate" entry given its single recorded use in multiple years of 'service'. This would also serve to remove an undesirable external link, the paypal butt

[2021-01-24 13:05] phillxnet commented on #2260
I am currently working on this issue.

[2021-01-24 17:23] FroggyFlox commented on #2209
@phillxnet, I currently see a couple of ways to tackle this:

1. keep all db structures the same, and add an additional check for host-networking when fetching the UI port
2. alter db structure and write new JSON parsing logic to detect the presence of the `--net=host` option.

#### Option 1
**Advantages**
- quick and easy implementation: a couple of lines in the `RockOn` model:
[code]
- no change

[2021-01-24 20:19] phillxnet commented on #2209
@FroggyFlox

I'm favouring option 2 actually. Our rock-ons capabilities have grown significantly of late, as you well know given you where the one doing this overhal. And your first options looks to leave us a little blind with regard to installs and having to probe/call docker on every model instantiation, in addition to what we already do seems like a move in the wrong direction. Especially give

[2021-01-24 21:06] CWGSM3V0 commented on #2259
Done :)

[2021-01-24 21:15] FroggyFlox commented on #2209
Thanks a lot for all the feedback, @phillxnet. I agree with you that **option 2** seems to be the wiser choice. First things first, though is the following:

I feel we might want to remove this issue and #1208 for the next milestone (this issue and #1208 would be fixed by the same PR if we go with option 2 rather than option 1), indeed. I see it that way for the following reasons:
- the amount of

[2021-01-24 22:47] phillxnet commented on #2209
@FroggyFlox  Re:

Agreed. I've now removed this issue from the next Milestone as per:

Ok, yes; very good point. I see that now and this makes sense. I'd initially added this issue to the milestone thinking were were almost there but I agree with the scope creep element here if we go with option 2 which seems to be the consensus now.

Yes, this is a major challenge through this project I'm finding

[2021-01-25 16:18] phillxnet commented on #2191
@mcbridematt @FroggyFlox As of https://github.com/rockstor/rockon-registry/pull/266
"Add new Netdata (official) rock-on"
our replacement Netdata Rock-on is now Aarch64 comaptible.
I'll edit the original post accordingly.

[2021-01-25 16:55] phillxnet opened #2263 "update embedded Web-UI rocknet doc link"
Now that we have a specific rocknet doc entry, thanks to @FroggyFlox; post "Document rocknets creation and use."  (https://github.com/rockstor/rockstor-doc/pull/257), we can update the Web-UI embedded link to point to this new doc entry.

E.g.: http://rockstor.com/docs/docker-based-rock-ons/overview.html#networking

Currently the existing link (image below):
![rocknet-web-ui-doc-link](https://user

[2021-01-25 17:02] FroggyFlox commented on #2263
Thanks for creating this issue, @phillxnet! I meant to but kept forgetting about it...

I actually was also thinking of putting the same "?" icon in our AD and LDAP services configuration windows pointing to their respective new doc sections. Do you think it would be a good approach as well?

[2021-01-25 17:39] phillxnet commented on #2263
@FroggyFlox Re:

I do, I really like the contextual doc links and they are super helpful especially for those less familiar with our somewhat esoteric jargon, i.e. Rock-ons/rockons rocknets etc. And that's on top of the usual dockier/plugin service type stuff that it's easy for folks who are more familiar with it to forget just what a jungle it can all be. So contextual links are king/queen in my

[2021-01-25 17:41] phillxnet commented on #2263
Also I added this to our ongoing milestone given it's a relatively valuable bug simple fix. We don't need for it to mission creep to any other links however, not unless it takes the 'doers' fancy of course.

[2021-01-25 17:43] #2242 closed

[2021-01-25 17:49] FroggyFlox commented on #2263
Sounds good! I'll keep including such links in future work, then.

[2021-01-26 12:53] chrstphrchvz opened #2266 "Fix spelling of systemctl in code comments"
As proposed in #2264.

[2021-01-26 13:06] chrstphrchvz opened #2267 "Long delay loading web UI pages due to systemctl status usage"
As proposed in #2265:

[2021-01-26 13:44] #2266 closed

[2021-01-26 22:07] FroggyFlox opened #2268 "Redundancy between NTP and Chrony for time synchronisation"
During my preparation of #2235, I noticed a "redundancy" between `ntpd` and `chronyd` on the system when the user toggles the NTP service ON. Briefly, `chronyd` is active by default, and configuring and turning the NTP service ON leads to the deactivation of `chronyd` and activation of `ntpd`. Turning the NTP service OFF, leads to the deactivation of `ntpd` and activation of `chronyd`.

Everything

[2021-01-27 18:59] phillxnet commented on #2268
@FroggyFlox Nice find. And yes I think a move to chronyd is on the cards, plus NTP is now pretty dated actually.

Also see:
https://github.com/rockstor/rockstor-core/issues/2098
"[openSUSE] add chronyc tracking output within Web-UI" #2098

for another reason to settle on chronyd/chronyc: more fancy capabilities; from that issue we have:
"Chronyd/Chronyc are more modern variants of ntpd and are the

[2021-01-27 20:01] chrstphrchvz commented on #1219
I have not used Rockstor on CentOS 7 in some time; I am not aware whether this issue was ever fixed in util-linux provided by CentOS 7. This could be closed as won't-fix due to Rockstor migrating to openSUSE.

[2021-01-27 20:08] chrstphrchvz commented on #1427
The link in my earlier comment is broken, https://wiki.samba.org/index.php/Setting_up_Samba_as_a_Standalone_Server#Creating_a_Basic_guest_only_smb.conf_File seems to be a close replacement.

This issue might be won't-fix, if it is considered normal/intentional Samba configuration behavior for the per-share `guest ok = yes` setting in smb.conf (which is what "Guest OK" in the Web UI controls) is in

[2021-01-28 11:28] phillxnet commented on #1219
@chrstphrchvz Thanks for the house keeping prompt here.
Closing not as wont fix as our move to openSUSE Leap 15.2 is a form of fix so lets close this as:

Addressed by 'Built on openSUSE' endeavour re:
[code]

Thanks for sharing your initial research on this and apologies for not following this one up. We have had very little interest in ATA over ethernet functionality and our OS migration has bee

[2021-01-28 11:28] #1219 closed

[2021-01-28 11:37] phillxnet commented on #1427
@chrstphrchvz Do you fancy updating this issue using our latest 4.0.5 offering after fully updating it. A lot has changed in both our base OS, as you know, and our samba config arrangements. We have also had a number of samba config fixes.

DIY installer instructions available in the following repo:
https://github.com/rockstor/rockstor-installer

[2021-01-28 11:49] #2260 closed

[2021-01-28 15:09] #2267 closed

[2021-01-28 15:20] phillxnet commented on #2150
I am currently working on this issue.

[2021-01-28 16:01] phillxnet commented on #2150
The template line that manages this 3rd 'create a forum ticket" is the following:

https://github.com/rockstor/rockstor-core/blob/master/src/rockstor/storageadmin/static/storageadmin/js/templates/common/popuperr.jst#L32

`<a href="https://forum.rockstor.com/new-topic?title={{detail}}&category=support" target="_blank">here</a>`

Where {{detail}} in this potentially problematic forum creation url is

[2021-01-28 19:36] phillxnet commented on #2150
By adding the following in user.py at line 139:

[code]

and creating a new user, post rockstor service restart, we invoke an instance of the forum support topic dialog link:

![error-dialog-with-forum-topic-creation-link](https://user-images.githubusercontent.com/2521585/106188133-7aecd300-619e-11eb-822b-77789b3e2381.png)

Our resulting url is only partially encoded, as per this issue:

[code]
I

[2021-01-29 14:44] phillxnet commented on #2223
I am currently working on this issue.

Given we are likely to encounter other uses for a system-wide subvolume exclusion mechanism I'll use this issue to add a generic hard-wired system such as we already have for our system pool, but for all pools. Our existing system pool subvol blacklist is intended to mask subvols associated with a default openSUSE Leap install, such as for example the /var su

[2021-01-29 14:48] phillxnet commented on #2223
Linking for context with the prior root only subvol exclusion issue:
"add root subvol exclusion mechanism" #1931
and the associated pull request:
"add root subvol exclusion mechanism. Fixes #1931" #1935

[2021-01-29 19:27] FroggyFlox commented on #2241
@phillxnet, I'm currently working on this issue.

I'm actually thinking of going one step further than just surfacing a more explicit error message: doing the fix for the user.

In brief, here's what we're **currently** doing here:
1. get the `smb` service config from the database
2. get the value to be used for Samba Workgroup from the AD REALM (fetched directly from the AD server)
3. Trigger the

[2021-01-30 12:45] #2150 closed

[2021-01-30 12:55] #2223 closed

[2021-01-30 13:09] phillxnet commented on #2241
@FroggyFlox Thanks for picking this one up. Much appreciated.

I vote for:

As otherwise:

Which seems like the safer option. Especially if folks want to dabble in enabling such as system wide re-configuration when they don't yet appreciate it's scope.

As always it's your call as there may be as yet unseen intracasies in the implementation that require breaking this issue down and spawning furthe

[2021-01-30 13:44] phillxnet commented on #2236
I am currently working on this issue.,

[2021-01-30 13:47] phillxnet commented on #2236
Linking for context to the forum origin of this issue:
https://forum.rockstor.com/t/repeated-qgroup-error-in-rockstor-log/7505

[2021-01-30 15:32] FroggyFlox commented on #2241
Sounds good! I'll go that route and see where I can go with it; hopefully it won't be too much of a rabbit hole.

[2021-01-30 18:52] phillxnet commented on #2254
I have begun looking into this issue. It remains to be seen if this is an appropriate issue for the allocated milestone.
Fingers crossed.

[2021-01-30 20:47] FroggyFlox commented on #2241
@phillxnet, I now have a working "proof-of-concept" (unpolished) implementation of such as automatic configuration of the Samba service based on info gathered from the AD server. It seems to work fine after a quick few tests on my end so hopefully it's a good sign.

[2021-01-30 21:33] FroggyFlox commented on #2241
For instance, when trying to start the Active Directory service with the following configurations...
- AD service domain: samdom.example.com (Workgroup should be `SAMDOM`)
- Samba service workgroup: `MYGROUP`

...we get the following error:
![image](https://user-images.githubusercontent.com/30297881/106368592-d511a380-6318-11eb-8ef3-510751c1c36f.png)

[2021-01-31 13:56] phillxnet opened #2272 "update specified psutil version"
We currently pin psutil to version 3.3.0. This is now very old and it is proposed that we update to the latest 5.6.6. However it is pinned in a couple of places:

Version stipulations for psutil are in:
setup.py
& a peculiar hard wiring in:
conf/django-hack

Uses are in:
A defunct Rock-on 'special' handler:

and on the dashboard via data_collector.py:

[2021-01-31 14:01] phillxnet commented on #2272
The upstream changelog:
https://github.com/giampaolo/psutil/blob/master/HISTORY.rst

[2021-01-31 14:10] phillxnet commented on #2272
Given psutil on PyPi is at 5.8.0 and the above changelog doesn't mention any Python 3 only versions we may consider specifying 5.8.0. More research and testing required to finalise the version we end up pinning here.

[2021-01-31 16:21] phillxnet commented on #2254
It would appear that in moving to 1.11.29 we are also loosing compatibility with our current django-rest-framework version 3.1.1.

https://docs.djangoproject.com/en/1.11/releases/1.9/#miscellaneous

https://docs.python.org/2/library/httplib.html#httplib.responses

[2021-01-31 16:38] phillxnet commented on #2254
## django-rest-framework
https://www.django-rest-framework.org/#requirements
states Python 3 and Django 2.2 + only for current versions!

Last version to support Python 2 was 3.9.3:
https://www.django-rest-framework.org/community/release-notes/#393
Note that 3.9.1 added the following additional requirement:

[2021-01-31 18:21] phillxnet commented on #2254
While updating urls.py to comply with the newer Django format it looks like the the embedded urls within our oath plugin:

django_oauth_toolkit-0.9.0

are similarly old and now removed format. I.e. using the now removed in Django 1.10 patterns import:

[2021-01-31 18:29] phillxnet commented on #2254
## django_oauth_toolkit
Another Python 3 only in current form:
https://github.com/jazzband/django-oauth-toolkit#requirements
- Python 3.5+
- Django 2.1+
- oauthlib 3.1+

https://github.com/jazzband/django-oauth-toolkit/blob/master/CHANGELOG.md#110-2018-04-13
### 1.1.0 [2018-04-13]
- Compatibility: Django 1.11 is the new minimum required version. Django 1.10 is no longer supported.
- Compatibility:

[2021-01-31 18:44] phillxnet commented on #2254
### requests update required as django_oauth_toolkit-1.1.2 requires at least 2.13

## Requests
https://requests.readthedocs.io/en/master/
Looks to have ongoing Python 2.7 support!
"Requests officially supports Python 2.7 & 3.5+, ..."

[2021-01-31 18:58] phillxnet commented on #2254
## chardet update

## Chardet
https://pypi.org/project/chardet/
"Requires Python 2.7 or 3.5+."
However we have:
https://github.com/chardet/chardet/commit/4291399777cd6f011bfdab5da678ecbea8f10855
"Remove reference to Python 2"  16 Dec 2020
https://github.com/chardet/chardet

[2021-02-01 15:34] #2236 closed

[2021-02-01 15:40] GeoffAd commented on #2236
Excellent stuff, thanks @phillxnet

[2021-02-01 16:50] #2263 closed

[2021-02-02 14:21] phillxnet commented on #2254
## django_ztask
Upstream last updated on 6 Jun 2012 !!

https://github.com/dmgctrl/django-ztask/issues/13
No current maintainer.

_Looking for maintained (newer Django/Python 3 compatible) drop-in replacements. At least for now._

[2021-02-02 17:35] phillxnet commented on #2254
## Async / background Django replacement
So it seem there is no currently maintained drop-in replacement for django_ztask.

Django 3.0 lays the ground work for native Django support but we have a way to go before this can used. Plus we need a solution to see us through this phase of dependency upgrades. I.e. Django 1.11 / 2.0 Python 2.7/3 transitions.
And we have the chicken/egg scenario re Python

[2021-02-02 20:11] phillxnet commented on #2254
## Version options for considered background task managers

### Celery
Complex and possibly over fill. Also Celery is python, but needs rabbitmq which needs erlang!

### Django-Q
https://github.com/Koed00/django-q/blob/master/CHANGELOG.md
Unclear when/if Python 2.7 is still supported.
https://pypi.org/project/django-q/
https://django-q.readthedocs.io/en/latest/install.html#requirements

[2021-02-03 17:33] Hooverdan96 opened #2275 "NGINX SSL directive should be aligned to new format"
In some cases there seems to be an issue with the deprecated SSL directive in nginx.conf being commented out and the niginx service subsequently not enabling SSL for the WebUI. See this forum entry for the symptoms and interim resolution on a CentOs-based installation (tbd whether this can be a problem on the rebased OpenSUSE.

https://forum.rockstor.com/t/solved-power-loss-reboot-successful-but-n

[2021-02-03 19:12] phillxnet commented on #2254
@FroggyFlox On the question of the current 'blocker' dependency of django-ztasks and it's replacement; I'm currently favouring Huey as it looks to be both Python 2.7 and 3 and have older Django support, if we use an old/new enough version. This paves the way for it meeting our immediate and future needs in this transition phase (hopefully). More reading to be done as yet though.

[2021-02-04 13:14] phillxnet commented on #2254
The preferred Huey option has also attracted the following young but promising django admin addon project:
https://pypi.org/project/django-huey-monitor/
https://github.com/boxine/django-huey-monitor
It is not proposed that we integrate this as well, at least until we have our Django and Python updates fully in place and maintained on a regular basis.

[2021-02-04 19:05] #2241 closed

[2021-02-05 17:12] phillxnet opened #2276 "Replace orphaned django-ztask with Huey"
Our current background process scheduler django-ztaskd has been an orphaned project for some time. This in turn hampers our Django and Python update plans, detailed in the following issues and associated comments:
### "Update Django within current Python 2 constrains" #2254

https://github.com/rockstor/rockstor-core/issues/2254#issuecomment-771667824
https://github.com/rockstor/rockstor-core/issue

[2021-02-05 17:15] phillxnet commented on #2276
Thanks to forum member freaktechnik in the following forum thread for highlighting a potential current issue with django-ztask's stability:
https://forum.rockstor.com/t/ztaskd-broken-after-leap-updates/7493/2

[2021-02-06 13:42] phillxnet commented on #2276
Given the prior referenced forum report, I am currently assessing the viability of bringing this issue into our current Rockstor 4 milestone as it  may well be the cause of a recent regression in on our Leap base caused by an inevitable incompatibility in a dependency that was updated upstream. So we may just have to tend to this sooner rather than later for our current future (with existing Djang

[2021-02-06 14:51] FroggyFlox commented on #2240
After some investigation, it seems that the workaround listed in https://github.com/SSSD/sssd/issues/4858 is indeed working in our case as well... Unfortunately, I'm not sure whether it can be implemented or not as it does require to know the domain group name beforehand but I'll dig deeper.
As a reminder, the workaround listed there is to call `grp.getgrnam(<groupname@domain>)` first before tryin

[2021-02-08 01:16] FroggyFlox commented on #2240
After quite a few attempts at understanding exactly why we cannot fetch the domain users freshly "joined" with the python `grp` module, I'm starting to believe online reports stating that `grp` simply cannot fetch remote users and that alternatives such as `getent passwd/groups` should be used. The thing that puzzles me is that we can indeed fetch these users with `grp` upon restarting gunicorn/ro

[2021-02-08 11:02] phillxnet commented on #2240
@FroggyFlox Re:

Definitely, and this is in keeping with our next major task of updating all our dependencies so we can more easily integrate newer ways of doing things. And given your recent push on the SSSD front it makes sense to use this where ever we can. And the extended user attributes abilities has to be a plus in this case. Also:
"D-Bus signal support is being added"
sound promising. I'd

[2021-02-08 17:39] FroggyFlox commented on #2240
The SSSD D-Bus API is called **InfoPipe** and is documented here:
https://sssd.io/docs/design_pages/dbus_users_and_groups.html

It would require the following packages:
- `python-dbus-python`
- `sssd-dbus`

It would require the activation of the `infopipe` service in `sssd.conf`:
[code]

Initializing the DBus interface and fetch the groups for the `Administrator@samdom.example.com` would be:
[code

[2021-02-09 21:08] FroggyFlox commented on #2240
Current working example for fetching the groupname for a user's primary gid (we already get gid so we only need the ifp part to fetch the name of the group with a given `gid`):

[code]
Testing with:
[code]

This was heavily inspired by a very well written issue on SSSD's Github repo: https://github.com/SSSD/sssd/issues/5112

[2021-02-10 03:47] ubenmackin opened #2277 "SSH gets disabled on a new Tumbleweed install"
See [post](https://forum.rockstor.com/t/built-on-opensuse-testing-channel-live-early-adopters-developers-only/6592/62?u=kupan787) for more details.

@FroggyFlox found that Tumbleweed has changed the default sshd_config file with regards to SFTP. This causes two SFTP entries to be added to the file, and then ssh won't come up on subsequent boots.

[2021-02-11 20:21] Marenz commented on #1481
This might belong to this issue:

Usability suggestion: Don't ask for at least three letters in the admin user box if there are only <5 users and maybe pre-fill the first user? Optimally no keyboard input is required at all. I mean, how many rockon users are there on a usual configuration? 1, maybe 2?

![image](https://user-images.githubusercontent.com/424752/107693772-de065b80-6cae-11eb-9071-8425

[2021-02-11 20:43] Marenz opened #2278 "[Rock-Ons] View keeps changing back to "install" tab while a rock-on is installing"
If a rock-on is currently installing and you try to view the "All" tab in the mean time, it will keep switching back to the "Installed" tab where the installing animation is played:
![image](https://user-images.githubusercontent.com/424752/107696417-39861880-6cb2-11eb-930f-95920db99ed2.png)

[2021-02-12 20:51] FroggyFlox commented on #2240
Similarly, a logic to return all remote groups as seen by `infopipe` would be:

[code]

[2021-02-13 16:26] FroggyFlox commented on #2240
Found another previous issue reporting this very problem: https://github.com/rockstor/rockstor-core/issues/1580
The current issue should thus be considered as a duplicate of #1580 and all should be closed by the related PR.

[2021-02-13 18:49] phillxnet commented on #1481
@Marenz Thanks for the input here and for tracking his issue down.

Unfortunately we have to 'cope' with quit the range of user numbers as it goes and the "Please enter 3 or more characters' grew from the following pr:
https://github.com/rockstor/rockstor-core/pull/2214
9000 user limit within NIS breaks Web-UI for larger user sets. Fixes #2211 #2214
to fix an issue for a client with around 30000 u

[2021-02-14 14:56] FroggyFlox commented on #2240
I now have a seemingly working implementation able to fetch remote `groups` from AD/LDAP servers when `grp` cannot yet see them.
I am now cleaning up the branch to then prepare a corresponding pull-request.

[2021-02-18 19:03] phillxnet commented on #2276
OK folks, we now have somewhat scruffy but working Huey managed rock-on stop, start, install, uninstall mechanism with the Web-UI reacting accordingly. Along with Huey managed event driven logging of these tasks. It's a larger re-work of 'stuff' than I had hoped but Huey is far more capable than our prior now defunct django-ztasks and so the re-work should be worth it. Plus we have not choice but

[2021-02-18 19:12] FroggyFlox commented on #2276
Excellent news!

I would say **adding shares** simply because altering rocknets can be done *live* (if the publication state of ports is not changed), meaning that we don't uninstall/reinstall the rock-on. In contrast, *adding shares* (or adding/removing labels) will uninstall the rock-on, and then re-install it with the new settings so it will go through "the whole process".

That one scares me a

[2021-02-19 12:50] phillxnet commented on #2276
@FroggyFlox
Thanks for the pointers. That's exactly what I was after.

Re:

Yes, I was hoping so actually. Although my first 'wash' was to do as direct a transition as possible. And if that works then go with that for now. And as we progress we can most-likely improve on what we have had to do previously just to get things working.

References for the Huey pipeline capability, essentially serialis

[2021-02-19 13:56] FroggyFlox commented on #2276
That does sound exactly like what we need, indeed... nice!

I completely agree, especially with regards to rock-ons as we wouldn't lose much time by running some steps "serially" if that helps buy some time to later optimize the process.

Huey does seem like a nice replacement here, and thank you so much for tackling this task! I'm rather short on time lately but I'm looking forward to finding som

[2021-02-19 16:39] phillxnet commented on #2276
Bar the occasional disappearance from installed list we now have Huey managed rockon config update.

Tested as working both live, no uninstall/install and non lite updates (label add/ share add).

The 'disappearing' of a mid config update rockon  is very likely an artifact of a race condition as our Huey task updates a model just a bit too late for the automated page refresh. The Rock-on is then c

[2021-02-19 16:52] FroggyFlox commented on #2276
I couldn't agree more; this artifact is likely the result of our sub-optimal current implementation so its improvement deserves its own dedicated work later on. I also am excited by the new possibility we gain such as moving away from polling and into proper real-time feedback. This is especially showing for anything related to rock-ons so it will be a very big improvement once we can!

Did you me

[2021-02-19 17:27] phillxnet commented on #2276
@FroggyFlox

That's the one. And we need at least Python 3.5 for that also, plus the in-progress Django update (awaiting this issues completion), plus it's follow-up post the python update.
Oh well, bit by bit.

[2021-02-20 18:54] phillxnet commented on #2276
OK, so a little progress on Huey managed balance commands: We now have successful reporting of a failed regular balance thus (hard coded "btrfs-fake" to throw a fully contextual exception):

![first-huey-balance-fail-report](https://user-images.githubusercontent.com/2521585/108605593-df214200-73ac-11eb-9612-7436b69bd419.png)

We are not at full tick just yet thought but it's a start.

[2021-02-23 12:34] phillxnet commented on #2276
OK, so we just got another win from this Huey move: our previously dis-functional and remarked out balance "End Time" column is now working as intended, thanks to Huey's task event driven Signals callbacks (see last commit if interested):

![balance-table-end-time-column](https://user-images.githubusercontent.com/2521585/108843769-1113ed80-75d3-11eb-8558-55ae75ac4473.png)

I needed to check the fu

[2021-02-24 09:07] phillxnet commented on #2254
This issue, and it's milestone status, is currently dependant on the in-progress and linked:
"Replace orphaned django-ztask with Huey" #2276

[2021-02-25 13:25] ianlester7 opened #2280 "Optional configuration for rockons"
This change would allow optional configuration to be added to the json definition of a rockon (in rockon-registry).

Depending on the perceived importance of the option it could be displayed as top level configuration during installation or under an expandable advanced settings section.
Options should be pre-populated with default values or left blank in which case they will not be passed to the d

[2021-02-26 11:58] phillxnet opened #2281 "Dmesg (Kernel) log option dis-functional in v4 release candidates"
In our 'Built on openSUSE' variant the Dmesg (Kernel) log option misleadingly reports "Selected log file is empty or doesn't exist". This is thought to be attributable to underlying OS changes since our transition from CentOS to openSUSE as our base OS.

![empty-dmesg-Web-UI](https://user-images.githubusercontent.com/2521585/109296973-21250a80-7829-11eb-99f8-5678c46498de.png)

Where as the inferre

[2021-02-26 12:01] #1331 closed

[2021-02-26 12:12] phillxnet commented on #2281
Linking for context to when this Web-UI log view element was added:
"Issue#762 logs on demand" #1312

[2021-02-26 12:45] phillxnet commented on #2276
It turns our that critical common btrfs balance execution failures such as out of space etc were being hidden inside CommandException() reports in our Huey task errors. Sorted by moving to a full traceback via the last commit. We now have a proper surfacing of the btrfs command execution failure as well as the prior more contrived "btrfs-fake" exception:

![improved-balance-fail-report](https://us

[2021-02-26 13:06] phillxnet commented on #2276
Balance, both internal (disk removal) and external disk add with or without raid level change have now been tested successfully to show (where possible) initial, ongoing, and finished status as expected. Including correctly surfacing contrived and real errors in all these scenarios. Full tick administered appropriately ;) . Moving along to config restore related Huey managed tasks.

[2021-02-26 20:45] FroggyFlox commented on #2276
Excellent news, @phillxnet!

I just had a quick thought on the following:

With regards to the restore of rock-ons (as it is the most complex and potentially most inappropriate), a lot of the process does not need to be run as sub-task (as it currently might?). As `docker` itself does not run in parallel anyway, it would simplify a lot to simply fire the entire thing one after the other and preven

[2021-02-27 10:41] phillxnet commented on #2276
@FroggyFlox

OK, thanks. Yes I was wondering if this may help actually, especially now we have, hopefully, more control over serialisation (Huey pipelines), and inadvertent parallelism (task locking). I've yet to dig into this just yet but it's encouraging that it's the last bit in this Huey move. Oh and I believe we can set timeouts on Huey tasks so that may well help with replacing a similar fea

[2021-03-07 14:03] phillxnet commented on #2276
OK, so I think I'm now ready for pr submission. Prior to that, to avoid all my messy work in progress/experimentation/save-point commits I'll squash all, remove branch and re-assert/push with the same name so we can hopefully keep the final merge from clouding the commit history.

@FroggyFlox I've just done a few tests and it's looking very much like we are pretty much there, or more accurately 'w

[2021-03-07 16:35] cyberlink1 opened #2282 "Pool lost on second share add."
I came across this during my install and deploy of rockstor.

If you select a pool --> add a share (it defaults to the pool name) and then create your share it creates it and drops you back to the shares page.

If you click on add a share again, it then defaults to the ROOT pool and not the pool you were working with.

It was a bit annoying while I was trying to add 10 new shares to the pool so I

[2021-03-08 08:37] #1580 closed

[2021-03-08 08:37] #1817 closed

[2021-03-08 08:37] #2240 closed

[2021-03-08 13:35] phillxnet opened #2284 "GB-BXBT-2807 motherboard has non unique appliance id"
Thanks to forum member nik0chan for reporting a new fake appliance id. Gigabyte GB-BXBT-2807 looks to be re-using the following appliance id:

03AA02FC-0414-05EB-D406-DC0700080009

It is proposed that we add this to our existing list of fake_puuids in osi.py.

[2021-03-08 14:25] phillxnet commented on #2284
Issue awaiting forum response to confirm duplicate appliance id as forum post reports a difference between appliance id and the output of:
[code]

[2021-03-08 17:47] #2276 closed

[2021-03-10 13:16] chrstphrchvz opened #2285 "Web UI delay/timeout while waiting on yum info installed"
As described for #2267, I am using Rockstor on a Raspberry Pi 3 installed to a slower USB hard drive, and have been looking for possible causes of long delays and timeout errors in the Web UI that I observe.

One command I notice Rockstor runs as it readies itself or does its update check is `yum info installed -v rockstor`, from `rpm_build_info()` in `system.pkg_mgmt`; I've observed this command

[2021-03-11 02:43] chrstphrchvz opened #2286 "Web UI delay/timeout while waiting on yum changelog"
See #2267, #2285 for background. Another process I see taking a long time to complete (sometimes several minutes) is `yum changelog --since 2021-Mar-09 rockstor` used from `rockstor_pkg_update_check()` in `system.pkg_mgmt`.

I think I need a better understanding of what information Rockstor is trying to retrieve before seeing if there's already functionality that could help or if I could offer an

[2021-03-12 11:54] guino973 opened #2288 "Error mount btrfs rockstor 3.9.2-50"
Hello,
After removing a disk from a rockstor pool and following a reboot, rockstor can no longer mount the filesystem.
[root @ nas-1-ssd mnt2] # btrfs fi show
Label: 'rockstor_rockstor' uuid: bb763b04-0bfd-4c6f-82cf-a86e1760356d
        Total devices 1 FS bytes used 2.89GiB
        devid 1 size 12.40GiB used 6.33GiB path / dev / sdh3

warning, device 8 is missing
bytenr mismatch, want = 20971520,

[2021-03-12 13:25] guino973 commented on #2288
If i want run this command :
btrfs device delete  detached-6b91fdd0c7e44c01a00e5300a0a7fa7d
or
btrfs device delete  6b91fdd0c7e44c01a00e5300a0a7fa7d
or
btrfs device delete  5002538e403cf3d3

?

![rockstor](https://user-images.githubusercontent.com/80522216/110945451-762e4980-831c-11eb-82cd-3cb1a16dd8f8.png)

[2021-03-12 20:41] phillxnet commented on #2288
@guino973 For support questions such as this I think the forum would be more appropriate.

https://forum.rockstor.com/

As for deleting missing devices btrfs does accept the word 'missing' as a device identifier. This is what Rockstor uses itself when asked to remove a missing device. But the degraded,rw custom mount options have to be specified, as per the Web-UI instructions, for this to be poss

[2021-03-12 20:59] phillxnet commented on #2286
@chrstphrchvz Hello again.
Re:

The latter I think, without diving into it right now. We offer on the Web-UI a changelog that represents the difference between the installed version and the most recent version offered. It's also been quite the journey in our recent 'Built on openSUSE' endeavour to have this all work OK, as the output from dnf-yum and yum changed very slightly.

To be honest I'm su

[2021-03-23 18:11] nigel-a opened #2290 "Fake Product UUID Case Sensitivity"
It seems Rockstor 4, or rather OpenSUSE generates the same UUID but in a different case to Centos.

The file /opt/rockstor/src/rockstor/system/osi.py detects the fake UUID but in a case sensitive way.  This means that proper appliance IDs are not generated in RS4 for systems that present with a fake UUID.

The proper fix should make the Fake UUID detection process case insensitive.  An alternative

[2021-03-25 13:58] FroggyFlox commented on #2281
@phillxnet, thinking it might be a matter of file path, I was curious about that one but it turns out it actually is the result of different logging systems as openSUSE Leap 15.2 uses `journald`.
While we currently try to read the dmesg log from `/var/log/dmesg`, there is no such file in Leap 15.2 as we're based on `journald`. It thus seems we need to adapt to our current mechanisms accordingly.

[2021-03-25 20:01] phillxnet commented on #2281
@FroggyFlox Thanks for taking an initial look at this.
Re:

Agreed.

Nice.

[2021-03-29 18:56] Hooverdan96 commented on #2290
Also, probably for another day, but would it make sense to switch to a software id, something like /var/lib/dbus/machine-id instead? I came across this blog, while researching something else (yeah, it's kind of old, but still seems to apply): http://0pointer.de/blog/projects/ids.html

[2021-03-30 23:04] Hooverdan96 commented on #2290
@phillxnet All good points. I like the idea of a "central file" to manage the fake uuids, if that becomes feasible. Thanks for you extensive response.

[2021-04-01 04:13] Overwatching opened #2291 "[Network] Insane number of DNS requests originating from fresh Rockstor VM"
I have a freshly installed Rockstor 3.9.1-0 VM in Proxmox.

The next day I checked my Pi-hole dashboard and noticed some...odd behavior.

That VM generated ~200k DNS requests in the last 16 hours.

The requests are not being blocked. They are resolving properly, though 99% of them are hitting the DNS cache (obviously since the same addresses are being hit every other second.)

The Pi-hole logs for

[2021-04-01 15:42] phillxnet commented on #2291
@Overwatching Thanks for the report. 3.9.1-0 is super old but our last pre-compiled installer. You are likely to have a very different experience with our more modern offering that is only currently available via the following DIY installer build recipe:

https://github.com/rockstor/rockstor-installer

**3.9.1-0 installer was released 2nd July 2017:**

https://github.com/rockstor/rockstor-core/rel

[2021-04-01 20:03] Overwatching commented on #2291
1. No rock-ons. It was a fresh install. The only thing I did beyond the installer was to add a drive and make a SMB share for testing purposes.
2. This was for my HomeLab, which I'm spinning up to give me a place to actually have a reason to learn Linux stuff. But at the moment I'm only (barely) comfortable with the debian ecosystem. I'm not at the point where I'm ready to build anything myself at

[2021-04-03 12:48] cyberlink1 opened #2292 "DEV Error does not clear after drive replacement."
I recently had a drive go bad in one of my pools, the bad block created a CSum error on one of the files.

I replaced the drive using btrfs replace, then did a scrub on the drive. BTRFS replace actually copied the csum error but doing a scrub identified the file that was affected. After which I removed the file and copied a new version over. This eliminated the csum error on the file and cleared o

[2021-04-03 13:06] phillxnet commented on #2292
@cyberlink1 Thanks for the report.

Not a bug as these stats are extracted directly from the dev stats command in btrfs. The are accumulative, i.e. the show the history of errors for a given device. To double check do a btrfs dev stats on that device to see if the command line agrees. And if it does you can execute the specified command to clear the current tally of past errors.

Do report here if

[2021-04-03 13:10] phillxnet commented on #2292
The text I'm referencing is the "Cumalative pool errors per device ..." bit and the suggested command to reset it. All the red messages are simply keyed from there having been errors and them not having been reset. Not that their cause has now been resolved. It's the current way btrfs works for these errors and has come up on the btrfs mailing list a few times. It's why I used that wording and I w

[2021-04-03 13:14] cyberlink1 commented on #2292
Ok, did not realize I had to manually reset the device stats after the scrub of the device showed clean.

Guess this can be closed. Ill add it to my notes.

[2021-04-03 13:17] phillxnet commented on #2291
One can save config and download and then import the pool and restore the config between an older 3 and a newer 4 variant:
http://rockstor.com/docs/disks.html#import-btrfs-pool
and:
http://rockstor.com/docs/config_backup/config_backup.html

No direct update as one is based on CentOS and the other (4) is 'Built on openSUSE'. But the data pool format and rockstor code is compatible re config save /

[2021-04-03 13:21] phillxnet commented on #2292
@cyberlink1 Good point though. We could do with a pull request on the docs to explain this, if you fancy having a go. And we could then link to that section (via another pr on core) within the Web-UI as it's obviously a confusing scenario that we are not properly helping with within the Web-UI. Feel free to create the appropriate issues in the docs and core repo for these if you fancy given you in

[2021-04-03 15:24] FroggyFlox commented on #2281
As of 581edfb, I now have a simple but working fix to write the dmesg log to file; the following now works from the webUI:
- download the dmesg log
- read the log file

I still need to implement `journalctl -kf` in the live log reader, though.

[2021-04-04 10:51] phillxnet commented on #2281
@FroggyFlox Excellent. Thanks for stepping up to this one. Much appreciated. I've initially assigned to you given your progress to date to help avoid duplication of effort.

Thanks again for tending to this 4 Stabel release milestone issue.
Bit by bit.

[2021-04-04 13:58] FroggyFlox commented on #2281
As of 02137e7, we now have `journalctl -kf` implemented as a live reader so we can watch the dmesg logs from the webUI.

I'll go ahead and proceed with a final look on this and verify all tests (if any) still pass.

[2021-04-04 16:22] phillxnet commented on #2281
Nice. Well done.

[2021-04-05 08:22] phillxnet commented on #2254
Now we have the django-ztask to Huey move resolved via pr:
"Replace orphaned django-ztask with Huey (#2276)" #2283
and released in the testing channel from version 4.0.6 I will re-base my progress there to date and continue with this issue shortly ; hopefully.

[2021-04-08 12:02] FroggyFlox opened #2294 "Not putting a group under rockstor management is not respected"
Following [a report](https://forum.rockstor.com/t/deleting-a-user-newbie-question/7756?u=flox) by forum user *wdc* and subsequent attempts at reproducing the issue described therein, I noticed a quirk in the creation of a new group:

<img src="https://user-images.githubusercontent.com/30297881/114020172-4c921080-983d-11eb-889a-4953affb3309.png" width="500">

Indeed, the setting of the checkbox *Pu

[2021-04-08 12:17] FroggyFlox commented on #2294
@phillxnet, this seems to be a problem on the javascript side of things and a quick javascript attempt on my end seemed to resolve the issue. Feel free to assign this me if you'd like.

[2021-04-08 13:27] phillxnet commented on #2294
@FroggyFlox Sorted (after a little mouse fumbling).

Thanks and nice find.

[2021-04-09 12:51] Jip-Hop commented on #1739
This issue is still relevant for a fresh install of RockStor 3.9.1-16. I didn't have this issue on the RockStor 4 beta.

[2021-04-09 17:01] phillxnet commented on #1739
@Jip-Hop Liking to a recent post on the forum re release dates:
https://forum.rockstor.com/t/luks-full-disk-encryption-on-rockstor-4-system-drive/7770/5
3.9.1-16 released Nov 2017 (last testing on CentOS)
Stable updates only then on CentOS until 3.9.2-57 (April 2020)
Now we are only working on the 'Built on openSUSE' 4 variant, last released March 2021 as version 4.0.6.

[2021-04-11 15:56] Jip-Hop opened #2296 "System pool not recognised due to LUKS"
System protections (like not allowing delete) don't kick in when the system is installed with LUKS Full Disk Encryption because the pool is not recognized as system pool.

<img width="1149" alt="Screenshot 2021-04-09 at 17 58 29" src="https://user-images.githubusercontent.com/2871973/114311426-fa781600-9aee-11eb-9d13-c25dc3643393.png">

This concerns a manual installation of Rockstor on top of a b

[2021-04-12 09:36] phillxnet commented on #2296
@Jip-Hop Thanks for creating this issue. Much appreciated.

[2021-04-12 13:30] lucserre commented on #771
I see this same behavior on my fresh installation now (4.5 yeas later). Thanks

[2021-04-12 13:32] lucserre commented on #1826
I agree, atime or even relatime is very undesirable from a performance standpoint. Either shares (subvolumes) should copy pool mount options or have a section to manually adjust them.

[2021-04-15 21:55] sis-chris opened #2297 "Since updating to 4.0.6 I’ve lost the Disk Activity chart"
Hi, I wasn't getting much traction in the forum so I thought I'd add this as an issue.

As per the title since updating to 4.0.6 I've lost the Disk Activity chart in the dashboard. All the other "tiles" appear to be working ok. openSUSE Leap has all of the latest updates.

Below is the bad network request I located in Firefox as requested by forum user Marenz.

Keep up the good work
Chris

`{

  {

[2021-04-16 12:22] phillxnet commented on #2297
@sis-chris

From:
https://github.com/rockstor/rockstor-core/blob/master/src/rockstor/smart_manager/data_collector.py#L571-L578

We source this data from the following command:
[code]
Could you paste the output of this command (between code quotes) to check on this end of things. As there is little that has changed in this respect code wise.

[2021-04-16 12:26] phillxnet commented on #2297
Linking to the subpost within the forum:
https://forum.rockstor.com/t/built-on-opensuse-testing-channel-live-early-adopters-developers-only/6592/70

[2021-04-16 12:28] phillxnet commented on #2297
@sis-chris I think a new forum thread may have been the way to go on the forum, as you intimated in the linked post. But no worries.

And thanks for the report there and here.

[2021-04-18 22:03] sis-chris commented on #2297
Hi Philip, I've resolved the issue. I remembered I had been trying to get Certbot working around the same time as the 4.0.6 update. All my reading pointed to having to install snappy/snapd to get it to work which I'd done. Having a look at Yum it showed me the repository for snappy no longer existed so I removed it and snappy related packages. Yum was also showing me some package conflicts even af

[2021-04-18 22:03] #2297 closed

[2021-04-20 10:21] nigel-a opened #2298 "Add VLAN type to Networks Page in UI"
Currently it's not possible to configure VLANs from the network UI.  An easy change would be to add the connection type of VLAN to the drop down list, and formulate a nmcli command from the already existing input boxes for other types.

This would allow you create network LAGs (bonds/teams) and then build VLANs on top of the LAG.  It would also allow you to configure VLAN tagging on individual int

[2021-05-01 14:30] WDC57 opened #2299 "Display bug: replication receive messages"
Note: I suppose this could be the intended behavior but I think it is a bug in filtering the data on the screen.

Display bug: the list of "Last receive" messages is not filtered for the source share.
Severity: low.
Steps to reproduce: On the receiving appliance, select Storage > Replication  > Receive; select any link in the "Last receive" column.
Expected behavior: a history list corresponding t

[2021-05-02 10:57] phillxnet commented on #2299
@WDC57 Thanks for the report. Nice find.
Re:

I would agree. I think we are just failing to filter appropriately somewhere along the line. Or could be clearer about the nature of the links being more global to all replications.
Agreed this is low priority but it's great we now have this issue for it.

Thanks for the nice clean report, much appreciated.

[2021-05-06 11:41] #2281 closed

[2021-05-06 12:48] #2294 closed

[2021-05-06 15:49] phillxnet commented on #2290
I'm currently working on this issue.

[2021-05-06 19:13] phillxnet commented on #2290
Upon considering this issue/problem we have the following context:

Newer kernels output lowercase; in line with https://tools.ietf.org/html/rfc4122 as does dmidecode: https://savannah.nongnu.org/bugs/index.php?53569

As from kernel 4.17 product_uuid output is lowercase:
https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?h=v4.17-rc1&id=712ff25450bd01366301eef81c33e865d901e7

[2021-05-12 13:28] phillxnet commented on #2254
Removed GitHub branch associated with this ongoing work and rebased on current master - tag 4.0.7-0.
Will re-push and continue from there so that we can inherrit the required, and referenced, ztasksd-to-Huey move and all other ongoing changes since this issues associated work was started.

[2021-05-14 15:21] phillxnet commented on #2254
OK so a way to go yet and no working login but we at least now have some tests passing:
[code]

[2021-05-15 18:27] phillxnet commented on #2254
Progress of sorts !!
[code]

[2021-05-19 18:12] phillxnet commented on #2254
Definite progress:
[code]

[2021-06-14 17:12] phillxnet commented on #2226
@polarathene, @StephenBrown2, & @FroggyFlox  I've begun working on this issue:

We should now have a parallel https feed of all services from this server.

No http->https permanent redirect just yet as still some more checking to do, but I intend to add that soon: post more research/testing  on potential adverse effects re rock-on repo & the old rockrepo (early CentOS varaint).
See the following f

[2021-06-15 18:12] cmurf commented on #1980
Specifically these should be in the initrd:
usr/lib/udev/rules.d/64-btrfs.rules
/usr/lib/udev/rules.d/64-btrfs-dm.rules

At least the first one, provided by systemd, needs to be present in order to make sure udev doesn't inform systemd that this file system is ready for mounting, until all devices show up. If there's even a small delay, mount fails if all devices aren't ready, hence this rule.

Of

[2021-06-16 16:42] chrstphrchvz opened #2302 "Tests tries to import django_ztask"
Trying to run unit tests on a clean build fails when trying to import `django_ztask`. I find that removing `'django_ztask'` from test/test-settings.py avoids this issue. My guess is that as of #2283 `django_ztask` now needs to be removed from `INSTALLED_APPS` in conf/test-settings.conf.in; is that the case?

[2021-06-16 20:43] phillxnet commented on #2302
@chrstphrchvz Nice find and thanks for the report.

We mostly run the tests without referencing this 'special' config and so this was missed.
And Yes, as of
Replace orphaned django-ztask with Huey (#2276) #2283
we should no longer have any reference to django-ztasks. But we did maintain it's name in some places referencing our internal server names as that made things much simpler in the transitio

[2021-06-17 15:26] phillxnet commented on #2226
@polarathene, @StephenBrown2, & @FroggyFlox

Permanent redirect (301) on http -> https now in place for entire web server config. Please see the folloowing forum post for the tests I used to ensure we have continued & expected function from this server:

https://forum.rockstor.com/t/rockstor-com-maintenance/7847/5

Re:

If I don't hear anything untoward relating to this http -> https transition an

[2021-06-18 03:16] polarathene commented on #2226
Is that referring to brotli and/or gzip? If so :+1:

I wouldn't expect the HTTP redirects to be contributing much bandwidth/load impact?

To reduce the number of requests, when you're more comfortable/confident with HTTPS setup; you could look into using HSTS headers and submission to browsers to better enforce HTTPS over HTTP?

[2021-06-26 13:19] phillxnet commented on #2226
@polarathene , @StephenBrown2
Re:

&

Now sorted: https://github.com/rockstor/rockstor-website

And as we've had no reports of issues thus far re this http -> https move I'll close this issue. Some mixed content hard-coded in the site code but I've opened a specific issue in the new repo for that anyway. Not a show stopper but at least we have it issued for now. Ended up sorting this https move pr

[2021-06-26 13:19] #2226 closed

[2021-07-16 23:22] FroggyFlox commented on #1906
Although this remains to be tested (on my end, at least), a possible fix has been merged and released by Docker...
https://github.com/moby/moby/pull/42273

... and included in the latest `docker-ce-20.10.6` package in the openSUSE Leap 15.2 repo:
https://build.opensuse.org/package/view_file/openSUSE:Leap:15.2:Update/docker/docker.changes?expand=1
[code]

[2021-07-17 14:48] phillxnet commented on #1906
@FroggyFlox Thanks for updating this long standing issue with fresh info. Looks promising.

[2021-07-19 15:05] korg opened #2304 "rockon url is http but rockstor.com is now https"
Fix for default url for rockon pull url

#2303

Hopefully even i cant mess that pull request up. haha.

[2021-07-19 16:15] phillxnet commented on #2304
@korg Thanks for opening his one, and preparing the requisite pull request.
Linking for context to the recent issue regarding our move of rockstor.com to https:

[Website] Missing HTTPS #2226

That issue didn't quite belong in rockstor-core but at the time we didn't have the more appropriate https://github.com/rockstor/rockstor-website

We have now had https only (with http redirect) since June 17

[2021-07-21 19:46] phillxnet commented on #1144
The idea of providing better defaults re auto generation of appropriate shares etc has more recently been raised, and linked to this issue, here:
https://forum.rockstor.com/t/rockon-share-required-for-config-by-design-discuss/7915

Thanks to forum member DrC for again highlighting this usability improvement / possibility.

[2021-07-23 17:04] phillxnet opened #2305 "Move Rock-on url default definitions from built time to runtime"
It is proposed that we move to declaring our Rock-on related 'repo' variables at run-time to more easily facilitate future enhancement re custom Rock-on repositories and enable easier manual adjustment in the mean time for this potential future configuration element without having to rebuild from source.

Please resource the later discussion in @korg's recent related pull request: specifically @Fr

[2021-07-23 20:08] FroggyFlox commented on #2305
Thanks for taking care of writing this up!

I completely agree. We could propose this as a further customization of the *Rock-ons* service, for instance, and let users specify the path to the directory containing the `root.json` and the individual rock-ons json definitions. We could even think of implementing a button (somewhere) to sync this "local repo" with the rockon-registry; the current `roc

[2021-07-26 01:31] chrstphrchvz opened #2306 "rpm_build_info: 'rockstor' hardcoded in error"
In the `rpm_build_info` function, the `rockstor` package hardcoded in one of the possible errors:

https://github.com/rockstor/rockstor-core/blob/f170ee56ce129d12e3b4c81534a39f72a767e4f0/src/rockstor/system/pkg_mgmt.py#L118

Since the function is getting the package name from the `pkg` argument, `pkg` should be used in the error instead, even though the function is currently only used to check for

[2021-07-26 19:54] phillxnet commented on #2306
@chrstphrchvz Agreed. Nice.
Thanks for your continued efforts in this part of the code. Much appreciated. Hopefully I can take a closer look  at this soon. Unless @FroggyFlox beats me to it of course.

[2021-07-28 16:17] phillxnet opened #2308 "Increase minimum recognised disk size to 5GB and define at run-time"
In a number of trials with btrfs, especially during raid changes, it was found that a practical minimum to allow for basic experimentation was 5GB. Currently we ignore all devices below 1 GB: see MIN_DISK_SIZE in settings.conf.in. It is further proposed that we move this specification from being defined at build-time to being instantiated at run time. This way if a need arises folks can more easil

[2021-08-06 18:45] #2304 closed

[2021-08-14 17:35] phillxnet opened #2309 "Re-enable IPv6 at kernel level"
Further to an immediate upstream docker bug related to systems using the ipv6.disable=1 kernel command line option, it is proposed that we now drop this hard disable and return to our prior enabled but unconfigured/maintained IPv6 setup.

Please see the related issue in https://github.com/rockstor/rockstor-installer:

"remove ipv6.disable=1 kernel option": https://github.com/rockstor/rockstor-inst

[2021-08-14 19:19] phillxnet commented on #2309
It is proposed that we take a similar approach here to when we ran into a CentOS Python package incompatibility, I.e. in initrock we check to see our current kernel state, i.e. command line or grub config file contains:  ipv6.disable=1 and if so edit the grub config file, via sed for example,  and re-run our grub setup.

Options:
1. We read the output of "cat /proc/cmdline" to assess if our runnin

[2021-08-14 21:36] joschi127 commented on #2139
This change causes the following error when installing latest Duplicati Rock-On:

[code]

When I re-enable ipv6 Duplicati is working fine.

[2021-08-16 11:37] phillxnet commented on #2309
With regard to this favoured approach, and the nature of this 'fix', i.e. undoing a prior kernel command line addition, and the strictly 'system state' nature of this issue; we could instantiate a systemd oneshot service with a conditional of:
[code]
that in turn simply executes the following sed command:
[code]
which should remove all "ipv6.disable=1" instances, with or without trailing spaces, f

[2021-08-17 12:53] phillxnet commented on #2309
Using the proposed "Type=oneshot" systemd service with the suggested kernel condition we get the following if the condition is not met:
[code]
Where as if the booted kernel does have our now unwanted "ipv6.disable=1" we get the following:
[code]
and our grub is reconfigured accordingly.

The console message is as follows:
![reboot-requried-message](https://user-images.githubusercontent.com/2521585

[2021-08-17 12:53] phillxnet commented on #2309
A pull request with this proposed solution will follow shortly.

[2021-08-17 15:04] #2306 closed

[2021-08-18 07:57] #2309 closed

[2021-08-18 14:25] phillxnet commented on #2254
The current state of this branch, i.e. a few tests still failing and a tricky db update issue, along with the many core package updates associated with the Django update and the already hundreds of changes to date, leads me to removing it's optimistic inclusion in our current ISO v4 release milestone. I will likely use this pr instead to establish a new testing branch and release sequence so that

[2021-09-10 10:55] phillxnet opened #2311 "Pending 'missing' case issue re btrfs fi show"
There is a pending proposal to enhance the output of 'btrfs fi show' to include the devid and an advisory, or missing, device path. I.e. currently there is the following expected output of btrfs fi show:

[code]
proposed to be replaced with:
[code]

Where the device path "/dev/loop1" in this case, may be omitted if unavailable.

This additional missing dev info could be of great use to our 'missin

[2021-09-15 20:05] eric-marcus-mbu opened #2312 "Feature Request - separate the LogOff drop-down link from the Reboot/Shutdown links"
On the web gui the choices for LogOff, Reboot and Shutdown are all on the same drop-down menu.  Therefore it is easy, if the mouse pointer slips, to reboot or shutdown when all you want to do is to log off.

Can the LogOff choice be separated from the Reboot/Shutdown?

Perhaps even make Reboot/Shutdown only possible from the CLI console ?

Thank you,
Eric Marcus

[2021-09-15 20:40] phillxnet commented on #2312
@eric-marcus-mbu Thanks for creating this feature request issue.

Linking to your forum thread for context:

https://forum.rockstor.com/t/how-to-disable-reboot-shutdown-from-gui-console/7959

I'd favour we go with just the separation idea myself.

[2021-09-16 08:56] g6094199 commented on #2312
or a popup to acknowledge the reboot/shutdown again.

[2021-09-16 11:50] phillxnet opened #2313 "Repeating reboot/shutdown confirmation dialog on selecting 'cancel'"
When selecting 'Cancel' on both the Reboot and Shutdown confirmation dialogs, when activated from the dashboard (in reproducer), the same confirmation dialog re-appears. Subsequent cancels are then effective in properly cancelling the Reboot/Shutdown operation but a loop of 2 or 3 'repeat cancels' can sometimes be necessary.

An initial suspicion was a negative interplay with our "Please select a

[2021-09-16 12:14] phillxnet commented on #2312
@g6094199
Re:

Funny you should mention this as we do already have these for reboot/shutdown, and I had thought to mention these as an existing Web-UI confirmation element in this area:

## Reboot:
### Firefox
![reboot-confirmation-dialog](https://user-images.githubusercontent.com/2521585/133602194-dfae98d6-7640-4b3e-a38f-2d9dbc1472a5.png)

### Chrome
![chrome-reboot-confirmation-dialog](https://u

[2021-09-22 11:19] phillxnet commented on #1372
The above referenced status page has now moved to:
https://btrfs.wiki.kernel.org/index.php/Status

[2021-09-22 16:15] Hooverdan96 opened #2314 "Rockstor on OpenSUSE - System Update Logs pointing to Yum Logs"
In the Logs section, the system update logs are pointing to the original Centos-based Yum logs.

![image](https://user-images.githubusercontent.com/35113775/134381414-93d7d4a8-ccbd-4057-ae46-a6e14d910c21.png)

It would be good to see the zypper related logs in this space.

Curated comments from @FroggyFlox:
Note that we still use yum to fetch changelogs for updates but yes, we do use zypper for up

[2021-09-23 10:28] FroggyFlox commented on #2314
I'm working on the issue.

[2021-09-25 13:59] azilber opened #2316 "Does not detect drive serial numbers."
I have 4, 6TB HGST drives attached via USB Dock.  The drives have identical model numbers, but different serial numbers.   Rockstor doesn't detect the serial numbers:
![image](https://user-images.githubusercontent.com/691270/134774036-cea15e67-69ae-4ee3-82eb-af57b199d1f1.png)

Yet:

Clicking on the drive ID also shows:

[2021-09-25 15:01] phillxnet opened #2317 "Logs Archive 'Click to download' link broken"
Thanks to clink & HarryHUK (@harryhuk) in the linked forum thread for highlighting this issue. When selecting one or more logs in the "Logs Downloader" section of System - Log Manager, the expected requested_logs.tgz file is non-existent, resulting in a silent fail in Firefox or a "Failed - Network error" in chrome when clicking on the link. A related log entry, upon clicking the provided link gen

[2021-09-25 15:02] phillxnet commented on #2317
I am currently looking further into this issue.

[2021-09-25 15:09] phillxnet commented on #2317
The log manager feature was added in the following pr:
https://github.com/rockstor/rockstor-core/pull/1312

[2021-09-25 15:33] phillxnet commented on #2316
@azilber @Thanks for the report. This is a know hardware issue with some USB external multi-device enclosures. It is a 'feature' of the hardware and renders that hardware incompatible with udev's reading of the serial numbers and thus Rockstor's use of those enclosures. Take a look at the following developer wiki entry on our forum:

"Device management in Rockstor": https://forum.rockstor.com/t/de

[2021-09-25 15:35] FroggyFlox commented on #2317
Thanks, @phillxnet ... I thought I tried that one and it worked. I must be confusing with the download link from the Logs Reader. I do remember mention(s) of this in our forum or in a past issue in this repo; I can't remember for sure or check for the moment, unfortunately.

[2021-09-25 15:42] phillxnet commented on #2317
@FroggyFlox Re:

Yes, me too. I've looked in issue for a bit but have yet to look in forum. Would be good to have attribution on this one if it was raised and we missed it. I'll stagger on for a bit as it might be something simple I can quickly fix for the next release, which in turn will avoid inadvertent association with you pr which I'm pretty certain is just find. I just wanted a full compleme

[2021-09-25 16:33] phillxnet commented on #2317
@FroggyFlox I think this is the one we are both remembering:

https://forum.rockstor.com/t/selecting-logs-to-download-and-trying-to-download-them-fails/7679

I'll add attribution and a forum link to this issue directly.

[2021-09-25 17:13] #2314 closed

[2021-09-25 17:43] phillxnet commented on #2317
OK so I've managed to track this down to a change made in our build system. Our rpm's used to have the following directory:
/opt/rockstor/src/rockstor/logs/
If this is created via:
[code]
The the log download functions as expected and we get the far less concerning:
/opt/rockstor/var/log/supervisord_data-collector_stderr.log
[code]
I propose that we no longer use this now non existent directory an

[2021-09-25 18:42] phillxnet commented on #2317
I'll probably have to re-think the "/opt/rockstor/var/log/" idea as that introduces more complexity regarding webserver write access:
[code]

[2021-09-26 04:34] azilber commented on #2316
The enclosure is "Mediasonic 4 Bay Dock for 2.5' / 3.5' SATA HDD / SSD - USB 3.0 & eSATA (HFD1-SU3S2)".  It's connected over USB 3.0 to an Intel NUC.   The drives I pulled from my old Helios4 NAS, which have an md RAID-5 with btrfs over it.  I imported the pool into Rockstor.

lsusb reports it as:

Here's the requested udev info:

winnuc:/var/log #  udevadm info -n /dev/sdb

winnuc:/var/log # udev

[2021-09-26 12:17] phillxnet commented on #2316
@azilber Thanks for the outputs, more to follow later on this but first:

You have a Helios4, Nice. Shame the Marvell ARMADA® 388 (2 x A9 cores) is 32 bit ARM as we now support ARM64, but not 32bit ARM unfortunately, plus the 2 GB RAM is rather tight.

## No mdraid support on data pools.

We only support mdraid on the system disk, and then only just. Data disks must be btrfs only, and ideally with

[2021-09-26 12:18] phillxnet opened #2318 "Add another JMS567 controller serial obfuscation detection"
Thanks to @azilber in #2316 for reporting another incompatible multi-drive enclosure. We already have, in-place, detection for a number of 4, 5, and 8 bay ORICO USB 3.0 external enclosures that assign "000000000000" to all devices. In this latest report we have:

"Mediasonic 4 Bay Dock for 2.5' / 3.5' SATA HDD / SSD - USB 3.0 & eSATA (HFD1-SU3S2)"
which assignes "152D00539000" as serial for all of

[2021-09-26 13:48] phillxnet commented on #2317
We also have the associated Web-UI js code:
https://github.com/rockstor/rockstor-core/blob/master/src/rockstor/storageadmin/static/storageadmin/js/views/logs.js

After a little experimentation my prior preference for using our existing log directory may over complicate things regarding webserver access.

[2021-09-26 16:35] #2317 closed

[2021-09-26 16:41] phillxnet commented on #2318
I am currently working on this issue.

[2021-09-26 18:12] #2318 closed

[2021-09-28 09:22] wiza commented on #2022
Any chance this getting any resolution?

[2021-09-28 10:27] phillxnet commented on #2022
@wiza Given we have a number of thumbs-up on this and @FroggyFlox is one of them the likelihood is high, but the time-frame is another thing. This would involve adding an additional feature and we are now in feature freeze readying for our re-launch of sorts via the new v4 "Build on openSUSE" endeavour. See our release notes for 4.0.9-0 Release Candidate 10 from yesterday:

https://forum.rockstor.

[2021-09-28 11:15] FroggyFlox commented on #2022
Hi @wiza ,

@phillxnet already detailed pretty much everything and I agree with the fact that it's a high priority update once we get back into implementing changes like that.
As mentioned, all building blocks are already there so this would mostly require putting them all together in the desired way.
One of the reasons this has been on our radar for a while is the idea of providing a one-button w

[2021-09-28 11:23] wiza commented on #2022
Mostly updating containers but I have also created some of my own rockons and while developing fast way to delete/install would be great :)

[2021-09-28 11:42] FroggyFlox commented on #2022
Sounds good!
Our current "install" procedure uses `docker run`'s defaults, which means it'll look for an updated image and pull if there is one. This means a current reinstall will update the container to the latest image as well. I'll admit I've not looked into whether one can disable that `docker run` behavior but it might be nice to offer a way for users not to automatically do so... It'll prob

[2021-09-28 20:50] wiza commented on #2022
It could be with start/stop on installed page or just list all the available rock-ons on the All-page (currently running are now not shown) with install changed to reinstall?

[2021-10-09 19:40] FroggyFlox opened #2321 "[Rock-ons] Reserved ports numbers can still be picked during Rock-ons install"
This problem has first been noticed (to my knowledge) in a review for a Rock-on needing port 80 to be set:
https://github.com/rockstor/rockon-registry/pull/287#discussion_r725519937

As can be seen, Rockstor did behave as expected, incrementing the port number up-to one that was not currently being used in the Rock-ons database: port 87. While this logic works well in most instances, it can still

[2021-10-28 16:39] Hooverdan96 opened #2322 "Feature Request - make wsdd for windows network discovery part of the core"
May be it's not a good idea, but I wanted to suggest that a network service daemon that further simplifies integration into windows environments is added to the services list (like already exists for other network services). I have submitted a rockon for this as well, but I think, especially since the currently available wsdd package for OpenSUSE allows for both Workgroup as well as AD type networ

[2021-10-31 14:58] sanderfranka opened #2323 "Multi period snapshot schedule issue with Windows shadow copy"
When you set up a multi period snapshot schedule, a maximum number of snapshots is determined in the schedule. For example: 7 daily, 5 weekly and 12 monthly snapshots. The automatic cleanup is handled by the snapshot prefix, so for each schedule you should use a different prefix.
This part of the snapshot schedule script shows that a call is made for snapshots with the same prefix.

[code]

Howeve

[2021-10-31 15:02] sanderfranka commented on #2323
I forgot to add the link to the thread on the Rockstor forum: [https://forum.rockstor.com/t/multi-period-snapshot-schedule-not-working-correct/8040/4](https://forum.rockstor.com/t/multi-period-snapshot-schedule-not-working-correct/8040/4)

[2021-10-31 18:04] FroggyFlox commented on #2323
Thanks a lot for creating this issue, @sanderfranka !

While this is still somewhat fresh in my mind, my first thought would be that we would need to use a separate *identifier* that we would thus use for the automatic delete of snapshots > `max_count`. I'm not familiar enough with the snapshot part of Rockstor's code to have further idea, but ideally that's what it seems we would need.

[2021-11-01 18:04] twisteroidambassador commented on #1046
Looks like this way of using a proxy server is no longer working with Rockstor 4.
I tried setting the `HTTP_PROXY` environment variable for `rockstor.service`. Afterwards, my proxy server logged the Rockstor server making POST requests to `http://127.0.0.1:8000/o/token/` and nothing else. Clicking the Update button on the Rock-ons page does not seem to trigger any requests through the proxy.

[2021-11-02 11:57] phillxnet commented on #1046
@twisteroidambassador ~Thanks for the update there; I'd suggest that you start a new forum thread:

https://forum.rockstor.com/

As there may well be folks there who have already sorted this issue, or can help with it. I'm not too familiar with such things myself so can't really chip in easily. But yes, we are now all different OS-wise given the new "Built on openSUSE" endeavour.

This issue is ma

[2021-11-14 20:50] FroggyFlox opened #2324 "Postfix hash format is deprecated in Leap 15.3"
Thanks to forum user **njmike73** for reporting an issue related to our expectations in the postfix configuration. See forum thread below for reference:
https://forum.rockstor.com/t/errno-2-no-such-file-or-directory-etc-postfix-sasl-passwd-db/8083

As detailed in that forum thread, this is related to an updated version of the `postfix` package in Leap 15.3 where the `hash/db` file type is no longe

[2021-11-17 21:03] freaktechnik commented on #2202
This also appears to apply to `devices`.

[2021-11-18 14:35] phillxnet opened #2325 "Pin version, or drop 'coverage' re Python 2-3 move"
Thanks to @FroggyFlox for highlighting this issue. We currently depend upon coverage and do not specify a version. However the more recent versions of coverage have dropped Python 2.7 compatibility.

See our own issue regarding doing the same here: "move to python 3" #1877

References:
Coverage changelog: https://coverage.readthedocs.io/en/latest/changes.html#version-6-0b1-2021-07-18

It is propos

[2021-11-18 15:04] FroggyFlox commented on #2325
Thanks, @phillxnet !

Personally, I would vote for option 1 as dropping it might have repercussions that we might not see right away... It seems safer to me and we can always revisit our "pinnings" once #1877 is behind us (it is my understanding that such revisiting will be required for #1877 anyway).

[2021-11-18 15:15] phillxnet commented on #2325
@FroggyFlox Thank. And initially I was favouring this option also. But my current **incomplete** understanding of our prior coverage use was for the raw data of for example the now defunct sub domain of coverage. I.e. see the following forum post:
https://forum.rockstor.com/t/code-test-coverage-report/99

And given we have quite a few changes in-the-works I was hoping that was it's only reason to

[2021-11-18 15:33] phillxnet commented on #2325
@FroggyFlox It's addition dates back to May 4, 2015 via the following commit:

https://github.com/rockstor/rockstor-core/commit/f95b797682f743032169b3059df245b554a9bc1e#diff-60f61ab7a8d1910d86d9fda2261620314edcae5894d5aaa236b821c7256badd7

[2021-11-18 17:18] phillxnet commented on #2325
I can also find no other mention of it's use via:
[code]
I'm currently working on the assumption this is an optional test coverage metrics generation tool and given we are not currently using it to generate any results (i.e. in the way we run our tests for example) we can safely remove it until we are ready to re-add it post our python 2 to 3 migration. Cutting down on the moving parts. At that po

[2021-11-18 18:42] phillxnet opened #2327 "test_post_requests_2 (storageadmin.tests.test_samba.SambaTests) ... ERROR"
On a recent source build followed by a full test run on fully updated Leap 15.2 & 15.3 instances (JeOS derived) the following was observed:

[code]

Noting here for reference as this was observed while tending to another issue.

[2021-11-18 19:27] FroggyFlox commented on #2327
Thanks for finally putting that one "in writing". I remember having a try at it a few months back (trying to correctly mock the right call, for instance), but was hitting a snag as it seemed like the fixture was not taking, for instance...

Anyway, thanks a lot for making the effort to open this issue... Hopefully it'll remind me to look into that again.

[2021-11-18 19:44] phillxnet commented on #2327
@FroggyFlox Yes I thought we had spoken about this and it completely slipped out of my todo list some how. Apologies for the delay and dropping the ball on this one. As I remember this is currently a cosmetic failure introduced by this test falling behind our main code; and not an indication of core function failure.

[2021-11-20 18:33] phillxnet opened #2328 "Remove neglected/redundant AUTHORS file"
This file was last updated 9 years ago when only the 2 project founders were contributors. We have now had around 30 contributors but has still only 2 listed in this file. As we have also had contributor guidelines indicating for interested parties to contribute to this file for some time there is clear indication that it is redundant. Expecially as we primarily use git / GitHub for attribution.

[2021-11-21 16:42] #2325 closed

[2021-11-23 16:21] phillxnet commented on #2033
Noting that we have the following out-dated special treatment for our now removed discourse rock-on:

src/rockstor/storageadmin/views/rockon_discourse.py

[2021-11-23 16:34] phillxnet commented on #2033
I am currently working on removing the outdated and now redundant special treatment for the now removed discourse Rock-on.

[2021-11-30 12:17] phillxnet commented on #2311
This case issue in upstream is as yet not seen in the current as of writing 5.15.5 Kernel_stable_Backport repo provided kernel:
See: https://github.com/rockstor/rockstor-installer/pull/87 testing comments.

[2021-12-12 16:06] phillxnet opened #2330 "Add yet another JMS567 controller serial obfuscation detection"
Thanks to Miyuki in the following forum thread for reporting another instance of a JMS567 based external drive enclosure miss-representing multiple drive serials as one.
[code]
Forum reference::
https://forum.rockstor.com/t/can-i-avoid-this-error-houston-weve-had-a-problem-duplicate-key-value-violates-unique-constraint-storageadmin-disk-name-key/8137

Please also see the last pull request concerni

[2021-12-12 18:07] phillxnet opened #2331 "NUT timed shutdown has file path bug"
Thanks to forum members kri164 & wdc for highlighting and confirming a remaining issue in our CentOS -> openSUSE change re a difference in paths associated with the timed shutdown. From the referenced forum thread we have:
[code]
See: https://forum.rockstor.com/t/which-ups-system-device-is-supported-best-by-rockstor-nut-to-get-shutdown-process-initiated/2858/16

The associated file is:
https://git

[2021-12-13 17:09] phillxnet commented on #2311
We are also still OK on this proposed case change from "missing" to "MISSING" in 5.16.0 rc5 via Kernel_HEAD_Backport repo kernel:
See related kernel repo options pr in our rockstor-installer repo:
https://github.com/rockstor/rockstor-installer/pull/87#issuecomment-992654204

![5 16 0-rc5-pl153 2-missing-disk](https://user-images.githubusercontent.com/2521585/145856433-47a29ac3-dcb7-4c10-818a-addb8

[2021-12-13 17:34] phillxnet commented on #2311
As we don't yet see this change in Kernel_HEAD_Backport kernel version and we are far from this currently with our default, or even Kernel_stable_Backport I think it's best not to second guess the final format and go with what we have currently for our "First 4 Stable (ISO).

As such I don't think we need have this issue in our pending First v4 Stable milestone as I had considered earlier. If a si

[2021-12-13 17:55] Hooverdan96 opened #2332 "Ability to reset services to original status/settings"
In reference to this conversation: https://forum.rockstor.com/t/config-restore-tests/8059/5?u=hooverdan

Ability to reset a given service to its default values. There are use cases, where a user configures a service with required parameters and then realizes that the additional parameters might not be needed, or the service overall is not needed. Just removing required field entries will not remed

[2021-12-24 14:12] phillxnet commented on #2331
I am currently working on this issue.

[2021-12-24 19:09] FroggyFlox opened #2334 "ServiceStatus restore fails on brand new Rockstor install"
Thanks to @Hooverdan96 for originally reporting a failure during config restore on brand new Rockstor installs.

## Actual behavior

When the `ServiceStatus` model has no entry (as in brand new Rockstor installs, restoring a config backup will lead to the following error:
[code]

As we can see above, we get a `ServiceStatus matching query does not exist` error when trying to restore the *status* f

[2021-12-24 19:23] FroggyFlox commented on #2334
As a proof of concept, the following modifications:
[code]
... allows the same config backup to be successfully restored: Docker service config is restored, the Docker service is started, and the Rock-on that was installed in the config backup is installed and started.

[2021-12-25 10:34] phillxnet commented on #2334
@FroggyFlox Nice run-down and proof of concept. Many thanks.

Definitely and now done.

[2021-12-26 19:55] FroggyFlox commented on #2334
I just slightly improved the Exception detection and the resulting logging:
- if a service found in the config backup does not exist in the `Service` model, we skip it and log as such. Although a slight focus creep, I thought this could prove useful in the future in the rare case of a user trying to restore a config backup after a service has been deprecated (and thus does not exist anymore). For

[2021-12-28 13:18] phillxnet commented on #2334
@FroggyFlox Re:

Nice.

[2021-12-29 12:20] phillxnet opened #2335 "initrock via rockstor-pre fails on non-existent /etc/issue"
Under some circumstances a system can end up with no /etc/issue. Initrock, run by rockstor-pre.service can then fail trivially via:
[code]
Which in-turn fails rockstor.service & consequently rockstor-bootstrap.service vai a dependency chain.

The default upstream contents of /etc/issue is, in our new upstream of openSUSE, determined initially by:
[code]

[2021-12-29 12:55] phillxnet commented on #2335
[code]
And the associated systemd service:
[code]

[2021-12-29 13:23] phillxnet commented on #2335
Our treatment of /etc/issues history:
https://github.com/rockstor/rockstor-core/pull/940 (initrock)
with quick follow-up regression fix:
https://github.com/rockstor/rockstor-core/pull/962 (initrock)
and later:
https://github.com/rockstor/rockstor-core/pull/1702 (initrock)

[2021-12-29 13:35] phillxnet commented on #2335
It is proposed that we postpone any major changes to our existing outdated treatment of /etc/issue and for the time being fix our simple failure to back-up a file that does not exist, for whatever reason.

Later, maybe in our next testing channel run-up to our subsequent stable release, post 4.1.0-0, we can move over to using the issue-generator systemd service and simply drop our desired content

[2021-12-29 14:22] phillxnet commented on #2335
From the following it looks like we have some dead code here also:
[code]
So system/osi.py: update_issue() is no longer used.

[2021-12-29 14:50] phillxnet commented on #2335
I am working on a pull request for this issue.

[2021-12-29 18:32] #2331 closed

[2021-12-29 18:42] #2335 closed

[2021-12-31 17:49] phillxnet commented on #2324
## Leap 15.2 (hash type = *.db)
[code]

## Leap 15.3 (lmdb type = *.lmdb)
[code]

[2021-12-31 20:36] FroggyFlox commented on #2327
The error above can be summarized as follows:
[code]
We can thus see that we fail at the `ifp_get_groupname()` function, which we thus seem to mock. The call is made in the `storageadmin.models.user.groupname` method:
https://github.com/rockstor/rockstor-core/blob/f41d786022dac232cd9f36c785c53f78919c28ad/src/rockstor/storageadmin/models/user.py#L47-L60

What's interesting is that the error above s

[2022-01-01 18:02] phillxnet commented on #2327
@FroggyFlox Thanks for looking into this a little more.
Re:

I think, given there is always more we can, it would be good to have this test back in order: going at least something. We can always return to refine a little more, bit by bit, as we go. And it will likely server us better in some working state than in none. So I say we go with at least getting it doing something. I'd have to take a clo

[2022-01-02 16:11] FroggyFlox commented on #2327
Thanks for the prompt feedback, @phillxnet!

I tried a bit more to work out why our previous mock of `grp.getgrid()` was not sufficient anymore but couldn't figure it out, unfortunately... I pushed a branch that mocks `ifp_get_groupname()` instead and all tests pass:
[code]

I'll get to submitting a PR soon so that we can properly test in Buildbot.

Thanks!

[2022-01-03 13:49] phillxnet commented on #2324
The core issue here is that we are micro managing what is now managed successfully by our upstream package.
I.e. we are attempting to enforcing the access writes on the files:
[code]
But this is clearly the domain of the postfix installation: not ours.

In tests using a Leap 15.3 base (with our micro-management removed) we see that the execution of the relevant pre-process to create the final .db/

[2022-01-03 13:58] phillxnet commented on #2324
Post the proposal we drop our micro-management of the postfix generated files we are left with our own enforced use of the now deprecated hash database type:
[code]

[2022-01-03 16:52] phillxnet commented on #2324
N.B. the disparity between our enforced /etc/generic file permissions and those found in a default openSUSE was also reported by forum member kri164
See:
https://forum.rockstor.com/t/postfix-problem/7460/3
for context.

[2022-01-03 17:42] phillxnet opened #2339 "Sender issues re notification emails"
For some emails  we are not fulfilling a requirement regarding compliant 'Sender' domain entries.
Typically a notification email will be received as a 'returned' email with attached information indicating the issue:

Thanks to @meresda for their report in issue #2165, which this issue is likely a duplicate of.

Reproducer:
Configure email notification as per: https://rockstor.com/docs/interface/sy

[2022-01-03 18:04] phillxnet commented on #2339
Further experimentation shows that if we add:
[code]
so that a typical full content for a host named rleap15-3 reads as follows:
[code]
We no longer experience this issues and end up avoiding the local bounce all-together.

[2022-01-03 18:07] phillxnet commented on #2339
@FroggyFlox I've going to treat this issue separately even though I'm currently working in this area on issue #2324
That way we can more easily track the adjustments made in each area of our postfix treatment.

[2022-01-03 19:19] phillxnet commented on #2339
Linking to @meresda issue which may be related to what we see here:
https://github.com/rockstor/rockstor-core/issues/2165

"Email alerts not sending on openSuse 3.9.2-57 #2165"

I.e. from the linked issue:

[2022-01-04 11:58] #2334 closed

[2022-01-04 12:05] #2327 closed

[2022-01-04 12:16] #2324 closed

[2022-01-04 12:18] phillxnet commented on #2339
I am currently working on this issue.

[2022-01-06 17:11] #2339 closed

[2022-01-06 17:11] #2165 closed

[2022-01-07 15:21] phillxnet commented on #2330
I am currently working on this issue.

[2022-01-07 17:53] phillxnet opened #2342 "Support future kernel scrub output"
Thanks to forum member dunkelfalke for highlighting this issue. If one runs a non default kernel e.g. a Stable backports kernel such as is referenced in the following pull request:
"Remarked Kernel_Head & Kernel_stable_Backport + filesystems repos ..."
See: https://github.com/rockstor/rockstor-installer/pull/88
The btrfs scrub status output is radically changed. This in turn throws our scrub repor

[2022-01-07 17:57] phillxnet commented on #2342
Example scrub output from a default openSUSE Leap 15.3 kernel:
[code]
And example 5.15 kernel scrub output, as supplied by dunkelfalke
[code]
As such our parsing function will require an additional 'personality' to switch to if needed:
fs/btrfs.py:def scrub_status(pool):

[2022-01-09 20:42] RlndVt opened #2343 "Time Machine volume size limit"
I would love to be able to set a volume size limit for a Time Machine share, so it doesn't use the entire array.

To quote from [the docker-timemachine github:](https://github.com/mbentley/docker-timemachine#optional-variables-for-smb)

Thank you for your consideration.

PS, is it possible to manually edit samba share config files?

[2022-01-10 09:04] RlndVt commented on #2343
To answer my PS question, according to [the documentation](https://rockstor.com/docs/interface/storage/file_sharing/samba_ops.html), one should be able to using the `Custom configuration` field and adding:

`fruit:time machine max size = SIZE [K|M|G|T|P]`
e.g.
`fruit:time machine max size = 500 G`

A nice UI component to implement this would be nice.

[2022-01-10 09:31] phillxnet opened #2344 "Reject null serial disk entries from database"
It's been a while since we have seen this particular blocker and we have had no recent report of this. But in the currently unlikely event that we end up with a database disk entry that has a null serial, we fail as follows:
[code]
Resulting in an inability to complete this database transaction and thus a disk info 'freeze'. I.e. we can no longer respond to disk changes there after.

The above pro

[2022-01-10 09:35] phillxnet commented on #2344
After the proposed fix to be associated with this issue we have the following recovery from the above situation:
[code]
Note the additional:
[code]
Where the existing serial clean-up mechanism is extended to cope with this scenario:

[2022-01-10 12:58] FroggyFlox commented on #2343
Hi @RlndVt,
I was going to point you towards the "Custom configuration" field but it appears I was too slow at it ;)

Thanks for your feedback here, actually... We always strive to keep the UI as user friendly as possible yet allowing as much customization as possible. The custom configuration field does just that but I agree that it is not the most user friendly as one needs to know before hand w

[2022-01-10 18:38] #2330 closed

[2022-01-10 19:06] #2344 closed

[2022-01-10 19:24] #2328 closed

[2022-01-11 13:22] phillxnet opened #2348 "Fake serial devices break disk activity widget"
The dashboard disk activity widget has no data on systems with 'Fake-serial-" entries in the disks overview. It is likely we are failing to skip such entries and they are blocking the monitoring of the remaining legitimate device entries.

This behaviour has been observed on a v4.1.0-0 "Built on openSUSE" install.

In the reproducer case, once the fake serial instances were removed (multiple vda's

[2022-01-11 15:38] phillxnet commented on #2033
Closing as
Fixed by #2329

[2022-01-11 15:38] #2033 closed

[2022-01-16 13:02] FroggyFlox opened #2349 "[Rock-ons] Rock-ons update fails if a non-JSON file is present in the local metastore"
As reported by forum user **pepsov**, updating the list of Rock-ons fails if the local metastore contains a non-JSON file.
https://forum.rockstor.com/t/how-is-the-best-way-to-edit-rock-ons/7135/10

Indeed, we assume all files in this directory are JSON and try to load them as such. The responsible part of the process might be below:
https://github.com/rockstor/rockstor-core/blob/eeb0084a2ea6f6bdb1

[2022-01-22 08:07] GeoffAd opened #2352 "zypper update: notification of zypper lock"
This came about when I had issues with a zypper lock blocking updates to the rockstor package.

It would be good to have some indication that there is a lock on the rockstor package (or others as required) during the update process, primarily for awareness that things are underway.  The current indicator for degraded pools has a good method for making the user aware that something is happening tha

[2022-01-22 08:15] GeoffAd opened #2353 "zypper update: gui indication if issues with process commencing"
This came about when I had issues with a zypper lock blocking updates to the rockstor package.

When an update is initiated, it would be good to have some form of gui indication if the process is ok to commence or not, based on the current zypper lock status. This would inform the user if there was a potential concern to be aware of.

My forum post is linked here: https://forum.rockstor.com/t/zypp

[2022-02-03 18:46] Hooverdan96 opened #2354 "Backup Json File too many brackets between models"
When extracting the backup json file for analysis, json parser throws an error. This seems to be related to additional ']' set between 2 parts of the file.

In my example, it seems to create another section right after the
`"model": "storageadmin.share"` and the `"model": "smart_manager.service"` section, resulting in some json inconsistency.

I assume these extraneous brackets don't impact the im

[2022-02-03 21:20] mattyvau opened #2355 "Backup/Restore references incorrect shares for Scheduled Tasks"
Creating a backup from rockstor 3.9 and restoring in 4.1 incorrectly restores scheduled tasks by pointing them to the wrong shares. Example as per the screenshot below, a task for a photos share now points to a music share.

![Scheduled tasks - 4 1 - edit - scaled](https://user-images.githubusercontent.com/39018012/152430647-aa395bac-b33b-4e83-aa50-8738762c6e13.png)

As discussed in [forum thread

[2022-02-03 22:16] Hooverdan96 commented on #2354
I assume the extraneous brackets come from these two "dumpdata" actions?

https://github.com/rockstor/rockstor-core/blob/81a0d5f5e0a6dfe5a922199828f66eeab0253e65/src/rockstor/system/config_backup.py#L68

        call_command("dumpdata", *model_list, stdout=dfo)
        dfo.write("\n")
        call_command("dumpdata", database="smart_manager", *model_list, stdout=dfo)

[2022-02-04 11:36] phillxnet commented on #2354
@Hooverdan96 Thanks for opening this issue. However we arn't specifically aiming for json format here. We just need a consistent output/input format. So this is not really an issue or bug as such as we are doing what we intend and it working, bar non format related bugs that is such as the pending scheduled task save/restore which is not related to the format as such.

Lets see what @FroggyFlox th

[2022-02-04 11:37] phillxnet commented on #2355
@mattyvau Thanks for opening this issue. I'm pretty sure this has failed since we changed our shares api, so it's good we have an issue open on this now.

[2022-02-04 14:51] FroggyFlox commented on #2354
Correct. As you can see, we simply create a database dump as the config backup. During restore, we parse these to create API requests that will put all this information into the "new system" databases. The key point here is that we have two main databases (`smart_manager` and `storageadmin`) and this is why we combine them into a Python list. That makes it easier for us to then parse each of these

[2022-02-04 15:39] Hooverdan96 commented on #2354
sounds good. no need to add additional work to what you're already doing, if you believe it's not causing any potential issues during the restore. I know how to work around it, and some of the editors still display the tree structure correctly when needed (despite throwing an error).

[2022-02-04 15:39] #2354 closed

[2022-02-04 18:42] phillxnet commented on #2354
@FroggyFlox and @Hooverdan96 Cheers.
I agree then that we are OK with just the more advanced doc entry re viewing the file contents raised in the following issue:
https://github.com/rockstor/rockstor-doc/issues/359

It may be can can provide scripts to convert the file to a json and then back to the list format. That way folks could pre-process to view nicely and edit/examine if need be, then post

[2022-02-10 09:09] phillxnet opened #2356 "Add text on config restore re pool import dependency"
Thanks to forum member palmito for helping to highlight this omission. It is proposed that we indicate, maybe in the config restore dialog, that data pools must be imported before restoring a config.

"Note: Ensure all data pools are imported before config restore."

Or the like.

Forum reference: https://forum.rockstor.com/t/usb-boot-stick-has-gone-bad-cant-boot/8262/3

[2022-02-13 13:38] phillxnet opened #2357 "observe share size in config save/restore"
Thanks to forum member jmangan for highlighting this issue. During pool import we default share size to pool size. As share quota enforcement is currently disabled this is still only a cosmetic bug. But post our re-enforcing/re-enabling share (btrfs subvol) quotas this 'missing' save/restore element will be a functional bug.

Forum reference: https://forum.rockstor.com/t/3-9-to-4-1-update-report/8

[2022-03-05 18:14] phillxnet opened #2358 "Define Rock-ons default url at run-time not build-time"
Thanks to @FroggyFlox for highlighting this issue. We currently define the Rock-ons default url at build-time. This does not favour those users where accessing the official Rock-ons repo is inappropriate, or maybe too slow. Nor does it easily allow the relocation, say to a local server, for those that may need to keep such definitions under their own control, or simply to modify the url to play ni

[2022-03-05 18:23] phillxnet commented on #2308
See the following related issue re reducing our currently overly complex and imposing build system and moving another build-time setting to run-time:

Define Rock-ons default url at run-time not build-time #2358

[2022-03-08 16:46] phillxnet opened #2359 "15.3 based install may see @System vendor locked packages"
We have 3 packages that have now been superseded by updates in our upstream. But require a vendor change to be updated.

[code]

All 3 packages are left-overs from the installer build process which uses the following transient repo:

[code]

This repo is not persisted in the resulting install and so it's packages are labelled as from the ```@System``` repo:

[code]

It may be we don't actually nee

[2022-03-09 13:52] phillxnet commented on #2308
I am currently working on this issue. I intend to use it as an initially trivial change to test our new testing/master branch split arrangement for testing and stable update channels so that we can, with as little disruption as possible, tackle our technical debt.

[2022-03-10 17:26] phillxnet opened #2361 "Improve initrock robustness re db delete"
Under certain manual rockstor service modifications including by-hand delete of the /opt/rockstor directory we see a likely avoidable initrock script fragility:
[code]
With the suspicious line as follows:

We use shutil.rmtree("/var/lib/pgsql/data") which is wipe any prior database and the underlying os.remove fails us.

The core of the issue here is that we should talk to db itself to request it

[2022-03-10 17:28] phillxnet commented on #2361
Further investigation of a work around reveals that our heavy handed approach to clearing another's (postgresql's) house has left that service in a poorly state:
[code]
This has not previously been observed and may be a new sensitivity in Leap 15.3 postgresql.

[2022-03-10 17:48] phillxnet commented on #2361
A brute force fix for a system found in this state, incomplete delete of the prior db file structure, is:
[code]
Which causes the db to re-initiate a-new by completing the in-completed wipe that lead to our broken state (via initrock's inappropriate actions). We then stop and start all rockstor services:
[code]
The Rockstor instance should then start up as if freshly re-installed as this procedure

[2022-03-10 18:21] phillxnet opened #2362 "WARNING -- EARLY TESTING CHANNEL -- KNOWN BROKEN (DEVELOPERS ONLY)"
Our Web-UI parses the rockstor package update changelog and displays those entries it understands, ignoring others.

This issue enables us to display, within the Web-UI, the above capitalised warning. And via the associated issue link, this text.

We are embarking on a massive set of code changes that will initially leave the **testing rpms broken** and so of **little use to non-developers**.

We

[2022-03-18 07:51] malillog opened #2363 "Allow WOL configuration in network menu"
I think for a NAS it is essential to have the ability to enable/disable Wake-on-lan

There are some [posts](https://forum.rockstor.com/t/wol-on-rockstor-4-suse/7794/2) indicating solutions in this regard.

It would be very useful to add a field in the network configuration screen, for example like this:
![image](https://user-images.githubusercontent.com/15683897/158958125-389c77b2-eb4c-4bc0-a785-a

[2022-03-18 18:52] phillxnet commented on #2363
@malillog Hello again, and thanks for creating this issue.

This is a really nice Idea. And I agree, this would be a good place to pop this user interface element in.

Do you fancy doing a pull request proof of concept for this?

Our developer docs are currently a little behind on which branch to work from and given this would affect critical path code I'm keen to not pop this in our stable (maste

[2022-04-06 16:04] FroggyFlox opened #2364 "[Rock-Ons] A duplicate `U"ui": true` entry in a Rock-ON JSON definition file is erroneously valid"
This issue stems from https://github.com/rockstor/rockon-registry/pull/308#discussion_r844028063
The review of the PR linked above revealed that a duplicate `"ui": true` for a defined port in a JSON definition file does not lead to an error and is parsed by Rockstor. As this could potentially lead to incorrect webUI links generated by Rockstor, it is proposed to work on detecting such duplicates,

[2022-04-07 10:31] phillxnet commented on #2254
@Hooverdan96 's recent explorations in this area have encouraged me to move forward on at least getting this work into our newly establish testing channel. The above failing 14 unit tests can then be more easily addressed via a team effort and the sited reboot db migration issue, post initially successful migration, can in turn be approached within their own testing channel specific issues.

I pro

[2022-04-07 10:33] phillxnet commented on #2254
Consequently my next task here is to re-base on top of our existing stable (master) branch and push this to testing to encourage more collaboration in the greater issue of moving up to Python 3.

[2022-04-07 17:27] phillxnet commented on #2308
Closed by #2360

[2022-04-07 17:27] #2308 closed

[2022-04-09 11:32] phillxnet opened #2366 "[t] 'true' value must be either True or False." in network.py"
N.B. [t] = testing channel. Post the proposed Django update in pending #2365 we have uncovered a prior silent 'true' (string type) to True (Boolean) silent conversion that the proposed Django update is now catching. In this case due to our so far adequate extraction of the icc field in the following:
https://github.com/rockstor/rockstor-core/blob/eeb0084a2ea6f6bdb1cdbe35428aa5021ddadc72/src/rockst

[2022-04-09 15:22] phillxnet commented on #2366
After applying a proposed fix for his issue we have roughly equivalent temporary debug output as follows:
[code]
So we have a successful conversion of our string to bool type for both the "icc" and "ip_masquerade" fields.
Notice that the ip_masquerade value is still inverted. This is functionally the same as before so should not cause an issue.

[2022-04-09 15:24] phillxnet commented on #2366
As the proposed fix for this issue is on top of the indicated large pending Django update pr I will submit a pull request after having merged that dependant code.

[2022-04-09 18:33] phillxnet commented on #2366
Closing as fixed by #2367

[2022-04-09 18:33] #2366 closed

[2022-04-11 15:46] phillxnet opened #2368 "(t) data-collector (Dashboard backend) fails to start"
(t) = testing branch.Our meta issue of #2362 has an entry for mostly failing dashboard. This is mostly likely down to the known failure of our data-collector system to start. This also affects numerous Web-UI 'live' header info. That to @FroggyFlox for doing some initial investigation into this issue that has arrisen post our recent Django update in the testing branch and soon to be testing channe

[2022-04-11 16:44] phillxnet commented on #2368
And from the higher level supervisod log we have the perpetual spawned / exited data-collector with eventual timeout:
[code]

[2022-04-11 17:48] phillxnet commented on #2368
Adding in the now required django.setup(), initially in data_collector.py, we have the following:

[code]

[2022-04-12 18:11] phillxnet commented on #1877
[code]

[2022-04-18 18:24] phillxnet opened #2370 "(t) System-Services, Storage-Replication-Send_Receive, and Tasks pages fail"
(t) = testing branch. We have an outstanding page failure post our recent multi Django version update in #2365.
[code]
no entries in nginx.error and the expected 404 in nginx.access (includes prior successful '200' disks page access):
[code]

[2022-04-18 18:55] phillxnet commented on #2368
Closed by #2369

[2022-04-18 18:55] #2368 closed

[2022-04-22 17:02] phillxnet opened #2371 "(t) Failing unit tests"
(t) = testing branch. Prior to our recent large Django version update we had all unite tests passing.
We now have:
[code]

Noting the following failure/Error overview captured via:

## Error results:

- [x] ERROR: test_get (storageadmin.tests.test_appliances.AppliancesTests) -
- TypeError: assertEqual() got an unexpected keyword argument 'follow'
- [ ] ERROR: test_post_requests_2 (storageadmin.tes

[2022-04-22 17:14] phillxnet commented on #2371
Initial ERROR from incorrect mass insertion of follow=true.
We now have another failure instead of a test error:

- [ ] FAIL: test_get (storageadmin.tests.test_appliances.AppliancesTests)

`AssertionError: ['Appliance matching query does not exist.', 'Traceback (most recent call last):\n  File "/opt/rockstor-dev/src/rockstor/rest_framework_custom/generic_view.py", line 41, in _handle_exception\n

[2022-04-22 18:03] phillxnet commented on #2371
@FroggyFlox & @Hooverdan96 the vast majority of our existing error test results are due to:

IntegrityError: insert or update on table "storageadmin_X-TABLE" violates foreign key constraint "storageadmin_*arbitrary-reference-here*"
DETAIL: Key (share_id)=(23) is not present in table "storageadmin_Y-TABLE".

Where the affected TABLES are:

| on table (X-TABLE) | is not present in table (Y-TABLE) |

[2022-04-23 17:18] Hooverdan96 commented on #2371
Not to go down the wrong path entirely, but I did notice when I was doing my extreme upgrade that I was getting a lot of errors up front because of missing on_delete attributes for ForeignKey relationships. Not sure that applies to this upgraded version as well. In the end it seemed I had to remove the original migrations and create new ones from scratch ...
Looking at how the Foreign Key changes

[2022-04-23 19:36] phillxnet commented on #2371
@Hooverdan96 Thanks for the pointers.
Re:

Yes I got these too and as you say they were up-front. From memory I thought I had fixed at the time (in #2365) by changing the model definitions. However I don't actually see this change there! So that's curious. I'll check again. Or it is actually a later Django thing that I'm remembering from Appman.

I believe it is yes. Most stuff is actually working

[2022-04-24 21:28] Hooverdan96 commented on #2371
@phillxnet, looks like you are narrowing it down. I think I understand now a bit better on the test failures being related to the tests themselves not necessarily what's going on within the upgrade (though still can be related in some cases).
I will try to rebase to the test channel and create a PR, even if it will never be merged. The Django LTS approach makes sense to me, too, even if the develo

[2022-05-03 09:22] phillxnet commented on #2371
@Hooverdan96 Regarding:

We are likely going to have to prove this on a case by case basis but for now I say we go with the default and see what breaks in the testing channel. The newer Django versions have just made this setting explicit is my understanding so if we continue as-is and simply explicitly state the default we can take it from there. Unless of course we already do state our behaviour

[2022-05-25 14:42] parthjoshi-pc opened #2373 "Unable to configure email alerts if the local network domain is localdomain"
Because of a quirk of the rockstor Django application, if your local network has its default domain configured as `localdomain`, then it is not possible to configure email alerts. This is because Rockstor automatically adds an entry to the `/etc/default/generic` postfix lookup table with the domain name `localdomain` and then tries to add another entry for the default domain of the host. This lead

[2022-06-09 15:15] skewty opened #2375 "Modernization of source code"
As a full-stack developer myself I was excited to learn about this project as I felt it would not only be of use to me at home but that I could also give back via bug fixing, implementing feature requests and perhaps tackling some new features.

After a quick git clone I was a bit surprised to see:
- no type hints in server side Python source code
- old libraries used in client side JavaScript sou

[2022-06-11 14:26] phillxnet commented on #2375
@skewty In the base proposal I am agreed. But all this is far easier said than done. Pull requests welcome and all that. We have just underdone a major uplift on another sometimes overloooked  element from the pure development side of our base OS. We went from many years being CentOS based to, to now being "Built on openSUSE" this in itself was a major undertaking and took pretty much all our deve

[2022-06-12 14:58] FroggyFlox opened #2376 "(t) Oauth2_provider database migration failure upon reboot"
This is part of #2362, and an attempt at debugging the issue listed therein

@phillxnet , I know you probably already have a very good idea as to what is happening here, but I was too curious and wanted to have a look at it here. I'm thus using this issue here to post notes as I look into it. I hope it's ok with you, but feel free to close if that creates more confusion than anything else.

While

[2022-06-12 15:03] FroggyFlox commented on #2376
Here's the table in question:
![image](https://user-images.githubusercontent.com/30297881/173239434-e8683577-5267-4eda-aab0-c215f5f15a42.png)

[2022-06-12 15:07] FroggyFlox commented on #2376
As per @phillxnet 's comment in #2365 , I believe we are pre-applying the following possibly relevant attribute:
https://github.com/rockstor/rockstor-core/blob/57998ec6980510f5efef6e3adb2bfb7b2b51d03c/conf/storageadmin.sql.in#L5534-L5539

[2022-06-12 15:38] phillxnet commented on #2376
@FroggyFlox Thank for picking this one up.
Re:

Not so much actually. My initial impression (read guess) was that we were carrying some copied in library or customised extension to users say that is now failing to interface with this migration and the updated auth libs. Vague I know, so chuffed you are focusing in on this one as it's currently a burden to testing other stuff as one has to wipe the

[2022-06-13 13:52] FroggyFlox commented on #2376
Let's look at the status of migrations for `oauth2_provider` more closely. During a fresh new source build of Rockstor, we have:
[code]

We can thus see that all migrations are successfully applied, without error.

Upon reboot, we have:
[code]

We can see that the `oauth2_provider` migrations are listed as not applied upon reboot, which could thus explain why we encounter an error when Django trie

[2022-06-13 18:44] FroggyFlox opened #2377 "(t) Django management commands are failing to run"
Upon a fresh source build of Rockstor, running any Django management command fails with the same error as below:
[code]
After a quick inspection, it seems related to a change in the syntax when setting the `DJANGO_SETTINGS_MODULE` environment variable in #2365. We indeed have:
https://github.com/rockstor/rockstor-core/blob/57998ec6980510f5efef6e3adb2bfb7b2b51d03c/conf/django-hack.py#L46

Using the

[2022-06-13 19:18] FroggyFlox commented on #2376
Maybe an explanation as to why it appeared the `oauth2_provider` migrations were listed as unapplied upon reboot.

Indeed, if we log the applied migrations at the following timepoints during `initrock.py`...
- time 1: before any migration is done on `oauth2_provider`
- time 2: after the fake-migrating `0002_08_updates`
- time 3: after migrating the entire `oauth2_provider` app

... we can observe

[2022-06-14 12:52] phillxnet commented on #2377
If all goes well and you find we can undo the change in
(t) data-collector (Dashboard backend) fails to start #2368 #2369
the do by all means add that to a focused pr. I can then merge to testing and we have our hack undone and a documented proper fix. I can then re-base here to include those discreet fixes as I stagger on with the unit tests thing.

[2022-06-14 15:26] FroggyFlox commented on #2376
I just tested a quick wrapping of our current fake apply of the `0002_08_updates` migration around a first check of whether it has been already applied so that we can avoid resetting the migration list erroneously. This was as follows:
[code]

## First Source Build
[code]

All migrations are applied as they already do... Good.

## First reboot
[code]

We now seem to correctly check whether the `00

[2022-06-15 01:56] FroggyFlox commented on #2377
Unfortunately, it does not seem to be the case. I have tried the following:
[code]
or
[code]

Both options work when trying to run `/opt/rockstor-dev/bin/django showmigrations`, but if I undo the changes in #2369 (by commenting the `django.setup()` line), then I get the same "Apps aren't loaded" error that was described in #2368.

[2022-06-15 13:04] FroggyFlox commented on #2370
@phillxnet, I had a look at that one, and will share my notes below hoping it'll provide some clues and maybe not distract too much from the root cause of the issue here.
Note that this "exploration" was done using my branch with #2378 applied so that I can easily restart/rebuild without worrying about the database migrations.

As we couldn't really find anything in the system/rockstor logs beside

[2022-06-15 13:10] FroggyFlox commented on #2370
It thus seem to confirm that the request sent is the same in both branches, at least. What is curious, though, was the following line in the TESTING debug:

with the search path listing:

I tried to compare this to another page, like the Samba export, where we have the filename in the request as (Firefox developer tool output):

Note the lack of trailing slash there, and its url in our django bein

[2022-06-15 13:13] FroggyFlox commented on #2370
Interestingly, we do have:
https://github.com/rockstor/rockstor-core/blob/57998ec6980510f5efef6e3adb2bfb7b2b51d03c/src/rockstor/storageadmin/static/storageadmin/js/models/models.js#L312-L320

To continue our comparison with the Samba page, `models.js` contains:
https://github.com/rockstor/rockstor-core/blob/57998ec6980510f5efef6e3adb2bfb7b2b51d03c/src/rockstor/storageadmin/static/storageadmin/js/m

[2022-06-15 14:17] FroggyFlox commented on #2370
Note that all of the above is also true for the *Storage* > *Replication pages*... Removing the trailing slash to `/api/sm/replicas/` in `models.js` makes these pages accessible again.

[2022-06-15 15:00] phillxnet commented on #2370
Thanks @FroggyFlox this one had been bothered me quite some. I also got as far as the trailing "/" with working counterpart but failed to get further. Nice run-down.
I've now popped your prior pending testing pr in to ease further testing here.

[2022-06-15 15:07] FroggyFlox commented on #2376
Closing this now that #2378 is merged (thanks again!).

I did learn that the automatic closing of linked issue only works on the default branch (https://docs.github.com/en/issues/tracking-your-work-with-issues/linking-a-pull-request-to-an-issue)... interesting.

[2022-06-15 15:07] #2376 closed

[2022-06-15 15:20] phillxnet commented on #2376
@FroggyFlox Re:

Are, I was wondering about that; cheers.

[2022-06-16 13:05] FroggyFlox commented on #2370
@phillxnet , thanks a lot for merging the other PR. I've now rebased on upstream/testing and tested the following:
- can visit the System > Services page without error
- can visit the Storage > Replication pages without error
- can configure and toggle ON/OFF services (tested Samba and Rock-ons).

It thus seems to be ok at first glance, but I'm entirely familiar with how URLs are set in Django and

[2022-06-17 14:43] phillxnet commented on #2370
@FroggyFlox Cheers.
Re:

Yes me too, they did change the way paths were defined a little in the jump made so far in testing and they will all need to be changed again again when we get to where @Hooverdan96 has paved the way re the even newer Django in:
(t) Experimental Django update #2372
and it's new url definition type of re_path(). So we need in time to move these all over again with the next

[2022-06-17 16:34] Hooverdan96 commented on #2370
Is this entry in the model.js also relevant w.r.t. to the trailing slash you uncovered? I did not test whether it is causing problems.

https://github.com/rockstor/rockstor-core/blob/57998ec6980510f5efef6e3adb2bfb7b2b51d03c/src/rockstor/storageadmin/static/storageadmin/js/models/models.js#L607-L611

[2022-06-17 16:44] phillxnet commented on #2370
@Hooverdan96 Hello there.
Re:

Potentially. I'm really not that sure. But once we have the majority of stuff working we can take it from there. I'll hopefully be looking at this issue very shortly so it may very well be a repeat. I still a little way out on this one but edging closer to having a proper look. I've not looked at tasks at all in the testing channel yet. I'll give them a go once I've

[2022-06-17 17:01] phillxnet commented on #2371
So the latest on this so far is that I've tried creating a new fixture with the expected pool 'in-situ' but as was the case when we had to mock objects out to fix all the unit tests way back, the objects resulting from fixtures just don't seem to exist. And given the new Django is way more picky about object interconects, the by-hand mocking of objects is now unsustainable. I'll update on any prog

[2022-06-17 17:18] phillxnet commented on #2371
The commit associated with this issue to date contains in-code instructions for some of the associated fixtures we are considering here. I propose that we add such instructions to all tests that depend on fixtures so that as and when we need to re-do or even re-define fixtures we have the instructions current in the associated unit test file.

My current suspicion is that we have a test settings c

[2022-06-17 17:20] phillxnet commented on #2371
@FroggyFlox Just to note this is where, for the time being, I've popped in my fix for the django settings so we can run such things as, in this case, the db dumps (fixture creation process).

[2022-06-17 18:03] phillxnet commented on #2275
@Hooverdan96 Agreed. And I think we should now pick this one up.
Current testing, when build on and for openSUSE Leap 15.3 has:
[code]

Pretty sure all we need here is an update of our template file here:
https://github.com/rockstor/rockstor-core/blob/master/conf/nginx.conf.in

Although we may end up programmatically editing that in some places that for example change the Web-UI port. And initrock

[2022-06-17 18:38] phillxnet opened #2379 "(t) request.DATA NotImplementedError"
(t) = testing branch. Post our Django and immediate dependencies update in 'Update Django within current Python 2 constrains #2254 ' #2365 We have a deprecated and then removed djangorestframework syntax:

Houston, we've had a problem.
(Failed to config S.M.A.R.T service due to system error.). Lower level exception: (`request.DATA` has been deprecated in favor of `request.data` since version 3.0,

[2022-06-17 18:58] Hooverdan96 commented on #2275
https://github.com/rockstor/rockstor-core/blob/81a0d5f5e0a6dfe5a922199828f66eeab0253e65/conf/nginx.conf.in#L44-L50

looks like Line 45 has to only be changed to:
<code> listen 443 ssl default_server;</code> and line 47 can be removed (or commented out).

[2022-06-17 19:00] phillxnet commented on #2370
@Hooverdan96 Oh year!!
Re:

and:

[code]

@FroggyFlox proposed fix/work-around applied similarly:

[code]
Although if we then try to set a task we end up running into another issue re:

[code]
However at least we now have a reproducer for that from the Web-UI. And we have an entire other layer of issues that will be fixed when we address just opened: #2379 .

So again, given we need to address thi

[2022-06-17 20:37] FroggyFlox commented on #2370
Nice catch, @Hooverdan96 , and thanks @phillxnet for testing it out!

I suspect we need to fix the following as well:

https://github.com/rockstor/rockstor-core/blob/81a0d5f5e0a6dfe5a922199828f66eeab0253e65/src/rockstor/storageadmin/static/storageadmin/js/views/add_scheduled_task.js#L230-L232

[2022-06-17 20:42] FroggyFlox commented on #2379
That's an interesting one! I actually have never seen the `request.DATA` syntax but have only seen `request.data` in what I've looked at. It seems actually that `smartd_service.py` is the only occurrence of this upper case syntax, though, no?
[code]

[2022-06-17 20:45] FroggyFlox commented on #2371
Thanks a lot for the commit, @phillxnet, especially with the included notes and instructions; at least it'll make sure there's no confusion and divergence on my end on how I was preparing the fixtures.

I remember banging my head on the table with these fixture issues a while ago but your pointers here re-motivated me to have another look/attempt.

Thanks again!

[2022-06-17 21:01] phillxnet commented on #2370
@FroggyFlox I've literally just tested that myself (before looking here by the way). And yes. that does fix things. Now looking at the same for replications. I thing we are getting there now. I'll post pr with these fixes next. Once we have the basic functionality.

Need to do more setup for testing pre and post trailing for type POST on replication but likely has the exact same issue. Looked at a

[2022-06-17 21:18] phillxnet commented on #2370
OK, so yes, we have the same issue with replication. Testing proposed change here also:
[code]

[2022-06-17 21:26] phillxnet commented on #2370
@FroggyFlox & @Hooverdan96
OK so that seems to have learnt it.
![add-replication](https://user-images.githubusercontent.com/2521585/174403105-78431cf0-e392-4fb9-bd2a-33b86889c203.png)

We may well have some more hard-coded, now incompatible url railing "/" in the same area but at least we now have the add task and add replication sent sorted.  I'll pop in a pr for review as there was an additional

[2022-06-17 21:48] phillxnet commented on #2379
@FroggyFlox Thanks for taking a look.
Re:

OK, great. I was embeded in another pr prep so didn't want to get too sidetracked so just created the issue and moved one. Great there is only one. Should be an easy fix then. Nice.

[2022-06-18 08:09] phillxnet commented on #2191
@mcbridematt @FroggyFlox & @Hooverdan96

Noting for context here that as from @Hooverdan96 work here:

pr: '309 align architecture tags' https://github.com/rockstor/rockon-registry/pull/310
for
issue: 'Standardise architecture compatibility reports' https://github.com/rockstor/rockon-registry/issues/309

All existing and future Rock-ons have their at-time-of-publish architecture compatibility with

[2022-06-18 15:18] phillxnet commented on #2377
@FroggyFlox My apologies.

Re:

I'm afraid I've failed to split this one out as would have been best. I've now, for convenience, added my pending fix for what looks like a typo on my earlier part, as an unrelated part of:
(t) Services, Replication-Send_Receive, and Tasks pages fail #2370 #2380

Given you have documented here the issue we at least have that as a separate and focused explanation. I

[2022-06-18 15:28] FroggyFlox commented on #2377
I completely agree!

Thanks for taking care of that!

[2022-06-18 16:01] phillxnet commented on #2377
Fixed by #2380

[2022-06-18 16:01] #2377 closed

[2022-06-18 16:02] phillxnet commented on #2370
Fixed by #2380

[2022-06-18 16:02] #2370 closed

[2022-06-18 16:18] phillxnet commented on #2379
I'll just prepare a pr to address this so we can tidy it away.

[2022-06-18 17:47] phillxnet commented on #2379
Closing as:
Fixed by #2381

[2022-06-18 17:47] #2379 closed

[2022-06-21 15:49] phillxnet opened #2382 "Test fixtures non functional"
When our unit tests were last re-vamped (read updated to work again), post some major API and error reporting changes in the interim at that time, we have had a completely non functional fixture arrangement. See roughly 4 years ago:

"Standardise error text format and move to string.format part-1. Fixes #1913" #1914

Fixtures are the fake db content used to present tests with the desired database

[2022-06-22 13:35] phillxnet commented on #2382
Closing as:
Fixed by #2383

[2022-06-22 13:35] #2382 closed

[2022-06-22 14:03] phillxnet opened #2384 "(t) Refresh or remove as required all test fixtures"
(t) = testing branch. Prior to the work begun in '(t) Failing unit tests' #2371 as a result of major Django changes enacted in 'Update Django within current Python 2 constrains #2254' #2365, and following on from the fixture re-enablement spin-off of the former: '(t) Test fixtures non functional #2382' #2383 we have a test wide requirement to update or remove our now mostly outdated and newely re-

[2022-06-22 14:18] phillxnet commented on #2384
@FroggyFlox Wow thanks; that's a nice break down. I'll get chipping away.

[2022-06-22 14:47] FroggyFlox commented on #2384
These are all occurring in `test_task_scheduler.py` and very likely relate to #2370.
Removing the trailing slash in the URL of the `post` tests in this class fixes the errors:
[code]

[2022-06-22 15:19] phillxnet commented on #2384
Re:

Pre:
[code]
Post pending commit with your suggestions:

[code]
Oh year. Now confirmed and committed in issue branch with attribution.

[2022-06-22 16:12] phillxnet commented on #2384
Proposed fix for IntegrityError example test_disks.py:
[code]
details in associated commit. We essentially return to what we had, i.e. no fixture, bar what is now needed for auth.

[2022-06-22 16:19] phillxnet commented on #2384
Pending commit results for the remaining IntegrityError examples via outdated and now removed fixtures and legacy inheritance:
[code]
Post pending commit with your suggestions:

[code]

[2022-06-22 17:36] phillxnet commented on #2384
Pending commit result:
Next wave is top level (from original summary) of DeserializationError, again we are to just remove the fixture adding our new independant auth only fixture in it's place.
[code]

[2022-06-22 18:34] phillxnet commented on #2384
Current summary of status via prior grep method with all published commits in place:
[code]
However we now have:
[code]

[2022-06-22 18:59] phillxnet commented on #2384
[code]

[2022-06-22 20:08] FroggyFlox commented on #2384
@phillxnet , I was wrong about that one... I am actually seeing this oddity with `test_task_scheduler.py`.
After a bit of looking, this seems to be due to the test ran previously that is not closing properly... In this case, the tests in `test_task_scheduler.py` are failing because we are not properly setting up the two classes of tests related to `smart_manager`. These are:
- `test_snmp.py`
- `te

[2022-06-22 20:25] phillxnet commented on #2384
@FroggyFlox Re:

Nice find. I'll pop this in and take a look, wont be before tomorrow now. That "connection is already closed" was quite a strange one so thanks for looking into that. We should be able to flush out all the existing strangeness during this issue and we are now down to a manageable number of errors/failures. With most now likely fixed by moving to proper fixtures.

[2022-06-22 20:45] FroggyFlox commented on #2384
Confirmed by adding the following small test to `test_pool_scrub.py`:
[code]
and it still works:
[code]

[2022-06-23 14:47] phillxnet commented on #2384
Quick note on last test_appliance.py commit here: replace the db object mocking in test_appliances.py with now working fixtures (thanks again @FroggyFlox ) we now have a full-house on the also simplified test_appliances.py test set:
[code]

@FroggyFlox Thanks for the updated pointers on a better fix for #2382, as discussed in side channel I'll pop them in here as I go.

Results so far with commits

[2022-06-23 14:50] FroggyFlox commented on #2384
Looks exactly like what I've tested, thanks a lot for including it!

[2022-06-23 18:01] phillxnet commented on #2384
Having now moved from a pure mock db setup to a pure fixtures setup in test_disk_smart.py
we go from:
[code]
to:
[code]
No other functional change.

[2022-06-23 18:15] phillxnet commented on #2384
Status thus far:
[code]

[2022-06-23 18:44] phillxnet commented on #2384
Pre fix on test_snapshot.py
[code]

[2022-06-23 19:20] FroggyFlox commented on #2384
I was in the same state of mind and that's why I tried to have a go at it. It turned out to be not too bad.
The difficult part will be to get it back to its "prior" prior state as we had to comment a lot of tests that were failing but that deserves its own issue.

[2022-06-23 19:37] phillxnet commented on #2384
Quick issue branch status update, including the cherry picked commit not yet visible publicly in issue branch but referenced by @FroggyFlox
[code]
With the 2 remaining errors relating to my current mid-task concerning the move to fixtures for test_snapshot.py referenced in comment: https://github.com/rockstor/rockstor-core/issues/2384#issuecomment-1164749369 above.

[2022-06-24 15:26] FroggyFlox commented on #2384
@phillxnet, I noticed one discrepancy with your results on `test_disk_smart.py`. I, indeed, receive the following:
[code]

It seems the mock for `run_test()` is not working and the smart test tries to actually run.
I could have a seemingly functional mock when changing the `run_test()` mock to:
[code]
results:
[code]

[2022-06-24 15:43] phillxnet commented on #2384
@FroggyFlox Cheers, Nice find. I'm still obviously testing on the system I'm creating fixtures etc on so good to have this failing mock found. I've committed appropriately to get at least this one out of the way.

[2022-06-24 16:00] phillxnet commented on #2384
Remarking out the entirety of test_shares.py, the test run directly before our 'sensitive' test_snapshot.py results in it executing in context just fine:
[code]
And although this does not approach the issue of cross test object mock contamination it does narrow down the test that is 'leaking'. I'll take a look now at moving test_shares.py over to the fixture mock method and remove as many, if not

[2022-06-25 16:58] phillxnet commented on #2384
Post moving test_share.py to newly functional fixture based db instantiation we have some more descriptive test group names and one additional test group:
[code]
And we have addressed the prior mocking leaky of test_shares.py into test_snapshot.py
[code]

[2022-06-28 11:27] phillxnet opened #2385 "Revise draconian raid0 disk removal restriction"
While working on #2384, which has inevitably involved overhauling some of our outdated tests, it came to light that we block all disk removal from a raid0 pool. This is likely down to an early development-based fencing that has inadvertently remained. We have had the same for btrfs-single but this has since been removed (although it too had some legacy test content).

It is proposed that we move o

[2022-06-28 16:06] phillxnet opened #2386 "(t) avoid recalculating pool free"
(t) = testing branch. While working on #2384 and revising mocking of such things as pool free space, we see a redundant re-calculation of the same in our PUT (remove) pool command when the exact same calculation has already been made via an earlier Pool object @property instantiation still held.

Pool "free" property definition:
https://github.com/rockstor/rockstor-core/blob/afa3e413a0202042fcabdc

[2022-06-28 18:45] FroggyFlox commented on #2386
Closing as fixed by #2387 .

[2022-06-28 18:45] #2386 closed

[2022-06-28 19:34] phillxnet commented on #2384
I've now deleted and re-based my working branch associated with this issue onto current test post (#2387) and squashed all commits to date, preserving cherry picked commits from other contributors (@FroggyFlox) thus far.
Still a work in progress but getting there now.

[2022-06-29 14:37] phillxnet opened #2388 "Improve disk removal error message formatting re pool free space"
When removing one or more disks and exceeding pool free space we have a poorly formatted user targeted error message:

Due to a literal dumping of the Python list type containing one or more disk names to be removed.

It is proposed that we instead present the more user friendly:

with it's mult-disk counterpart of:

The proposed code change to be submitted against this issue already has test coun

[2022-06-29 20:21] phillxnet commented on #2388
Closing as:
Fixed by #2389

[2022-06-29 20:21] #2388 closed

[2022-06-29 20:25] phillxnet commented on #2384
Just now removed GitHub resident instance of working branch, re-based after merging #2389, and re-pushed post squashing. Hopefully this will be the last time this working branch has to be re-based due to spin-off issues/pull requests.

[2022-06-30 16:12] phillxnet commented on #2384
Current status of working branch associated with this issue:
[code]
So with the ongoing re-arrangement we now have a few more tests and those to-date are now all the more relevant.
Getting there.

[2022-07-01 18:52] phillxnet commented on #2384
Status thus far:
[code]
About to establish some new test to look further into a suspected PoolBalance status reporting bug. If successful these tests can then be the reproducer for a spin-off issue regarding false positives for ongoing pool balances.

[2022-07-04 10:49] phillxnet opened #2390 "Normalise on btrfs Huey task procedures having minimum content"
(t) = testing channel. As with our existing low level fs.btrfs.start_resize_pool() it is proposed that we, likewise, minimise it's counterpart fs.btrfs.start_balance() Huey tasks (@task() decorator) to contain only logging and exception handling; abstracting the command construction to a more easily testable and mockable (as non threaded) discreet balance_pool_cmd() akin to our existing resize_poo

[2022-07-04 13:10] phillxnet commented on #2390
Closing as:
Fixed by #2391

[2022-07-04 13:10] #2390 closed

[2022-07-04 14:40] phillxnet commented on #2384
Re-based working branch post #2391

[2022-07-05 19:03] FroggyFlox opened #2392 "[NFS] Reflect new Sync default in export options"
The manpage for exports reads:

https://linux.die.net/man/5/exports

Currently. our docs incorrectly list the "sync" option as default (will be corrected in the fix for https://github.com/rockstor/rockstor-doc/issues/345), and the webUI reflects the same, with the `async` choice being the default selected option.
![image](https://user-images.githubusercontent.com/30297881/177397599-d3830a7a-8b2e-4

[2022-07-08 18:21] phillxnet opened #2393 "Add balance status reporting for cli initiated balance operations"
Our existing balance status reporting is linked to our Web-UI balance initialisation, including when a disk is added and we auto initiate a follow-up balance. We in turn tie monitoring of ongoing balances to their associated Huey tasks. However we already have the low level components to report on on-going balance state, both regular, and what we call internal (see below note) and so it would be i

[2022-07-09 20:20] FroggyFlox commented on #2392
We might want to take advantage of this issue to also provide links to our docs related to NFS; these would be the various sections of https://rockstor.com/docs/interface/storage/file_sharing/nfs_ops.html.

[2022-07-11 13:11] phillxnet opened #2394 "Improve 'Maintenance required' advice for btrfs-single/btrfs-raid0"
In a btrfs-single degraded scenario (missing member) we still offer the generic advice of:

in our Pool details page.

However btrfs-raid single (like btrfs-raid0) has no redundancy capability. If a disk is missing (detached in Rockstor speak) the only recourse is to either reattach the missing device and scrub the pool, or wipe, recreate, and restore from backup. As per our doc section:
"Data Rec

[2022-07-11 13:24] phillxnet opened #2395 "Allow delete of un-mounted/un-mountable pool"
Thanks to forum member qubes for helping to highlight this usability short-fall. In certain instances such as when a non redundant pool has a missing member, the recovery scenario is to delete the pool and start over from backups; see:

"Data Recovery: btrfs-raid0 and btrfs-single Pools":
https://rockstor.com/docs/data_loss.html#data-recovery-btrfs-raid0-and-btrfs-single-pools

However we currentl

[2022-07-11 19:04] phillxnet opened #2396 "API http post on balance status fails serialisation"
When executing a POST on balance status (empty data) we normally receive the last available PoolBalance record. However if no such balance record exists we return a 500 Exception.

## Reproducer:
via browser:
https://rleap15-3.lan/api/pools/1/balance/status (POST with default)
via Curl:
curl --insecure -u username:pass -X POST https://rleap15-3.lan/api/pools/1/balance/status

When the associated p

[2022-07-11 19:24] phillxnet commented on #2396
An alternative response could be to return a 404 response to indicate that there are no prior records?

[2022-09-17 23:24] Hooverdan96 opened #2397 "UI Integer out of Range Error during Scrub"
Thanks to the analysis and discovery by Rockstor community member Dunkelfalke here:

https://forum.rockstor.com/t/integer-out-of-range/8183/18

it appears that that the information returned by the btrfs-scrub operation generates an overflow in some cases, when the number of discards to be reported exceeds the integer format range of the variable defined in the scrub.py model.

The suggestion is in

[2022-09-18 00:20] Hooverdan96 commented on #2397
When I tested the change (before making an actual pull request), and executed the `migrate`, the additional message popped up:

<img width="406" alt="image" src="https://user-images.githubusercontent.com/35113775/190880401-1488fb1f-661f-4627-a592-7e651018226d.png">

It only allows to proceed when answering `yes`. Is this something to be concerned about?

The migration file resulting from the `make

[2022-09-21 15:39] phillxnet commented on #2397
@Hooverdan96 Thanks for seeing to this issue's creation and testing your proposed fix. Much appreciated.

Yes we have so-far ignored these just in case. May well try the suggested clean-up in testing in the future before we move to the next stable release but a little guarded about making too many changes just yet.

Given this is a relatively safe change, bar the database migration bit (unavoidabl

[2022-09-21 18:40] FroggyFlox commented on #2397
Agreed... it is a well-isolated fix too which should make the cherry-picking much easier to handle than if it were a very complex patch.

[2022-09-22 00:46] Hooverdan96 commented on #2397
Ok, I created one ... I interpreted that I should create the Pull Request against the Master Branch? If that was wrong, I assume I can correct that somehow.

I could not really understand how to find out what the underlying data types are in the C programs, so I left good enough alone for now, and only went with the one BigInteger adjustment. If you can give me an example how I can ascertain where

[2022-09-23 12:30] phillxnet commented on #2397
@Hooverdan96 Thanks, yes in this case master works as testing will get via a re-base before our next release in that channel and we can pop directly into Stable updates via a master branch build.
Cheers.

They should be in a c header file (*.h) defining the relevant structures, or defined locally, and I had mistakenly thought I saw the same in the referenced forum thread with your earlier examinat

[2022-09-25 21:19] Hooverdan96 opened #2399 "[Rockons] - mapping same share multiple times causes Rockon Install failure"
There are instances (aside from testing) where it could be desirable to utilize the same share for different mappings in a Rockon installation (e.g. data/usage is separated via sub-directories already). This works fine when installing the underlying container using docker directly, however in the context of a Rockon installation, this will cause errors and the installation will fail:

For example:

[2022-10-12 13:24] phillxnet opened #2401 "improve behaviour on missing /dev/disk/by-id directory"
Thanks to forum member Omx for highlighting this failing. In some incompatible hardware configurations, there can be no by-id sub-directory created by udev: such as when no device has a serial number. Currently we fail with an inelegant:

It would be a far better experience to catch this specific error and advise Web-UI users as to there likely being an incompatibility regarding a complete lack of

[2022-10-22 13:03] phillxnet commented on #2397
As per my comment here: https://github.com/rockstor/rockstor-core/pull/2374#issuecomment-1287781509
And our current inertia on releases, I'm moving now to first add this to the testing channel where we can then, if need be, later cherry pick for the stable (given it's specificity). Again my apologies for the mixed messaging here. But the extensive changes and unfortunately scope creep of my curren

[2022-10-22 17:24] phillxnet commented on #2397
Closing as:
Fixed by #2398

[2022-10-22 17:24] #2397 closed

[2022-10-22 17:25] phillxnet commented on #2373
Closing as:
Fixed by #2374
Thanks again to @parthjoshi-pc for also providing the fix. Much appreciated.

[2022-10-22 17:25] #2373 closed

[2022-10-22 17:32] phillxnet commented on #2385
Noting this issue should only be attended too once we have #2384 resolved as we will then have a more robust testing setup to prove our proposed more flexible fencing on the raid0 front.

[2022-10-22 17:38] phillxnet commented on #2371
This issue has been mostly superseded by #2384 given #2382 is now resolved.

It is likely that #2384's resolution will also resolve this issue given it is moving our tests, whole-sale, over to a fixture based approach.

[2022-10-23 16:35] phillxnet opened #2402 "(t) Django db migration fail - 4.1.0-0 to proposed 4.5.0-0"
While preparing a proposed 4.5.0-0 testing channel rpm we have a Web-UI update failure concerning a database migration failure:
[code]
On initial inspection this looks to be related to our recent major Django update changes and specifically an import request.

[2022-10-23 16:51] phillxnet commented on #2402
In our recent Django update we renamed our prior "django-hack" file and replace it with "django-hack.py", the above error would seem to relate to the prior version/name of this file. I.e. no "import djangorecipe.manage" in our newer verwsion.

We may have a missing scripted change alteration concerning this file and end up not replacing it with our newer edition.

[2022-10-23 17:08] phillxnet commented on #2402
We have the following that should install our 'django hack' as the filename "django" from within our initrock script that is evidently called and logging from the above log.
[code]
and the source file in this case looks to be the newer version, confirmed via:
[code]

[2022-10-23 17:35] phillxnet commented on #2402
It now looks like we are using the old version of this file as we only assert its existence in initrock on un-configured installs, i.e. on fresh installs of an rpm, or when a source install is freshly build. Hence, as this was an update from a prior configured install we did not update this otherwise not touched for years file:

## In master branch
https://github.com/rockstor/rockstor-core/blob/81

[2022-10-24 10:55] phillxnet commented on #2402
To prove our updated django-hack file, when instantiated, resolves this migration issue we have the following:
[code]
resulting in a error free boot and rockstor service start, i.e. the prior failing migration now works as intended.

I will being working on an initrock modification to address this Django launch file update short fall.

[2022-10-24 16:27] phillxnet commented on #2402
We have a caveat here concerning the rpm package "%post" script:
from
[code]
we have:
[code]
I.e. old reference related to the stable branch only.

It is also the case that our rpm contains two copies of this file as ones it is responsible for installing; both in it's source ./conf and target ./bin directories (named correctly for testing branch as django-hack.py & django respectively):
[code]

[2022-10-25 18:53] phillxnet opened #2404 "(t) resolve multiple leaf nodes in db migration graph"
The following db migration conflict is a consequence of our now dual branch development and an attempt to maintain branch portability of, for example, the database migration associated with a more recent scrub model change (see: pr: #2398), I proposed that we resolve the following:
[code]
By manually transferring the prior partial Django update migration file in the testing branch:
0015_auto_20210

[2022-10-26 17:27] phillxnet opened #2406 "(t) upgrade psycopg2 within current constrains"
As part of an ongoing effort to identify our update options, this issue is opened to identify the limits of our current psycopg2.
This currently fails compilation on our aarch64 build:
[code]
Where-as the same psycopg2 version has a wheel available and default to it in our x86 builds; resulting in a successful build.

From: https://www.psycopg.org/docs/#

Looking to upgrade limits and constrains.

[2022-10-26 17:30] phillxnet commented on #2406
The core problem currently is the compile failure on aarch64 that is not shared by the x86_64 build, holding up our dual architecture release.

[2022-10-26 17:58] phillxnet commented on #2406
"psycopg2-binary==2.7.7" in setup.py results in the same failure on aarch64.

[2022-10-26 18:48] phillxnet commented on #2406
An apparently successful source build on aarch64 in Leap 15.3 looks, on initial testing, to be working with this psycopg2 version specification removed entirely.

[2022-10-26 19:24] phillxnet commented on #2406
The current proposal on this issue is to remove our version definition within setup.py as it has inconsistencies at least with the aarch64 architecture given our master and testing django-hack versions where we have a hard code for the x86_64 version.
Further investigation planned for the requirement of this library is needed but it seems likely we are resourcing, successfully in the most part, ou

[2022-10-27 10:13] phillxnet commented on #2406
Given in our x86_64 we are defaulting to a binary (pre 2.8 this was the default) but in our aarch64 we fail through to a source build of psycopg2 as the binary is not available for this arch, and then fail due to missing build requirements, namely from the original error message "pg_config" we look to the upstream advise re source/binary:

## psycopg vs psycopg-binary
from: https://www.psycopg.org

[2022-10-27 10:19] phillxnet commented on #2406
Although we already have above more strict limits on our psycopg version, adding for future info here from the following:
https://www.psycopg.org/docs/news.html#news

[2022-10-27 12:50] phillxnet commented on #2406
We appear to have yet-another-dependency issue related to our enabling the source build of psycopg2, against system postgresql/libpq, that of the removal of pg_config, in updates of our postgresql10 i.e.
[code]
and the same for our Leap 15.3:
[code]
I.e. an attempted install of the legacy named postgresql10-devel, (differing from the future  postgresql12-server-devel) resulting in a need to downgr

[2022-10-27 14:59] phillxnet commented on #2406
Thanks to @FroggyFlox for digging out a prior instance of this when Tumbelweed moved to postgresql11 and dropped pg_config in that release, linking for context.
https://forum.rockstor.com/t/build-instructions/5946/9

[2022-10-27 15:17] phillxnet commented on #2406
Since we pg_config is required for a compile and it has been removed and not replace in postgres10 in the sle update repo we may have not choice but to upgrade out postgresql to what is now current, incidentally from cnf it appears that postresql10-devel in Leap 15.4 has returned pg_config. But we still have 15.3 as our testing base, and currently used due to it's Python2 default inclusion.

defau

[2022-10-27 15:45] phillxnet commented on #2406
returns us our needed pg_config:

and updates our alternatives, as we still have a posgres10-server installed, to the new 13. Old enough for psycopg2 2.8.6 to have error maps but this psycopg2 is already a little too new for our current Django (testing branch) max of 2.7.7 but looks to be OK for our use with OS package of psychopg2 2.8.4 - rock-and-several-hard-place until we complete our Python 2

[2022-10-28 11:54] phillxnet opened #2408 "(t) resolve outstanding test discrepancy"
Current testing channel (post merge of #2407) has an observed discrepancy across 2 similar install instances:
## Leap 15.3-x86_64 (KVM instance on mobile Haswell host)
[code]

## Leap 15.3-aarch64 (KVM instance on Pi4 host)
[code]
Where the later failures are in both an old and a new test. However given our recent revamp of most of our existing tests, in pr #2400, this may well relate to an uninte

[2022-10-28 15:52] FroggyFlox commented on #2408
Hi @phillxnet,

I just tried running all tests on a fresh source build of the current testing branch on my x86_64 KVM and I do have one failure, the same as the first failure you report on Pi4:
[code]

[2022-10-28 15:54] FroggyFlox commented on #2408
I just noticed that the `start_time` of the returned balance status is the current machine time so it seems indeed we are triggering a real balance here and not mocking one?

[2022-10-28 18:00] phillxnet commented on #2408
@FroggyFlox Thanks for taking a look; I'll look to that one next. From memory I had thought we were mocking the balance command itself to be a shell null opp! However the start time does default, in db, to be when the task was started (again from memory). I've just been looking at the 'other' failure here and we are simply missing a mock that is required if the mount point exists, so we have a fix

[2022-10-28 18:19] FroggyFlox commented on #2408
No problem; I just thought I would share in case it helps.

I think we do mock with a return value of True.

Oh, so we could have a current start_time even with a properly mocked balance start... I didn't think of that, sorry.

[2022-10-29 11:57] phillxnet commented on #2408
@FroggyFlox Thanks for the pointer on your x86_64 instance also failing, My clean source install on the same passes. But this looks again like an insufficient mocking thing where there may be inadvertent sensitivity to system state. Popping in some log notes here for comparison: running only the failing test (remarked out the others for now):
## passing instance
[code]
### Associated debug log:
[c

[2022-10-29 14:25] phillxnet commented on #2408
We have an un-mocked response from our system regarding prior 'internal' balance:
Additional debug logging added, first and last call from test-pool-balance target pool loop within test at question.

## Passing system:
[code]

## Failing system:

[code]

So we have a failure to mock a recently more incorporated balance_status_internal() (into bool_balance's awareness) and pool_balance_all() added

[2022-10-29 16:56] phillxnet commented on #2408
Our mocking of mount_root() without mocking balance_status_internal() causes the latter to return an unknown status, but only if the now mocked mount point concerned doesn't exist. If it does, as in my 'passing' instance we get a more sane return of what we expect but from the host pool mount point (/mnt2/test-pool-balance).

So we have a missing mock of balance_status_internal() (or alternatively

[2022-10-31 09:52] phillxnet opened #2409 "(t) unknown internal balance state inferior to regular balance state"
During the investigation of what turned out to be an incomplete mocking of balance_status_internal() encountered in #2408 it was discovered that our recently added meta balance status mechanism balance_status_all() inadvertently prioritised/reported an 'unknown' status returned from our inference of an internal balance state, in balance_status_internal() over what was otherwise a known status. I.e

[2022-10-31 12:17] phillxnet commented on #2404
Closing as:
Fixed by #2405

[2022-10-31 12:17] #2404 closed

[2022-10-31 12:18] phillxnet commented on #2406
Closing as:
Fixed by #2407

[2022-10-31 12:18] #2406 closed

[2022-10-31 12:20] phillxnet commented on #2408
Closing as:
Fixed by #2411

[2022-10-31 12:20] #2408 closed

[2022-10-31 12:21] phillxnet commented on #2409
Closing as:
Fixed by #2410

[2022-10-31 12:21] #2409 closed

[2022-10-31 14:17] phillxnet opened #2412 "configure dependabot against the testing branch"
Since our v4 release we have begun adoption of a dual git branch development strategy. I.e. most development is intended to occure within the testing branch, with planned commit cherry picking back-ports (or more timely/crafted testing/master comparison generated commits) to our master branch.

To reflect this change, it would be good to have dependabot reflect the development within the testing b

[2022-11-02 13:47] phillxnet commented on #2384
Closing as:
Fixed by #2400

[2022-11-02 13:47] #2384 closed

[2022-11-02 13:49] phillxnet commented on #2371
As suspected within the exploration within the comments of this issue. The mass test failure was down to a new sensitivity in our recently upgraded Django. And a move to our recently re-enabled fixture capability (Thanks again to @FroggyFlox) and we have
this issue as being:
Fixed by #2400

[2022-11-02 13:49] #2371 closed

[2022-11-02 13:54] phillxnet commented on #2396
Closing as:
Fixed by #2400

[2022-11-02 13:54] #2396 closed

[2022-11-02 16:24] phillxnet commented on #2076
Note that the Postresql service failure detailed in the later (marked as duplicate) issue of #2361 can be recreated using the following bash script:

[code]

I.e. we simply invoke the at-question db reset mechanism currently employed by initrock, resulting in a broken postresql scenario which then requires the 'clean-up' procedure descried in the comments of the duplicate issue #2361. Ergo we have

[2022-11-02 17:18] #2412 closed

[2022-11-02 17:57] phillxnet commented on #2076
Given we are now in testing branch modifications, we can assume postgresql version 13 or greater (See https://github.com/rockstor/rockstor-core/pull/2407#issuecomment-1300879372) in the now merged in testing branch changes that instigated the change form posgresql10-server to  postgresql13-server in our related packaging dependencies.

The proposed (postresql13) command to wipe our existing databa

[2022-11-02 18:49] phillxnet commented on #2076
N.B. our underlying OS may well now have both postgres10 and 13 installed. The default (auto) for alternatives auto adjusts paths to use 13 (priority 130) to 10 (priority 100). See:
[code]

[2022-11-08 15:17] phillxnet commented on #2393
Closing as:
Fixed by #2400

[2022-11-08 15:17] #2393 closed

[2022-11-08 16:42] phillxnet opened #2421 "Update psutil to the latest version"
We use psutils (https://github.com/giampaolo/psutil) predominantly for our dashboard as a way, from python, to query running processes and system utilization. As this is a Python library we have take into account our underlying (currently outdated) Python version. However this utilities current version looks to still be compatible with our current python and so it is proposed that we update sooner

[2022-11-08 17:56] phillxnet commented on #2076
Closing as:
Fixed by #2420

[2022-11-08 17:56] #2076 closed

[2022-11-08 17:57] phillxnet commented on #2361
Closing as a duplicate of #2076 and as:
Fixed by #2420

[2022-11-08 17:57] #2361 closed

[2022-11-08 18:13] phillxnet commented on #2421
Excluding the eggs package we carry for psutil we have the following code entry:
[code]
After the in-development pr to address this issue.

So it looks like we only use this library for our CPU widget on the dashboard.

[2022-11-08 19:21] phillxnet commented on #2421
Closing as:
Fixed by #2422

[2022-11-08 19:21] #2421 closed

[2022-11-09 11:11] phillxnet opened #2423 "(t) non critical systemd service file anomalies"
We have a number of outstanding anomalies within our related systemd service files. Log (spamming) details listed:

smb.service:
[code]

nut-monitor.service:
[code]

rpc-statd.service:
[code]

[2022-11-09 12:37] phillxnet commented on #2423
A reproducer for this 'log spam' behaviour is to refresh the services page.

[2022-11-09 14:32] phillxnet commented on #2275
Noting that the deprecation messages in question, re the ssl directive, can be viewed by:
System -> Log manager -> upper "Logs Reader" section -> select "Nginx stderr (WebUI)" -- click Read log

[2022-11-10 19:21] phillxnet opened #2424 "Move to embed and update more dependencies"
During the development involved in moving us from our v3 (CentOS base) to our v4 "Built on openSUSE" we partly transitioned to using some OS system python libraries. It is now required that we transition back to including as many dependencies as is practical.

Three reasons for this proposed direction/requirement:
1. It is the industry standard for Python apps - however we are a little more than a

[2022-11-10 19:36] phillxnet commented on #2424
## Re: current system package: python-dbus-python
In our Leap 15.3 we had:

[code]
So it was a meta-package for, in our case: python2-dbus-python             | 1.2.16-6.3.1

There is on PyPi.org:
https://pypi.org/project/dbus-python/
With a changelog:
https://dbus.freedesktop.org/doc/dbus-python/news.html
## dbus Python Bindings
### 1.2.18:

### 1.3.0 (2022-09-06)

[2022-11-10 19:52] phillxnet commented on #2424
## distro from PyPi
from: https://pypi.org/project/distro/1.6.0/
this version looks to still support Python 2.7 and has Python 3 compatibility also.
And from the canonical Changelog here: https://github.com/python-distro/distro/blob/master/CHANGELOG.md
we have: https://github.com/python-distro/distro/blob/master/CHANGELOG.md#170-20220215
## 1.7.0

N.B. it looks like we were also depending on an ol

[2022-11-10 20:08] phillxnet commented on #2424
## Six from PyPi
https://pypi.org/project/six/
Official docs: https://six.readthedocs.io/

### six 1.16.0
Looks good and is what we were running via 15.3 packages anyway:

[code]
No equivalent found in Leap 15.4 as of yet!
But there is:
[code]

Which is a little confusing. We may just want to build our own here.

[2022-11-10 20:21] phillxnet commented on #2424
## PyQMQ from PyPi
https://pypi.org/project/pyzmq/#history
docs: https://pyzmq.readthedocs.io/en/latest/
Looks to still be Python 2.7 compatible in latest version of 24.0.1:

And on a development Leap 15.3 we have:
[code]
Their docs we have that it builds against the system included.

So we may want to specify a binary wheel variant here.

[2022-11-11 06:48] verenya opened #2425 "Interview partners for research about communication in GitHub projects wanted"
Hi. My name is Verena Ebert, and I am a PhD student at the University of Stuttgart in Germany.
A few months ago, I have examined 90 GitHub projects to see what communication channels they use and how they write about them in the written documents, for example README or wiki. If you are interested in the previous results, you can find them here:
https://arxiv.org/abs/2205.01440
Your project was one

[2022-11-11 11:10] phillxnet commented on #2425
Closing as an inappropriate communication channel. Ironic given your research topic.

Perhaps GitHub Discussions would be a better channel for such an approach. However I must apologise in advance for I at least would be hard pressed to put aside this time. As to our main channels of communication I would say our forum is primary and invaluable (both for private and public discussions), as we don'

[2022-11-11 11:10] #2425 closed

[2022-11-11 13:25] phillxnet commented on #2424
## Python requests
We already package bundle 2.25.1 (2020-12-16)
As from 2.28.0 (2022-06-09)
https://github.com/psf/requests/blob/main/HISTORY.md

Previous version was 2.27.1 (2022-01-05) so last to support Python 2

Newer versions in Python 3 variant no longer use chardet by default.

[2022-11-11 15:57] phillxnet opened #2426 "update use of python distro module re 1.7.0+ changes"
We have previously used system-package versions of python[2|3]-distro but are moving to include (again) within our own package via the re-embed move detailed in #2424.

As of distro 1.7.0 there is a "normalisation" on distro.id returning "opensuse", where-as we have come to expect, from older versions of the distro module "opensuse-leap" as per:
[code]
See upstream pr:
https://github.com/python-di

[2022-11-15 17:03] phillxnet opened #2429 "Inadvertent sssd related calls in Leap 15.4"
During experimental preparation for our re-basing on openSUSE Leap 15.4 via pending pr #2427 for issue #2424, it was discovered that we appear, in 15.4 only, to be calling on sssd inadvertently, prior to its configuration for AD/LDAP function, resulting in massive slow-downs in group and some deeper user page views:
Reproducer - visit/refresh groups page:
[code]
In the above we see that, as part o

[2022-11-15 18:57] phillxnet commented on #2429
Interestingly when we remove the pivital app in this case:
[code]

And then re-run our cli reproducer for our observed delay in groups page visit:
[code]
Re-indicating such a call does in fact now invoke our .service in a way it did not in Leap 15.3.

[2022-11-20 16:07] phillxnet opened #2432 "Replace Buildout with Poetry"
Place-holder issue, for now, intended to express and address our eventual move to Poetry for our build system.
Our existing buildout http://www.buildout.org/en/latest/ based approach is cumbersome and based on a project receiving progressively less attention as the years move on. It was once the go-to method however.

Unfortunately we are now fairly heavily invested in this approach but also depen

[2022-11-20 16:12] phillxnet commented on #2424
close by #2431

[2022-11-20 16:12] #2424 closed

[2022-11-20 16:14] phillxnet commented on #2254
Closing as
fixed by #2365
and some more minor follow up fixes in that area. We are now, in testing branch, using the last Python 2.7 compatible Django available.

[2022-11-20 16:14] #2254 closed

[2022-11-22 14:35] FroggyFlox commented on #2248
Linking to a recent forum thread where forum user "maxInc" shared a similar feedback and feature request:
[https://forum.rockstor.com/t/display-nfs-exports-added-with-advanced-edit/8559](https://forum.rockstor.com/t/display-nfs-exports-added-with-advanced-edit/8559?u=flox)