[2017-08-20 15:53] phillxnet commented on #1800
I am currently preparing a pull request to address this issue.

[2017-08-21 17:43] phillxnet commented on #1798
I have now managed to reproduce this issue, it appears (by my own miscommunication in the indicated forum thread) that the relevant rockstor release version was not installed (>= 3.9.1-2) and the existing scrub jobs that caused this issue (by using the old pool name based API) were recreated but not after the relevant fixes were in place.

Issue duplication was achieve by hard coding the url used

[2017-08-21 17:43] #1798 closed

[2017-08-22 15:10] phillxnet commented on #1788
@belaz9 Thanks for reporting this issue and apologies for the slow response. I have a suspicion on what may have happened here and it relates to a potential regression of a pool API change we had to make but that caused a few issue that we are now addressing. I am currently working in another area of the code (but a related one) however it would be helpful in the mean time if you could try deletin

[2017-08-22 15:26] phillxnet opened #1802 "scrub task end time incorrect"
Thanks to forum member peter in the following forum post for highlighting this issue. The end time of pool scrub jobs is almost always around 2 seconds after the start time; indicating a bug in the update mechanism of this UI element. Note that the associated pool scrub end time, as presented on the relevant pool details page (scrub tab), is updated correctly.

A resolution to this bug has been fo

[2017-08-23 08:09] fbastok commented on #1102
The issue is still there as of today, using the latest version

[2017-08-23 12:06] phillxnet commented on #1788
@belaz9 had a quick look at this and pretty sure my original suspicion re recent API changes does not affect scheduled snapshot management as only disk and pool API's were changed. Snapshots seem to work purely on a name basis still. Did deleting the snapshot task and re-creating it work?

I have not managed to re-produce you issue as of yet and snapshot function 'from a fresh task' appears to wor

[2017-08-23 15:16] belaz9 commented on #1788
Yes, after deleting and recreating snapshots they are working correctly now, so this was an upgrade issue.
Thanks.

[2017-08-23 15:33] phillxnet commented on #1788
@belaz9 Thanks for the feedback and confirmation of work around. Do you fancy closing the issue as without a method to reproduce it's a tricky one to address. And we now at least have a record (your report in this issue) of a successful work around.

Cheers.

[2017-08-23 16:04] #1788 closed

[2017-08-28 12:46] #1800 closed

[2017-08-28 12:57] #1802 closed

[2017-08-28 13:58] schakrava commented on #1630
Thanks for your input @phillxnet

[2017-08-28 13:58] #1630 closed

[2017-08-28 14:04] schakrava commented on #735
Thank you @MFlyer ! Sorry this got missed.

[2017-08-28 14:04] #735 closed

[2017-08-28 15:26] phillxnet commented on #1656
Linking to relevant forum threads where forum members are experiencing this same issue:
nfriedly in https://forum.rockstor.com/t/web-ui-errors-mostly-too-many-files-open-while-runing-a-balance/3689
and:
peter in https://forum.rockstor.com/t/error-24-too-many-open-files-causes-scheduled-scrub-job-to-fail-and-prevents-login-to-web-ui/3649
Please update these forum threads with this issues resolution

[2017-08-28 16:06] nfriedly commented on #1656
Yea, I ran into this during a rebalancing; (https://forum.rockstor.com/t/web-ui-errors-too-many-open-files-while-runing-a-balance/3689/2), here's a couple of comments I can add to follow up on [my forum thread]:

* I have a number of rockons, but I turned off the rockons service before I noticed much of this issue
* I have a scheduled scrub, but it did not occur during the balance (so far)
* I hav

[2017-08-29 11:54] phillxnet opened #1804 "improve share mount re ro,degraded pool options"
On boot ro,degraded pool mount options, in the presence of a degraded pool, can cause all of it's own sub-vols to fail to mount and, depending on db output order, all other non system pool sub-vols to also not be mounted and block UI reporting of system drive sub-vol mount status. This is caused by the current handling of a couple of quota related command wrappers that fail to deal elegantly with

[2017-08-29 11:55] phillxnet commented on #1804
A solution to this bug has been found and a pr is currently in development.

This is my current issue focus.

[2017-08-29 14:36] nfriedly commented on #1656
Balance finished, this is what the output looks like now:

[code]

`gunicorn` definately looks suspicious. Looking at the output, it appeared that a lot of the files were random temp files, e.g. `/tmp/tmpXzUEIe`

[code]

curiously enough, none of those files actually appear to exist - `/tmp/` looks to be empty:

[code]

I'm going to reboot it now, I'll post one more update in a minute.

[2017-08-29 15:24] nfriedly commented on #1656
So, after a couple of attempts, I concluded that the web UI's reboot wasn't working - the "graceful shutdown" would go for 5 minutes, and then I'd log back in and be greeted with another "too many files open" error. Then I noticed that my ssh connection never closed. So I rebooted it there.

After the reboot, this is what things look like:

[code]

The total is about 5k:

[code]

`gunicorn` still

[2017-08-29 16:13] nfriedly commented on #1656
Not sure if it's related, but just for completeness: after the reboot my Rock-ons service wouldn't start. After a bit of digging around, the solution here worked for me: https://forum.rockstor.com/t/docker-service-doesnt-start/1657

Plex seems to think it's a new server and that the old one is offline with a second copy of all of my media.. but I think that is just a plex bug.

[2017-08-30 18:46] magicalyak commented on #1334
Just for clarification, the only way to modify the storage (remove it) is to uninstall the rockon and reinstall it (which is pretty time consuming).  The edit environmental parameters may be best as a separate request.  I would honestly consider using an API or CLI or json import/export technique to do the fancy stuff.  I would image we'd just need to ensure the postgres keeps up with it.
Also thi

[2017-09-03 12:11] phillxnet commented on #1243
As of:
issue: #1786 "improve scrub status reporting resolution"
and it's associated pr: "improve scrub status reporting resolution. Fixes #1786"
we have the additional states of 'halted' (interrupted), 'cancelled' (aborted), and 'conn-reset' (connection reset by peer).
Scheduled jobs already had an additional 'error' as possible end state.

However I read this issue as an indicator to additionally

[2017-09-03 13:12] phillxnet commented on #1799
This same selector does function as expected on the Disks, Snapshots, and Shares pages.

[2017-09-03 13:23] phillxnet commented on #1799
It is noteworthy that the Balances tab on the Pools details page also has an ineffectual 'Show entries' selector and also lacks the "Displaying entries 1-5 of 95" with accompanying page selector which is shown in the case of the scrub tab.

[2017-09-03 14:22] phillxnet commented on #1799
Currently having a look at this issue.

[2017-09-03 18:32] phillxnet commented on #1799
Looks like the ".. "Displaying entries 1-5 of 95" with accompanying page selector ..." is super-seeded by data-tables.

[2017-09-04 16:43] phillxnet commented on #1435
Adding reciprocal link to issue #1199

[2017-09-04 16:47] phillxnet commented on #1763
Linking to related issue #1199 as this now closed issue addresses some elements therein.

[2017-09-04 16:53] phillxnet commented on #1804
Linking to related issues #1199 and #1531 as this issue addresses some elements therein.

[2017-09-05 10:24] phillxnet commented on #1177
Command feedback when SCT is not supported:
[code]
Proposing that we can cover all states with the following TLER column entries:

??? (which would be short hand for no support or any other error on trying to query these values, this is in keeping with the presentation within the APM column when no support/value can be retrieved.)
7/7 (with the column header tooltip specifying read/write values as

[2017-09-05 10:33] phillxnet commented on #1799
My efforts on this issue are now awaiting technical assistance as even with the alterations expressed in:
https://github.com/phillxnet/rockstor-core/tree/1799_scrubs_'show_entries'_selector_ineffectual
and linked to this issue, there are still only 5 entries show in the relevant tables and the selector has no effect.

Moving onto other issues for the time being.

[2017-09-05 16:46] phillxnet commented on #1243
I am currently working on this issue.

[2017-09-05 16:47] magicalyak commented on #1795
I've hit this issue numerous times

[2017-09-05 22:13] schakrava commented on #1795
Nice catch guys, I apologize for the sloppy implementation in the first place. Should be easy fix.

[2017-09-06 09:48] phillxnet commented on #1804
Linking to additional related issue #737 as during a typical ro,degraded scenario it is expected that shares would be mounted, at least read only, such as this pr affords.

[2017-09-06 09:51] phillxnet commented on #1763
Linking to additional related issue #737.

[2017-09-06 18:11] phillxnet commented on #1799
I now suspect that the remaining cause of this issue is that we limit the poolscrubs and poolrebalances records retrieved to 5:
[code]
in src/rockstor/storageadmin/static/storageadmin/js/views/pool_details_layout_view.js

Hence there are only 5 records to display within the table, I will return to this issue to test this once I have finished working on my current issue.

[2017-09-06 18:58] phillxnet commented on #1243
In development Scrub Details page:

![scrub-details-page](https://user-images.githubusercontent.com/2521585/30129426-c6bb6fea-933d-11e7-81fa-c1f947b845e3.png)

[2017-09-07 22:29] phillxnet commented on #1243
Improved scrub details page (note errors in red):
![improved-scrub-details-page](https://user-images.githubusercontent.com/2521585/30188034-40c876a2-9424-11e7-9ab7-1bd14789ec1b.png)
and link from overview table now indicates errors:
![improved-pool-scrub-status-link](https://user-images.githubusercontent.com/2521585/30188063-591ca3c2-9424-11e7-94f1-ce7a1db3205a.png)

[2017-09-08 13:07] schakrava opened #1807 "share and snapshot api endpoints must be by id and not by name"
refactor to make supporting rename features easier.

#865
#864

[2017-09-08 13:22] #1776 closed

[2017-09-08 13:22] #1807 closed

[2017-09-08 15:07] #1804 closed

[2017-09-08 15:09] #1435 closed

[2017-09-08 17:46] phillxnet opened #1809 "snapshot scheduled task regression re 3.9.1-9 API change"
As of Rockstor version 3.9.1-9 there is a regression in scheduled snapshot tasks. This is due to a change in share API from name to id which needs to be accompanied by a pending change in task definition. Previously we used the the 'share' field within json_meta in smart_manager_taskdefinition to store ie: "share": "luks-share" as the name of the share to be snapshot-ed however given the API chang

[2017-09-08 17:53] phillxnet commented on #1809
@schakrava I propose we prioritise this issue sufficiently to enable it's fix to be included prior to the next stable release.

[2017-09-08 18:51] phillxnet commented on #1243
The commits against this issue are in final testing: I will prepare a pull request for review shortly.
All commits are on current master.

[2017-09-08 18:54] phillxnet commented on #1243
Please update the following forum thread with this issues resolution:
https://forum.rockstor.com/t/btrfs-scrub-scheduled-task-got-cancelled-no-reason-being-displayed/3638

[2017-09-09 21:54] oszilloskop commented on #1713
Yes, that would be very nice.

[2017-09-10 11:46] phillxnet opened #1810 "add space_cache=v2 mount option"
Thanks to forum member g6094199 for highlighting this requirement. It is suggested that we enable support for the space_cache=v2 mount option. As of this issues creation v2 space_cache is not a btrfs default but as time moves on this is likely to change and so the requirement/utility for this options inclusion is only going to increase.

There is existing support within the UI for the following di

[2017-09-10 12:16] phillxnet commented on #1810
Linking to the last pull request to add custom mount options as reference:
#1729 "add ro rw degraded and skip_balance mount options. Fixes #1728"

[2017-09-12 12:33] phillxnet commented on #1809
Adding example of email notification re cron failure as a result of this regression:

Subject: /opt/rockstor-dev/bin/st-snapshot 12 \*-*-*-*-*-*

Contents:
[code]

as per issue #1798 which was closed as a duplicate of #1759 except in this issue relating to snapshot of share not scrub of pool, but the same mechanism is used for both.

[2017-09-12 13:51] phillxnet opened #1811 "Improve 'first login' update message"
It is proposed that we change the existing update message, presented upon first Web-UI login from:
"Thanks for installing Rockstor. We recommend updating to the latest version."
to, for example:
"Thanks for installing Rockstor. We recommend updating to the latest version (all pending system updates will be applied.)".

[2017-09-12 15:30] phillxnet commented on #1809
I am currently working on this issue.

[2017-09-12 21:43] aherbach88 opened #1813 "Unable to create Samba export"
When trying to create a share in 3.9.1-10 I get an error of "Unknown internal error doing a POST to /api/samba" in the WebUI, while tailing the rockstor log, I get the following error (my share is called systems):

[12/Sep/2017 14:33:53] ERROR [storageadmin.middleware:33] invalid literal for int() with base 10: 'systems'
Traceback (most recent call last):
  File "/opt/rockstor/eggs/Django-1.8.16-p

[2017-09-14 16:23] phillxnet commented on #1813
@aherbach88 Thanks for reporting this, pretty sure it's down to a recent change in the testing channel updates of share api (3.9.1-9) and we are collecting the loose ends currently.

I have reproduced this and am currently having a quick look at developing a fix.

[2017-09-14 16:34] phillxnet commented on #1813
The UI experience re this issue is the following:

![smb-export-after-share-api-change](https://user-images.githubusercontent.com/2521585/30441812-65e25ab8-9972-11e7-9805-9e5c65da4181.png)

directly after attempting to establish an smb export. And appears to be down to a failure to validate the share due to using the old name based rather than db id based api: hence the "invalid literal fro int()"

[2017-09-15 02:03] #1809 closed

[2017-09-15 02:04] #1813 closed

[2017-09-15 11:47] phillxnet commented on #1611
Please also update the following forum thread with this issues resolution:
https://forum.rockstor.com/t/btrfs-replace-and-possibility-of-custom-dashboard-widgets/3775

[2017-09-15 15:18] phillxnet commented on #1243
Related fixes have been made to master since this issues branch was created. To avoid duplicate commit messages, and to aid merging, I am shortly to re-base locally on current master, delete the GitHub instance of this issue's branch, and re-push to GitHub the newly re-based code.

[2017-09-15 16:17] phillxnet commented on #1243
Successfully re-based on current master.

[2017-09-15 17:24] phillxnet commented on #1799
Removing GitHub resident branch to allow for local re-base prior to re-establishing GitHub instance: avoids duplicate commit messages.

[2017-09-15 17:46] aherbach88 commented on #1813
I updated to 3.9.1-11 and am still getting errors.  The log now shows:
[15/Sep/2017 10:45:17] ERROR [storageadmin.middleware:32] Exception occured while processing a request. Path: /api/users method: GET
[15/Sep/2017 10:45:17] ERROR [storageadmin.middleware:33] u"Got KeyError when attempting to get a value for field `groupname` on serializer `SUserSerializer`.\nThe serializer field might be named

[2017-09-15 18:01] phillxnet commented on #1813
@aherbach88 Thanks for the feedback, however I did not experience this log entry post pr. You could try refreshing your brower and or rebooting your Rockstor instances as it may just be that you have some prior version code in play still as the error looks quite different. I.e it now relates to users / groups not shares and there has been no user / group api change. Could you clarify the circumsta

[2017-09-15 19:27] aherbach88 commented on #1813
@phillxnet The error when accessing the add a new samba export or edit an existing one.  It will sit trying to load the for a few seconds then displays "Unknown internal error doing a GET to /api/users?page=1&format=json&page_size=5000&count= ".

Much like the previous error, that error will persist on the web gui until you refresh the page.  I have restarted the server a couple of times, refreshe

[2017-09-15 21:47] phillxnet commented on #1813
@aherbach88 OK, thanks. So it looks like your particular instance of this issue was further complicated by the AD stuff as I've demonstrated a fix by way of the associated pr for the initial report and error log.  However that contained no initial AD config and I'm assuming this additional initial element to your existing causes is what's still outstanding as a 'trigger' in your case.. Unfortunate

[2017-09-15 22:12] aherbach88 opened #1817 "Samba with AD connector errors out when creating/editing an export"
On 3.9.1-11 I am getting the following error

[15/Sep/2017 10:45:17] ERROR [storageadmin.middleware:32] Exception occured while processing a request. Path: /api/users method: GET
[15/Sep/2017 10:45:17] ERROR [storageadmin.middleware:33] u"Got KeyError when attempting to get a value for field groupname on serializer SUserSerializer.\nThe serializer field might be named incorrectly and not match any

[2017-09-16 14:01] #1243 closed

[2017-09-16 14:04] #1799 closed

[2017-09-17 00:30] schakrava commented on #1795
Ok, I've debugged this issue today and it turned out to be more than what I thought. A few observations

1. It's ok not to delete docker images associated with a Rock-on when it's uninstalled. Instead, while installing, we should add an explicit pull of an image before running a container. This will ensure image updates are pulled, if any, during re-installs

2. The log message from rockon_utils,

[2017-09-17 17:50] #1795 closed

[2017-09-17 17:50] #1598 closed

[2017-09-17 19:32] phillxnet commented on #1817
@aherbach88 Thanks for opening this 'off shoot' issue. We have just had another report akin to this one which you might find interesting/useful. Please see:
https://forum.rockstor.com/t/samba-service-broken-after-update-11/3780
as it may be the same issue you have just experienced. Please report back here or there as you see fit as it would appear a fix was found, if not an actual 'pinned down' ca

[2017-09-18 18:56] aherbach88 commented on #1817
So, I was able to reproduce this on a clean install.  It is definitely the NIS service, however this probably has to do more with my internal setup for NIS than rockstor as I'm running a heavily customized version of NIS+ on Solaris 9 that I have el4/5/6/7 clients connect to.

[2017-09-19 07:12] sirio81 opened #1821 "Rockstore installation diffear from documentation"
Rockstore 3.9.1.
Installation process asks only to change root password.
This behavior is very different from what I can read in the documentation:
http://rockstor.com/docs/kvm_setup.html#vmmrockstorinstall

I also noticed it's not possible to select a keybord other than 'us'.

[2017-09-19 07:53] sirio81 opened #1822 "Warning when activating shedule task"
"DataTables warning: table id=scheduled-tasks-table - Cannot reinitialise DataTable. For more information about this error, please see http://datatables.net/tn/3"

Rockstore 3.9.1-0.

How to replicate:
create a schedule task for snapshots

And it prompts 4 times!

[2017-09-19 08:00] sirio81 opened #1823 "System shell doesn't work"
Rockstor 3.9.1-0.

Clicking on System Shell (url: https://<ip>/#shell), I get the error

502 Bad Gateway
nginx/1.10.2

[2017-09-19 09:16] phillxnet commented on #1822
This issue has been seen in various places and can relate to browser cache being a little over aggressive. Can you try to reproduce this issue after first refreshing your browser window? I haven't seen this message myself for a while now and have recently worked on the scheduled tasks code and didn't see it at all during those sessions. Once we have a perfectly repeatable instance of it that doesn

[2017-09-19 09:35] phillxnet commented on #1823
@sirio81 Could you take a look at the following forum thread and report back here on your experience with this issue. Definitely something that needs fixing and I suspect we have a race condition of sorts where we depend on a program to install in the background that is failing to do so 'in time'.

https://forum.rockstor.com/t/system-shell-error/3738

Calling on @MFlyer who coded this feature a li

[2017-09-20 06:34] sirio81 opened #1824 "Network card not active after installation"
I installed rockstore 3.9.1-0 on a pc with 2 ssd and automatic partitioning.
I dind't change netwrok settings so it set to use dhcp.
At first boot the network card is not configured and in state down.
I have to add an ip by console.
This is what I see in Network section:

![immagine](https://user-images.githubusercontent.com/2992550/30629804-16ba7c3e-9dde-11e7-99a2-722afa713d96.png)

I checked
  p

[2017-09-20 07:02] sirio81 commented on #1824
I confirm that choosing 'Open shell in a popup window' in the service option works.
After disabling the option, it works also inside the window.
So this is a work around.

[2017-09-20 08:28] MFlyer commented on #1823
Hi @phillxnet ,
hope to check it asap

M.

[2017-09-20 13:53] sirio81 opened #1825 "Rockstore installer doens't work well with virtio driver"
The guest is run by Virtaul Machine Manager on a debian 9 host.

![immagine](https://user-images.githubusercontent.com/2992550/30647376-8b0d565a-9e1b-11e7-8eef-75bdc5867648.png)

This is the qemu process with its options:

`qemu-system-x86_64 -enable-kvm -name guest=rockstore,debug-threads=on -S -object secret,id=masterKey0,format=raw,file=/var/lib/libvirt/qemu/domain-3-rockstore/master-key.aes -m

[2017-09-20 14:13] sirio81 commented on #1821
Could you please report the hash of the iso on the download page?
md5sum of the iso I downloaded is: 66c08be577fb3d63edbf26c2ae11c96f.

I created a isohybrid by
  isohybrid --uefi Rockstor-3.9.1.iso

When I use this modified iso, then I get the installer option.
I noticed anyway, while I was writing this post, that the installer started the installation process by itself.

I think it's important t

[2017-09-20 14:48] phillxnet commented on #1821
@sirio81 Thanks for this issue report, would you mind moving it over to our (close this one and open a fresh issue) rockstor-iso repo as this is not related to the rockstor package but our included installer on the iso:
https://github.com/rockstor/rockstor-iso

Cheers.

We are due to 'rebase' our installer on the just released CenOS 7.4 so hopefully we can re-check these issues once that has taken

[2017-09-20 14:50] phillxnet commented on #1821
@sirio81 Also note that we have in the same iso repo the following issue re the md5 / sha256 iso request:
MD5 #18
https://github.com/rockstor/rockstor-iso/issues/18
Please add your request to that issue as all contributions / requests can then be more easily seen re 'stuff' to get done.
Thanks.

[2017-09-20 14:53] sirio81 commented on #1821
Thank you for your reply.

[2017-09-20 14:57] phillxnet commented on #1821
@sirio81 Thanks for helping to improve Rockstor.

[2017-09-20 18:41] doenietzomoeilijk commented on #1143
To add to your list: at work we use [Portainer](https://portainer.io/), which works well enough.

[2017-09-21 08:48] MFlyer commented on #1825
Hi @sirio81,
going to help you, had same issues when testing Rockstor over Proxmox virtualization:

you just need to add a "fake sata disk" cos' Rockstor installer requires a sata disk, but you can install it over your virtios.
Ex.: rockstor VM with 1 or more virtios + 1 1GB sata disk, installer will run fine, you'll install over your virtio disk, shutdown rockstor, remove sata disk and et voilà

[2017-09-21 12:57] sirio81 commented on #1825
Ok, nice to know about the workaround.

[2017-09-21 13:02] #1821 closed

[2017-09-21 18:30] phillxnet opened #1826 "Add share/subvol specific mount options"
Thanks to forum member zanzida in the following forum thread for highlighting this issue. Having the ability to control share (subvol) mount options would server to enhance Rockstor's flexibility. This however should be done is a way that does not over complicate the UI. We already, as of pull request #1763, report share and pool mount options separately, but would have to extend the share model (

[2017-09-22 05:44] doenietzomoeilijk opened #1827 "Give a visual indication that an update is running in the background"
This issue came out of [this thread](https://forum.rockstor.com/t/samba-service-broken-after-update-11/3780).

It is possible to start an update from the web UI, or by having automatic updates enabled. Shutting down or rebooting during those updates is, of course, a recipy for disaster, but currently it's hard to tell if an update is in progress. Also, it might give the idea that nothing happened

[2017-09-22 07:50] MFlyer commented on #1825
Hi @sirio81 ,
can you close this? thx
M.

[2017-09-22 09:40] #1825 closed

[2017-09-22 13:06] phillxnet opened #1828 "failure in share import prep re duplicate name and usage"
Thanks to forum member @magicalyak for reporting and helping to diagnose this issue.  Under certain circumstances when a share on disk is not currently reflected in the db an attempt is made to import and mount each share.  This effort includes a check to establish if there are duplicate share names which is unfortunately circumvented due to a bug which causes this check to never be executed, alon

[2017-09-22 13:10] magicalyak commented on #1828
Since there isn't a way to mount duplicates in /mnt2 due to naming, is there a way to mount the reported subvolid in rockstor or even just pick the first one and once a dupe is detected just not mount it (spit an error out in the logs and move on)?

[2017-09-22 13:15] phillxnet commented on #1828
I am currently working on this issue and have established it's root cause as related to incomplete changes relating to issue #930. I am currently in the process of refactoring the relevant code to help clarify further development and a pending fix re the side effects indicated.

[2017-09-22 13:19] phillxnet commented on #1828
@magicalyak Good point but can you please remove it from this issue and open a new feature request or better still a design discussion via a forum thread with the same as it is way over broad for this issue as defined and referenced. Thanks.

[2017-09-22 13:22] phillxnet commented on #1828
@magicalyak I have now corrected my omission re the indicated referenced forum thread.

[2017-09-22 13:41] phillxnet commented on #1828
The core cause of this issue is a legacy parameter type used when calling share_info but as this call is within a large try clause there are several potential effects that may result as the intended code has not been in effect for a couple of years. I am about to update the erroneous call and begin testing prior to submitting a pull request.

[2017-09-22 16:11] phillxnet commented on #1828
Correcting the legacy call to share_info() from within the try clause of import_shares() gives the following, intended, log entry to identify the issue found:
[code]

[2017-09-22 16:35] phillxnet commented on #1828
Log error message updated to reflect the data loss component of the suggested command:

_"Another pool (pool-on-luks-dev) has a Share with this same name (luks-share) as this pool (luks-pool-on-bcache). This configuration is not supported. You can delete one of them manually with the following command: "btrfs subvol delete /mnt2/[pool name]/luks-share" WARNING this will remove the entire contents

[2017-09-22 16:54] phillxnet opened #1829 "share link regression on snapshots page"
The share details links within the Share column of the main snapshots page have not been updated to use the new share API. This results in the following error when they are accessed:

    Unknown client error doing a GET to /api/shares/luks-share/snapshots?page=1&format=json&page_size=5000&count=&snap_type=

Rather than the intended behaviour of linking to the Share's detail page.

[2017-09-22 17:13] phillxnet opened #1830 "add share detail links to export tables"
As a user convenience it would be nice if the Share name displayed within the various "File Sharing" / export tables were make into links to the respective Share details page. This would also be consistent with the the same names as displayed within the table on the main Shares page, the snapshots Share column entries, the snapshot task column entries in the main scheduled tasks table, and within

[2017-09-23 14:05] MBadberg opened #1831 "Can't install Rockons"
ztask.log
2017-09-23 15:46:30,144 - ztaskd - ERROR - Error setting up function. Details:
server closed the connection unexpectedly
        This probably means the server terminated abnormally
        before or while processing the request.
#############################################
supervisor.ztask stderr.log
ERROR:storageadmin.views.rockon_helpers:'NoneType' object has no attribute 'name'
Trac

[2017-09-24 18:28] phillxnet opened #1832 "smart_manager_shareusage db field removal"
Currently this time indexed share/snapshot usage db table is tended cumulatively. This means that deleted snapshots or shares are not removed. It is proposed that whenever a share or snapshot is deleted that all of it's 'by name' entries withing this db are also be deleted.

See:
smart_manager/models/share_usage.py for model definition.
and
storageadmin/views/share_helpers.py for update mechanisms

[2017-09-25 10:13] phillxnet opened #1833 "nginx.conf empty - no "events" section in configuration"
Thanks to forum members grizzly and petermc for highlighting this issue. On rare occasions the /opt/rockstor/etc/nginx/nginx.conf file is empty. This leads to a Web-UI failure and the following error messages in /var/log/nginx/errors.log:
[code]
The issue author has also seen this occurrence but it's cause has yet to be established:
[code]

Referenced forum threads (please update on this issues re

[2017-09-25 12:40] schakrava opened #1834 "disk serial is null"

[2017-09-25 12:43] schakrava commented on #1834
@phillxnet You'll be interested in this bug. My fix is probably needed but I am wondering if it's a symptom of something else. Wouldn't `do.serial` be set by then?

[2017-09-25 14:57] phillxnet commented on #1834
@schakrava Pretty sure what we have there is correct 'as is' and that code is just using the already established serial problem with a device (denoted by it's 'fake-serial-' beginning) to indicate that it would be futile to retrieve smart on something that we can't then track. But as you indicate do.serial should always be something (hence the fake allocation). So this is not the root of the issue

[2017-09-26 17:59] FroggyFlox commented on #1143
@doenietzomoeilijk based on your suggestions, you may be interested to know that a Rock-on for Portainer has been created, alongside a PR:
[https://github.com/rockstor/rockon-registry/pull/128](https://github.com/rockstor/rockon-registry/pull/128)

[2017-09-27 09:39] phillxnet commented on #1833
Thanks to petermc in the following forum thread for confirming the following 'work around' to re-assert / re-populate this file:
[code]
from:
https://forum.rockstor.com/t/opt-rockstor-etc-nginx-nginx-conf-empty/3812/2

[2017-09-30 14:15] phillxnet commented on #1829
I am currently working on this issue.

[2017-09-30 16:33] phillxnet opened #1836 "shares via clone of writable snapshot not mounted on creation"
Shares, upon creation, are normally mounted. But in the case of a writable snapshot then 'turned' share via the clone icon on the snapshots page, the resulting share is not immediately mounted as per a normal share creation. After a number of minutes the share via clone mechanism is, eventually mounted; but refreshing of disks, pools, or shares page does not ensure this. A system reboot does howev

[2017-09-30 19:49] phillxnet commented on #1828
I have a little more testing to do on the code / commits as associated and then I'll prepare the pull request.

[2017-10-03 09:38] phillxnet commented on #1130
Closing issue as:
Fixed by @schakrava via #1747

[2017-10-03 09:38] #1130 closed

[2017-10-03 17:17] aherbach88 commented on #1817
Ignore my previous comment on this, the actual error is from winbind.

Currently it looks like this:
KeyError: u"Got KeyError when attempting to get a value for field `groupname` on serializer `SUserSerializer`.\nThe serializer field might be named incorrectly and not match any attribute or key on the `User` instance.\nOriginal exception text was: 'getgrgid(): gid not found: 105'."

The 105 corres

[2017-10-03 18:33] jtilander opened #1837 "Removing a disk seems to completely bork the UI"
Repro steps:

1. Setup a pool of 5 disks, RAID10.
2. Remove the first disk
3. Powercycle

Now when you go to the UI the following shows up with the following callstack:

[code]

<img width="1120" alt="rockstor" src="https://user-images.githubusercontent.com/373005/31142294-b91e241c-a82e-11e7-89ba-3c01769f4ad4.png">

[2017-10-04 12:11] #1829 closed

[2017-10-04 15:08] phillxnet commented on #1837
@jtilander Thanks for the report. What version of Rockstor are you running as we have made some recent improvements re UI representation of unmounted pools (volumes)? The default for btrfs, which we adhere to, is to not mount pools degraded. Which your pool would be if it had a disk removed. On our front we previously dealt poorly with this but as of #1763
https://forum.rockstor.com/t/dev-log-for-

[2017-10-04 15:16] jtilander commented on #1837
Hi, sorry, I didn't mention that I was using this iso "Rockstor-3.9.1.iso" to install rockstor. (I'm new, so I was just downloading and trying your system out).

I think you are correct, indeed there was a balance task running.

[2017-10-04 15:32] phillxnet commented on #1837
Cool; then I would say we have a new bug. It may take a little while to get around to this one as we are working towards the next stable release coming out shortly (sorry can't be more specific just yet). These are often accompanied by new iso releases but not always. In the mean time I would cancel your pending balance via the command line and if it is triggered via a scheduled task then disable

[2017-10-06 16:26] aherbach88 commented on #1817
A couple of updates I found,

When I set the following settings for Winbind this issue no longer seems to occur (no errors appear in the long either).

    winbind use default domain = true
    winbind offline logon = false
    winbind enum users = no
    winbind enum groups = no

[2017-10-07 23:30] dbivolaru commented on #1521
Just realized it's also missing for resize. There are multiple places where that would need to be updated. Did you get to work on it yet?

The use cases not covered in the UI are:
- new dup
- single -> dup
- dup -> single
- raidN -> single (requires additional input which drive to keep)
- raidN -> dup (requires additoinal input which drive to keeep)
- dup -> raidN

[2017-10-08 09:16] tom-vixake commented on #1521
Since nobody wanted it I did not moved with it.

[2017-10-09 11:52] #1828 closed

[2017-10-10 14:06] KaiRo-at commented on #1739
Why was this closed? The default setting of the service is LOGIN so by default, it doesn't work for people out there. If the solution is to change the default setting, then that should actually be done in an issue (this one?), I would think...

[2017-10-10 16:37] dbivolaru commented on #1494
For the backup support I propose the following:
- Backup role for a subvolume (native, ie `btrfs send | btrfs receive` from snapshot or a higher level of abstraction like `btrbk` which can take a schedule and creates appropriate timestamp folders and manages snapshots and backup retention levels)
- Archive role for a disk (native, see above, just doing a recursive subvolume copy 1:1, ie `btrbk arc

[2017-10-10 16:39] dbivolaru commented on #1157
For the backup support I propose the following:
- Backup role for a subvolume (native, ie `btrfs send | btrfs receive` from snapshot or a higher level of abstraction like `btrbk` which can take a schedule and creates appropriate timestamp folders and manages snapshots and backup retention levels)
- Archive role for a disk (native, see above, just doing a recursive subvolume copy 1:1, ie `btrbk arc

[2017-10-16 07:02] pariahsmile opened #1840 "Lost internet connection"
I have just run this program earlier and after the desk top reboot I could not connect to the internet. I have run a check on my computer found the the IP address show 0.0.0.0.0.

what has happened? I have called the service provider the technician claim that the cable from the modem to the computer need to be replaced. but I have used another cable, having done the IPCONFIG still finds the IP add

[2017-10-19 13:22] lediszep opened #1841 "SFTP wrong space remaining and total space values"
Hi there,

I have setup our NAS with SFTP. However if i use software like NetDrive3 or Expandrive then the values of remaining space and total space read: 10tb free out of 10tb (win10). I contacted Expandrive their support and they asked me : What SFTP protocol do they implement?

Thanks a lot, Shaun

[2017-10-19 18:56] PhilippeAB commented on #1656
The files does not exist because there are deleted But  the file descriptor is still in memory so the OS keep the file open. You just can't see it when doing a ls
You need to close the file descriptor.
I get this problem a lot on the UI
There are more than one tmp file with this problem.
For me it's mainly
/tmp/afp.conf
/tmp/exports

[2017-10-19 21:00] phillxnet commented on #1841
We use openssh-server to supply sftp via it's internal-sftp subsystem. This is implemented via the following line in: /etc/ssh/sshd_config

[code]

The rest of that file defines the current config for that server.

The openssh-server package we use is that from our up-steam of CentOS, though the exact version would depend on when you last updated.

[code]
should give you that info.

Hope that help

[2017-10-19 21:01] phillxnet commented on #1841
Linking to your forum post on the same issue:
https://forum.rockstor.com/t/sftp-drive-free-and-used-space-readings-incorrect/3913

[2017-10-20 10:05] phillxnet commented on #1497
@k0nsl @schakrava I propose that this issue has been address by my last response here and is more appropriate as a forum / support topic anyway so can be closed. @k0nsl Hope you are OK and please go ahead and close this if your are in agreement as there is little more that is actionable.

[2017-10-20 10:17] phillxnet commented on #1466
@NickJorens @schakrava There have been a few changes to rock-ons management code but most notable that comes to mind is:
is pr: #1795 "explicitly pull an image to get potential updates."
for issue #1795 "rock-on UI fails to reflect removed container"
I suspect the above code improvements would help in this case.
@NickJorens Is this issue still reproducible with the above fix in place?

[2017-10-20 10:21] phillxnet commented on #1089
@joafri and @schakrava
I propose this issue be closed as "LVM not supported".

[2017-10-21 17:25] phillxnet commented on #1830
I am currently working on this issue.

[2017-10-21 22:54] schakrava commented on #1656
I've updated our dependency on gunicorn, it was severely outdated. If the file descriptor leak still exists after this change, we can debug a bit better.

[2017-10-22 12:56] schakrava opened #1843 "Don't print stack trace for update subscription authorization error"
These are usually wrong input error. The error message should be actionable. stack trace not necessary

[2017-10-22 17:04] phillxnet commented on #1830
About to remove temporary working GitHub remote branch to facilitate squash and re-push.

[2017-10-22 17:40] skynett81 opened #1844 "Addon UNMS"
can you make an addon for UNMS  its an addition to Unifi controller

Ubiquiti Network Management System (beta)
Manage all of your EdgeMAX®, EdgeSwitch®, airMAX® and UFiber devices.

	Centralized devices configuration, backups and mass FW upgrade
	Performance charts with real-time graphs
	Outage notifications and custom alerts
	Map of your network sites and endpoints

https://github.com/Ubiquiti-Ap

[2017-10-22 18:05] phillxnet commented on #1844
@skynett81 Thanks for the suggestion / request but I think this feature / addon would best be addressed via our docker based Rock-on system and as such this belongs in our rockon-registry repository:
https://github.com/rockstor/rockon-registry

But given the vast majority of our Rock-on definitions are written by non core Rockstor contributors I would suggest that you also post on our forum with t

[2017-10-22 18:10] #1844 closed

[2017-10-22 18:20] phillxnet commented on #1830
All prior commits squashed and presented as one in above pr.

[2017-10-22 19:19] #1830 closed

[2017-10-22 19:20] #1843 closed

[2017-10-24 07:02] eco-git commented on #636
BTRFS on iSCSI seems an attractive proposition for the entry-level storage market.

If there was potential for collaboration on technical level with [Open-iSCSI](http://www.open-iscsi.com/) ([github](https://github.com/open-iscsi/open-iscsi/) / [forum](https://groups.google.com/forum/#!forum/open-iscsi/)), they might also be interested to energize & rejuvenate their base with Rockstor. Is it?

Exa

[2017-10-30 23:19] phillxnet opened #1847 "root pool edit message formatting type error"
Thanks to forum member Spiceworld for reporting this issue. We have a regression in the pool edit limitation exception message which prevents the full message being displayed.
[code]
In prior examples of this type of regression, caused by a recent pool api change from name to db id in this case, we have resolved the unicode format issue by moving to the string.fomat method.

Please update the foll

[2017-10-31 14:21] phillxnet opened #1848 "root pool dev edit options non symmetrical"
Thanks to forum member Spiceworld in the linked thread for highlighting this bug. Currently we allow the addition of drives to the system pool (usually rockstor_rockstor) but we then don't allow the removal of those same additional drives. This is both confusing and unintended, and circumvents the separation between the original system device and the data devices. Presently our system disk/pool id

[2017-10-31 14:38] phillxnet commented on #1848
Please reference the indicated forum thread for additional wrinkles to what can be allowed that was not intended via the UI interface. I.e 2 pools with differing uuid but the same name of 'rockstor_rockstor'. One as the original system disk, while the other is a data disk. Further investigation on reproducing this exact issue may have this element of replicated rockstor_rockstor pool label as it's

[2017-10-31 16:50] maclm opened #1849 "Unable to update to 3.9.1-16 over 3.9.1-0"
I'm on Linux 4.10.6.
I've tried to update packages, via "Yum available updates" with no success.

[2017-11-01 13:10] alazare619 commented on #1112
Wanted to update this. Last few months I have been working on getting this alot more functional.

I have successfully been able to get oVirt (Red hat GlusterFS KVM w/ Webui and Docker Management) running in parallel with Rockstor. This has allowed me to store VM's on btrfs volumes along with many other features to many to list. I will link to a forum post when I have time to write this up.

[2017-11-01 21:51] phillxnet commented on #1849
@maclm Hello. Your issue may well be that you have yet to select an update channel. You did not specify if you had yet to do this, or any error messages you received after attempting your stated yum command. Initially, prior to fully defining a GitHub issue, it can be useful to first discuss the problem on our forum. Please consider joining our forum where there are more eyes to first establish th

[2017-11-02 08:42] doenietzomoeilijk commented on #987
I'd like to see LE encryption happening as well, and I'd like it to be in the standard UI somewhere. We'd need to figure out a way to get this to a user-friendly _and_ secure point - at some point you'll _have_ to open up your NAS to the world for a short period, but as discussed that's a matter of shortly opening port 80 until the cert is done. As for user interface etc, we could always take a pe

[2017-11-02 10:08] daniel-illi commented on #987
If you don't like to open the port 80 to the world, it is also possible to do the validation with a dns entry.
I'm using this letsencrypt client which supports the api of many dns providers:
https://github.com/Neilpang/acme.sh#9-automatic-dns-api-integration

[2017-11-02 19:07] maclm commented on #1849
Oh, I see.  Will try to do better next time.

Meanwhile, I've managed to resolve the issue following [this post](https://forum.rockstor.com/t/update-3-9-1-0-error/3904/5) and a bit of trial'n'error.

I suggest we close this one.

[2017-11-02 19:16] phillxnet commented on #1849
@maclm Glad you've got it sorted and have found the forum useful.

Please feel free to close the issue. Those opening issues have the right to close them. And make any additional notes you fancy on the resolution you found.

Thanks for the update.

[2017-11-02 19:38] #1849 closed

[2017-11-03 22:02] phillxnet commented on #1036
Please update the following forum thread with this issues resolution as interest was expressed in the ability to schedule user scripts via the Web-UI:
https://forum.rockstor.com/t/feature-request-add-scheduled-task-type-for-periodic-rock-on-restart-in-webui/3960/10

[2017-11-04 13:21] phillxnet commented on #1763
This now closed issue addresses a mechanism identified as a prerequisite of related issue #1700.
Comment added to document progress towards the linked issue.

[2017-11-04 13:33] phillxnet commented on #1700
As indicated in this issues description / proposal text we had a prerequisite for a pool mount status mechanism. This has now been addressed via linked issue #1763 where the associated pr added a pool.mount_status parameter. This mechanism can now be used to identify if a pool is mounted degraded by a simple string search of the pool.mount_status parameter, after first establishing the truth of po

[2017-11-04 13:45] phillxnet commented on #1700
This issues description / proposal text has the following as a prerequisite:
"... in a missing drive scenario, offer the option to mount degraded with all the associated warnings ..."

Given the default btrfs behaviour of not mounting pools when in a degraded state (missing device) we can spin off this prerequisite into it's own issue as currently we only have the mechanism to identify a pools mou

[2017-11-06 02:34] cropse commented on #564
Hi, is that fixed?
I try the LDAP at version 3.9.1 not work, but Introduction is show product-ready.

[2017-11-07 00:57] martinbehrens commented on #1823
I can confirm the issue. Reproducible as well is that the shell suddenly presents a login prompt instead of a 502 response code after 30 minutes or so.

[2017-11-07 13:56] schakrava commented on #1631
Can you provide more context and steps to reproduce here? I don't think rock-on snapshots would be rollback friendly as they are managed by docker internally.

[2017-11-07 13:56] #1631 closed

[2017-11-07 14:40] belaz9 opened #1850 "when network connection is broken cron floods mailbox with emails"
My RS server is sometimes loosing network connection. The side effect of that is that cron keeps failing trying to check for updates and floods the mailbox with tons of emails, that get delivered when connection is restored. It probably should not create emails for errors due to connectivity issues.

[2017-11-08 10:29] ScarabMonkey opened #1851 "Schedules broken after update to 3.9.2-0"
Since updating to 3.9.2-0 all of our existing scheduled snapshots are failing.
It seems to be that the field name has changed from 'share' to 'share_name' and the existing data hasn't been migrated:

In our setup we have many Shares and had to manually create 2 snapshot schedules for each of these (in fact I got bored after making 10) - the schedule clone feature would be really great to ameliorat

[2017-11-08 10:36] ScarabMonkey commented on #1851
On closer inspection, this also appears to affect Scrub schedules - notice that it says 'undefined'

(the 1st entry is an original snapshot schedule - the 2nd is the replacement that I manually re-created yesterday  - the 3rd is a scrub of the same pool)
Traceback from Scrub job follows:

[2017-11-08 13:05] schakrava opened #1852 "deprecate .initrock"
Directly use the signal from db.

[2017-11-08 15:47] ScarabMonkey commented on #1851
For clarity: I'm using the 'stable' channel and this update was installed automatically, unattended, without any warning.

[2017-11-08 17:51] phillxnet commented on #1851
@ScarabMonkey I don't believe this is due to a db migration failure but more to our newer code requiring an additional parameter (share_name) within the definition of the scheduled task. Hence me putting in the exception message to identify this occurrence: 'meta' is our info on the scheduled task and it doesn't contain the now required share_name. This was due to our moving share to reference the

[2017-11-08 17:55] ScarabMonkey commented on #1851
Thanks @phillxnet
Though I'm unsure as to why the migration script can't do this automatically?

I can confirm that a newly created schedule is functioning correctly.

[2017-11-08 18:16] phillxnet commented on #1851
@ScarabMonkey Thanks for the confirmation of pr #1812.

Would you care to close this issue as a duplicate of issue #1809 ?

As for why this was not dealt with auto-magically I'm afraid this was down to attempting to keep the code as clean and maintainable as possible. An early decision in the project had simply come back to haunt us but post 3.9.2 it has now been put to rest. The pain point being

[2017-11-08 18:58] phillxnet commented on #1741
Linking to associated "Support Pool renaming #864" issue #864

[2017-11-08 19:38] phillxnet commented on #1368
I think the issue here is the nature of the sort.
It would appear that we are currently sorting by a suspected sting/lexicographical not a unit aware numeric:
ie currently from largest to smallest:

96.00 KB
80.00 KB
64.00 KB
6.62 MB
6.61 MB
6.59 MB
59.09 MB
5.23 MB
200.00 KB
16.00 KB
ie 9, 8, 6, 5, 2, 1 as first digit.

Tested for both Total and Exclusive Size sort.

[2017-11-09 17:31] phillxnet opened #1853 "suspected replication regression re share api change"
Thanks to forum member clawes in the following thread for highlighting this issue. It would appear that we have a share api change related regression in the replication code as indicated by the submitted error message:
[code]
Linking to the potentially related api change pr for context:
#1808 "change share and snapshot endpoints to by id and not by name."

Please update the following forum thread

[2017-11-09 17:39] phillxnet commented on #1853
@schakrava As this affects our latest stable I suggest that it be prioritised. I haven't looked at the replication code just yet but could do so, just not directly unfortunately. I'll note here if/when that changes.

[2017-11-13 00:19] schakrava opened #1854 "Remove backwards compatibility code"

[2017-11-13 14:30] agaver opened #1856 "XEN Installation - Not a valid BTRFS filesystem"
Hello there,
Getting this error when running on a XEN VM:
Error running a command. cmd = /sbin/btrfs filesystem show /dev/disk/by-id/xvda3. rc = 1. stdout = ['']. stderr = ['ERROR: not a valid btrfs filesystem: /dev/disk/by-id/xvda3', '']

 Traceback (most recent call last):
  File "/opt/rockstor/src/rockstor/rest_framework_custom/generic_view.py", line 41, in _handle_exception
    yield
  File "/

[2017-11-13 15:16] agaver commented on #545
Having this issue when installing on a XenServer.
Any ideas?
Thx.

[2017-11-14 00:44] phillxnet commented on #1856
@agaver Hello.
This issue is due to no disk serial being exposed by the Xen hypervisor through to Rockstor and hence udev has no way to generate the required by-id disks names.

Please see:
https://forum.rockstor.com/t/device-management-in-rockstor/1768

Resolve getting Xen generate unique serials for it's disks and udev can then make the required by-id disk names that Rockstor requires:
ie from o

[2017-11-14 17:53] agaver commented on #1856
The workaround is for VMWare only.
Hope someone will find a solution to this.
Thank you for your answer Phillip.

[2017-11-16 13:41] phillxnet opened #1857 "suspected 3.9.2-1 scheduled snapshot UI regression"
Thanks to forum members ScarabMonkey and Maddan in the following thread for highlighting this issue. It appears that we have a regression introduced by stable hotfix pr: #1855 which was intended to aid migration from scheduled task meta created from old share api. From Maddan's account this appears not to have worked as intended (in the field) and has also blocked / broken the prior confirmed, by

[2017-11-17 11:38] phillxnet commented on #1857
Update from Maddan in the referenced forum thread.
As of 3.9.2-1 scheduled snapshots created pre 3.9.2-0 are in fact executing as expected (thanks to @schakrava migration code in pr #1855) but with the artefact of share name showing as (undefined) within the UI. This is far less serious than originally thought as essentially cosmetic.

Awaiting clarification of Maddan's current config behaviour. P

[2017-11-17 13:59] ivanobom opened #1858 "Truncating disk list on Create Pool (visual issue)"
Most of the time disk IDs are pretty large (such: `ata-Samsung_SSD_850_EVO_250GB_S2R5NX3J528563R`) and the area listing all disks truncates the width adding scroll bars. In other hand there's a lot of free space on the page that could be used to show that list without truncating it, as can be seen on the following screen shot:

![narrow disk list and huge blank space](https://user-images.githubuse

[2017-11-24 15:52] skynett81 commented on #1833
i did have a problem that the web-gui dident start as normal , but after this it did work :)
`cat /opt/rockstor/conf/nginx.conf.in | sed -e 's/\${buildout:directory}/\/opt\/rockstor/g' -e 's/\${init-gunicorn:bind}/127.0.0.1/g' -e 's/\${init-gunicorn:port}/8000/g' > /opt/rockstor/etc/nginx/nginx.conf
chmod 600 /opt/rockstor/etc/nginx/nginx.conf
systemctl restart rockstor`

[2017-11-24 20:04] phillxnet commented on #1833
@skynett81 Thanks for confirming the command. But note that the editor seems to have eaten some of your cut and paste (ie the back slashes) hence my quoting to preserve them in my last post.
Still not sure why this happens but good to know we have a workable command line work around available at least.

[2017-11-27 16:15] ScarabMonkey commented on #1857
I can confirm that I am seeing the behaviour exactly as described and it is thus only a cosmetic issue now. New schedules do indeed function but the GUI doesn't know their name.

[2017-11-28 19:16] phillxnet commented on #1857
@ScarabMonkey Cheers, most helpful, thanks for chipping in on this one.

We do however now have a report from forum member zoombiel in the following forum thread of a suspected failure of the migration code for prior made, ie 3.9.1 stable, scheduled snapshots:
[code]
more details are pending re this particular int.isdigit issue.

Pasting here for context.

Please update the following forum thread

[2017-11-29 00:11] domaslasauskas opened #1859 "Updating 3.8 to 3.9.1-16 failed on django migration"
I've enabled automatic updates for the first time and used Testing Updates channel. I don't remember specific version before update but this is what I've got from yum history:

[code]

I've tried downgrading rockstor:

[code]

However, the issue still persisted:

[code]

[2017-11-29 14:41] phillxnet commented on #1859
@domaslasauskas This is a known limitation as way back at 3.8.15 we made major changes in the db migration mechanism that requires a 'stop off' at 3.8.15. Please see the following forum post as it looks like from your yum log entry you attempted to go from 3.8-13 (not sure of that one) or from 3.8.10: both of which are pre-3.8.14.

"Upgrading to 3.8.16 from 3.8-14 or before? Read this"
https://for

[2017-11-29 14:48] phillxnet commented on #1857
Forum member zoombiel in my latter referenced forum thread has confirmed that their freshly created scheduled snapshot tasks are functioning as expected, bar the known "undefined" UI bug component in the scheduled tasks overview part of the UI.

[2017-11-30 23:12] domaslasauskas commented on #1859
While I still think that it should be considered a bug when upgrade from one version to another fails in such a way, at this point I don't have any constructive suggestions on how it could be fixed.

I could not solve my issue because I got the same `No package rockstor-3.8.15 available` issue as **wgs** from the forum when trying to update to 3.8.15. And then by upgrading to other 3.8.16 testing

[2017-12-02 14:44] wingrunr21 opened #1860 "Move from docker-engine to docker-ce"
Docker engine was [announced to be succeeded by Docker CE](https://blog.docker.com/2017/06/announcing-docker-17-06-community-edition-ce/) in June. It'd be great to start thinking about upgrading the Rockstor docker requirement to match the new alignment. The 1.13.x are scheduled to be [EOL in February 2018](https://success.docker.com/Policies/Maintenance_Lifecycle) so moving over to CE before that

[2017-12-03 17:49] phillxnet commented on #1847
Another forum member razaborg has recently reported this same issue. Please also update the following forum thread with this issues resolution:
https://forum.rockstor.com/t/unable-to-change-mount-options-for-the-rockstor-rockstor-pool/4128

[2017-12-03 18:15] phillxnet commented on #1847
A related element of this issue is that we currently intend not to support custom mount options of the system pool, usually named rockstor_rockstor, and this is evident from our pools overview where no edit option is available. But the pool details view of this same volume does present an edit option. It may be that we should address this inconsistency via UI logic and thus present no edit options

[2017-12-03 20:09] phillxnet opened #1861 "inconsistent root pool mount edit options"
Thanks to forum member razaborg in the following thread for helping to highlight this issue. In pool overview we have compression and extra mount options disabled for this pool, but in the same pool's details page these options are active. However any attempt to use them fails as we have backend preventative logic to catch these currently unsupported actions.

It is proposed  that we also disable

[2017-12-04 14:25] #1857 closed

[2017-12-04 15:12] phillxnet opened #1863 "share name blank in edit schedule snapshot page"
When editing an existing snapshot created with revised meta format (ver 3.9.2-1, ie no share_name element) we fail to retrieve the associated share name for this element via the recently added model extensions detailed in pr:

"return realtime info in task defition via properties. Fixes #1857" #1862

The same modifications applied for js UI elements within the referenced pr may well apply to this

[2017-12-04 15:37] phillxnet commented on #1863
We also have an existing "undefined" text link within the subtitle of  the "Task history for ..." that is intended to show the share name. The link itself is however functional:

"Snapshot of Share (undefined): see "Snapshots" tab for details."."

[2017-12-04 16:12] phillxnet commented on #1863
I am currently taking a look at this issue to see what's needed.

handlebars helper display_snapshot_scrub in
storageadmin/static/storageadmin/js/views/tasks.js
creates the above referenced subtitles and attempts to retrieves the now missing share_name.

storageadmin/static/storageadmin/js/templates/scheduled_tasks/snapshot_fields.jst
attempts to retrieves the now missing share_name from taskObj.

[2017-12-04 16:32] phillxnet commented on #1863
Currently working on a fix for this issue, share name in edit now sorted and having a quick look at other element (re subtitle 'undefined') but may break out into another issue.

[2017-12-04 16:47] phillxnet commented on #1863
Subtitle 'undefined' now sorted for snapshots, looking at pool name retrieval for same.

[2017-12-04 17:00] phillxnet commented on #1863
subtitle 'undefined' for pool scrub history page if no pool_name in meta also now sorted.

Likewise similarly blank pool name when editing an existing scheduled scrub where it's relevant meta has no pool_name element - this is to be the case once we fully migrate away from redundant pool name storage within scheduled task def meta. Tested by editing db to have no pool_name withing meta for a newly

[2017-12-04 17:21] phillxnet commented on #1863
Pr under prep.

[2017-12-05 13:21] #1860 closed

[2017-12-06 22:00] thunfischbrot commented on #1823
Same here, expect it is 502 immediately after boot up.

[2017-12-07 19:23] phillxnet opened #1866 "improve user messaging re system disk no serial"
Although we deal elegantly with non system disks having no serial the behaviour for the system disk having no serial is less than ideal as we fail over to a potentially misleading message stating that an apparent (and nonsensical) dev node has a non valid btrfs filesystem:
[code]
This message occurs directly after submitting the first setup screen (hostname / admin user setup) and has the unfortun

[2017-12-08 16:12] phillxnet opened #1867 "shares unmounted after reboot - 3.9.2-3"
Thanks to forum members upapi_rockstor, Horatio, and Hooverdan for initially reporting this issue. As per the 3.9.2-3 update it can be the case that some or all shares can fail to mount. This looks to be related to the Bootstrap process as System - Services indicates that OFF for Bootstrap and:
[code]
similarly indicates a failure due to MAX attempts(15) reached.

the 3.9.2-3 update appears to do

[2017-12-08 16:13] phillxnet commented on #1867
I am currently looking into this issue.

[2017-12-08 16:41] phillxnet commented on #1867
trigger points:
[code]
and
[code]
both call:

/opt/rockstor/src/rockstor/fs/btrfs.py line 835

which fails with given command exception (quotas not enabled) breaking mounts.

[2017-12-08 16:49] phillxnet commented on #1867
Perusing the angle that we should robustly deal with quotas not enabled.

[2017-12-08 19:06] phillxnet opened #1869 "improve quotas not enabled behaviour"
Under certain as yet undetermined circumstances quotas can become disabled. One consequence of this was a failure to mount the related shares upon the following boot / reboot (addressed in issue #1867 and related pr #1868). However there are additional consequences for running with a pool / subvol that has quotas not enabled. These include:

- [x] Inability to create new shares in that pool.
- [x]

[2017-12-08 19:24] phillxnet commented on #1869
After enabling debug via:
[code]
we have the following:
[code]

[2017-12-08 19:35] phillxnet commented on #1869
post the following command:
[code]
we have:
[code]

[2017-12-09 11:09] #1723 closed

[2017-12-09 11:09] #1698 closed

[2017-12-09 13:26] #1863 closed

[2017-12-09 18:04] phillxnet commented on #1592
Linking to related pr #1867 where we at least don't block mounts when quota disabled.
And to in progress issue #1869 tallying remaining fail points when quotas are disabled.
The latter contains some info re Rockstor issues but focuses on why a quota enabled status was not maintained by a pool (unresolved and suspected to be quota anomaly in fs).

[2017-12-09 18:05] phillxnet commented on #1869
enable_quota(pool) called:
- when pool is created: add_pool() (fs/btrfs)
Not likely candidate as when pool was created in reproducer example install shares could be created and so quotas must have been enabled as otherwise we hit a current trigger when quota not enabled on pool.
- during a web-ui initiated import: _btrfs_disk_import() (storageadmin/views/disk.py)
Example reproducer had pool create

[2017-12-09 18:10] phillxnet commented on #1869
My current thinking on this issue is that we have a quota status not sticking issue on certain pool instances as my understanding is that Rockstor relies on the pool / subvols to maintain their quota status (enabled / disabled) over a reboot where as in the instances noted in this issue that is not happening: hence my recent links to plans to support disabling quotas or functioning with quotas dis

[2017-12-09 19:53] phillxnet opened #1870 "version and date incorrectly reported re update info"
The indicated Rockstor package version can get 'confused' with the most recent version available. This leads to inaccuracies re user indicators based on installed package version/build date and the presence or otherwise of the 'up arrow' to indicate available updates. And given the package date is also set incorrectly (via a fail over) we are inadvertently displaying all known changes in our "List

[2017-12-09 19:56] phillxnet commented on #1870
I am currently working on this issue and have currently fixed package version indication / retrieval and now looking at the change log element as this is, as per uncommitted changes, blank.

[2017-12-09 20:29] cron410 commented on #1850
The update process should check for internet connectivity before performing update/sending error alerts, or send queued emails as a digest.

[2017-12-09 20:30] cron410 commented on #1840
Is this a Rockstor issue or a Windows computer issue?

[2017-12-10 13:39] phillxnet commented on #1869
@schakrava I have found the following that may tie our disabled quotas to the recent docker update:

https://github.com/docker/for-linux/issues/78

Looks like a likely candidate to me.

[2017-12-10 17:05] phillxnet commented on #1870
A related component of this issue is that recent stable package releases appear to have incorrect dates within their changelog:
[code]

So the installed 3.9.2-3 and available package (3.9.2-4) are both down as having a changelog dated 6th November. Hence the yum changelog, which keys off of these dates returns nothing currently when fed with the otherwise correct:
[code]
where 2017-Dec-06 is deriv

[2017-12-10 17:32] phillxnet commented on #1870
Pull request to follow shortly.

[2017-12-11 12:50] #1867 closed

[2017-12-11 15:04] phillxnet commented on #1867
Linking as a completed sub goal towards #1592
"[New feature] Add option to disable BTRFS quota/qgroups"

[2017-12-11 19:45] phillxnet commented on #1869
I have transitioned this issue to improving our 'quota disabled' behaviour given we now have the culprit:
docker-ce disables quotas
So we might as well deal with it as best we can at least until this is fixed upstream.

I intend to open a more focused issue on "rock-ons-root pool quota disabled by docker-ce" in the near future.

[2017-12-13 00:53] #1870 closed

[2017-12-13 13:11] phillxnet commented on #1869
User feedback elements re Pool Quotas status:

Column in Pools table:
![quota-status-on-pools-table](https://user-images.githubusercontent.com/2521585/33940311-600c0d0c-e006-11e7-8160-e6513553a524.png)

In Pool column - Shares table:
![quota-status-on-shares-table](https://user-images.githubusercontent.com/2521585/33940370-9a91725a-e006-11e7-9ec5-12388aacecd8.png)

On Pool details page:
![quota-st

[2017-12-13 19:05] phillxnet commented on #1869
Rework of quota groups management in progress. Pull request to follow.

[2017-12-15 22:06] phillxnet commented on #1869
Please update the following forum thread with this issues resolution:
https://forum.rockstor.com/t/cant-create-new-share/4178

[2017-12-17 18:39] phillxnet opened #1872 "rock-ons-root host pool quota disabled by docker-ce"
A recent move to docker-ce in stable 3.9.2-3 (#1865) caused the pool hosting the rock-ons-root share to have it's quotas disabled which is not currently a supported configuration within Rockstor. This quotas disabled side affect happens directly after the docker systemd service is activated: often only in evidence after rebooting following the 3.9.2-3 update.  The consequent 'quotas disabled' bugg

[2017-12-18 00:09] schakrava commented on #1869
Thanks for putting down all the details @phillxnet , very helpful!

We must(I really need to prioritize to do this myself) address the hard dependency on quotas in Rockstor. We need to investigate the current state of btrfs-quotas feature-set and perhaps let the user disable/enable quotas entirely or on per pool basis and also, as you indicated above, reflect the current quota enforcement to the u

[2017-12-18 00:17] phillxnet commented on #1869
@schakrava Yes, bar the size enhancement and usage reporting the code associated with this issue (pull request soon) seems to allow for all features I've tested so far to function with quotas disabled. Trying to work towards #1592 that we have had for a while.

I'll get this code in soon for review as it's so far successfully managed to re-make pqgroups with multiple successive quota disable / ena

[2017-12-18 00:26] #1872 closed

[2017-12-21 00:59] #1869 closed

[2017-12-29 15:36] phillxnet commented on #1834
Linking to another suspected instance of do.serial having a None value as reported in the following forum thread:
https://forum.rockstor.com/t/unable-to-see-disks/4219

Awaiting more info from reporter in order to establish a reproducer as this should not be possible at this stage of the disk update mechanism.

[2017-12-29 20:54] phillxnet commented on #1866
I am currently looking into this issue.

[2017-12-29 21:33] phillxnet commented on #1866
Currently when we _update_disk_state() we create the root pool object (normally rockstor_rockstor) and, uniquely for the root pool, we call btrfs_uuid(dob.name). If we instead inherit our initial pool.uuid from the 'special' root disk as flagged by scan_disks() then we avoid blocking all further disk scans (resulting in an empty disk page) and are then able to rely on the existing mechanisms that

[2017-12-29 21:44] phillxnet commented on #1834
I am currently looking again at disk_scan() and _update_disk_state() for issue #1866 and intend there after to attempt to re-produce this issue (if only by db editing) and see if we can't simply add it as a clause to the beginning of our _update_disk_state() pre-sanitizer to at least deal with those instances where it has occurred (for whatever reason). Obviously it would be better to identify the

[2017-12-30 13:33] phillxnet commented on #1866
Adding an exception such as NonBTRFSRootException() would likewise halt further scanning so skipping for now (a later issue could address a header notification such as we have for kernel versions).
Adding link to "Minimum system requirements" with VMware teaser as this has been a large source of forum reports re dev serial issues:

![no-serial-with-vmware-docs-link](https://user-images.githubuserc

[2017-12-30 16:01] phillxnet commented on #1866
Squashed forgotten import removal commit after first deleting remote (GitHub) branch. About to re-push and author pr.

[2017-12-30 18:02] phillxnet commented on #1834
Both the original report of this issue, as indicated by proposed check for None, and linked forum thread, indicate an error with the second re.match of do.serial: around line 348. However during a test where an existing disk entry has it's serial set to NULL:

UPDATE storageadmin_disk SET serial = NULL WHERE name = 'virtio-serial-2';

It is the first instance of re.match (the initial sanitizer swe

[2018-01-01 15:56] phillxnet opened #1877 "move to python 3"
Because Rockstor makes extensive use of Django we are compelled to move to Python 3 as our current legacy python base prohibits us from adopting Django 2.x or later. As the first issue of 2018 it seems fitting to formally address this technical debt, an inevitability in any long running project.

It is suggested that we target Python 3.6, however our existing repositories already have 3.4 availabl

[2018-01-01 16:17] phillxnet commented on #1847
Currently working on this issue: resolution is to focus on a move to the newer string.format method rather than the old style of string management on user facing messages.

[2018-01-01 19:39] phillxnet commented on #1847
Taking this reformat opportunity to apply the following standards to error messages.
- Each error message Starts with a capital letter and ends in a full stop.
- Where brackets are used to for example display a pool / share name we surround the brackets with spaces. Ie not: "Pool(leon) already exists." but: "Pool (leon) already exists.".

[2018-01-02 03:41] megema commented on #1485
Could you change it from RackMac to Xserve? RackMac seems not to working in more recent macOS versions.

[2018-01-02 17:22] MFlyer commented on #1877
Hi @phillxnet & @schakrava ,
my 2 cents on moving to Python 3 and Django 2 (just moved to Django 2 on my daily job before xmas :D ) : if we want to move to python 3 to have django 2, right now we can avoid it (main diffs: better url.py files with things like "/myurl/<slug:myslug>" instead of reg exps + every migration requiring on cascade!), if instead we want to move to python 3...to have python

[2018-01-03 01:48] #1866 closed

[2018-01-03 18:40] phillxnet commented on #1847
All existing storageadmin tests have now been updated accordingly with the changes made to error messages but a little more work is needed to finalise this stage. Pr to follow shortly there after.

[2018-01-04 19:04] Hooverdan96 opened #1878 "Last two columns of Snapshot screen are not sortable"
When attempting to sort by either of the last two columns (Visibility, Writable), the column header symbols for sorting change, however, no sorting is performed. All other columns are sorted ascending/descending when respective sort icon in the column heading is selected.

![image](https://user-images.githubusercontent.com/35113775/34579698-fe9ceb28-f13e-11e7-805b-cf237a556bb1.png)

[2018-01-04 19:38] phillxnet commented on #1878
@Hooverdan96 Thanks for clear and concise bug report, much appreciated.

[2018-01-06 13:02] phillxnet commented on #1853
Please also update the following forum thread with this issues resolution; forum member Prabu_Raj may well be affected similarly:
https://forum.rockstor.com/t/replication-on-a-remote-server/1176/3

[2018-01-06 18:20] phillxnet commented on #1853
Currently taking a quick look at this issue. I have reproduced and can confirmed that it is a share api change regression.

[2018-01-07 19:57] phillxnet commented on #1853
Should have an initial pr ready for this one soon as have narrowed down the issue to be a now non valid assumption of similarity re share url references between sender and receiver. Previous to our share api change from name based to db id based (pr #1808) a share could be successfully validated remotely via it's name within the relevant url. This is what the replication receiver did and so even a

[2018-01-09 18:41] phillxnet commented on #1853
Correct replication history table formatting to be in line with most other project table formats, ie with search and sort (data-table) and ensured history is most recent first via ID desc order sort.

Before:
![old-rep-send-history-table-format](https://user-images.githubusercontent.com/2521585/34736966-9bf4dd5a-f56c-11e7-819e-bdbc23eda006.png)

New:
![new-rep-send-history-table-format](https://us

[2018-01-09 20:02] phillxnet commented on #1853
Remaining issue to sort: replication now fails on the 6th incremental send with the following error:
"... Failed to promote the oldest Snapshot to Share. ..."
This will be my next focus within this issue and once a resolution is found I will submit a pr so we can at least take it from there. Broken UI elements (share / pool links) will probably be removed for now until further discussion / review

[2018-01-10 19:20] phillxnet commented on #1853
Debug info currently points to a parsing issue with:
fs.btrfs: **get_oldest_snap()**

ie with:

ls -la /mnt2/test-pool/.snapshots/C583C37F-08AE-478B-A726-E95235D1712B_plex-config
total 0
drwxr-xr-x. 1 root root 116 Jan 10 18:45 .
drwxr-xr-x. 1 root root 320 Jan 10 17:25 ..
drwxr-xr-x. 1 1011 1011  14 Jan 10 18:30 plex-config_5_replication_157
drwxr-xr-x. 1 1011 1011  14 Jan 10 18:30 plex-config_5_

[2018-01-12 15:26] phillxnet commented on #1853
Above concern re get_oldest_snap() is a red herring (from insufficient logging) as proved via testing, now debugging issue within replication receiver.py, which purposefully and successful deleted the correctly returned oldest snap, hence no longer in existence.

[2018-01-14 18:49] phillxnet commented on #1853
The issue of "... Failed to promote the oldest Snapshot to Share. ..." has now been resolved. We were moving the oldest received snapshot and then attempting to remove it. It is suspected that improvements in db update have exposed this issue where previously it did not cause a problem. Replication now working as before but because we remove a share only to have it's location re-populated by a fre

[2018-01-15 00:11] aherbach88 opened #1879 "Error when editing exisiting NFS share"
Whenever editing an NFS share it comes up with the error: "An export already exists for the host string xxxx" where xxxx is the IP for the NFS export.

[2018-01-15 19:40] phillxnet commented on #1853
The issue with shareId creep has now been resolved - by ensuring db was fully updated mid replication snap to share promotion procedure I had inadvertently caused the creation of a new share upon next db update: when the promoted snap-to-share existed again. This also covered up an existing and related issue where clones (snaps promoted to shares) are not auto mounted:
"shares via clone of writabl

[2018-01-15 19:54] phillxnet commented on #1836
During ongoing fixes to replication, which itself entails changing a snapshot into a share, it was noticed that those same 'transitioned' snaps to shares were also not mounted: as in this issue.

Marking this issue as related to an outstanding issue with pending fixes related to:
"suspected replication regression re share api change" #1853
and hence as dependency of that issue. As such I am now lo

[2018-01-15 20:43] phillxnet commented on #1836
A related behaviour is that any regular share that is manually unmounted:
[code]
is not remounted automatically.

Assumed behaviour is that all shares, newly created (working) or freshly promoted from snaps (not working) be mounted automatically. This currently only happens on boot via command.py and it's 'bootstrap' element; called exclusively by scripts/bootstrap.py.

Introducing auto mount of a

[2018-01-16 14:10] phillxnet commented on #1836
Break down of current share mounts.

1. During the bootstrap command / operation we first update the db from a pool disk share snapshot scan and then call btrfs.py mount_share() on all db shares.

2. On subsequent refresh-share-state calls (storageadmin/views/command.py) we only call mount_share() when an on disk share is found that has now db counterpart. I.e. akin to a new share created via comm

[2018-01-16 17:18] phillxnet opened #1880 "check on quota updates re share rollback"
In storageadmin/views/share_command.py we call update_quota using the 0/x auto created group name. This is not consistent will all other calls of update_quota where the Rockstor native 2015/x pqgroup is used: bar a single other instance that is about to be corrected in a pending pr associated with an otherwise unrelated issue concerning clone creation.  As this change will require some considerati

[2018-01-16 18:51] phillxnet commented on #1836
Note that prior to addressing the existing qgroup managment of a freshly created clone, which neglected to create pqgroup and instead used the auto created 0/x, the following quota group repair and assignment was exercise in the subsequent share scan (recently added to import_shares()):

[code]

[2018-01-16 19:16] phillxnet commented on #1853
As the indicated (and prerequisite) issue #1836 now has a pending pr this issue is again my main focus.
Pending remaining elements are the auto mount of the share that results from the oldest replication snapshot having been 'promoted' to share. There is also an intention to abstract the 'rep-clone' mechanism.

[2018-01-17 03:52] wwwizzarrdry commented on #1833
I has the same scenario happen last night.
Just received a bunch of new cooling fans, dist covers and another 8gb of ram in the mail. I brought my server down normally, then went to work installing everything.

When I brought it back online, SSH worked but the rockstor ui was borked and only provided an error page with a link to a tarball of useful logs.

A few moments later, port 22 became unresp

[2018-01-17 11:28] phillxnet commented on #1833
@wwwizzarrdry Thanks for sharing your findings, quite a journey you had there and I'm glad my hack / work around helped get you up and running again.

This GitHub issue is really to observe the fix and collect what we can about the rare occasions that this has been seen. But you might well be interested in contributing to our forum https://forum.rockstor.com as it is a richer medium for discussion

[2018-01-18 14:18] #1836 closed

[2018-01-19 21:20] phillxnet commented on #1656
Linking to another report by forum user smanley of "Too many open files":
https://forum.rockstor.com/t/support-server-down-gui-crashing/4350

[2018-01-21 18:55] phillxnet commented on #1853
Auto mount issue of share from oldest replication snapshot now resolved. Final intended task in this issue is a short trial of an abstracted 'create_repclone' mechanism. May also tend to some broken UI links within the replication interface.

[2018-01-21 19:03] enly1 commented on #1853
Would be good to get this fix out and create new tickets for optional
extras. This fault has left a key feature broken.

I'm watching this ticket closely as have no backup solution in place while
it's broken.

On 21 Jan 2018 6:55 pm, "Philip Guyton" <notifications@github.com> wrote:

[2018-01-21 19:53] phillxnet commented on #1853
@enly1 I appreciate the frustration, however this is a fairly complex piece of code and is also a work in progress. Just trying to do what I can while I'm fresh on it as I may not be able to look again for a bit and if I rush to pr then that could in turn create further frustration. However you will be please, I hope, to know that the current code changes here have been successfully tested to over

[2018-01-22 13:38] phillxnet opened #1882 "remove immutable flag prior to share delete"
Thanks to forum members Haioken and Rene_Castberg for highlighting this issue (and it's current workaround). Under as yet undetermined circumstances a share (btrfs subvol) can have it's immutable flag set. The consequence of this is a failure to be able to delete the affected share. Given that Rockstor currently has no immutable flag observance and that the cause of this flag having been set is un

[2018-01-22 14:57] phillxnet commented on #1882
Note that in the case of the sighted forum thread the entire pool (btrfs vol) was marked immutable but this issue, and it's relevance to the ongoing work with replication, specifically focuses on the share (subvol) immutable flag, and it's circumvention in delete scenarios.

[2018-01-22 15:04] phillxnet commented on #1882
The context in which I am addressing this issue is as follows:
[code]
the associated replication share (on the receiver) had the following attribute setting:
[code]
removing via with the following command:
[code]
and to test if any error conditions resulted if we repeat the same subtraction of the immutable bit now that it has been removed already:
[code]
So safe to apply 'whole sale' until we obs

[2018-01-22 16:51] phillxnet opened #1884 "add more fs unit tests - one"
We currently have incomplete unit test cover for the critical path components within fs/btrfs.py. This issue is intended as one in a series as denoted by the affix '- one'. The intention is to achieve full coverage via a piecemeal approach, due in part to sporadic requirement for improvements in this area brought about by working on other issues with a non unit test focus.

[2018-01-24 16:48] phillxnet commented on #1853
The abstracted 'create_repclone' mechanism is now in play and tested satisfactorily between VMs.
Final testing on real hardware is currently underway.

[2018-01-24 17:18] phillxnet commented on #1853
About to remove GitHub branch to allow for squashing all associated commits locally. Will then re push as a single commit as per: http://rockstor.com/docs/contribute.html#commit-history-cleanup

Pull request to follow shortly there after.

[2018-01-24 18:44] phillxnet commented on #1853
Re-based on current master and squashed to  a single commit.

[2018-01-25 02:51] jvanderb commented on #1656
I'm having this same issue with alarming frequency.  Following the directions on the error message, I opened a support ticket for it several months ago, but evidently nobody looks at that.  This issue has been open for 11 months now, with no fix?  Is anybody working on this, or is the solution to reboot the system all the time?

[2018-01-25 18:31] phillxnet commented on #1826
Linking to very similar and prior entered issue by @modelrockettier #771

[2018-01-28 02:41] #1882 closed

[2018-01-28 16:40] jallumuk opened #1886 "kernel panic after upgrading to 4.12.4-1.e17.elrepo.x86_64 (hyper-V VM)"
Running Rockstor as a Hyper-v VM under Win10Pro with guest services active and HDD pass-thru for main storage HDD (single HDD), VHDX for Rockstor OS.

After upgrading to stable release 4.12.4-1.e17.elrepo.x86_64 from 4.10.6-1 (image), I receive a kernel panic (image) and Rockstor crashes out. Rockstor starts up fine for the first few minutes then as soon as the load picks up, Docker Resilio Sync w

[2018-01-28 19:55] phillxnet commented on #1886
@jallumuk Thanks for the well presented report. However as we used an unmodified kernel-ml from elrepo:
http://elrepo.org/tiki/tiki-index.php?page=kernel-ml
it may make more sense to report your finding there, although our kernel is a fair bit behind their latest offering currently. But all the same they may have seen this previously and be able to advise you accordingly. Another option is to try

[2018-01-29 13:33] #1853 closed

[2018-01-29 14:34] fva-dev opened #1887 ""on rockstor" in the end of afp share name"
Great job!
But how to remove on rockstor words in the end of afp share. This words is not good for my purposes.

[2018-01-30 10:57] phillxnet commented on #1887
@fva-dev Thanks for the encouragement and feedback but this issue is actually a:

Duplicate of #1347

I would request that you please comment on that issue and close this one as a duplicate as it makes it easier to judge the relative interest in this features; and collects all relevant info in one place. And now that I have linked that issue, this one should show there anyway but it would also hel

[2018-01-30 13:25] #1887 closed

[2018-02-03 12:01] phillxnet commented on #1847
About to delete GitHub branch to allow local rebase on current master and will there after re publish to GitHub against this issue.

[2018-02-03 12:05] phillxnet commented on #1847
Now re-based on current master, continuing with resolving any existing unit test breakage that these changes may have introduced, along with any simple unit test 'bit rot' issues if found quickly.

[2018-02-03 12:17] jallumuk commented on #1886
Hi Phil
I finally manged to get some time to come back to this and am now running what appears to be a stable kernel. I decided to install kernel-ml-4.15.0-1.el7.elrepo.x86_64.rpm which is the latest stable elrepo kernel. To do this from the shell under root,  I had to:
rpm --import https://www.elrepo.org/RPM-GPG-KEY-elrepo.org
rpm -i kernel-ml-4.15.0-1.el7.elrepo.x86_64.rpm

I now have 3 kernels

[2018-02-03 12:19] jallumuk commented on #1886
I should have added I downloaded and copied the kernel-ml-4.15.0-1.el7.elrepo.x86_64.rpm file to a Rockstor share first and installed from there.

[2018-02-03 12:42] phillxnet commented on #1886
@jallumuk Thanks for the update and excellent feedback. Glad your up and running again.

I'd like to ask that you start a forum post on your findings / adventure:
https://forum.rockstor.com/
as that is a more appropriate medium for a discussion on this manual configuration 'work around'. Plus it will receive more eyes and my / others answer to you questions would be more usefully / appropriate the

[2018-02-04 10:06] ciliehub opened #1888 "Rock-on broken after update, missing subvolume"
Problem: Rock-on is broken after Rockstor update and can't reinstall it.

History: I installed and configured the Duplicati2-canary plugin and it performed well until Rockstor update 3.9.2.-12. The Rock-on disappeared from the 'Installed' list. After trying to reinstall nothing seems to be installed, but the Rock-on displays a message:

Check logs in /opt/rockstor/var/log for clues.
Install again.

[2018-02-04 11:50] jallumuk commented on #1886
Hi Phil
I raised a "HOW-TO" on the forum and hope this is the correct way, you can check it out at.
https://forum.rockstor.com/t/upgrading-to-latest-elrepo-kernel-kernel-ml-4-15-0-1-el7-elrepo-x86-64-rpm/4410
Many Thanks.

[2018-02-04 11:50] #1886 closed

[2018-02-04 13:13] phillxnet commented on #1888
@ciliehub Thanks for the report. This looks very much like a quota issue ie:

error: ["ERROR: can't list qgroups: quotas not enabled", '']

which I suspect as you did is the " 'something' with btrfs subvolumes."

And as it was associated with an update I suspect it was down to a rather gnarly and whole unexpected side effect of moving to  docker-ce (pr #1865) as the new docker-ce had the very stra

[2018-02-04 13:41] phillxnet commented on #1347
Linking to forum member fva.taimyr recent post on a potential solution to this long standing issue:
https://forum.rockstor.com/t/chnage-share-name-on-afp/1597/3

[2018-02-04 14:18] ciliehub commented on #1888
Hello Phil, thank you so much for the long answer!

I will read it complete right after writing this. But what I meant with 'something with btrfs subvolumes' is the last message that tries to run the docker command:

CommandException: Error running a command. cmd = /usr/bin/docker run -d --restart=unless-stopped --name duplicati2-canary -v /mnt2/duplicati-config:/root/.config/Duplicati/ -v /etc/lo

[2018-02-04 14:35] ciliehub commented on #1888
A reboot adds this to the log:

[code]
... so the quota issue does not seem to be resolved by the reboot. I understand that the Rock-on problem maybe resolved by pointing the the rockon root (rockonspace in my case) to the data pool?

If so, what do we do with the other errors concerning _home_ & _root_?

Again, your help is much appreciated!

[2018-02-04 14:44] ciliehub commented on #1888
Great, 1. _moving_ the rockonspace to the data pool and 2. pointing the rockon service to the new share resolves the issue. I have successfully installed Duplicati2 again.

But still i'm very curious about the last question:
what do we do with the other errors concerning home & root? Ignore or take other steps?

[2018-02-04 15:37] phillxnet commented on #1888
@ciliehub Thanks for the feedback / testing and glad you got up and running again, although only via the  rock-ons-root recreate on non system disk work around.

As per the errors, they are as intended: Rockstor still considers 'quota disabled' as an error state for a pool, the referenced issues simply made it less critical in that the pool's shares (btrfs subvols) are still mounted but we neverth

[2018-02-04 15:52] ciliehub commented on #1888
OK, all seems to be fine, my backups are (re)syncing. Thank you so much for the quick solution & insights. Rockstor rocks!

[2018-02-04 15:52] #1888 closed

[2018-02-04 18:28] phillxnet commented on #1847
test_clone_command (storageadmin.tests.test_share_commands.ShareCommandTests) ... ok
test_rollback_command (storageadmin.tests.test_share_commands.ShareCommandTests) ... ok

[2018-02-05 20:16] phillxnet commented on #1847
test_duplicate_name1 (storageadmin.tests.test_user.UserTests) ... ok
test_duplicate_name2 (storageadmin.tests.test_user.UserTests) ... ok
test_email_validation (storageadmin.tests.test_user.UserTests) ... ok
test_invalid_UID (storageadmin.tests.test_user.UserTests) ... ok
test_post_requests (storageadmin.tests.test_user.UserTests) ... ok
test_pubkey_validation (storageadmin.tests.test_user.UserTes

[2018-02-06 19:59] phillxnet commented on #1847
test_delete_requests (storageadmin.tests.test_user.UserTests) ... ok
test_get (storageadmin.tests.test_user.UserTests) ... ok
test_put_requests (storageadmin.tests.test_user.UserTests) ... ok

[2018-02-08 16:01] phillxnet opened #1890 "allow import of ro,degraded cli mounted pool"
Thanks to forum users UC_Nightmare and Haioken for highlighting this issue. In some instances, such as when dealing with a degraded pool prior to import (ie fresh install), it would be useful to be able to import a given pool when that fs can only be mounted read only. Currently one blocker appears to be the following error when attempting to import a prior manually mounted (degraded,ro) pool at t

[2018-02-08 17:10] phillxnet opened #1891 "deleting stale pincard holding users fails"
If a user created via the UI is deleted from the command line (ie via userdel username) and their stale UI counterpart is then also deleted via the bin icon (ie Users page not updated) the now redundant action completes as expected. However if the user was registered as having been issued a pincard (password recovery system) the redundant UI delete via a stale UI Users page fails with the followin

[2018-02-12 00:43] #1891 closed

[2018-02-12 13:04] phillxnet opened #1894 "inconsistent balance behaviour on single raid pool"
As per btrfs defaults, single raid level pool creation has duplicate metadata (see pr #1409). But upon pool resize, ie add dev, the initial auto initiated balance fails to honour -m dup and instead attempts -m single. This is inconsistent with initial pool (vol) creation and also fails as btrfs defaults do not allow metadata integrity reduction (from sys log) without a -f flag:

    BTRFS error (d

[2018-02-12 13:36] phillxnet commented on #1894
I am currently working on this issue.

[2018-02-13 13:17] #1890 closed

[2018-02-14 11:30] phillxnet opened #1896 "empty compression setting on imported pools blocks extra mount options"
Thanks to forum member g6094199 in the following thread for highlighting this issue. When a pool is imported it's default "Compression" is displayed as "Empty". While this default setting persists it is not possible to add "Extra mount options" as the following input validation error of the unchanged "Empty" compression setting is thrown:

Unsupported compression algorithm(). Use one of ('lzo', 'z

[2018-02-14 14:45] phillxnet opened #1897 "surface pool missing disk info in UI"
The current 'detached-..." disk info pertains to prior attached disks that are, on subsequent scan / boot, no longer attached, and although these disk level entries maintain their prior pool association info, if previously known, and all pool level views, ie pool overview / details pages, reflect these associations in their respective table "Disks" columns, we do not resource / surface the canonic

[2018-02-15 19:57] phillxnet commented on #1896
I am currently working on this issue.

[2018-02-17 12:20] phillxnet opened #1900 "missing 'Actions' column header - Access Keys"
Thanks to forum member dvanremortel in the following forum thread for highlighting this issue. The last column of the Access Keys table is missing the normal 'Actions' header. This reduces affordance and thus usability.

Please update the following forum thread with this issues resolution:
https://forum.rockstor.com/t/system-identiy-access-key/4455

[2018-02-17 18:54] phillxnet commented on #1592
I am currently working on this issue.

[2018-02-19 19:39] phillxnet commented on #1592
Final testing in progress. Pull request to follow shortly.

[2018-02-19 19:51] phillxnet commented on #1592
Inline edit of quotas Enabled / Disabled setting in Pool overview page:
![quota-inline-enable-disable](https://user-images.githubusercontent.com/2521585/36394910-4db4029e-15ae-11e8-84bc-d0e25a2a796d.png)

[2018-02-25 16:12] phillxnet commented on #1592
The code to address this issue is now ready, however as it interrelates closely with an existing and outstanding pull request I will await that pull requests review and potential merge prior to submitting the pull request for this issue.

Noting ideal dependency on prior merge of pr:

"empty compression setting on imported pools blocks extra mount options. Fixes #1896" pr #1899

Once the outcome o

[2018-02-26 12:46] phillxnet commented on #1897
I am currently working on this issue.

[2018-02-27 18:39] phillxnet commented on #1897
Disk live removed and associated pool details page refreshed:
![live-removed-details-page](https://user-images.githubusercontent.com/2521585/36747266-7a0ece66-1bec-11e8-936a-cc9323195e35.png)

and the overview similarly indicates the same:
![live-removed-while-mounted](https://user-images.githubusercontent.com/2521585/36747292-8c72b11c-1bec-11e8-8ed7-fdf2095e9a38.png)

Fresh boot with pool in degr

[2018-02-28 08:26] der-eismann commented on #1616
I will close this issue since I haven't used Rockstor in over a year.

[2018-02-28 08:26] #1616 closed

[2018-02-28 16:03] phillxnet commented on #1877
If we target at least Python 3.5 then we could move directly to Django Channels 2 (from gevent), as it has a reliance on the asyncio library and native Python async support:

https://channels.readthedocs.io/en/latest/one-to-two.html#requirements

Also Python 3.5 is the minimum for Django 2.1.

[2018-03-01 08:25] jacquesteh opened #1901 "xenserver 6.2 Warning! Disk unusable as pool member"
Hi,

Warning! Disk unusable as pool member - serial number is not legitimate or unique.
Disk names may change unfavourably upon reboot leading to inadvertent drive reallocation and potential data loss. This error is caused by the source of these disks such as your Hypervisor or SAN. Please ensure that disks are provided with unique serial numbers before proceeding further.

It used to work with ol

[2018-03-01 14:04] phillxnet commented on #1901
@jacquesteh The unique serial for disks is part of the minimum system requirements and I don't know how to get xenserver to supply them, but I would suggest asking on the Rockstor forum as the question is likely to get more eyes there.
https://forum.rockstor.com/

But it's not, in my opinion, a bug on Rockstor's code side but a design decision. If xenserver can't provide these serials then it and

[2018-03-04 17:05] #1894 closed

[2018-03-04 20:23] phillxnet commented on #1532
@MFlyer @niulin I am in the process of working my way around to surfacing 'btrfs dev stats' output / reset. I am currently working on surfacing pool degraded which is almost ready for submission. There are however a few more maintenance capabilities that I'd like to add first, for example:
"Implement a delete missing disk in pool UI" #1700
which has as a pre-requisite my current issue of:
"surface

[2018-03-04 20:43] phillxnet commented on #1897
Omnipresent Web-UI "Pool Degraded Alert"; no page refresh required:

![pool-degraded-alert-close-up](https://user-images.githubusercontent.com/2521585/36950267-a3de1352-1feb-11e8-805e-fa172782310f.png)

Currently the Tool Tip mouse over text has the following capability, via several independent examples:

    “Pools found degraded: (2) unimported”
    “Pools found degraded: (rock-pool)”
    “Pools

[2018-03-05 08:01] chrstphrchvz commented on #1448
Unfortunately I no longer have access to the affected system nor any other information for following up on this issue.

[2018-03-05 08:01] #1448 closed

[2018-03-05 12:01] phillxnet commented on #1448
@chrstphrchvz Thanks for the update. As @sfranzen points out this is a strange one and the linked issue did have workarounds but as you say, without a reproducer we are a little at a loose end. At least the missing db entry is a start. And since this issue was opened I think we have moved from the prior south db migration system to the one build into Django itself so hopefully that should be an 'u

[2018-03-05 13:17] #1861 closed

[2018-03-05 13:17] #1896 closed

[2018-03-06 20:34] phillxnet commented on #1896
Linking back to issue #1592 which identified this issue as a desirable precursor (due to inline editable changes with it's associated pr).

[2018-03-06 20:35] phillxnet commented on #1592
This issue is again my main focus and will shortly be rebased, retested, and it's associated pull request submitted.

[2018-03-07 16:55] phillxnet commented on #1592
About to delete GitHub resident branch, re-base, and re-publish under the same branch name.

[2018-03-07 17:22] phillxnet commented on #1869
Linking this now closed issue to:
"Feature: Quota rebuild script?" #1785
as our associated pr address (at least initially) the recreation of required rockstor native pqgroups (2015/*) as referenced in #1785 "... and re-create any qgroups it needs ..." and so represents a partial fix for #1785

[2018-03-07 18:58] phillxnet commented on #1837
As a variant of this issue was observed during testing of pr:
"surface pool missing disk info in UI. Fixes #1897" #1902
I intend to make it my next focus.

Essentially there appears to be a balance status related error blocker the display of a degraded pool's details page. The pool overview was not found to be affected.

[2018-03-08 17:45] phillxnet commented on #1837
On further investigation it seems any unmounted pool, such as one that is degraded during boot and has no degraded mount option, that also has a balance record within the Rockstor UI, triggers the reported error within the UI for that pool's details page. The balance does not have to be 'in effect' as was previously thought. All other Web-UI pages are unaffected.

A similar record for Scrubs does

[2018-03-09 15:15] phillxnet commented on #1371
@priyaganti It may be that this has now been addressed via @schakrava network UI re-wright a while back.

[2018-03-10 15:05] schakrava commented on #1592
Really thankful for the work you did on this @phillxnet !

[2018-03-10 15:15] #1592 closed

[2018-03-10 15:15] #1785 closed

[2018-03-10 15:27] phillxnet opened #1905 "re-address double enable_quota() call requirement"
In the following referenced pr it was found necessary to enable quotas twice in order to avoid an apparent quirk where any consequent rescan of quotas would otherwise fail with the following:

   "ERROR: quota rescan failed: Invalid argument"

Please see pr:
"Add option to disable BTRFS quota-qgroups. Fixes #1592" #1903
for context.

This behaviour was also confirmed on the command line during the

[2018-03-10 15:33] phillxnet commented on #1592
@schakrava Thanks. Hopefully with ongoing quota work upstream this will in time become less of an issue going forward.

[2018-03-10 16:55] phillxnet commented on #1847
Just re-based and squashed to a single commit ready to re-assess development state.

[2018-03-12 12:15] #1897 closed

[2018-03-12 16:45] phillxnet opened #1906 "docker-ce dictating pool quota enabled disabled status"
After moving to docer-ce in stable 3.9.2-3 (pr #1865) it was found that docker-ce, upon starting (ie on boot or when it's service was switched on) would disable quotas. This at the time was very disruptive to many basic Rockstor functions so a work around was found in:
"rock-ons-root host pool quota disabled by docker-ce" #1872
and implemented in:
"rock-ons-root host pool quota disabled by docker-

[2018-03-13 20:51] phillxnet commented on #1847
Still working on this issue and making some headway re unit test maintenance.

[2018-03-14 12:12] razaborg opened #1907 "Unable to create a new share on the rockstor_rockstor pool and quota error"
Hi,

This is my setup :
2 pools:
 - 1 rockstor_rockstor pool with 1 SSD, only the OS
 - 1 data_volume pool with 2 HDD, RAID 1, everything else

I wanted to create a new share on my first pool (rockstor_rockstor), to see how faster this share could be on an SSD drive...

But this error showed-up :

[code]

Fine. I then tried to create the same share on my other pool (2 HDD, RAID 1), just to see wha

[2018-03-14 13:50] phillxnet commented on #1907
@razaborg Thanks for reporting your findings.
Using latest stable I am able to create a share on the system pool (usually rockstor_rockstor) with quotas enabled or disabled. Could you report the displayed Rockstor version (top right) and confirm it with:
[code]
as root user.

Thanks.

What look odd is that a code comment is showing in your Traceback:

    # and deal by returning False so our calle

[2018-03-14 14:25] phillxnet commented on #1847
test_compression (storageadmin.tests.test_shares.ShareTests) ... ok
test_create (storageadmin.tests.test_shares.ShareTests) ... ok
test_delete2 (storageadmin.tests.test_shares.ShareTests) ... ok
test_delete3 (storageadmin.tests.test_shares.ShareTests) ... ok
test_delete_set1 (storageadmin.tests.test_shares.ShareTests) ... ok
test_get (storageadmin.tests.test_shares.ShareTests) ... ok
test_name_reg

[2018-03-14 21:33] razaborg commented on #1907
Here is the output of `yum info rockstor`:
[code]

For the record, I bought the stable update plan, so I should have the latest stable version available : RockStor 3.9.2-19

And no, I didn't either edited manually the code nor the traceback before posting it here.

[2018-03-18 18:18] phillxnet commented on #1847
./bin/test -v 2 -p test_tls*
test_get (storageadmin.tests.test_tls_certificate.TlscertificateTests) ... ok
test_post_requests (storageadmin.tests.test_tls_certificate.TlscertificateTests) ... ok

[2018-03-18 19:24] #1837 closed

[2018-03-19 18:41] phillxnet commented on #1847
./bin/test -v 2 -p test_disks*
test_blink_drive (storageadmin.tests.test_disks.DiskTests) ... ok
test_btrfs_disk_import (storageadmin.tests.test_disks.DiskTests) ... ok
test_btrfs_disk_import_fail (storageadmin.tests.test_disks.DiskTests) ... ok
test_disable_smart (storageadmin.tests.test_disks.DiskTests) ... ok
test_disk_scan (storageadmin.tests.test_disks.DiskTests) ... ok
test_disk_wipe (storag

[2018-03-19 19:37] phillxnet commented on #1847
./bin/test -v 2 -p test_disk_smart*
test_get (storageadmin.tests.test_disk_smart.DiskSmartTests) ... ok
test_post_reqeusts_1 (storageadmin.tests.test_disk_smart.DiskSmartTests) ... ok
test_post_requests_2 (storageadmin.tests.test_disk_smart.DiskSmartTests) ... ok

[2018-03-20 17:31] phillxnet commented on #1847
./bin/test -v 2 -p test_pool_scrub*
test_get (storageadmin.tests.test_pool_scrub.PoolScrubTests) ... ok
test_post_requests_1 (storageadmin.tests.test_pool_scrub.PoolScrubTests) ... ok
test_post_requests_2 (storageadmin.tests.test_pool_scrub.PoolScrubTests) ... ok

[2018-03-20 19:37] phillxnet commented on #1847
./bin/test -v 2 -p test_pool_balance*
test_get (storageadmin.tests.test_pool_balance.PoolBalanceTests) ... ok
test_post_requests_1 (storageadmin.tests.test_pool_balance.PoolBalanceTests) ... ok
test_post_requests_2 (storageadmin.tests.test_pool_balance.PoolBalanceTests) ... ok

[2018-03-21 00:26] bennysp opened #1908 "Release notes?"
I see an update for 3.9.2-20 from my 3.9.2-15, but I see no release notes or changelog?  Am I missing something?

[2018-03-21 06:08] Airell commented on #1856
I have the same issue, but unique UUID's are given in XEN. They are in the /dev/disk/by-uuid folder:

[code]
I successfully passed the ("boot screen tab remove ks= parameter") issue, but I don't think you actually support XEN?

[2018-03-21 11:13] phillxnet commented on #1908
@bennysp Hello and thanks for your bug report.
Currently each stable release version is also a Git tag and each tag is documented in GitHub against it's associated pr. See the rockstor-core GitHub Releases page:
https://github.com/rockstor/rockstor-core/releases
for this info.

But yes this is a bug as the intended function of the changelog within the Web-UI is to parse the relevant 'Changelog' el

[2018-03-21 13:22] bennysp commented on #1908
Thanks for the great explanation too @phillxnet !

[2018-03-22 23:50] wszychta opened #1909 "AD Integration don't works"
Hi,

I have problem with Active Directory Integration. I have managed to configure it, but I don't see any users from AD.

From shell running command ```net ads user -U USER``` ends with list of users from AD without domain.
In the result of ```getent group``` I don't see any groups from AD
In the result of ```getent passwd``` I don't see any users from AD.

My smb.conf looks like this (generated

[2018-03-23 00:10] wszychta commented on #1909
Turning off ```RFC2307``` resolved my problem.

Sorry for interuption.

[2018-03-23 00:10] #1909 closed

[2018-03-25 12:27] wiza opened #1910 "SMB Time Machine support"
Hi,

Could you add Time Machine support to SMB to get right settings out-of-the-box?

SMB is afaik now preferred over AFP and it's more mature anyway.

[2018-03-25 14:03] phillxnet commented on #1910
@wiza Thanks for the request. I didn't know this was a thing. Good to know and I agree it would be nice to have this as a UI option for an SMB export.

Please feel free to paste useful links on what version of Samba etc we need and the specific config settings and what not into this issue as it could help whoever gets around to implementing this. Assuming we have an adequately up to date samba in

[2018-03-25 18:15] phillxnet commented on #1847
./bin/test -v 2 -p test_pools*
test_compression (storageadmin.tests.test_pools.PoolTests) ... ok
test_delete_pool_with_share (storageadmin.tests.test_pools.PoolTests) ... ok
test_get (storageadmin.tests.test_pools.PoolTests) ... ok
test_invalid_requests_1 (storageadmin.tests.test_pools.PoolTests) ... ok
test_invalid_requests_2 (storageadmin.tests.test_pools.PoolTests) ... ok
test_invalid_root_pool

[2018-03-25 20:25] phillxnet commented on #1847
./bin/test -v 2 -p test_afp*
test_delete_requests_1 (storageadmin.tests.test_afp.AFPTests) ... ok
test_delete_requests_2 (storageadmin.tests.test_afp.AFPTests) ... ok
test_get (storageadmin.tests.test_afp.AFPTests) ... ok
test_post_requests_1 (storageadmin.tests.test_afp.AFPTests) ... ok
test_post_requests_2 (storageadmin.tests.test_afp.AFPTests) ... FAIL
test_put_requests_1 (storageadmin.tests.te

[2018-03-26 15:16] phillxnet commented on #1847
./bin/test -v 2 -p test_sftp*
test_delete_requests_1 (storageadmin.tests.test_sftp.SFTPTests) ... ok
test_delete_requests_2 (storageadmin.tests.test_sftp.SFTPTests) ... ok
test_get (storageadmin.tests.test_sftp.SFTPTests) ... ok
test_post_requests_1 (storageadmin.tests.test_sftp.SFTPTests) ... ok
test_post_requests_2 (storageadmin.tests.test_sftp.SFTPTests) ... FAIL

Again the FAIL in this set is

[2018-03-26 16:28] phillxnet commented on #1847
./bin/test -v 2 -p test_appliances*
test_delete_requests (storageadmin.tests.test_appliances.AppliancesTests) ... ok
test_get (storageadmin.tests.test_appliances.AppliancesTests) ... ok
test_post_requests_1 (storageadmin.tests.test_appliances.AppliancesTests) ... ok
test_post_requests_2 (storageadmin.tests.test_appliances.AppliancesTests) ... ok

TODO: added as one test contains a hack to instanti

[2018-03-26 18:01] phillxnet commented on #1847
./bin/test -v 2 -p test_oauth*
test_delete_requests (storageadmin.tests.test_oauth_app.OauthAppTests) ... ERROR
test_get (storageadmin.tests.test_oauth_app.OauthAppTests) ... ok
test_post_requests (storageadmin.tests.test_oauth_app.OauthAppTests) ... FAIL

Don't get fully how this works so have to leave an ERROR state in place.  TODO's and comments added and basic formatting updated re exception f

[2018-03-26 18:34] phillxnet commented on #1847
./bin/test -v 2 -p test_email*
test_delete_requests (storageadmin.tests.test_email_client.EmailTests) ... ok
test_get (storageadmin.tests.test_email_client.EmailTests) ... ok
test_post_requests_1 (storageadmin.tests.test_email_client.EmailTests) ... ok
test_post_requests_2 (storageadmin.tests.test_email_client.EmailTests) ... ok

[2018-03-26 19:14] phillxnet commented on #1847
./bin/test -v 2 -p test_group*
test_delete_requests (storageadmin.tests.test_group.GroupTests) ... ok
test_get_requests (storageadmin.tests.test_group.GroupTests) ... ok
test_post_requests (storageadmin.tests.test_group.GroupTests) ... ok

[2018-03-26 19:32] phillxnet commented on #1847
./bin/test -v 2 -p test_user*
test_delete_requests (storageadmin.tests.test_user.UserTests) ... ok
test_duplicate_name1 (storageadmin.tests.test_user.UserTests) ... ok
test_duplicate_name2 (storageadmin.tests.test_user.UserTests) ... ok
test_email_validation (storageadmin.tests.test_user.UserTests) ... ok
test_get (storageadmin.tests.test_user.UserTests) ... ok
test_invalid_UID (storageadmin.tests

[2018-03-27 09:47] wiza commented on #1910
I can test it if you get 4.8 available (to find settings etc). Basically it should be just those options to samba (maybe few extras) and avahi service file.

[2018-03-27 16:12] phillxnet commented on #1847
./bin/test -v 2 -p test_samba*
test_delete_requests_1 (storageadmin.tests.test_samba.SambaTests) ... ok
test_delete_requests_2 (storageadmin.tests.test_samba.SambaTests) ... ok
test_get (storageadmin.tests.test_samba.SambaTests) ... ok
test_post_requests_1 (storageadmin.tests.test_samba.SambaTests) ... ok
test_post_requests_2 (storageadmin.tests.test_samba.SambaTests) ... FAIL
test_put_requests_1

[2018-03-27 16:56] phillxnet commented on #1847
./bin/test -v 2 -p test_commands*
test_auto_update_status_command (storageadmin.tests.test_commands.CommandTests) ... ok
test_bootstrap_command (storageadmin.tests.test_commands.CommandTests) ... ok
test_current_user_command (storageadmin.tests.test_commands.CommandTests) ... ok
test_current_version_command (storageadmin.tests.test_commands.CommandTests) ... ok
test_disable_auto_update_command (st

[2018-03-27 18:57] phillxnet commented on #1847
./bin/test -v 2 -p test_network*
test_get (storageadmin.tests.test_network.NetworkTests) ... ERROR
test_put (storageadmin.tests.test_network.NetworkTests) ... ERROR

This one is going to need a re-write as there were major network changes in:
"Network Teaming and Bonding support. #560" #1253
I have updated the mocking to fit the new arrangement but that all so far. Leaving at that for the purposes

[2018-03-27 19:20] phillxnet commented on #1847
Outstanding issues prior to pr:

- [ ] One of the tests is reaching out to the real machine and setting hostname to "rockstor" but test_network is not to blame as that is currently dysfunctional. Needs an additional mock somewhere.

[2018-03-28 12:38] phillxnet commented on #1847
hostname changed to "rockstor" by a unit test tracked down to "storageadmin.tests.test_appliances"
[code]

[2018-03-28 16:07] phillxnet commented on #1847
We had missing mocks for sethostname(); mirrored this by also adding gethostname() mock:
[code]
Test data defaulted to model default of "Rockstor" and current sethostname(), via:

    hostnamectl set-hostname Rockstor

fails to honour the Capitalisation and so we got "rockstor".
N.B. we could transition to: "nmcli general hostname Rockstor" which does honour capitalisation:
[code]

[2018-03-28 17:38] phillxnet opened #1911 "appliance ipaddr property can fail to update"
Under certain circumstances the 'ipaddr' property field of our Appliance model can fail to update. The result is either an empty or stale ip displayed in Web-UI header (Mgmt IP: section), and a stale ip in the 'Appliance IP' column of the 'Appliances' page. This is mostly an aesthetic bug as the Network page is correctly updated and no related functional deficiencies were observed.

Note that if t

[2018-03-31 15:35] phillxnet commented on #1847
Note on "raise specific CommandException to avoid conformance (ide) errors" commit above:
PyCharm is not happy with just a "raise" stating "No exception to reraise". Specifying a CommandException seems to do the trick and was tested to fail through as expected when a fake_puuids match was found.

[2018-03-31 18:40] phillxnet commented on #1847
About to remove the GitHub instance of this branch so that I can re-base locally on current master and then push (by the same name) ready for pr presentation.

[2018-04-01 14:34] phillxnet commented on #1847
Associated pull request to follow shortly.

[2018-04-01 19:59] phillxnet commented on #1847
Pull request now delayed as having Git issues !!!

[2018-04-02 10:37] phillxnet opened #1913 "Standardise error text format and move to string.format part-1"
Update / normalise storageadmin views re error text and formatting method. I.e capital letter full stop and spaces around brackets, plus numbers in numeric format only.

It is proposed that we normalise on the following:

- Each error message starts with a capital letter and ends in a full stop.
- Where brackets are used to for example display a pool / share name we surround the brackets with spac

[2018-04-03 13:16] #1847 closed

[2018-04-03 13:16] #1913 closed

[2018-04-04 09:46] vampywiz17 opened #1915 "On GUI, only 5000 user show up"
Hello there,

In this forum, we wrote the problem:

https://forum.rockstor.com/t/rockstor-dont-show-all-users-of-my-domain-active-directory/2898

In my AD is more than 5000 user, but now i only see users start with "y*" but not see the user start with like "z*"

It is possible to fix this issue, that we able to see all user? (if i list it on CLI, i see all of them)

[2018-04-04 13:30] phillxnet commented on #1915
@vampywiz17 Thanks for opening this issue. Please seem my reply in the referenced forum thread. I can hopefully address this issue with an pull request / fix in stable very shortly once you have answered my query there.

[2018-04-04 17:55] phillxnet commented on #1915
Please update the indicated forum thread with this issues resolution:

https://forum.rockstor.com/t/rockstor-dont-show-all-users-of-my-domain-active-directory/2898/12

[2018-04-12 07:50] PeterSzmulik opened #1917 "Inconsistent statuses for scheduled jobs (aka Schrödingers cat)"
See previous discussion at the [Rockstor forum](https://forum.rockstor.com/t/found-a-schrodingers-cat/4626)

I run a monthly scheduled scrub job on the first of each month at 02:36 am

If I navigate to Storage>Pools>Pool-1 and then go to the scrubs folder, I can see there has been 16 scrub jobs run (either manually or with my scheduled task). All 16 terminated with exit status finished. They all h

[2018-04-12 21:39] phillxnet commented on #1917
Please note that forum member KarstenV has, in the same linked thread, confirmed this intermittent scheduled scrub task failure, with consequent scrub success and has provided their example of the related log entries.

[2018-04-14 10:37] niu-lin opened #1918 "Incorrect size calculation while removing disk from disk pool"
Use case is:
I have two disks, both are 2.7TB on a RAID1 setup, so actual space to store data is 2.7TB. Used space is 1.8T (on each disk), free space allowed for data is 0.9TB.
Now I add a 3rd disk of 2.7TB to the pool, effectively increases total usable disk space to 4.05TB, and free space allowed for data is 2.25TB.
The balance process started, and I canceled it at around 15% on the command line

[2018-04-14 21:25] phillxnet commented on #1918
@niu-lin Thanks for the report. Yes the calculation is a little heavy handed and currently caters for a  worst case scenario from taking a quick look at it.

The calculation and it's consequent conditional exception is made in the following few lines:

https://github.com/rockstor/rockstor-core/blob/master/src/rockstor/storageadmin/views/pool.py#L525-L539

Take a look and see what you think, pull r

[2018-04-16 11:25] gangshushu opened #1919 "Rockstor setup failed"
Hello, rockstor. When I finished rockstor's setting up and logged in to the browser, the rockstor initialization process failed. My rockstor's version is Rockstor-3.9.1.iso. I tried to use it in VMvare. Here is the error message:

  **Traceback (most recent call last):
  File "/opt/rockstor/src/rockstor/rest_framework_custom/generic_view.py", line 41, in _handle_exception
    yield
  File "/opt/ro

[2018-04-16 20:58] phillxnet commented on #1919
@gangshushu Thanks for the report.

This is due to the minimum system requirements not having been met. Please see our:

'Quick Start' doc section:
http://rockstor.com/docs/quickstart.html
and specifically the:

'Minimum system requirements' subsection: -
http://rockstor.com/docs/quickstart.html#minimum-system-requirements
it has instructions on how to resolve the no serial on disks default of VMw

[2018-04-19 11:59] gangshushu commented on #1919
Ok got it. Thank you for your great effort.

[2018-04-19 11:59] #1919 closed

[2018-05-02 15:34] phillxnet commented on #1036
Please also update the following forum thread with this issue resolution re scheduling custom user scripts:
https://forum.rockstor.com/t/scheduled-task-question/4731

[2018-05-04 09:18] phillxnet opened #1920 "improve replication configuration undefined message"
Thanks to forum member cmaurand in the following thread for highlighting this issue. The indicated message upon initial / pre config enabling of the replication service message should give the location of System -Services (spanner icon) to aid in usability. Otherwise we depend upon user familiarity with the services config location within Rockstor.

Additionally, given the somewhat involved nature

[2018-05-11 15:11] zipsonic opened #1921 "Latest initscripts conflicts with rockstor-release-3-8.16.el7.x86_64"
Received this email, over and over last night

/etc/cron.hourly/0yum-hourly.cron:

Traceback (most recent call last):
  File "/usr/sbin/yum-cron", line 729, in <module>
    main()
  File "/usr/sbin/yum-cron", line 726, in main
    base.updatesCheck()
  File "/usr/sbin/yum-cron", line 618, in updatesCheck
    self.populateUpdateMetadata()
  File "/usr/sbin/yum-cron", line 422, in populateUpdateMeta

[2018-05-11 20:04] FroggyFlox commented on #1921
I have the same issue (although I didn't have the opportunity to test a `yum update` yet).
see the following forum post:
https://forum.rockstor.com/t/cron-hourly-error-system-update-page-on-webui-gives-houston-weve-a-problem/4770/2?u=flox

[2018-05-12 14:34] phillxnet opened #1922 "add ongoing scrub end time estimate"
It is proposed that we augment the "Scrub Details page" - "End Time" ongoing scrub entry of "Not available" with an explicit estimate of the end time. I.e. while a scrub is running we replace:

"Not available"
with
"Not available (estimated at May 12th 2018, 4:42:57 pm)"

This estimate could be based on the data scrubbed, the start time, the current time, and the pool usage as displayed on the Poo

[2018-05-13 14:14] phillxnet opened #1923 "improve subvol mount code robustness"
Currently we mount subvols via '-o subvol'; it is proposed that a number of improvements to mount code clarity / robustness / flexibility can be had by moving to subvolid: which we already track in both the share and snapshot models via the qgroup field, ie '0/x' where x is the subvolid.  This in turn leads to a number of code simplifications where we are able to avoid redundant system subvol id d

[2018-05-16 08:59] phillxnet opened #1925 "disk serial=none or fake-serial re sda[a-z] dev names"
Thanks to forum member kingwavy in the following form thread for highlighting this bug. On initial inspection of the reported data, drive names of the form sdab, sdac, when the same system has a system drive of the more common sda# type name, are being incorrectly identified as system drives. This is currently thought to be the trigger for an incompatible serial=none response from scan_disks() tha

[2018-05-16 15:09] zipsonic commented on #1921
Fixed with rockstor-release 3-9.23

[2018-05-16 15:09] #1921 closed

[2018-05-16 18:03] phillxnet commented on #1925
Suspected failure point:
https://github.com/rockstor/rockstor-core/blob/master/src/rockstor/system/osi.py#L368-L396
ie from code comments:
[code]
Needs more exact conditions / matching that still caters for root not in partition (ie as in an md device of it's own).

[2018-05-19 18:53] phillxnet commented on #1682
Please also update the following forum thread with this issues resolution:
https://forum.rockstor.com/t/snapshot-removal-issue/4795

[2018-05-20 20:38] skynett81 opened #1926 "SAMBA"
Cant create samba-shares

![2018-05-20 22_35_33-rockstor](https://user-images.githubusercontent.com/9619727/40283427-4d4b4ca6-5c7e-11e8-908e-d96542258285.png)

[2018-05-22 01:45] #1880 closed

[2018-05-22 01:45] #1923 closed

[2018-05-24 12:01] phillxnet commented on #1926
@skynett81 Thanks for your report.

This error looks very much like issue #1813 (introduced in testing updates 3.9.1-9)
https://forum.rockstor.com/t/dev-log-for-3-9-2/3532/25
which was fixed a few day later in testing updates version 3.9.1-11 (via pr #1814) September 2017:
https://forum.rockstor.com/t/dev-log-for-3-9-2/3532/27

Could you report your Rockstor version number and try updating your in

[2018-05-24 13:14] phillxnet opened #1927 "remove --stdin option use for passwd"
Some more progressive implementations of passwd have the --stdin option deprecated/removed, this is to avoid the passing of plain text passwords via standard in. Accommodate for this implementation detail ahead of it's effects.

It is proposed that we instead make use of the python crypt module to pre-encrypt an entered system user's password and pass this via the -p option to usermod: circumventi

[2018-05-24 13:14] phillxnet commented on #1927
I am currently working on this issue.

[2018-05-25 12:38] tfiskgul commented on #1374
The ionice has little effect on btrfs as you have stated, but I have found something else that is a nice workaround; using cgroups blk io controller.

Using [systemd resource control](https://www.freedesktop.org/software/systemd/man/systemd.resource-control.html), I have created a slice called ``background.slice``, which has ``BlockIOReadBandwidth`` set for slower devices. This is using cgroups v1

[2018-05-25 13:08] phillxnet commented on #1374
@tfiskgul This is a nice find, thanks for sharing. I would like to suggest that you post the same on our forum:

https://forum.rockstor.com/

as I think it may reach more folks that way.

Thanks again for sharing your findings and after a little discussion on the forum we may very well be able to bake this approach into our scrub initialisation code as a configurable option via the Web-UI.

[2018-05-25 13:55] tfiskgul commented on #1374
@phillxnet Thanks for the quick feedback =)

I've created the post in the [rockstor forums](https://forum.rockstor.com/t/reducing-scrub-io-impact/4815).

[2018-05-25 15:52] phillxnet opened #1929 "remove redundant rc.local cleanup"
Prior to Rockstor version 3.8-9 (October 2015) there was a reliance on a 'hard wired' rc.local entry; this reliance was removed in favour of using systemd, see specifically commit: https://github.com/rockstor/rockstor-core/commit/76c2814eecff63e5bc78fd7f673fd55f1bc9d34c and it's pr associated commits in #904. This move away from rc.local use necessitated the addition of cleanup_rclocal() which ret

[2018-05-25 15:52] phillxnet commented on #1929
I am currently preparing a pr to address this issue.

[2018-05-25 19:23] phillxnet opened #1931 "add root subvol exclusion mechanism"
Currently we assume that a system pool subvol is represented by a top level directory in '/' corresponding to the subvols's name. This is not a universally safe assumption and most notably falls over in our current code / linux base for the root subvol. This appropriately, though arbitrarily, named subvol has, as a consequence of directly holding the root filesystem, the assumed /root path compone

[2018-05-25 19:48] phillxnet commented on #1925
As this issue concerns changes to the low level and broadly responsible system/osi.py - scan_disks() it is proposed that we first establish the currently missing unit tests for this function. These should cover the current observed correct function in the context of bcache/LUKS/mdraid/btrfs-in-partition configurations and their consequent variations concerning root (ie LUKS encrypted system disk /

[2018-05-26 10:18] phillxnet opened #1932 "flag pool label clash in pool info"
Thanks to forum member petermc in the following thread for highlighting this issue. When adding a prior use btrfs device that shares an existing managed pool's label, we fail to identify the uuid miss match and incorrectly represent the added device to the existing identically labelled pool. This is a product of unique pool label requirement and adherence on Rockstor's part and a failure to ensure

[2018-05-28 17:20] phillxnet commented on #1931
I am currently working on this issue.

[2018-06-01 12:54] #1929 closed

[2018-06-06 15:20] sgissi opened #1933 "Rockon state cannot be determined"
Hi team,

When running some rockons I get "unknown_error" as state. This is due to the docker inspect returning more than one line (e.g. if you have Health status) so the State fields are not parsed:
https://github.com/rockstor/rockstor-core/blob/907f5c2b28e8307c75154d56d0a10bec1ec98933/src/rockstor/storageadmin/views/rockon_utils.py#L30-L33

Can I open a PR to change the query to be "Error:{{.Sta

[2018-06-06 17:30] phillxnet commented on #1933
@sgissi You are more than welcome to open a pull request. As to your docker question that would be better handled by @MFlyer or @schakrava (project lead) as they are more up on the docker side of things than myself.

But please do open a pr, against this issue, and then any comments can be in the light of that code review. This looks like a nice find (at least to me) so should be most welcome.

Pl

[2018-06-06 17:46] phillxnet commented on #1656
Linking to another forum thread (with recent activity by member erisler) on "Too many open files":
https://forum.rockstor.com/t/exception-while-running-command-usr-bin-hostnamectl-static-errno-24-too-many-open-files/2272/5
with more investigative info on gunicorn and afpd.

[2018-06-06 19:38] ericrisler commented on #1656
Thank you @phillxnet for linking the above troubleshooting...I'll add here as directed:

I poked around onthe gunicorn github for issues with file descriptors (`https://github.com/benoitc/gunicorn/issues?utf8=✓&q=file+descriptor`) and found several where gunicorn worker processes inherit the open file descriptors from parent processes...perhaps some of the pros can take a look at these for inspira

[2018-06-06 21:55] sgissi commented on #1933
Thanks Phil, I'm setting up a VM to test the fix and then push a PR.

[2018-06-09 16:00] phillxnet opened #1936 "improve by-id device name retrieval"
Under certain systemd/udev configurations it was found that the current get_dev_byid_name() method was unable to retrieve an available /dev/disk/by-id name, failing over to the canonical temp sda type names. This was observed in a pre-release testing environment but could affect any similarly custom configured released Rockstor instances, but has not been seen or reported as such. It was also note

[2018-06-09 16:00] phillxnet commented on #1936
I am currently working on this issue.

[2018-06-13 12:50] #1931 closed

[2018-06-13 19:05] T5-R opened #1938 "Cannot delete a failed pool"
For testing purposes I created a raid0 pool with 2 disks (+share and samba export). I then copies some data on it, later I removed one drive, and re-added it. I wanted to see if it is possible to recover the Pool/Raid0.
(seems impossible)
ThenI of course want to delete the useless failed pool, but I cannot remove the share:

[code]

So... you cannot recover the pool, you cannot delete it. How do I

[2018-06-13 20:46] phillxnet commented on #1938
@T5-R First off thanks for helping to support Rockstor's development.

"... later I removed one drive, and re-added it." Did you do this physically or via the Web-UI. Raid0 is not a redundant raid profile, half the data is on one drive and half on another: the pool size is then that of the combined drive size but it can't handle disk removal as then half the data is no longer there (when using the

[2018-06-13 21:53] T5-R commented on #1938
@phillxnet
Thanks for your response and clarification.
I followed your suggestion on mountig with 'rw,degraded' and was able to delete it, Thanks!
I will look up the forum and join for further questions.

Yes, I hot-unplugged it. I know Raid0 is not redundant, but since I am new to rockstor and btrfs I first want to check its behaviour to see what is best for me to use. Additionally I am not reall

[2018-06-13 21:53] #1938 closed

[2018-06-21 07:56] xud6 commented on #636
+1 for iscsi
I will use it as disk witness for windows clusters (mostly SQL Server AAG) if avaliable.

[2018-06-29 04:44] hashtaginfosec opened #1940 "Cacheable HTTP/S response"
Rockstor web user interface (wui) does not provide any caching directives to the browser. So, the browser stores a local cached copy of the content it received from the server. This means, the locally cached content can be accessed by others who have access to the same computer that was initially used to access Rockstor wui.

Proof of concept:

1. Access the wui and login.
2. Visit one of the affe

[2018-06-29 04:56] hashtaginfosec opened #1941 "SessionID cookie without secure flag set"
The sessionid cookie does not utilize "secure" flag. Hence, even with the use of TLS, the cookie can be intercepted by listening for pages that may not use TLS.
Note that offering the whole website over HTTPS is not a sufficient defense. If a user were to accidentally access the site over HTTP, the server would redirect them to HTTPS; however, that HTTP request has already offered up the cookie "s

[2018-06-29 20:49] phillxnet commented on #1940
@hashtaginfosec Nice find, I'm afraid this is not really my area of knowledge within Rockstor but @schakrava or @MFlyer would be able to comment more knowledgeably.

If you fancy submitting a pull request I'm sure it would be most welcome.
Please see:
http://rockstor.com/docs/contribute_section.html
and more specifically the developers section:
http://rockstor.com/docs/contribute.html#developers
f

[2018-06-29 20:57] phillxnet commented on #1941
@hashtaginfosec Thanks for another thorough report. Please seem my response in your last issue re pr submissions (#1940) as you are most welcome to submit a pr to address this issue.

Thanks again for your efforts in this area, much appreciated.

@schakrava and @MFlyer more in your areas this one again I'm afraid.

[2018-06-29 21:30] phillxnet opened #1942 "missing validation for megaraid custom smart option raid dev target"
Thanks to forum member coreybrett in the following forum thread for highlighting this issue. When the following custom smart option for megaraid is entered "-d megaraid,0 /dev/sda" an input validation error is received. On initial inspection this appears to be down to an omission in the raidTargetRegExp variable defined within:

src/rockstor/storageadmin/static/storageadmin/js/views/smartcustom_di

[2018-06-29 22:41] hashtaginfosec commented on #1941
Thanks @phillxnet. I'm working on producing a solution locally and once tested (and barring time constraints) I'll be working on a pull request.

[2018-06-30 18:31] phillxnet commented on #1940
Pointer on our nginx template file use:
https://github.com/rockstor/rockstor-core/blob/master/buildout.cfg#L57-L60
ie:
https://github.com/rockstor/rockstor-core/blob/master/conf/nginx.conf

Chuffed your up for a pr submission.

[2018-06-30 18:40] phillxnet commented on #1941
Great. It will be nice to have another code contributor on-board.

[2018-07-02 19:00] phillxnet commented on #1531
A missing disk pool warning, in flashing red, is now surfaced (in Web-UI header so on all pages) as from pr:
"surface pool missing disk info in UI. Fixes #1897" #1902
Linking for context.

[2018-07-02 19:07] phillxnet commented on #1897
Linking to related super set / meta issue: #1199

[2018-07-02 19:07] phillxnet commented on #1199
"I see no other external indicator to tell me that a drive dropped out/failed." has now been addressed via the following pr:
"surface pool missing disk info in UI. Fixes #1897" #1902

[2018-07-03 10:43] requtize opened #1944 "Where can I found ISO for 3.9.2 version?"
Where can I found ISO for 3.9.2 version? On SourceForge is available only 3.9.1 ISO, and even in test channel updates, I can't update to 3.9.1-16 (this version is showing me in web-ui). In Github and mostly in SourceForge, there are available info about 3.9.2-28 version, but there is no any ISO of this version.

In my 3.9.0, I cannot update and cannot upload config backup, I don't know what can I

[2018-07-03 19:23] phillxnet commented on #1944
@requtize First off welcome, but this support request is more appropriate in our forum:

https://forum.rockstor.com/

Please ask your question there as then we can narrow down your particular issue. But as a quick part response there is no 3.9.2 iso version as 3.9.2 is from the stable channel subscription and has yet to reach the next iso release candidate. 3.9.1-16 is the most recent testing chan

[2018-07-05 13:02] phillxnet commented on #1942
On further reflection, given the transient nature of sda / sdb type names, and given our existing mechanisms in applying raid related custom smart options, we may well have to facility to introduce an 'auto' option, at least initially, where the megaraid drive is concerned. That is in:

https://github.com/rockstor/rockstor-core/blob/master/src/rockstor/system/smart.py

we have in:

def get_dev_opt

[2018-07-05 16:52] phillxnet commented on #1942
I am currently working on this issue.

[2018-07-07 14:05] phillxnet commented on #1925
I am currently working on this issue.

[2018-07-07 18:52] phillxnet commented on #1834
I think we have a real world reproducer by way of forum member kingwavy in the following thread, using a 36 disk system. I have now reproduced locally, via a unit test based on kingwavy's submitted command outputs, an observe attribution of serial=None plus a lot of incorrectly attributed fake-serial attributions. Current suspected culprit detailed in:

"disk serial=none or fake-serial re sda[a-z]

[2018-07-10 13:08] #1933 closed

[2018-07-10 18:11] phillxnet commented on #1925
The code changes to address this issue are in final testing. The previously referenced unit test prerequisite:

"This should help to ensure that we do not introduce any regressions in these more common config areas when attempting to account for the extended device names as seen in this issue. I will open a separate issue to detail these tests' requirements and link back to this issue for context.

[2018-07-11 12:42] #1942 closed

[2018-07-13 22:43] mozzbozz commented on #1739
@MFlyer I agree with @KaiRo-at - you should reopen this issue, same problem for me with the standard setting. Also tooltip suggests that the SSH-option is less secure.

[2018-07-16 12:16] #1834 closed

[2018-07-16 12:16] #1925 closed

[2018-07-28 19:55] phillxnet commented on #1897
Linking to related issue: #1532 to indicate there that his issue has now been addressed.

[2018-07-29 09:04] vesper1978 commented on #987
Any update on getting Let's Encrypt support added? I think it's a very important feature to have added since security is a huge focus these days and having a valid SSL certificate out of the box or with an update would be a major selling point to use Rockstor for a lot of people.

[2018-08-01 11:00] phillxnet commented on #1848
Please also update the following forum thread by member StorageSimian with this issues resolution:
https://forum.rockstor.com/t/setup-added-all-storage-to-os-pool/5053

[2018-08-05 17:04] phillxnet opened #1947 "add system pool auto label and enhance associated db mechanisms"
It is proposed that we elegantly deal with unlabelled system pools, and as we know in advance their purpose we can deploy the default label of 'system' in this scenario. This is further to the enhancements introduced in:
"pool name should default to uuid if label is none. Fixes #1342" pr #1683 which addressed non system pools only (due to requiring no existing mount).

It is also proposed that we

[2018-08-05 17:05] phillxnet commented on #1947
I have opened this issue having already prepared a code 'proof of concept' which I will submit via a pull request against this issue shortly.

[2018-08-06 13:17] DylvnX opened #1950 "External Hard Drive"
I was wondering what would happen if I create a new Pool and Share using an external hard drive and I were to unplug it. I am a photographer a would like for the computers on the network to have access to the drive but while I am out in the field I would to take the drive with me so that I can offload the images on mt SD card to the hard drive

[2018-08-06 21:30] phillxnet commented on #1950
@DylvnX Helllo and thanks for your interest in Rockstor. However the GitHub issues section of the project is not the preferred medium for this general enquiry.

A far better bet would be to ask on our forum:
https://forum.rockstor.com/
as there are many more eyes there if nothing else, plus a lot of users who may be using Rockstor in a similar fashion to what you are envisioning.
Also there are a

[2018-08-08 16:52] phillxnet commented on #1848
Had another quick look at this issue and I was not able to add a disk to the system pool via the following routes:

Pool details page:
	Resize Pool - Add Disk - (No raid change) - Select Disk - Confirm

As intended:
“Houston, we've had a problem.
Edit operations are not allowed on this pool (system) as it contains the operating system.”

and

Pool details page:
	Resize Pool - Add Disk - (Yes raid

[2018-08-09 10:00] phillxnet commented on #1848
Having received feedback from forum member StorageSimian, the second reporter of this issue (linked above) this multi disk system pool arrangement now very much looks like an interplay between our kickstart config and the upstream Anaconda installer when presented with multiple pre-partitioned disks, quoting from cited StorageSimian forum thread:

"When I got tot he disk layout, it asked me about

[2018-08-10 18:22] phillxnet opened #1951 "regression - nvme system disk not identified"
Thanks to forum members Jorma_Tuomainen and Flox in the following thread for highlighting this regression. As from 3.9.2-31 pr #1946 nvme system disks were no longer identified as attached: resulting in, post update, the system disk showing as detached and consequently it's default surfaced share 'home', and any created post install, would fail to be available.

Associated log entry:
[code]
Where

[2018-08-10 18:27] phillxnet commented on #1951
I have prepared a unit test that identifies this regression and defines the pre regression behaviour. This has been used to develop a fix that is under final test / preperation. Pull request to follow soon.

[2018-08-13 13:08] #1947 closed

[2018-08-16 12:26] #1951 closed

[2018-08-17 16:13] bigfoot90 commented on #761
I've created a repo wich builds a container https://github.com/bigfoot90/docker-rockstor

[2018-08-21 10:28] phillxnet commented on #1827
Linking to other potentially related forum threads concerning failed / interrupted os updates:
forum member kysdaddy https://forum.rockstor.com/t/samba-stops-working-after-activation/5117

[2018-08-21 20:25] doenietzomoeilijk opened #1953 "Attempting to restore from a non-GZip'ed Config Backup fails silently"
As a user, I'd like some more feedback about a failed upload, so I can try again with a proper file.

Downloading the GZip'ed JSON data that a Config Backup spits out might result in a non-GZip'ed file if your OS decides to automagically uncompress things, or because you're curious. When restoring from such a file, you're allowed to upload it and attempt a restore from it, but this will silently f

[2018-08-21 20:56] doenietzomoeilijk opened #1954 "[Feature] Add an existing user as Rockstor managed during a config restore"
As discussed [here](https://forum.rockstor.com/t/solved-how-hosed-am-i-cleared-out-the-database-turns-out-not-that-hosed/5115/15?u=doenietzomoeilijk): when restoring a config backup that contains user johndoe, the restore of that user will be skipped if that user is already present on the system. It'd be nice if - if the uid matched - this user would instead be considered the user we were talking

[2018-08-22 20:42] phillxnet commented on #1954
@doenietzomoeilijk Thanks for creating this issue. I've just had a quick look for an initial pointer on this and the following code is be a good place to start:
https://github.com/rockstor/rockstor-core/blob/master/src/rockstor/storageadmin/views/config_backup.py#L52-L75

Noting in case this issue takes anyone's fancy.

[2018-08-24 12:11] phillxnet commented on #1611
Linking to another more recent forum thread concerning the utility of a replace Web-UI element:
https://forum.rockstor.com/t/replacing-disks-in-a-raid10-pool/5130

[2018-08-25 19:54] phillxnet opened #1955 "remove grubby dependency for kernel version reporting"
On systems where grubby is not installed, the existing mechanism fails over to not displaying the kernel version in the Web-UI header. Modify this behaviour so that in this instance we circumvent the failure point, that of attempting to re-assert a recognised kernel (via a non existent grubby), and simply return the already retrieved uname kernel version element.

This caters for non legacy system

[2018-08-26 19:45] phillxnet commented on #1532
Having re-examined my prior proposed pending issue order, I am now working on this issue before the remaining 2 (none strike through) listed previously. My initial focus is on duplicating the type of indicator delivered by:
"surface pool missing disk info in UI" #1897 (now closed)
ie one that appears on all screens (within the Web-UI header).
This will use the 'btrfs dev stats' output surfaced pre

[2018-08-26 19:51] phillxnet commented on #1700
I have decided that the following prior linked issue:
"Show warn on dashboard if errors occurs on IO or fs" #1532
would make for a useful facility prior to addressing this issue as then we could offer advise in the context of known device stats errors or otherwise.

Note here for order context.

[2018-08-31 14:18] #1955 closed

[2018-08-31 19:49] FroggyFlox opened #1957 "Add support for mounting a particular device in Rockon"
I've been interested in trying to help improving the functionalities of the Rockon system following several obstacles I've encountered (multiple containers, custom `docker run` command argument, other `docker run` options) for a while now, but never dared digging through the code.
Recently, however, I started looking into taking advantage of a new functionality of the EmbyServer container: hardwar

[2018-09-01 19:07] phillxnet commented on #1957
@FroggyFlox Hello again. This sounds like a great addition. I have some bits and bobs to tend to first but there after I'll try and take a look, unless of course someone beats me to it.

Chuffed this is under way as it's something I would like to have a play with myself. So time permitting I can have a look and see why that new option is not appearing. If you manage to fathom it in the mean time j

[2018-09-02 00:39] FroggyFlox commented on #1957
Thanks a lot! Hope it'll help.

For debugging the backend, is there a way to run the code manually with a set file (JSON here for instance) and see directly in the python (or IDE) console how the different variables are populated? Because of the Django involvement I don't know how (or if) this is doable.

[2018-09-02 18:27] phillxnet commented on #1957
@FroggyFlox I have responded to your backend debugging / dev question, as best as I can currently, in a private message on our forum so as to keep this issue text as clean as possible. And as referenced in that message there are plans to enhance our existing dev docs re setting up such things.

Hopefully others can chip in here as all help is appreciated, assuming you haven't already sorted it by

[2018-09-02 19:29] phillxnet commented on #1532
Header dev error alert with guiding tooltip:
![ui-header-pool-device-errors-alert-with-mouse-over](https://user-images.githubusercontent.com/2521585/44959930-99c3de00-aeee-11e8-9d52-925c775ce7e9.png)

Pool overview dev errors alert:
![pools-overview-dev-errors-disks-column](https://user-images.githubusercontent.com/2521585/44959942-b4965280-aeee-11e8-9ab3-1ba19f69fdcb.png)

Pool detail view - Disk

[2018-09-02 19:35] phillxnet commented on #1532
As this alert occupies the same UI 'space' as the degraded alert we test a simultaneous degrade alert and dev errors alert:
![simultaneous-pool-degraded-and-errors-alert-display](https://user-images.githubusercontent.com/2521585/44960012-849b7f00-aeef-11e8-8f24-d0c0ef73a073.png)

and the same scenario in the disks table of the pool detail view:
![corruption-errors-plus-missing-dev-degraded-warning

[2018-09-02 19:37] phillxnet commented on #1532
Zero errors on a non degraded pool (disks table of the pool details view):
![pool-details-disks-table-zeros](https://user-images.githubusercontent.com/2521585/44960048-0db2b600-aef0-11e8-8535-f102eb5d1c2e.png)

[2018-09-06 19:56] t3kka opened #1960 "Cant remove share due to stale NFS mount options"
I am attempting to remove a share via the UI but it is giving me the following error:

[code]

Reviewing NFS config via Storage > NFS > Advanced Edit I see that the snapshot folders are still mounted in the automatically added entries.  Note there is no NFS export created for the share when viewing the current NFS exports in the UI.  I did 'modify' the previously configured NFS export to use a dif

[2018-09-06 20:00] cameron-doherty opened #1961 "Recommended process for Subscribers to create a support ticket links to a dead site"
When receiving an error in the UI there is a recommended process for opening a support ticket if you are a subscriber.  Step 3 notes to open a ticket at a linked site support.rockstor.com/open.php but this URL is broken.

Should be updated to either point subscribers to appropriate place or just removed altogether.

[2018-09-06 22:51] t3kka commented on #1960
After playing around, going directly into the Share1 details page and then the Snapshots tab, I was able to successfully delete the snapshots left in the subvolume which in turn removed them from the NFS mount config.  It may have been an issue with the order of operations I performed the original NFS mount change/modification or perhaps something else....I really need to understand more about the

[2018-09-07 19:08] phillxnet commented on #1961
@t3kka Thanks for the report.
I think we need to call on @schakrava's for the direction / action to take on this one.

[2018-09-07 20:58] t3kka commented on #1960
@phillxnet yeah my bad..new to this issue stuff but I'll try to recreate it over the next few days and post back

[2018-09-10 17:00] FroggyFlox commented on #1957
As described in PR #1959, the Rock-on install Wizard now completes, passes the device info to the `docker run` command, installs the Rockon successfully. What remain is:

1.  Make newly-added device field in install wizard optional. For now the form validation has been commented but needs to be done correctly:
              - remove red asterisk denoting required field
              - Validate if

[2018-09-10 17:59] phillxnet commented on #1957
@FroggyFlox Well done on getting all this sorted to date.

I can chip in with some example js validation code that has a few techniques in that my be of help:
https://github.com/rockstor/rockstor-core/blob/master/src/rockstor/storageadmin/static/storageadmin/js/views/smartcustom_disks.js#L74-L261
It does a free form text box validation intended to filter supported custom smart options and so has a

[2018-09-12 01:54] FroggyFlox commented on #1957
Following the latest commit, points 1 and 2 above are working as expected (#1959).

[2018-09-12 19:04] FroggyFlox commented on #1957
A clean and functional PR has now been submitted. #1962

[2018-09-13 17:30] magicalyak opened #1963 "Rockon Storageadmin view issue"
Rockon issue (new rockon created)
Looks like a task is stuck in the storageadmin table?

[code]

![image](https://user-images.githubusercontent.com/6165889/45504866-0ba2ef80-b759-11e8-8f00-0ad1fe4cdddd.png)

[code]

[2018-09-13 17:53] magicalyak commented on #1963
I ended up just removing the tasks in the pgsql to get this to clear.

[2018-09-13 18:44] FroggyFlox commented on #1963
Hi @magicalyak ,
Could this be taken care of by `opt/rockstor/bin/delete-rockon`?

https://forum.rockstor.com/t/force-rockon-cleanup-in-postgres/3825/2?u=flox

[2018-09-13 18:46] magicalyak commented on #1963
That is exactly what I should have used, I just did it the manual way!  Yes that would have fixed it for sure.

[2018-09-14 12:52] phillxnet opened #1964 "update and fix fake product_uuid entries"
Thanks to forum member mmmdonuts for highlighting this issue. On certain motherboards the output of:
[code]
is none unique, i.e. is shared from one instance to another.

Currently system/osi.py hostid() uses this product_uuid to generate a 're-install stable' appliance id as a user convenience but only if that product_uuid is not in a know 'black list' of non unique examples.

Update / correct the

[2018-09-19 13:49] #1964 closed

[2018-09-21 15:29] FroggyFlox opened #1967 "Rockons cannot use custom Docker run command arguments"
I've encountered a limitation when writing some Rock-on definition files when the latter require specific arguments in their `docker run` call.
From my own experience, this is the case, for instance, for the [jwilder's docker-gen image](https://hub.docker.com/r/jwilder/docker-gen/), but I've encountered another user[ encountering the same issue](https://github.com/rockstor/rockon-registry/pull/120

[2018-09-22 11:52] #1957 closed

[2018-09-23 10:29] phillxnet commented on #1531
The remaining element of this issue pertains to:
"If disk is mounted in degraded mode ... give a warn on dashboard."
Although we already indicate mount status via the the already linked and merged:
"improve mount status reporting capability. Fixes #1763" #1771
It is not in the form of a warning, but the degraded status is at least indicted.

Currently we have addressed the "... raid is unsync ..."

[2018-09-23 10:45] phillxnet commented on #1532
Linking for context to a related superset issue:
"As a user I'd like to replace failed drives in a RAID with new ones" #737

[2018-09-23 10:45] phillxnet commented on #1897
Linking for context to a related superset issue:
"As a user I'd like to replace failed drives in a RAID with new ones" #737

[2018-09-23 15:50] phillxnet commented on #1700
I am currently working on this issue.

[2018-09-25 01:25] niulin opened #1969 ""List of changes in this upgrade" page does not show anything"
When I logged on to the UI, it prompts me new version is available just top right corner, I clicked it and it shows me an empty page of "changes", suppose it should show me the new things I would get if I perform the upgrade。

BTW, I'm on the stable update channel.

![image](https://user-images.githubusercontent.com/7447273/45987560-d07fb500-c0a4-11e8-889c-157dfcb273cb.png)

[2018-09-25 10:56] phillxnet commented on #1969
@niulin Thanks for the report. This is current known behaviour and is down to how we currently 'role' the rpm packages. We use to embed the changelog into them. But that stopped a while back. Hopefully we can pick this back up as resources (time) permits.

For a breakdown of how this works, if the info is available within the rpm, please see the following issue which includes a test of the rocksto

[2018-09-25 11:06] phillxnet commented on #1969
Currently our only record of changes made per Rockstor release (master branch Git tag) version are available on the GitHub Releases page:
https://github.com/rockstor/rockstor-core/releases

Nice to see you are still around by the way. I've been working on some of your earlier Rockstor GitHub issues of late.

[2018-09-25 12:42] #1967 closed

[2018-09-25 21:49] TexasDex commented on #1910
Most modern macs won't do TimeMachine over AFP anymore, so this is definitely a must-have for me.  I got it running on Ubuntu Server 18.04 using [these instructions](http://wa.rwick.com/2018/04/08/minimal-ubuntu-time-machine-backup-service/).

[2018-09-26 13:46] wiza commented on #1910
AFP is still supported but deprecated. Rockstor (and CentOS 7) has too old Samba so it needs to be compiled. If I have time, I'll try to use current spec-file and build a new one, but wouldn't hold my breath.

[2018-09-26 14:06] niulin commented on #1969
Thank you very much for the detailed explanations!

[2018-09-26 17:45] phillxnet commented on #1700
Indication of detached disk's pool membership:
![detached-pool-member-tooltip](https://user-images.githubusercontent.com/2521585/46097559-2eea8780-c1ba-11e8-9f65-bde3efec5ef5.png)

Link to appropriate level (Pool) for it's consequent removal:
![detached-pool-member-exclamation-link-tooltip](https://user-images.githubusercontent.com/2521585/46097662-5f322600-c1ba-11e8-9978-c8ff4b1d9ec4.png)

Disks

[2018-09-29 10:30] phillxnet commented on #1157
Additional interest in local (intra-install) btrfs send/receive facility has again been expressed in the following forum post. Please update as appropriate:
https://forum.rockstor.com/t/using-btrfs-send-receieve-for-backups/1342/6
Noting here as relevant to @dbivolaru's previous suggestions.

[2018-09-29 11:12] phillxnet commented on #1722
In working on the following related issue:
"Implement a delete missing disk in pool UI" #1700
I have been able to assess the cause of this behaviour. Essentially when running a 'btrfs device delete (dev-name and/or missing) an internal balance is initiated. This, in almost all 'real hardware' cases, causes the indicated error. Essentially a 'time out' as a balance will typically take hours and we

[2018-09-29 13:08] phillxnet commented on #1722
A counter example of this issue is where the disk to be removed presents little in the way of a balance requirement prior to it's removal (via btrfs device delete mount-point) ie:
[code]
Where we are to remove /dev/sdc which has "used 0.00B".

In situations such as this our existing 'treatment' (although the tested code had the consequent Rockstor initiated balance removed) works as intended. Due

[2018-09-29 16:15] legbandj commented on #1910
Attempting to setup TimeMachine backup from my Mac (running Mojave 10.14) on Rockstor (3.9.2-40) is causing netatalk to reload. If AFP is no longer appropriate for TimeMachine targets on NAS, then SAMBA is the way forward.

I'd be happy to help test TimeMachine on SMB.

[2018-09-29 17:25] legbandj opened #1970 "Enabling AFP prevents Samba shares from being discoverable"
Rockstor 3.9.2-40
Running AFP and SAMBA

On my Windows 10 desktop, I was having trouble with my Rockstor Samba shares not showing up in the Network browser. On my Mac laptop, I was seeing the AFP share, but not the Samba share.

After a little research, it looks like running AFP (netatalk) creates a conflict with avahi broadcast of Samba. See detailed discussion here: https://unix.stackexchange.co

[2018-09-29 18:57] phillxnet commented on #1970
@legbandj Thanks for the report and for sharing your findings / fix.

Nice find.  We could maybe add this to our list of system file edits during boot up.

Thanks again for the report. Please leave this issue open as a record. And do consider posting your findings on the forum, linking to this GitHub issue for context, as your findings are likely to be popular / appreciated prior to us automating

[2018-09-30 10:50] phillxnet commented on #584
Please also update the following forum thread by smanley requesting:
[code]
AFP per share config capabilities.

Thread contains current 'manual' work around including a file reference for this issues development:
https://forum.rockstor.com/t/how-to-edit-afp-netatalk-default-permissions/4976

[2018-10-01 12:30] almansa commented on #1489
Looking forward to have offline deduplication as a standard feature in rockstor. Any news? In addition to bedup and duperemove you may want to have a look at
["Best-Effort Extent-Same, a btrfs dedup agent"](https://github.com/Zygo/bees)
which seems to be more efficient.

[2018-10-02 10:50] phillxnet commented on #1611
It is proposed that we extend the existing 'pool_resize_wizard' to include this feature.

While working on the related issue:
"Implement a delete missing disk in pool UI" #1700
the following UI entry point is to be added as a place holder:

![proposed-disk-replace-ui-entry-point](https://user-images.githubusercontent.com/2521585/46344376-d5121380-c638-11e8-9106-bc825777c434.png)

This should help

[2018-10-04 15:48] TexasDex commented on #1910
According to [Apple's knowledge base](https://support.apple.com/en-gb/HT208018), All macs with flash storage are converted to APFS upon upgrade to High Sierra, and macs with APFS can only use TimeMachine over SMB.  So it's basically broken for all new mac users.

[2018-10-04 20:54] wiza commented on #1910
No it isn't, we have 2 macs with Mojave nicely backing up to time machine on AFP.

However, in future macos releases afp support will be removed. Next RHEL (and thus CentOS) 7.6 should include newer Samba with needed options.

[2018-10-05 11:50] #737 closed

[2018-10-05 11:50] #1199 closed

[2018-10-05 11:50] #1700 closed

[2018-10-05 19:42] nfriedly opened #1972 "Feature-request: UI for creating one-off rockons from arbitrary docker images"
It would be nice to be able to try out and configure docker images in the web UI without having to SSH in and edit JSON files. Right now, creating a new rock-on seems to take a lot of effort (it never seems to work on the first try for me), and while it makes sense to have the .json file for a rock-on that everyone will use, it seems like wasted effort for a one-off thing.

Instead, if there was a

[2018-10-09 18:47] phillxnet commented on #1918
Adding a recent report on a confusing space left report that also blocked a drive removal:
Thanks to forum member juchong for this additional and presumed related report:
https://forum.rockstor.com/t/cant-remove-disk-even-though-i-have-enough-space/5287

[2018-10-10 20:39] phillxnet commented on #1722
Linking to another recent forum thread where juchong also reported this issue:
https://forum.rockstor.com/t/cant-remove-disk-even-though-i-have-enough-space/5287/6

[2018-10-11 02:18] barnhill opened #1973 ""DEV ERRORS DETECTED" on all disk pools"
After 3.9.2-41 update or sometime recently this error started showing up on both of my disk pools.

![capture](https://user-images.githubusercontent.com/3878158/46776533-a1d32280-ccd1-11e8-86bd-b4c00ef2c85d.JPG)

I highly doubt the SSD and the Raid array separate from it are both bad at the exact same time.

[2018-10-11 18:18] AlexLardschneider opened #1974 "Deleting a file on NFS/SMB share takes really long"
Hello,

I am currently using Rockstor to host my 12TB (4TB + 8TB) BTRFS single drive pool. My Linux hosts connect to Rockstor via NFS using the following `/etc/fstab` entry:

[code]

The NFS share is exported as follows on the Rockstor host:

[code]

Deleting a file however I noticed takes a really long time (sometimes well over 30s), and checking with `strace -r` I noticed most of the time is spe

[2018-10-11 19:29] phillxnet commented on #1973
@barnhill Thanks for your report, but those outputs are directly sourced from the following command:
[code]
so hopefully your doubts should be address via the output of that command on each of the pools.

But note that this is not necessarily an indication of hardware error ie re:
"I highly doubt the SSD and the Raid array separate from it are both bad at the exact same time."
it is an indication

[2018-10-11 19:33] phillxnet commented on #1974
@AlexLardschneider I'm not sure of the cause of this, especially given local deletes are instant. But if you are running the latest stable release you could try disabling quotas (via the Web-UI) just in case that shows an improvement. Testing channel (being older code currently) is unable to function properly with quotas disabled.

Also please consider asking this same question on the forum as you

[2018-10-16 01:55] #1740 closed

[2018-10-16 01:55] #1712 closed

[2018-10-17 12:21] wingrunr21 opened #1975 "Upgrade to a more recent kernel + btrfs-progs version"
Hey all,

Formally requesting a kernel upgrade. The last kernel upgrade was [in the beginning of August last year](https://github.com/rockstor/rockstor-core/commit/914ab0d52e3cacf40cdb6f0ec3de0dac823ef67c). There [are](https://forum.rockstor.com/t/when-can-we-get-kernel-4-12/3468) [a](https://forum.rockstor.com/t/upgrade-kernel-to-4-16/4749/2) [few](https://forum.rockstor.com/t/upgrading-to-latest

[2018-10-17 19:56] phillxnet commented on #1975
@wingrunr21 Thanks for the input and agreed.

I like the write up idea, and it has occurred to me, and given we essentially use regular unmodified elrepo kernel-ml's (at least on our current CentOS linux base):

https://elrepo.org/tiki/kernel-ml

that bit is fairly straight forward.

I may have a go at the write up myself when I get time, unless someone beats me to it of course.

We are in the slo

[2018-10-17 22:37] rbcross62 opened #1976 "API DISK Error and unable to write to any of my drives; PlexServer also not working."
Hello,
I received the error below recently, and haven't been able to write to any of my drives from my Windows 7 workstation since it happened:

Unknown internal error doing a GET to /api/disks?page=1&format=json&page_size=9000&count=

It is almost like it has forgotten my domain rights from when I imported them originally.  I reviewed my access rights and everything seems to be correct. I've atta

[2018-10-18 20:18] phillxnet commented on #1976
@rbcross62 Thanks for the report, however this is more of a support request:

Your "data_server" pool is now in read only mode (this often happens if there has been an error or issue with the filesysem), hence no writes via your clients and also potentially stopping plex's function. Also note that you have used raid6 on this pool, the btrfs parity raids of 5 and 6 are not recommended for productio

[2018-10-19 14:30] oneindelijk opened #1977 "ownership of root changed after an update"
Hi,

Yesterday I started with a fresh install, mounted a bay of 4 disks into a pool and create some shares (nfs and samba)
After updating rockstor to the latest version through the web gui, everything stopped working.
After a reboot I noticed that ssh access too was gone.
Logging into the machine locally taught me that sshd was unable to start because /var/empty/sshd was not owned by root but by 9

[2018-10-19 16:03] oneindelijk commented on #1977
I noticed also that postgresql was required running for rockstor-pre to proceed.
So I `chown -Rv postgres: /var/lib/pgsql | tee -a chown-pgsql.report`
This seem to get it working again

[2018-10-21 12:42] oneindelijk commented on #1977
As I surmised, many of the folders not being root is giving me other problems, I was suprised even that this butchery-wise attempt to fix my system even worked.
My fear to have to start all over again is slowly bubbling upwards.
Before I do this, I would be nice to know what's going on, though

Is their a meaning in the uid 911 and the initially non-existing gid 1001 ?
It almost looks like a hack

[2018-10-21 14:14] oneindelijk commented on #1977
As it turned out the user with uid 911 is deluged which I installed through the rockstor web interfaces using the add-on functionality.
Is there something going on that changes the whole root system's owner bits ?

[2018-10-21 16:12] oneindelijk commented on #1977
Some more fiddling...
I started digging through the whole filesystem and changing ownership from most folders to root.
Then with the help of journalctl I changed specific folders to services that required it (ngingx, postgresql)
and everything seemed working again. Except that deluge is clogging up my system.
I stopped the docker service, which took care of that, but after turning on rock-on in th

[2018-10-26 13:19] phillxnet commented on #1977
@oneindelijk Thanks for the report and it looks like you've had quite a time on this one.

Quite strange. All I can think is that you accidentally or otherwise configured your 'root' subvol to be used by the deluge Rock-on. This is definitely not good and just plain wrong. Incidentally in the most recent Rockstor code (now stable channel) we have removed the surfacing of the 'root' subvol. It just

[2018-10-28 11:10] phillxnet opened #1978 "regression in dashboard disk activity widget"
Thanks to forum member juchong for highlighting this issue. For devices that have only same length by-id names we have irregular or non functional activity in the dashboard disk activity widget. This is due to a disparity between the temp canonical to by-id name mapping employed by the widget and that used by the rest of the system. The widget, for the time being, uses a particularly light weight

[2018-10-28 13:31] phillxnet commented on #1978
I am currently working on this issue and awaiting a confirmation of proposed fix in the referenced forum thread.

[2018-10-29 03:51] Luke-Nukem commented on #1975
@phillxnet anywhere I can help with the openSUSE re-base? I've got a fair amount of experience with them.

[2018-10-29 04:09] flukejones opened #1980 "BTRFS Raid (2+ disk) root unable to boot."
The issue comes from installing  with a btrfs root on two volumes, the install completes but the system is unable to boot and comes up with a `open_ctree failed` with an initrd shell.

The fix is to append boot commands such as
[code]
or
[code]
to the grub entry or `GRUB_CMD` in /etc/default/grub. This really needs to be done on install.

(I also had to remove the existing `rootflags=`).

---edit-

[2018-10-29 04:11] Luke-Nukem commented on #1980
Maybe doesn't hurt to also add this to fstab, but I haven't required it so far.

[2018-10-29 04:13] Luke-Nukem opened #1981 "Disable OS prober for grub"
Noticed that `grub2-mkconfig` was trying to add all the docker container linuxes to the boot cfg, had to add `GRUB_DISABLE_OS_PROBER=true` to `/etc/default/grub`

[2018-10-29 08:45] Luke-Nukem commented on #1588
This is still an issue and really needs to be fixed. The linked PR requires work.

[2018-10-29 09:48] flukejones opened #1982 "Docker container links are obsoleted - must use networks."
I recently tried translating a fairly standard owncloud docker-compose to Rockon format.

* Container links have no effect,
* Container links are [being phased out ](https://docs.docker.com/network/links/)

For containers to communicate without exporting ports they must be connected to the same user-created network. That is, non-default network. This is especially critical if you want to be able t

[2018-10-29 11:28] phillxnet commented on #1980
@Luke-Nukem Nice find and thanks for sharing your findings; however at the level of the Rockstor code it's a little more complicated as we don't support (read don't know about) a system pool with more than a single member. There is likely to be deep bugs as a result of this configuration re Rockstor's presentation / management of the consequent pool (subvols/shares within mainly).  Would be great

[2018-10-29 11:42] phillxnet commented on #1981
@Luke-Nukem Another nice find.

Take a look at our initrock.py to see if you think that might be the place for this?

https://github.com/rockstor/rockstor-core/blob/master/src/rockstor/scripts/initrock.py

See our: http://rockstor.com/docs/contribute_section.html
and more specifically the Developers subsection:
http://rockstor.com/docs/contribute.html#developers
for a guide on getting a build syst

[2018-10-29 12:23] phillxnet commented on #1982
@Luke-Nukem  Thanks again for another nice exposition and for the heads up.

As this looks to depends on Rockstor's Rock-on system being extended to be aware of the 'docker network' element I'll link to a prior forum thread where this was previously raised:

https://forum.rockstor.com/t/rockon-networking/3077/8

There I sketched out the UI elements that I thought at the time might be required to s

[2018-10-29 16:58] FroggyFlox commented on #1982
Hi @Luke-Nukem and @phillxnet ,

I'll share my thoughts on this as I've been thinking about the whole Rock-on system quite a bit lately. I'm not familiar enough with "advanced" Docker features and not up-to-date either, so thank you very much @Luke-Nukem for bringing this out and your recommendations!

Regarding the `container_links` object we have in the Rock-on definition, I recently realized it

[2018-10-29 20:04] phillxnet opened #1983 "regression - source build fails to fully initialise db"
This issue only affect fresh builds from source and began at tag 3.9.2-39 but is currently not believed to be due to an error in that commit. Initial thoughts on this issue is that our recent apparently correct db additions are triggering an otherwise present but dormant bug in our db creation / preperation mechanism.  An initial work around is to be attached to this issue until a proper fix is de

[2018-10-29 20:17] phillxnet commented on #1983
The associated temporary commit represents an initial hack that works around this issue by allowing for a second build attempt, ie re-running:
[code]
to achieve a normally prepared db:
[code]
with the associated normal last build lines as follows:
[code]

[2018-10-30 00:33] Luke-Nukem commented on #1980
@phillxnet I went ahead and edited the first post to contain further instructions so that others may find them easily. I think certain types of raid aren't supported by grub (like 5/6?), and I'm not 100% sure grub can boot a kernel from a btrfs managed raid either, but I suspect it can.

There are also people out there that just convert the whole disks to btrfs too, that is, `/dev/sda` + `/dev/sdb

[2018-10-30 00:40] Luke-Nukem commented on #1329
Can confirm this solves boot issues and prevents the need to the work-around in #1980. PR will be incoming to remove this 7 year old rule.

[2018-10-30 10:15] phillxnet commented on #1980
@Luke-Nukem Nice additions to the original post.
"... you seem to only need 3GiB."
I would like to point out that this issue deviates from what is currently a recognised 'legit' Rockstor install, ie: from: Minimum system requirements:
http://rockstor.com/docs/quickstart.html#minimum-system-requirements

"8GB hard disk space for the OS" etc

A major design drive in Rockstor as I, and I think the ma

[2018-11-01 08:41] Luke-Nukem commented on #1982
I figure it best to reply here to keep the new discussion centralised.

Generally speaking, creating extra networks for containers (or composes) that have already created them isn't required as the docker networking and DNS is robust. The only reason to create new networks is to connect containers that haven't exported their ports, only exposed them (meaning they are hidden from everything not in

[2018-11-01 08:53] Luke-Nukem commented on #1981
I'll try and get this done pretty soon.

[2018-11-01 09:47] Luke-Nukem commented on #1980
Mirroring Rockstor OS using Linux Raid:
http://rockstor.com/docs/mdraid-mirror/boot_drive_howto.html
which is another very convoluted way to achieve raid (this time mdraid) root which also gives swap and /boot raid capability. And with that configuration the Rockstor code does work as intended. It is not currently aware of multi device btrfs raid.

Given that the installer allows the creation of s

[2018-11-01 14:35] #1978 closed

[2018-11-03 19:28] phillxnet commented on #1983
As indicated by the runtime error this issue concerns django_content_type / contenttypes.

By re-ordering our migration to have auth first we in turn invoke earlier 0006_require_contenttypes_0002 which in turn runs django contrib 0002_remove_content_type_name which removes a legacy name column (which is known to have blocked some migrations).

see: /opt/rockstor/eggs/Django-1.8.16-py2.7.egg/django

[2018-11-03 20:15] phillxnet commented on #1983
Alterations in db migration order (django_migrations):
Last successful first pass clean build db migration (no db or no .initrock)
Tag 3.9.2-38
[code]
Note that "contenttypes 0002_remove_content_type_name" is after all storageadmin migrations.

Tag 3.9.2-41 (now 2 migrations.CreateModel() instances)

After initial build where we fail on the first storageadmin --fake migration for a clean build:
[c

[2018-11-05 19:34] phillxnet opened #1986 "remove redundant chkconfig use"
In smart_manager/views/nis_service.py we use a mixture of systemd (systemctl) and the now redundant chkconfig. And given all chkconfig options used redirect to systemctl counterparts:
[code]
we should transition this last remaining chkconfig use over to our systemd command wrappers.

See also: src/rockstor/system/services.py for both wrappers.

On quick inspection it appears also that we are also

[2018-11-06 22:39] wiza commented on #1910
Umm, rockstor is moving away from CentOS and to openSUSE?

You do know RHEL 7.6 just came out so CentOS with new samba is days away?

BTW. why the OS change? Makes me look for alternatives :(

[2018-11-06 22:47] TexasDex commented on #1910
It's probably because RedHat is dumping support for Btrfs, which it doesn't consider stable enough for their enterprise customers.  Honestly, given everything I've heard, I'm not sure they're wrong.

[2018-11-06 22:50] wiza commented on #1910
Just interested to see what happens to paid stable subscriptions. Do we get upgrade path that doesn't involve reinstalling os or do we just stop getting updates?

[2018-11-10 14:30] #1983 closed

[2018-11-13 18:08] phillxnet opened #1987 "improve pool import with disabled or indeterminate quota state"
When attempting to import a pool which has quotas disabled or is in an indeterminate quota state the following error can result:
[code]
This error can also arise when creating a new share on a pool that has an indeterminate quota state.

This is due to a mostly transient state where some quota commands work as expected, ie: 'btrfs qgroup show mnt_pt', which we use as an indicator for if quotas are

[2018-11-15 13:31] #1987 closed

[2018-11-19 19:38] phillxnet opened #1989 "fix non legacy build/docker issues plus dev to rpm install mechanism"

[2018-11-19 19:40] phillxnet commented on #1989
I am currently working on preparing the associated pr that represents this 'completed work' thus far.

[2018-11-20 15:18] phillxnet opened #1991 "add non legacy distro aware repo configuration"
It is proposed that we add distro awareness to our yum repository configuration. This should assist with a smoother transition from existing CentOS installs to the non legacy openSUSE based installs. I.e. we can then initiate the alpha/beta rpm releases of openSUSE based installs while maintaining our existing CentOS based install updates; at least until such time as we have feature parity between

[2018-11-20 18:49] phillxnet commented on #1991
This issue is dependant upon the changes in pending pr:
"fix non legacy build/docker issues plus dev to rpm install mechanism. Fixes #1989" #1990

[2018-11-23 07:12] shocker2 commented on #1973
Hello,
 I'm seeing the same error, but on the output of the command there are none.

`[root@terente ~]# btrfs dev stats /mnt2/rockstor_rockstor/
[/dev/md127].write_io_errs    0
[/dev/md127].read_io_errs     0
[/dev/md127].flush_io_errs    0
[/dev/md127].corruption_errs  0
[/dev/md127].generation_errs  0
[root@host ~]# btrfs dev stats /mnt2/mounting_point/
[/dev/sdc].write_io_errs    0
[/dev/sdc].r

[2018-11-23 13:03] phillxnet commented on #1973
@shocker2 Thanks for potentially confirming this 'false alert'. Could you also, as per my request to @barnhill, confirm that the pool details page also shows no errors in it's breakdown of this command in the bottom of page table?

I now have an idea of what this might be and just need a little more info to narrow this down.

I am assuming you are seeing, as per @barnhill , both of your pools with

[2018-11-23 13:45] shocker2 commented on #1973
`
[root@host ~]# btrfs dev stats -c /mnt2/rockstor_rockstor
[/dev/md127].write_io_errs    0
[/dev/md127].read_io_errs     0
[/dev/md127].flush_io_errs    0
[/dev/md127].corruption_errs  0
[/dev/md127].generation_errs  0
[root@host ~]# echo $?
0`

`
[root@host ~]# btrfs dev stats -c /mnt2/path/
[/dev/sdc].write_io_errs    0
[/dev/sdc].read_io_errs     0
[/dev/sdc].flush_io_errs    0
[/dev/sdc].corr

[2018-11-23 14:08] phillxnet commented on #1973
@shocker2 Thanks for the output.

OK doesn't look like our quick return code check was to blame then for this anomaly.
Also:
"Could you also, as per my request to @barnhill, confirm that the pool details page also shows no errors in it's breakdown of this command in the bottom of page table?"

It now looks like you have some kind of db lock issue possibly.

Take a look at /opt/rockstor/var/log/roc

[2018-11-23 18:00] shocker2 commented on #1973
![screenshot 2018-11-23 at 19 58 20](https://user-images.githubusercontent.com/24977727/48956195-59f31c80-ef5a-11e8-9651-d1435152cefd.png)
![screenshot 2018-11-23 at 19 57 55](https://user-images.githubusercontent.com/24977727/48956196-59f31c80-ef5a-11e8-8e7e-00934d8716c4.png)
![screenshot 2018-11-23 at 19 57 16](https://user-images.githubusercontent.com/24977727/48956197-59f31c80-ef5a-11e8-89a4-8

[2018-11-23 20:01] phillxnet opened #1993 "regression in unit tests - environment outdated since 3.9.2-45"
Since 3.9.2-45 build changes were introduced that added several distro aware project wide settings. These changes, relating in this case to Django settings, were not carried over to our test-settings.conf.in. The result is that our unit tests fail to run due to these missing project settings definitions:
[code]

[2018-11-23 20:01] phillxnet commented on #1993
I am currently preparing a pr for this issue.

[2018-11-25 19:57] phillxnet opened #1995 "pin python-engineio to 2.3.2 as recent 3.0.0 update breaks gevent"
As of 25th November 2018 source builds failed to display live Web-UI header info such as time, Rockstor and kernel version etc. This was tracked down to an upstream python-engineio updated to 3.0.0. Although this update may not be the direct cause, pinning it's version to the latest prior released resolved the observed regressions.

[2018-11-26 18:18] phillxnet commented on #1722
I am currently working on this issue.

[2018-11-27 19:20] phillxnet commented on #1918
Code associated with a yet to be submitted pr for an otherwise unrelated issue has now added a per disk allocation property. This has been successfully used to resolve this 'over kill' bug and refine the calculation down to a far more sensible:
[code]
Where the relevant change is d.size to d.allocated (the new disk property).

As this is a simple single word change to resolve this issue along side

[2018-12-02 11:53] phillxnet commented on #1722
Please also update following user cferra in the following thread with this issues resolution:
https://forum.rockstor.com/t/problems-replacing-upgrading-a-disk/5515

[2018-12-06 20:59] HTPC-Schrauber opened #1997 "Install in KVM VM with virtio network results in having two eth0 interfaces"
I have Rockstore installed in a KVM VM.
When I use virtio driver for the network I end in having two eth0 after installation. One is disabled, the other is active. This results in being not able to enable replication for example. The disabled network must be removed.

Maybe this can be fixed.

Described in detail here: https://forum.rockstor.com/t/can-not-start-replication-service/5477/5

[2018-12-08 19:19] FroggyFlox opened #1998 "Support Docker container labels"
Many Docker containers now make use of containers labels and allowing the user to specify labels would be much helpful in establishing multi-containers and even multi-Rock-ons environment.

As there isn't--to the best of my knowledge--support for container labels to `docker update`, this would need to be done at `docker run` time, which in Rockstor could be done either at the RockOn definition sta

[2018-12-11 09:46] baforgood commented on #1982
Dear all,

do I understand correctly that the rock-on json is just a way to set up docker containers from the graphical user interface?

Where do I see this mapping between rock-on json and the underlying docker-compose.yaml or Dockerfile?

In order to create scalable containers (and not all-in-ones), the use of network helps creating multi-container environments.
I don't quite understand why one

[2018-12-11 13:59] FroggyFlox commented on #1982
Hi @baforgood,

Thanks for your interest in this issue; I'll try to answer a few of your questions as I've been working on the Rock-On side of Rockstor lately, precisely to improve the setup and configuration of multi-containers  and multi-Rock-Ons environments. I actually just submitted a PR yesterday to allow adding container labels directly from the webUI (#1999), in the idea of easing communic

[2018-12-11 17:46] FroggyFlox opened #2000 "[Rock-Ons] Add_storage affects all containers in a Rock-On"
When one adds a share to an already-installed Rock-On through the webUI "Add Storage" function, all containers in the Rock-On are affected. See below for an example in which the share `test_share01` was added to the Rock-On.
**Before** to the modification, we have:
[code]
**After** we have:
[code]

The webUI now shows:
![image](https://user-images.githubusercontent.com/30297881/49818952-1d893400-f

[2018-12-11 18:45] phillxnet commented on #2000
@FroggyFlox Nice find, and I agree that this would make for a valuable refinement in the style of your recent additions in this area. A tricky balance to keep between not over complicating a UI and providing adequate resolution of configuration.

[2018-12-12 06:42] Jakejonas opened #2001 "Can't access Users in Rockstor UI"
![screenshot at 2018-10-12 14-47-32](https://user-images.githubusercontent.com/45811772/49851360-d2dbea80-fe1b-11e8-8bb6-fef9405f656c.png)

Hello there. I need help with this error. I did reboot, and the error still there.

[2018-12-12 07:05] Jakejonas commented on #2001
![screenshot at 2018-10-12 15-35-02](https://user-images.githubusercontent.com/45811772/49852538-5ba85580-fe1f-11e8-8551-b4def4634a8f.png)

[2018-12-12 13:15] FroggyFlox commented on #2001
Hi @Jakejonas,

I encourage you to post your problem in the Rockstor forum (https://forum.rockstor.com) as you will be able to reach a greater audience and get a faster response.
To help accelerate the resolution of your issue, I would also suggest you to describe your issue in as much details as you can think of: what steps are needed to encounter the problem? Did it happen after a system update

[2018-12-13 17:23] Protten opened #2002 "ROCKON installation endless"
My installation of a Rockon has been indicating INSTALLING for several days. I have no way to cancel it, a reboot did not help either. What can I do. Many Thanks!

[2018-12-13 18:17] FroggyFlox commented on #2002
Hi @Protten ,

I've seen some docker containers hanging for obscure reasons so the issue you're having can result from a few different things.

First thing first, I'd invite you to post your question on the forums ([https://forum.rockstor.com](https://forum.rockstor.com)) as you'll most likely get better chances to have your issue resolved due to the higher number of users there than here.

If and

[2018-12-13 18:55] Protten commented on #2002
Hello, thank You for Your answer.

    What Rock-on is causing the problem? --> Ghost
    Is it the only one doing this? --> Yes
    Can you install other Rock-ons? --> No

![install](https://user-images.githubusercontent.com/45856200/49960682-09476180-ff11-11e8-9296-df3c8bde9a21.png)

Thank You!

[2018-12-13 18:57] Protten commented on #2002
The Script only brings an error,

Traceback (most recent call last):
  File "/opt/rockstor/bin/delete-rockon", line 41, in <module>
    import scripts.rockon_delete
  File "/opt/rockstor/src/rockstor/scripts/__init__.py", line 5, in <module>
    django.setup()
  File "/opt/rockstor/eggs/Django-1.8.16-py2.7.egg/django/__init__.py", line 17, in setup
    configure_logging(settings.LOGGING_CONFIG, se

[2018-12-13 19:21] Protten commented on #2002
Hello, thank You for Your fast answer, now the INSTALLING rockon is gone.
But I can not install other rockons.

    What Rock-on is causing the problem? --> this was Ghost
    Is it the only one doing this? --> Yes
    Can you install other Rock-ons? --> No

Thank You

[2018-12-13 19:32] Protten commented on #2002
It works!

Thank You!

[2018-12-13 19:32] #2002 closed

[2018-12-15 19:50] FroggyFlox opened #2003 "[Rock-ons] Fix unused container_links object in JSON definition file"
The current `container_links` object in a Rock-on definition file is currently used only by an older (and seemingly unused?) custom function for owncloud install. Furthermore, as brought up by @Luke-Nukem in a separate issue (#1982), container links are being deprecated by docker in favor of use networks.

Following discussion in this other issue (#1982), we can implement the following using the c

[2018-12-15 20:51] Luke-Nukem commented on #2003
Brilliant! I look forward to seeing how it pans out.

[2018-12-18 19:58] FroggyFlox commented on #2003
Just a quick update, @Luke-Nukem , I now have a working implementation of your solution based on the existing `container_links` JSON object.
I tested it with the same conditions as you described so far (3 containers connected separately or together) and is behaving as expected. I still need to test it with more complex situations, so feel free to describe a complex scenario if you have one in mind

[2018-12-19 18:10] FroggyFlox commented on #2003
The current logic seems to be able to deal with the scenarios I've tested so far so I'll detail this here.

### Current shortcoming
As we're keeping the same `container_links` object in the JSON file, I used its currently established parsing to the `DContainerLink` storageadmin table, hoping we wouldn't have to modify it in any way. Even though this works perfectly for separate networks within a R

[2018-12-20 18:21] phillxnet commented on #2003
@FroggyFlox This is an impressive development and very well reported. Definitely raises the Rock-on capability and I like how you have re-purposed the existing mechanism. To your question:

"... do you think I should try to have the docker network name be displayed instead?"

Yes I do think it would make sense as then we feed back to the user what they named the networks in the first place. Otherw

[2018-12-20 21:10] FroggyFlox commented on #2003
Thanks @phillxnet for the feedback, but all credit goes to @Luke-Nukem as I simply implemented his idea of using the existing `container_links` and as all the JSON parsing to database was already in place, I only had to write down the docker calls.

I'll work on displaying the actual docker network names in addition to the ids as it currently is the case. Even though the user doesn't choose these

[2018-12-29 04:11] Squeakz opened #2004 "[Rock-ons] Unifi app does not report status"
When installing the Unifi Rock-On it does not report status when starting. The docker app is running and can access and make changes to Unifi web portal, but Rockstor shows Current status: unknown_error. Switch also show "OFF" even though it is running.

[2018-12-29 18:15] FroggyFlox commented on #2004
Thanks for the report @Squeakz!

I can quickly reproduce the issue on Rockstor-3.9.1-16 so I suppose this is the version you are running?

The problem you're reporting is actually similar to #1933, which was fixed by @sgissi in PR #1939. Indeed, I cannot reproduce the error anymore in Rockstor-3.9.2-44, for instance.

Could you confirm the version of Rockstor you are using?

[2018-12-29 18:35] Squeakz commented on #2004
I am running version 3.9.1-16.

From: FroggyFlox <notifications@github.com>
Reply-To: rockstor/rockstor-core <reply@reply.github.com>
Date: Saturday, December 29, 2018 at 12:15 PM
To: rockstor/rockstor-core <rockstor-core@noreply.github.com>
Cc: Matthew Hoberg <housemouse@squeakz.net>, Mention <mention@noreply.github.com>
Subject: Re: [rockstor/rockstor-core] [Rock-ons] Unifi app does not report s

[2019-01-05 00:57] Tecla commented on #865
Is this workaround still applicable?  Or should I create a new share and copy just to be safe?

[2019-01-05 00:57] Luke-Nukem commented on #2003
I don't see any value to this. The point of a Docker compose or Rock-on is to be a self contained setup that requires no user intervention. You run the compose, and everything is magicked in to existence.

Having said that, when it comes to something like an Nginx container for routing/ssh, then that needs to be added to the networks the user wishes to be able to route ports/domains/etc on.

For e

[2019-01-05 19:47] FroggyFlox commented on #2003
Hi @Luke-Nukem and thanks again for your feedback.

I agree with you and was leaning towards removing the option for deactivating. editing, or deleting the connection for these docker networks (those defined in a Rock-on JSON file). They are necessary for the Rock-on proper function and do not need to be altered by the user.

This would be in contrast to docker networks created by the user, howeve

[2019-01-08 17:11] FroggyFlox commented on #2003
_Quick update:_
Following the discussion above, all edits and deletion of docker netowrks _created from Rock-on JSON in_ `container_links` _objects_ are deactivated.
To do so, I implemented a way to detect whether a docker network detected by `nmcli` corresponds to a network created from a `container_links` object, or to a docker network created by the user. This thus allows to offer the user with

[2019-01-12 21:32] Luke-Nukem opened #2005 "[openSUSE] ssh users"
Unsure of this issue.

On Tumbleweed, I think root access over ssh is blocked. So when Rocklobster appends the `AllowUsers root` to the sshd config, that ends up preventing all login over ssh;
- root is blocked,
- `AllowUsers root` then blocks all other users.

It might be best to keep the blocked root behaviour, and allow only first created rockstor user over ssh. Most security guides I've every

[2019-01-12 22:51] flukejones opened #2006 "[openSUSE] shellinabox"
`shellinabox` will need to be packaged. However:

1. It's most current release is a bit over two years old,
2. It uses openssl v1.0 (Tumbleweed defaults to 1.1)
3. Upstream doesn't include a systemd unit

So I'm wondering if there are better alternatives - but these must be written in systems languages, not for eg, python or node-js, these are just far too heavy-weight.

Fedora package source is [

[2019-01-12 23:20] flukejones opened #2007 "data-collector service | can't turn off, service not shown, high cpu use"
Using latest git master, the data-collector service was pegging my cpu at between 30-99%, and looked to be constantly respawning.

I was unable to find the service entry to turn it off, so had to rename the bin file.

---
Questions:

What is this service collecting?

What is it written in?

Are you open to optimizations by rewriting things such as this in another language (Rust is my preference he

[2019-01-12 23:33] Luke-Nukem opened #2008 "gunicorn has high memory use"
Given that `gunicorn` is a Python based http server, it is expected that it will have high memory use due to GC, and be somewhat slow especially on less capable hardware.

However - there appears to be three `gunicorn` instances running. Is this correct behaviour?

Memory use of each is (on my 2GB NAS):

1. 210MB
2. 205MB
3. 35MB

So as you can see, I'm losing almost a quarter of my total memory t

[2019-01-13 18:33] phillxnet commented on #2005
@Luke-Nukem Thanks for creating this issue.

"On Tumbleweed, I think root access over ssh is blocked." Yes it appears so, I ran into this myself.

Agreed we should preserve the no root login default, as you say it's the trend security wise these days and will only come back to bite us if we allow it. I initially un-remarked the following in order to allow initial source upload via root for develop

[2019-01-13 18:42] phillxnet commented on #2006
@Luke-Nukem Nice find and point. I was wondering how we would do in this area.

As for official openSUSE OBS, yes agreed. But we don't really want to carry any special packages if we can help it. But may be unavoidable.

This feature was added by @MFlyer so mentioning here as he may have some input.

Over to project lead @schakrava for official rockstor account creation at openSUSE OBS. I'll revis

[2019-01-13 18:48] phillxnet commented on #2008
I'm afraid this one is more in @MFlyer and @schakrava areas.

[2019-01-13 19:34] phillxnet commented on #2007
@Luke-Nukem I don't see this CPU pegging myself: however I also don't use single CPU as that is not realistically what Rockstor is likely to be deployed on, nor is such an architecture appropriate for a NAS especially one using btrfs (heavier cpu dependency than most other filesystems).

Also lets try and keep the re-write in X suggestions to a minimum at least until we have moved our thousands of

[2019-01-13 21:52] Luke-Nukem commented on #2007
I probably used the wrong term. I mean that it's hitting very high usage on whichever core it runs on which struck me as abnormal.

Lol. I thought to myself afterwards "Oh, I've become one of _those_ people". I'll check out that Python 3 issue in the next few days. And if the replacement of JS is a serious thing, then I'll look at that also.

Didn't see this, I'll apply it soon. That would explain

[2019-01-14 20:19] phillxnet commented on #2006
@Luke-Nukem Maybe we should take your question:

"So I'm wondering if there are better alternatives ..."

onto the forum as we have more eyes there. I'm not up on what alternatives there are but hopefully others on the forum may be. Best if you could take a look at how @MFlyer implemented this so that you might judge if suggested replacements are viable. This is more in your area of expertise I be

[2019-01-17 18:39] phillxnet commented on #864
Pending code associated with issue:
"pool resize disk removal unknown internal error and no UI counterpart" #1722
contains pool scan code changes/improvements that should help towards pool label change capability.

We have also had further interest in this feature by forum member Argo in the above cited thread.

[2019-01-18 22:18] FroggyFlox opened #2009 "[Rock-ons] UI for adding a new docker network"
This is an issue dedicated to step 3 of the Docker networks (re)work (#1982), corresponding to the implementation of an interface for the creation of a docker network.

As discussed in #1982, this would be better integrated in the existing "_System > Network_" part of Rockstor's UI. My current idea would thus be to simply add a new option in the "_Add Connection_" section to create a docker networ

[2019-01-27 15:05] FroggyFlox commented on #2009
I now have a working implementation that addresses this issue.

It allows to create a docker network using the existing _Add a new connection_ UI following the same concept as for other connections supported by Rockstor:
1. an "_Auto_" mode by default that uses all default settings used by docker upon network creation.
2. a "_Manual_" mode that allows the user to specify either one of the paramete